[2017-04-17 16:45] kristinashu opened #491 "Make cards more responsive"
from QA ticket https://github.com/mozilla/network-pulse/issues/419

### Action
View pulse at different screen widths

### Results
#### 1) Thumbnail grid view
- Cards are squished very thin when they don't need to be (see screen cap from product)
- we should switch to 2-per-row below ~992px
- recommend a minimum card width ~320px
<img width="786" alt="screen shot 2017-04-17 at 9 37 35 am" src="http

[2017-04-17 16:54] xmatthewx commented on #489
oye. i think there is a character count, but maybe it should be even shorter. smaller type might help.

there is an issue to update some copy on the form for legal. i added a comment about titles, but it'll only help so much. https://github.com/mozilla/network-pulse/issues/484#issuecomment-294195199

we reserve the right to edit entries. i think if we do a round of cleanup, people will hopefully w

[2017-04-17 16:57] kristinashu opened #492 "Seach keyboard on mobile should dismiss after hitting search/enter on keyboard"
From #419

### Action
On Mobile, hit search/enter key on keyboard

### Expected
Keyboard is dismissed

[2017-04-17 17:01] mmmavis commented on #483
@xmatthewx How about non-entry pages? Just follow the same format `[page name] - Mozilla Network Pulse`? e.g., `Featured - Mozilla Network Pulse`, `Digital Inclusion - Mozilla Network Pulse`, `Add - Mozilla Network Pulse`?

See https://github.com/mozilla/network-pulse/blob/master/routes.jsx#L94-L111 for list of routes we currently have.

[2017-04-17 17:30] mmmavis commented on #487
Looks good to me. @xmatthewx agree? ^

[2017-04-17 17:45] xmatthewx commented on #487
Looks good. Let's put Contact Us as the last item. Make it easier to find. Thanks so much!!

[2017-04-17 17:53] mmmavis commented on #487
@Sudip7

- GitHub
- Legal
- License
- Privacy
- Contact Us

[2017-04-17 17:55] kristinashu opened #493 "Form: show character count on the "title" field"
Title has a character count limit but we don't give users any feedback on this. (screen cap from production site)

<img width="758" alt="screen shot 2017-04-17 at 10 49 20 am" src="https://cloud.githubusercontent.com/assets/1068783/25098113/3cd0f576-235c-11e7-801c-45a6683a4f2c.png">

We should show the character count as they type (like on Twitter or in a google form). It is mocked up in redpen ht

[2017-04-17 17:56] xmatthewx commented on #483
Good question. Yes, that pattern is fairly standard. For Issues and Tags we can keep it simple:

Yes: Issues – Mozilla...
Yes: Decentralization – Mozilla...
No: Decentralization – Issues – Mozilla

[2017-04-17 17:56] kristinashu commented on #441
Opened a ticket for the title word count error https://github.com/mozilla/network-pulse/issues/493

[2017-04-17 18:04] kristinashu commented on #489
Whaaat?!? Long live titles!

Things to do:
- [ ] reduce font size in title
- [ ] manually clean up existing titles
- [ ] reduce character count from 140 to 80
- [ ] update language - #484
- [ ] inform users about character count - #493

[2017-04-17 21:14] mmmavis commented on #483
@xmatthewx for search is using the same format e.g., `web literacy - Mozilla...` good?

[2017-04-17 21:24] xmatthewx commented on #483
That works. Do you update browser history? If yes, cool. If not, you could just say `Search – Mozilla...`

Other sites handle this pretty differently:
 - Test - Wikipedia
 - NY Times Search
 - Search for "test" - Google Developers

[2017-04-17 21:26] mmmavis commented on #483
Seems to be working!

<img width="332" alt="screen shot 2017-04-17 at 2 25 49 pm" src="https://cloud.githubusercontent.com/assets/2896608/25105536/d98b2040-2379-11e7-8fd5-d850cddf05a9.png">

[2017-04-17 21:27] mmmavis commented on #461
I don't have an Android device with me but I think homescreen icons get cropped/shown as square with rounded corners.

[2017-04-17 21:29] mmmavis commented on #461
@Pomax can you correct me if my assumption was wrong? ^

[2017-04-17 22:09] xmatthewx commented on #461
![screenshot_20170417-180329](https://cloud.githubusercontent.com/assets/53411/25106700/ee5cdfa8-2398-11e7-81f0-f01ee1179250.png)

[2017-04-18 00:22] Sudip7 commented on #487
Thanks @mmmavis @xmatthewx , will send the PR soon

[2017-04-18 20:13] xmatthewx commented on #409
If I understand this correctly, I don't think it is a problem. We would see `/issues/` and `/issues` in analytics, right?

<img width="360" alt="screen shot 2017-04-18 at 4 11 56 pm" src="https://cloud.githubusercontent.com/assets/53411/25150963/c865f500-2451-11e7-9974-00241359b286.png">

[2017-04-18 20:21] alanmoo commented on #409
Perhaps, but I'm not sure if the problem manifests itself in another way leading to inaccurate analytics. We should figure out what causes the issue I was seeing and if it might result in other inconsistencies.

[2017-04-18 20:43] gvn opened #497 "Remove gh-pages?"
This is coming up in Google search results:

https://mozilla.github.io/network-pulse/

cc: @xmatthewx

[2017-04-18 20:51] xmatthewx commented on #497
I removed link from gh and readme a week or so ago, but yes, probably a good idea.

[2017-04-19 05:00] Sudip7 commented on #487
PR request sent, please review

[2017-04-19 06:32] mmmavis commented on #487
Hey @Sudip7 I reviewed your PR this morning (PDT time): https://github.com/mozilla/network-pulse/pull/496 Are you able to see my comments there?

[2017-04-19 21:39] mmmavis commented on #497
yea let's do that

[2017-04-19 21:48] mmmavis commented on #487
Live on https://www.mozillapulse.org ✨ Thanks @Sudip7 !

Don't forget to check our PR reviews comments **in the PR itself** next time 😉 That's normally where you look for review updates (rather than on the issue ticket page) 🤓 .

[2017-04-19 21:48] #487 closed

[2017-04-20 08:11] NDuma opened #498 "Update Leadership Series & Fix Redirect"
Link from [Leadership series](https://github.com/mozilla/open-leadership-training-series/tree/gh-pages/_articles) directs to https://mozilla.github.io/network-pulse/ {I don't recall which section to reference (it's before: https://mozilla.github.io/open-leadership-training-series/articles/opening-your-project/write-a-great-project-readme/ )}
- [X] Lookup section
  *  [search Result](https://github

[2017-04-20 17:34] chadsansing opened #499 "We should enable and RSS feed or another form of subscription"
A community member asked for RSS in order to keep up with Pulse. @Pomax cited this article on Slack which explains how to help Django create the feed.

https://docs.djangoproject.com/en/1.11/ref/contrib/syndication/#publishing-atom-and-rss-feeds-in-tandem

Can we implement?

[2017-04-20 18:28] Pomax commented on #499
on the api side I've filed https://github.com/mozilla/network-pulse-api/issues/112

@xmatthewx ?

[2017-04-20 19:27] xmatthewx commented on #499
I'm keen to get notices into twitter and slack. Is RSS a means to that end? Or are there easier ways? That will serve many people well.

[2017-04-20 19:35] xmatthewx commented on #499
And if Django makes RSS easy to add, by all means.

[2017-04-20 19:43] #478 closed

[2017-04-20 19:48] #483 closed

[2017-04-20 20:58] xmatthewx commented on #483
huzzah 🥇

[2017-04-20 21:24] xmatthewx commented on #419
Closing. I believe this all done or filed elsewhere. Reopen if I'm mistaken.

[2017-04-20 21:24] #419 closed

[2017-04-20 21:33] xmatthewx opened #500 "Add tags to connect projects"
Tags are awesome. The help users find related things.

Already implemented
 - request and accept tags on submission
 - offer route to view projects by tag (e.g. [mozfest](https://www.mozillapulse.org/tags/mozfest))

Assumption: We should probably display issue categories and tags. For users, a single visual treatment is probably best.

To do
 - [x] design display of tag links on cards `Estimation:

[2017-04-20 21:37] xmatthewx opened #501 "Add Moderation to open submissions"
Moderation is a pre-requisite to opening the platform to a bunch of network members.

Assumptions:
 - MVP moderation is a single toggle in DB between: needs moderation, approved, declined.
 - Existing API routes will need to be updated
 - Posts by users flagged is_staff should default to approved

 - [ ] setup data model with new field
 - [ ] update existing api
 - [ ] design and implement clarifi

[2017-04-20 23:00] mmmavis commented on #483
:man_dancing:
:woman_cartwheeling:

[2017-04-21 13:24] jvallera opened #502 "How do I see items I've added to Pulse?"
I've added two or three projects to pulse, but cannot find them. They are not showing up under the categories or through search.

[2017-04-21 16:05] xmatthewx commented on #502
Odd. I will investigate. Your submissions should appear in Latest and via search, no moderation required.

[2017-04-21 16:38] jvallera commented on #502
Thanks! One is called Privacy Brigade, another is Ada Lovelace day curriculum Jam (or something like that)...I forgot what the third one was.

[2017-04-21 17:48] xmatthewx commented on #502
All looks good here.

I see Ada here: https://www.mozillapulse.org/entry/193
And here: https://www.mozillapulse.org/search?keyword=ada

Brigade here: https://www.mozillapulse.org/search?keyword=privacy
Here: https://www.mozillapulse.org/entry/236
And here: https://www.mozillapulse.org/latest

Ping me on Slack if you still can't see things.

[2017-04-21 17:57] jvallera commented on #502
Perfect! Thanks. My bad, I was looking in the old version of Pulse. https://mozilla.github.io/network-pulse/

[2017-04-21 17:57] #502 closed

[2017-04-21 17:58] xmatthewx commented on #502
Yep. We fixed the shortlink to point to the new Pulse. Have a bug filed to pull down the old prototype.

Nice posts by the way!

[2017-04-24 17:58] Pomax commented on #499
There's always IFTTT as a way to to turn feeds into "anything", which might be worth looking at.

[2017-04-26 03:19] Sudip7 commented on #488
@xmatthewx , could be little precise on the issue, what exactly need to be done.

[2017-04-26 15:36] xmatthewx commented on #488
Thanks @Sudip7. I edited the original comment above to make it more clear. Let me know if you have any questions. Thanks for the help!!

[2017-05-01 20:43] #238 closed

[2017-05-01 20:53] kristinashu commented on #383
Let's stick with tags, we can open a new ticket if we decide to change.

[2017-05-01 20:53] #383 closed

[2017-05-01 21:25] kristinashu commented on #56
Continuing in https://github.com/mozilla/network-pulse/issues/500

[2017-05-01 21:25] #56 closed

[2017-05-01 22:21] alanmoo opened #504 "Update submission approval message"
Soon all users will be able to submit an entry. We should update the submission text so that if they're not an approved user, they see a message that says something like "thanks for your submission, we've added it to the review queue and if all goes well it'll show up in the public feed soon"

On submitting, users are redirected to a url like `http://localhost:3000/entry/17?justPostedByUser=true`

[2017-05-01 22:26] kristinashu commented on #500
Tags should appear on detail view like so:

![desktop - detail -tags 2x](https://cloud.githubusercontent.com/assets/1068783/25597226/73125342-2e82-11e7-861c-12b93d0c602d.png)

[2017-05-02 00:25] Pomax commented on #504
I don't understand why we would need to do this:
- user posts an entry in the client
- client changes the view to "thanks, it'll be reviewed soon!" if the post succeeds, by loading a component that's associated with the react-router URL `/submitted` or something

[2017-05-02 12:15] chadsansing opened #505 "Need to fix a typo in an Pulse entry for Global Sprint"
I imagine travel kept Matthew from helping with this yesterday, but the title of

https://www.mozillapulse.org/entry/253

Needs to be changed from 'Library Caprentry' to 'Library Carpentry' asap for the Global Sprint.

[2017-05-02 17:03] kristinashu commented on #500
Tag results are already built in #56 https://www.mozillapulse.org/tags/mozfest

[2017-05-02 17:27] Pomax opened #506 "Add a 404-a-like when accessing entries that don't exist."
Due to https://github.com/mozilla/network-pulse-api/pull/114 we need to update the client so that it can inform users that the entry they asked for "does not exist" when requested as `http://.../entry/12` - this can now happen when the entry's `is_approved` flag is set to False (e.g. pending moderation), in which case the entry will be excluded from API calls.

[2017-05-02 17:29] Pomax opened #507 "update the post-submission process based on is_approved"
Due to https://github.com/mozilla/network-pulse-api/pull/114 and discussion in https://github.com/mozilla/network-pulse/issues/504 we need to update the entry POST process such that:

- user posts new entry
- if there are no POST errors, check if the resulting URL has data
- if so:
  - [ ] (i.e. requested by a staffer) show what we already show.
- if not:
  - [ ] swap the url for `/submitted` and

[2017-05-02 18:01] xmatthewx commented on #504
And... I see now he's talking about something else

[2017-05-02 18:01] xmatthewx commented on #504
Whoops. Wrong channel. This ^^^ makes sense, even if I don't.

[2017-05-02 18:15] kristinashu opened #508 "Show related posts"
While in post detail view, we could show a few related/similar posts.

[2017-05-02 18:31] kristinashu commented on #486
Here it is mocked up, so only the creators are visible on the overview screen:

![desktop 2x](https://cloud.githubusercontent.com/assets/1068783/25633041/a19fce94-2f2a-11e7-94e4-df81d5586fff.png)

And then creators, date added and added by are at the bottom (with tags).

![desktop - detail 2x](https://cloud.githubusercontent.com/assets/1068783/25633042/a357ec30-2f2a-11e7-87cb-4dd8fc5f5ac7.png)

[2017-05-02 18:43] kristinashu commented on #482
I won't design this, just let me know what is possible.

If you have options, Medium is a good example to follow.
1) Before.
<img width="338" alt="screen shot 2017-05-02 at 11 39 26 am" src="https://cloud.githubusercontent.com/assets/1068783/25633570/6dfe6f30-2f2c-11e7-8d2f-1d737c1cc3e6.png">

2) After typing the second letter, a few options are suggested (bonus: it shows how many posts are alread

[2017-05-02 18:44] kristinashu commented on #500
Added some autocomplete suggestions in #482

[2017-05-02 20:07] Pomax commented on #506
Rather than revealing whether an entry does not exist, or whether it is pending approval, I'd like to suggest we make this say "This entry is not current available". Does that seem reasonable @alanmoo @xmatthewx?

[2017-05-02 20:48] #504 closed

[2017-05-02 20:48] #507 closed

[2017-05-02 20:50] #506 closed

[2017-05-02 20:59] kristinashu opened #511 "Remove splash screen"
In Firefox 53.0 for mac.

When I am on https://www.mozillapulse.org/featured and then click on a post, I see the pink splash screen for a fraction of a second before seeing the post's detail page. This splash screen should only be visible if the first time a users loads Pulse.

[2017-05-02 21:22] alanmoo commented on #482
Yeah, that's what I was thinking. The official react autocomplete package doesn't support multiple items, but something like http://i-like-robots.github.io/react-tags/ looks like a possible option.

[2017-05-02 21:24] kristinashu commented on #505
Should be fixed now!

[2017-05-02 21:24] #505 closed

[2017-05-02 21:26] kristinashu commented on #472
Matthew, I'm going to remove the ```enhancement``` label. I think this is an important feature to have.

[2017-05-02 21:30] kristinashu commented on #482
Ok nice. That example doesn't seem to let me add new tags, but otherwise looks good.

[2017-05-02 21:32] alanmoo commented on #482
Ah right, we'll have to see if it supports that/can be added.

[2017-05-02 21:39] Pomax opened #512 "JS errors while having, as well as on the favs page"
there is a `this is undefined` error when faving, and the `/favs` page has an error about fetchData being missing. Both these errors mean that faving is completely broken.

[2017-05-02 21:59] Pomax opened #514 "optimize bookmarks.jsx"
Currently bookmarks.js in its `componentDidMount` function gets the list of user bookmarks, updates the state with that, then checks if there is a bookmarks cache and if so, overrides the just-set list of bookmarks. This feels a little inefficient, is the code clean enough that we can instead follow this flow instead?

- check for shouldRestore
- if shouldRestore, setState with cached values
- if

[2017-05-02 22:03] #512 closed

[2017-05-02 22:07] kristinashu opened #515 "Allow users to attempt sign in after a sign in fail"
Follow up based on - Implement Sign in failed screen #317

**Currently we have:**
Prompt to sign in
<img width="386" alt="screen shot 2017-05-02 at 2 48 48 pm" src="https://cloud.githubusercontent.com/assets/1068783/25641336/68a981d4-2f48-11e7-9c2f-ccca9a222956.png">

Message if sign in failed
<img width="427" alt="screen shot 2017-05-02 at 2 39 37 pm" src="https://cloud.githubusercontent.com/asse

[2017-05-02 22:27] kristinashu commented on #490
Update dark greys to black is ready for implementation:
- add post icon
- footer background
- dark grey text

e.g.
![desktop 2x](https://cloud.githubusercontent.com/assets/1068783/25641968/bf4700e0-2f4b-11e7-8e0f-9bf4c7c96e4e.png)

For the rest, we will have to wait on the brand team.

[2017-05-02 22:33] kristinashu commented on #485
This looks good. What would clicking Contact Us do (email us, a form, open issue...)?

This area is also where people could flag a post.

[2017-05-03 00:37] xmatthewx commented on #485
Yes. We have a contact link in the footer that goes to a google form.

[2017-05-03 10:02] chadsansing commented on #505
Thanks, @kristinashu!

[2017-05-03 16:20] kristinashu commented on #204
Updated the look of this a little. I'll open a new ticket for implementation.

![desktop - issues landing 2x](https://cloud.githubusercontent.com/assets/1068783/25670476/a475b888-2fe1-11e7-93ed-f0982adfc036.png)

[2017-05-03 16:25] kristinashu opened #516 "Implement add issue descriptions to issues tab"
Based on design in https://github.com/mozilla/network-pulse/issues/204

This design adds content to what is currently on https://www.mozillapulse.org/issues

Copy is pulled from https://www.mozilla.org/en-US/foundation/issues/ and @alanmoo says he already has the description for each issue in the database, so you don't have to manually paste them in to a route.

Click on the _issue tag_ or the _is

[2017-05-03 16:25] #204 closed

[2017-05-03 17:10] kristinashu commented on #486
@alanmoo @Pomax do we currently show who added the post? If we are, it seems like it is grouped with the project creators. Can we add the post author and/or have it separate from the project creators?

[2017-05-03 17:13] kristinashu commented on #344
Feels a little messy on this screen because there is a lot going on but how about something like this?

![screen shot 2017-05-03 at 10 13 04 am](https://cloud.githubusercontent.com/assets/1068783/25672599/1edd5aa2-2fe9-11e7-8023-611564031345.png)

[2017-05-03 17:24] Pomax commented on #486
Looking at https://github.com/mozilla/network-pulse/blob/master/components/project-card/project-card.jsx#L214-L232 we only show creator information, and the date-time the entry was posted, but not the "who posted it" information

[2017-05-03 17:36] kristinashu commented on #486
Ok thanks Pomax.

@xmatthewx if you're happy with the comps then I'll open a ticket for implementations.

Steps would be:
- surface post author to users
- update thumbnail cards to only show the creators (remove data posted)
- update detail view to show date added and the creator at the bottom
- bonus: make the author name clickable and show all their posts (similar to tag view e.g. https://www.mo

[2017-05-03 18:18] kristinashu opened #517 "Add number of results for each issue tag"
@xmatthewx would you be up for adding something like this? This will be helpful feedback for users when one post appears at the top of several issues.

 https://redpen.io/qf3e141d69fb01cf4c

![issues results 2x](https://cloud.githubusercontent.com/assets/1068783/25675078/06771508-2ff2-11e7-9081-d050d64b234f.png)

[2017-05-03 19:05] alanmoo commented on #515
The "login failed" screen will become significantly less visible soon, as we're going to enable log-in for anyone with a Google account. How does that affect this ticket?

[2017-05-03 19:06] alanmoo commented on #501
Moderation is enabled on staging, check it out and try logging in with your non-Mozilla email. https://network-pulse-staging.herokuapp.com/

[2017-05-03 20:24] kristinashu commented on #515
True. Could there be any other reason for a failed login? If non-mozilla account is the only reason then we can close this.

[2017-05-03 20:41] kristinashu opened #518 "Remember list scroll position – Part 2"
Follow up on - Remember list scroll position #428

This is working well for me in FF for Mac and Chrome iOS but not on Chrome 58.0.3029.96 for Mac In Chrome for Mac it is reloading the page when I hit the my back arrow, it should remember my scroll position.

[2017-05-03 21:08] kristinashu commented on #511
Once https://github.com/mozilla/network-pulse/issues/488 is done, we might be able to completely remove the splash page.

[2017-05-03 21:54] hannahkane commented on #501
Exciting to see this happening! The ticket describes three states - needs moderation, approved, declined, but I only see an "Is Approved" checkbox. Am I missing something, or did the requirements change?

[2017-05-03 23:09] kristinashu opened #519 "Disable image link on detail view"
Steps to repeat:
- go to a post detail page e.g. https://www.mozillapulse.org/entry/251
- click on the image and the page will reload

Expected result:
- clicking on image should not reload the page

[2017-05-03 23:17] alanmoo commented on #501
It was extremely simple to implement as a Boolean to get to MVP status and I checked with Matthew, he said that was reasonable. Apologies for not updating the ticket. I suppose we could make it a select field, but off the top of my head I can't think of the effort/other things that might need changing. @pomax what do you think?

[2017-05-03 23:23] kristinashu opened #520 "Explore landing page design"
For fun, I played around with the landing page a little. Goals were to:
- make it feel like more of a curated, guided experience
- combines Featured, Latest and Issues all together to make the content feel more unique and less repetitive
- played around with sizes to give it a little more hierarchy
- encourage more scrolling rather than clicking between tabs
- easy to highlight time sensitive info

[2017-05-04 14:20] alanmoo commented on #515
I don't believe any other error screen would return to a page we build...@pomax, am I missing anything?

[2017-05-04 15:51] Pomax commented on #515
the only thing I can think of would be "google auth was misconfigured" and then login will fail for everybody, not any particular subset. I think we can close this issue given the migration we'll be doing.

[2017-05-04 15:53] Pomax commented on #501
I would keep things simple: there is not a lot of utility in "declining" a submission but then keeping it around in the db, If an entry does not meet with our approval we can simply deleted them, instead. Any entry with "is_approved" not set is then by default "pending moderation", any entry with "is_approved" set is an accepted entry, and any entry that's been deleted is... well it's gone, it no

[2017-05-04 15:56] #515 closed

[2017-05-04 16:25] hannahkane commented on #501
I think the potential utility comes in when we consider that there will likely be multiple reviewers, so there are some workflow issues. Maybe, at some point, we'll want to be able to search for entries with is_approved not set. That way one reviewer will be able to easily see where another reviewer stopped in the queue, or if they accidentally or purposefully skipped any.

Not suggesting we do th

[2017-05-04 16:41] Pomax commented on #501
that feels already adressed by deleting unwanted entries. If a reviewer hits up "all not-is_approved entries" then they will see exactly the set of entries not yet reviewed by anyone else.

[2017-05-04 16:56] hannahkane commented on #501
How do I filter by not-is_approved?

[2017-05-04 17:59] kristinashu opened #521 "Explore an expanded Get Involved section"
Notes based on chat with Matthew:
- what might it look like if people can flag the kind of support they needed?
- description + link + maybe a few checkboxes or tags?
- challenge would be to have a shortlist of meaningful categories that work for most scenarios (e.g. design, code, feedback, test, take action, fundraising...)
- could be a great way for people to filter
- will motivate people to pos

[2017-05-04 22:44] kristinashu commented on #521
As we add more info, it might be nice to move the detail view away from the card view which looks very similar to the thumbnail overview cards. This will give us room for more content and possible more features like commenting... Just experimenting and trying different things out, not saying we should necessary do this.

https://redpen.io/sb1db0043c3844f70a

![desktop - detail with get involved co

[2017-05-04 23:12] Pomax commented on #501
right now, you don't, but we can make that a thing that you can do in the admin view

[2017-05-04 23:39] hannahkane commented on #501
got it. That's what I was suggesting in my comment above.

[2017-05-05 18:20] xmatthewx commented on #517
Yep. Great idea. Useful for search as well.

[2017-05-05 18:51] xmatthewx commented on #516
excellent

[2017-05-05 18:57] xmatthewx commented on #521
I love this design.

What if tags, social, date & name were added to this sidebar? Or below it? Think about small screens too, order of the elements.

[2017-05-05 18:59] xmatthewx commented on #521
I really like the hierarchy and layout of title, thumb, heart, view, sidebar. Order and alignment is super.

[2017-05-05 19:21] xmatthewx commented on #500
I think we need a ticket for specifically for design and implementation of adding tags to project cards.

@kristinashu I really like your tag style on the newer get involved design. Button/box rather than link.

Some projects have a lot of tags. And the metadata feels a little funny in the middle, before the primary action button. Could we try it as a card footer? Fifty entries and have 6 TO 9 tag

[2017-05-05 19:24] xmatthewx commented on #486
Thanks @kristinashu. This is great. Sorry for so many notes.

 - I wonder if we should remove "by" before creators since it could be read as posted by. Or, mabe spell out _project by_? Attribution can be a very sensitive topic.
 - As I mentioned elsewhere, some projects have a lot of tags. And the metadata feels a little funny in the middle, before the primary action button. Could we try these as

[2017-05-05 19:33] xmatthewx commented on #501
A checkbox is fine to land this. We'll need to add a few options for state in the near future.

I'm a bit out of the loop, so I'm unsure if I should close this and open something new. Looks like  moderation is merged. >>> Please comment or triage if you have enough info.

Moderation states:
 - `Pending` (or needs review)
 - `Approved`
 - `Declined` (with many moderators, saving data will prevent w

[2017-05-05 19:43] hannahkane commented on #501
@xmatthewx - I'm going to file your enhancement as a follow-up ticket, and close this one, to avoid super long threads. :)

[2017-05-05 19:43] #501 closed

[2017-05-05 19:43] hannahkane opened #522 "Improve moderation workflow"
Moderation states:
 - `Pending` (or needs review)
 - `Approved`
 - `Declined` (with many moderators, saving data will prevent whoopsies. also allows us to see and address a user who has many things declined)
 - `In Review` (staff or mentor could request a rewrite or more info from submitter, and avoid another moderation hitting approved or declined. we can ask moderators to use the existing intern

[2017-05-08 03:39] Sudip7 commented on #516
@kristinashu , is the filtered view is predefined meaning every time it lands on the same page or it's going to be random.

 Also little clarification required for issue tag. I believe when one search issue tag, the result should be same as when Issues tab is clicked.

[2017-05-08 16:04] mmmavis commented on #344
@xmatthewx @kristinashu I heard that we are going to allow non-staff to log in soon. If that's the case do we still need this Notice component? What are the other use cases?

[2017-05-08 18:53] mmmavis commented on #497
I'm gonna remove `gh-pages` now. There's also a `v1` branch if we ever wanna check out the v1/jQuery based code.

[2017-05-08 18:54] xmatthewx opened #523 "Implement tags and issues on Detail view"
Tags are awesome. The help users find related things.

 - This ticket covers adding tags to frontend of an entries detail view.
 - Related work tracked in #500.

Note: we should present both Issues and Tags to users on entry detail view.

[2017-05-08 18:56] mmmavis commented on #497
Done!

[2017-05-08 18:56] #497 closed

[2017-05-08 19:17] xmatthewx opened #524 "Launch Moderation"
New ticket to better track work already in progress.

Summary: We're adding basic moderation so that we can invite the public to post new entries to Pulse. By default, staff entries will be approved, others will not. Prior discussion in #438.

@Pomax @alanmoo  – Here's a stab at checklist to represent all this work. Please forgive and correct any mistakes.

Tasks:
 - [x] update API for entry displ

[2017-05-08 19:17] xmatthewx commented on #438
Closing. Track work in #524

[2017-05-08 19:17] #438 closed

[2017-05-08 19:20] xmatthewx opened #525 "Clean up tags on existing projects"
Will be very useful after we land tags on frontend and auto-complete in submission form.

 - [ ] de-dupe mixed case
 - [ ] remove Issue-as-tag after confirming issue-as-category is used
 - [ ] de-dupe near misses

I've gathered all the tags and dropped them into a [spreadsheet](https://docs.google.com/a/mozilla.com/spreadsheets/d/14VrDqX_qlthS8_SeHcvfkw2vXcxJy891PpjSi8ZUFaE/edit?usp=sharing). Mark

[2017-05-08 19:23] xmatthewx commented on #500
closing this meta ticket. tracking the work in individual tickets.

[2017-05-08 19:23] #500 closed

[2017-05-08 19:25] xmatthewx commented on #523
### Assumption: Issues + Tags

We should display Issues and Tags. For users, a single visual treatment is probably best, but always putting Issues first.

###

@mmmavis there are few design things to resolve.

Some projects have a lot of tags. And the metadata feels a little funny in the middle, before the primary action button. Could we try it as a card footer? Fifty entries and have 6 TO 9 tags.

[2017-05-08 20:31] mmmavis commented on #523
@kristinashu could you give me a ping when design is finalized and ready for implementation? Thanks! 🍸 🍸

[2017-05-08 21:17] xmatthewx commented on #516
hi @Sudip7. When a user taps the Issues item in the main menu, they will see the design above with the 5 issues descriptions. https://www.mozillapulse.org/issues

A user can then either tap one of the 5 issue buttons or the title of the issue description (in pink). These would then load the specific issues. Items load in the order sent by the API. Not random.

For this engineering task, there will

[2017-05-08 22:53] xmatthewx commented on #344
not a priority to update this now, but there will be other use cases. for example, staff items get posted immediately, non-staff will be held for moderation. we'll want to let people know.

[2017-05-09 03:06] Sudip7 commented on #516
I got some idea. But @xmatthewx @kristinashu , don't you guys think it's going to be duplicate functionality. I mean both the button and new link would basically display the same page. Either we could stick to the current form or move to more descriptive mode and remove the above tags.

@Pomax @mmmavis any suggestions !!!

[2017-05-09 08:13] mmmavis commented on #516
@Sudip7 sorry I'm not sure what you meant. Did you mean the **issue button** and the **issue title link** on the `/issues` page will send users to the same issue page (e.g., `/issues/decentralization`) ? If so I think it's fine to have multiple elements leading users to the same destination.

[2017-05-09 15:53] kristinashu commented on #523
@xmatthewx like this?

![desktop - detail copy 3 2x](https://cloud.githubusercontent.com/assets/1068783/25859919/d89b382e-3494-11e7-8dbc-0f1ab907f004.png)

[2017-05-09 15:59] kristinashu opened #526 "Remove URL share link"
We added in the link icon so users would know they could link directly to the post. Now that each post has it's own screen this is obvious, can we remove the link icon?

Do we have any analytics on the use of this link icon?

As we add more features more and more features/content, we should remove any unnecessary info.

[2017-05-09 16:03] Pomax commented on #488
@Sudip7, to explain what needs to happen:

you'd be update the featured page's JSX so that it has something along the lines of `<div><p>Discover & collaborate on projects for a healthy internet. <Link ....>Learn more</Link></p></div>` or something (@mmmavis should be able to point you to an example of the code we use for this) in the render function, above the code that generates that generates th

[2017-05-09 16:16] xmatthewx commented on #526
Let's do that when we add a twitter share link. Save energy and keep the signal that these things are sharable until we get there. https://github.com/mozilla/network-pulse/issues/159

[2017-05-09 16:16] kristinashu commented on #486
Let's keep this ticket small, we can focus on tags #523 and layout in a new ticket.

"Project by" would get very repetitive on the overview page but have removed "by":

![desktop 2x](https://cloud.githubusercontent.com/assets/1068783/25860935/f0b289b4-3497-11e7-81d7-c05b55bdd2c0.png)

![desktop - detail copy 3 2x](https://cloud.githubusercontent.com/assets/1068783/25860939/f498ecb2-3497-11e7-8882-

[2017-05-09 16:25] xmatthewx commented on #523
This looks good, and ready to hand over to Mavis.

And... I really like the 2-column layout you tried with for get involved. Feel free to continue looking at how the whole card works in concert in those other tickets.

[2017-05-09 16:27] kristinashu opened #527 "Implement two column layout for detail view"

[2017-05-09 16:27] xmatthewx commented on #486
👍 feel free to file a new ticket to implement moving the data and removing "by". this ticket got looooong.

[2017-05-09 16:34] kristinashu opened #528 "Implement clarify attribution and author"
Based on design in #486

**Update to thumbnail overview page:**
- [x] remove the word "by"
- [x] remove date added info

**Post detail view:**
- [x] remove the word "by"
- [x] move the date added to the bottom
- [x] surface post author to users and show it at the bottom after the date
- [ ] bonus: make the author name clickable and show all their posts (similar to tag view e.g. https://www.mozilla

[2017-05-09 16:34] kristinashu commented on #486
Opened implementation ticket https://github.com/mozilla/network-pulse/issues/528

[2017-05-09 16:34] #486 closed

[2017-05-09 16:46] Pomax commented on #474
The work involved here:

- migrate "network pulse API" into the network API to take advantage of its social auth and consolidate login, with permissions set based on groups rather than based on "each user, individually"
  - [ ] move pulse api app into network api repo (preserve routes)
  - [ ] change code to actually work
  - [ ] update tests to reflect the updated code
- [ ] update pulse client t

[2017-05-09 23:11] Sudip7 commented on #516
@mmmavis I meant to say that as per the new design suggestions there would be both issue buttons(not tab)  and hyperlinks​(pink text) doing the same thing. So we would end up having 5 issues type buttons on top and 5 hyperlink with brief descriptions in the page body. So i believe it's a kind of duplication. Either we could stick to current page style or migrate to new design where there would be

[2017-05-09 23:21] mmmavis commented on #523
@kristinashu I see that we are splitting `[creator]` and `[time posted]` lines here (detail view). Where do we wanna show this info on the list view?

[2017-05-09 23:27] mmmavis commented on #523
@kristinashu what's the hover state for those tag buttons?

@xmatthewx @kristinashu do we wanna show the tags as they are or turn them into all lower cases?

[2017-05-10 00:43] kristinashu commented on #523
@mmmavis the creator and time posted work is in this ticket https://github.com/mozilla/network-pulse/issues/528

For tags, please make the hover state one mofo-bootstrap shade of grey darker.

@xmatthewx what do you think about lower case? For consistency, I like the idea of forcing all of them to be lower case.

[2017-05-10 15:23] xmatthewx commented on #523
Good catch @mmmavis. We should make tags lowercase when they are entered before they end up in the database. I will file a bug. Right now, DIY and diy are treated as if they are different tags.

[2017-05-10 15:37] xmatthewx opened #529 "Update form for better tags"
Currently the same tag with different capitalization enters the DB as two different tags. Ex: DIY and diy. @alanmoo – do you think the form or the API should handle this?

- [x] On the form, we should update the label and hint.
  - Form label: Tags: Comma separated. Spaces are ok. Issues are added automatically.
  - Placeholder: games, best practice, iot, cape town, code
- [x] Bonus: Let's also pu

[2017-05-10 15:39] xmatthewx commented on #523
@mmmavis – just a note that these tags should include any 5 issues on the item too. Issues first. Presented to the user as the same thing. Tapping an issue tag should go to /issue/name

[2017-05-10 15:43] mmmavis commented on #523
kk to keep things simple I'll just make tags visible on the detail view in this PR. :+1

[2017-05-10 15:44] xmatthewx commented on #529
edited original comment

[2017-05-10 15:49] xmatthewx commented on #516
@Sudip7 – when a user is viewing `/issues/decentralization` they will only see the issue buttons for navigation to another issue. The descriptions are only visible on `/issues`, and on this view, a new users might be focused on the descriptions and learning about the issues. The link on heading is a duplicate of the button, but it serves the users well.

[2017-05-10 16:47] xmatthewx commented on #484
see also #529 for some copy

[2017-05-10 16:50] xmatthewx commented on #159
We can move forward twitter and do facebook later.

[2017-05-10 17:06] kristinashu commented on #527
Tried a few different layout but think something along these lines is working best:

![desktop - 2 column detail copy 4 2x](https://cloud.githubusercontent.com/assets/1068783/25911310/352c64a4-3568-11e7-9371-12b63af58c3a.png)

<img width="190" alt="screen shot 2017-05-10 at 10 04 05 am" src="https://cloud.githubusercontent.com/assets/1068783/25911343/52ca8ebe-3568-11e7-8dca-5bcfe69b33df.png">

cc

[2017-05-10 19:08] mmmavis opened #530 "Routes for issues page"
(this is somewhat related to but not blocking https://github.com/mozilla/network-pulse/issues/523#issuecomment-300523022)

When I first implemented routes for the issue pages, I wanted the urls to be more human readable so I didn't use the handy `encodeURIComponent` method to generate the path... instead I went with a mapping object that I created:

from https://github.com/mozilla/network-pulse/bl

[2017-05-10 19:32] alanmoo commented on #529
Ideally both should handle this, so that we don't have to worry about other uses of the API, but can also be clear about what the content will actually look like before it gets submitted. I envision an autocomplete component that converts the string to lowercase and puts a background on it when the user types a comma into the tag field. (So that it appears as a tag box representing the final proje

[2017-05-10 20:47] alanmoo commented on #530
The hyphenated project URLs have value to users of the site. They link to fixed, specific content in an easily readable way. URI encoded strings are definitely not as easy to read (though Firefox makes them readable), but (to me, at least) they're also a hint that it's "generated" content. So I'd say let's keep things the way they are.

[2017-05-10 20:56] alanmoo commented on #530
Wait, we're not talking about project URLs here. Links like `https://www.mozillapulse.org/issues/online-privacy-and-security` could go either way; I don't see a particular benefit to changing things though.

[2017-05-10 22:44] xmatthewx commented on #529
Ok. @mmmavis ticket will just be for form updates (copy and ordering listed above).

I've filed an API ticket and added a note to autocomplete ticket to convert to lowercase.

[2017-05-10 22:53] mmmavis commented on #484
@xmatthewx which "required" label styling do we wanna go with?

current:
<img width="300" alt="screen shot 2017-05-10 at 3 52 44 pm" src="https://cloud.githubusercontent.com/assets/2896608/25924664/cc95a852-3598-11e7-98e2-6173154e26ab.png">

from your comment above:
<img width="436" alt="screen shot 2017-05-10 at 3 52 33 pm" src="https://cloud.githubusercontent.com/assets/2896608/25924665/ce5ba4c0

[2017-05-10 22:58] xmatthewx commented on #484
I wonder what @kristinashu thinks. Should we add a style, separate title from explanation?

**Input Name** (required)
_Help text info info info_

**Title** (required)
_Keep it simple. Name it, don't describe it._

**Description**
_Simple, brief language works best. No jargon._

[2017-05-10 23:00] xmatthewx commented on #530
I think this holds true for Issues.

[2017-05-10 23:06] kristinashu commented on #484
Could add a style or to keep it simple and reduce height, we could do something like this:

Title: Keep it simple. Name it, don't describe it. _(Required)_

[2017-05-10 23:18] xmatthewx commented on #527
I think this is all great.

We can talk with Mavis after she lands tags and form stuff about the order we want tackle this. It seems like layout is useful even before we have API in place for clickable creators, help tags, etc. But worth a discussion.

[2017-05-10 23:21] xmatthewx commented on #521
I think this Get Involved + Help approach works very well.

We'll need a technical discussion about how we want to handle help tags. I think we treat them like issue categories, just labeling on frontend as designed.

Question: the original suggestion was to allow a sentence on the different categories of help, instead of paragraph + tags as we have here. My instinct: this approach is simple, flex

[2017-05-10 23:43] xmatthewx commented on #527
This will mean more when we start to have a broader audience with network site launch, but 42% of new users are on mobile.

<img width="515" alt="screen shot 2017-05-10 at 7 37 56 pm" src="https://cloud.githubusercontent.com/assets/53411/25925733/7fea7616-35b8-11e7-9b54-a2ad1d3de592.png">

[2017-05-10 23:48] kristinashu commented on #521
I'm not completely clear on what you have in mind but is this more what you had in mind?

![desktop details 2 column copy 2x](https://cloud.githubusercontent.com/assets/1068783/25925885/60a885d0-35a0-11e7-91aa-97b6761993f3.png)

[2017-05-11 13:40] alanmoo commented on #530
Mostly; The content varies but it's very useful to have the issue grokable from the URL.

[2017-05-11 13:57] xmatthewx commented on #530
And... the Issue URLs are likely to be used as links often.

[2017-05-11 14:02] xmatthewx commented on #521
Yes, I think that was the suggestion. To clarify, my instinct was like yours, and I think your previous design is stronger than this new mockup.

It's good to have this mockup as a reference though, if someone else thinks we should consider it. It's too many words, too much visual noise.

Let's proceed with your [previous design above](https://github.com/mozilla/network-pulse/issues/521#issuecomme

[2017-05-11 14:37] alanmoo opened #532 "Updates to entry view post-tags"
Some thoughts based on the new PR for tags on cards:

1. Should we update the API so it tells the front end how many entries are using a specific tag? That way we can only show tags that link to something other than just the current entry.

2. Should the Issues be rendered in a slightly different way than tags? From a messaging standpoint, it seems important to indicate they're special.

@mmmavis

[2017-05-11 15:24] #523 closed

[2017-05-11 16:03] mmmavis commented on #532
I like seeing all tags. As a user I would like to know what existing tags are out there already. Should we order the tags so that they are from most popular tag -> least popular?

2. Should the Issues be rendered in a slightly different way than tags? From a messaging standpoint, it seems important to indicate they're special.

+1 on this

[2017-05-11 16:24] xmatthewx commented on #532
+1 ordering by frequency, subtly highlighting issue tags. I think we can keep this in the backlog for now.

[2017-05-11 17:32] kristinashu opened #533 "Define categories for expanded Get Involved Help section"
Based on design of detail view in #521 we will need to:
- [ ] determine which tags/checkboxes we want (e.g. design, code, feedback, test, take action, fundraising...)
- [ ] add check boxes to form
- [ ] reconsider copy

[2017-05-11 17:32] kristinashu commented on #521
Okay, here's the slightly updated version from #527

![desktop - 2 column detail copy 4 2x](https://cloud.githubusercontent.com/assets/1068783/25911310/352c64a4-3568-11e7-9371-12b63af58c3a.png)

<img width="190" alt="screen shot 2017-05-10 at 10 04 05 am" src="https://cloud.githubusercontent.com/assets/1068783/25911343/52ca8ebe-3568-11e7-8dca-5bcfe69b33df.png">

Opened a new ticket for what the fo

[2017-05-11 18:08] xmatthewx commented on #484
"Look best..." in mockup could be a different presentation. We just need some hierarchy for all this hint text.

[2017-05-11 18:25] xmatthewx commented on #524
related work: https://github.com/mozilla/network-api/pull/185

[2017-05-11 18:30] xmatthewx commented on #443
@Pomax – we discussed this issue before. See link in original comment. Do you think this is feasible this heartbeat? Or should we bump it?

[2017-05-12 17:12] mmmavis commented on #484
No worries. I have a PR up for that: https://github.com/Pomax/react-formbuilder/pull/28

[2017-05-12 19:54] xmatthewx commented on #533
Excellent. Let's make our best guess on the categories of help (code, design, test, feedback, take action, funding, ... ? ). Then we should get feedback from a cross-section of people (maybe Abby, Lindsey, Chad, Vanessa, Amira, Michelle, Robert, ...)

[2017-05-12 22:25] mmmavis commented on #484
Finalized changes:

//////

- Above "Submit" button – "By submitting your entry, you agree to be bound by the [Mozilla Terms of Service](https://www.mozilla.org/about/legal/terms/mozilla/), and you agree that your entry may be edited lightly for clarity and style."
- Image  – "Only submit images that you have permission to use in this context."

<img width="807" alt="screen shot 2017-04-13 at 5 57

[2017-05-12 23:37] mmmavis commented on #484
Done!

[2017-05-12 23:37] #484 closed

[2017-05-12 23:38] mmmavis commented on #529
Todo item 1 and 2 are done. @xmatthewx I'll let you decide if we can close this ticket or not.

[2017-05-13 01:29] xmatthewx commented on #529
Yes! thanks. the third is filed elsewhere.

[2017-05-13 01:29] #529 closed

[2017-05-15 16:11] Pomax opened #535 "update the pulse api URLs"
tracked as https://github.com/mozilla/network-api/issues/197 on the network-api side.

Going forward, the pulse api will be namespaced to `.../api/pulse/...` so routes that are currently `/nonce` will become `/api/pulse/nonce` etc.

[2017-05-15 17:36] mmmavis commented on #526
@kristinashu fyi, I just checked - that icon has only been clicked for 10 times so far. I agree we should remove it once we have the Twitter share icon in place.

[2017-05-15 17:50] xmatthewx commented on #526
Hi. Totally agree to remove it. Just want to illustrate why we should dig deep with stats.

It was used 14 times since the release to staff, which is 3 more times than the Get Involved link, arguably our most important action. The prominence of those actions and the status of the project (mostly internal use) deeply impact user behavior.

Of the 14 uses of the Link button, 3 were for project 177 (

[2017-05-15 20:41] mmmavis commented on #461
I just realize I need some image editing help. @kristinashu can you help create an icon with Pulse icon on white rounded corner rectangle? This is the icon that will be used on Android devices when someone "save this site to homescreen".

[2017-05-15 21:37] kristinashu commented on #461
Can you please try this?

![icon-fav-white-rounded 2x](https://cloud.githubusercontent.com/assets/1068783/26080555/f5eb661a-397b-11e7-8338-265b999ae117.png)

[2017-05-15 22:19] mmmavis commented on #482
@Pomax agree that this is something we should add to `react-formbuilder`? We can add a new field type (`list-values`? `autosuggestion`? ...?) and let it take an `options` property which we can pass `tags` fetched from API as the value?

[2017-05-15 22:36] Pomax commented on #482
@mavis this feels like something we could add to the form builder but then we need to be pretty careful how and where we do that, since the form builder knows nothing about "tags". Can you explain what you were thinking of in more detail?

[2017-05-15 22:52] mmmavis commented on #461
@xmatthewx @kristinashu  version ccc works good to me!

![screenshot_2017-05-15-15-50-20](https://cloud.githubusercontent.com/assets/2896608/26082726/3a99f9de-3986-11e7-9d1a-1e53f0b6334e.png)

[2017-05-15 23:32] kristinashu commented on #461
Here's the updated size. I also made it so the red lines don't go all the way to the edge of the square.

![icon-fav-white-rounded 2x](https://cloud.githubusercontent.com/assets/1068783/26083678/08a91e5e-398c-11e7-9b8e-52994830c501.png)

[2017-05-15 23:47] mmmavis commented on #482
I was thinking we could have a field `tagGroups` (please suggest a better name!) which takes similar properties as `checkboxGroup`

[code]

I was thinking during build step we can pull tags from Pulse API and generate [detail-info-fields.js](https://github.com/mozilla/network-pulse/blob/master/pages/add/form/detail-info-fields.js) with `arrayOfTags` being the actual Pulse tags. But now I think of

[2017-05-16 01:41] mmmavis commented on #491
I have a PR up for this.

[2017-05-16 01:51] mmmavis commented on #461
![screenshot_2017-05-15-18-50-40](https://cloud.githubusercontent.com/assets/2896608/26086441/779f2a5c-399f-11e7-9740-c1252dc9c5c1.png)

[2017-05-16 01:52] mmmavis commented on #461
@xmatthewx ping me when you get a chance to help test this. I'll ngrok my localhost!

[2017-05-16 15:37] mmmavis commented on #159
Hey @kristinashu It seems like Font Awesome only has social icons in solid colour (no outline version). When you get a chance can you put our custom svgs on Google Drive? 😉

[2017-05-16 15:41] xmatthewx commented on #159
is hover state pink outline or solid pink or solid blue?

[2017-05-16 15:52] mmmavis commented on #526
Hey @xmatthewx I only know little about GA so I'm curious where on the dashboard I can find the info you mentioned above.

From Behaviour -> Events -> Top Events, I only saw 10 "Entry Card - Reveal Entry Share Link" events
<img width="1146" alt="screen shot 2017-05-16 at 8 48 49 am" src="https://cloud.githubusercontent.com/assets/2896608/26115419/cbbf775c-3a14-11e7-9c88-5293a9ec85c7.png">

[2017-05-16 16:29] xmatthewx commented on #526
I'm looking at the same view, starting at Apr 4th when we announced to staff. We can find some time to look at GA together. I'm not an expert, but have discovered a few useful things over the years.

[2017-05-16 17:01] kristinashu commented on #159
Here are the svgs: [icons.zip](https://github.com/mozilla/network-pulse/files/1005250/icons.zip)

Let's make the hover state a pink outline (same as the current link icon).

[2017-05-16 17:07] kristinashu commented on #526
I would also be curious how many of those clicks were from us QA-ing. The link was broken for a little while and then I think we were all testing it to make sure it was fixed.

[2017-05-16 17:29] kristinashu opened #537 "Implement Help categories on Frontend"
Based on design in https://github.com/mozilla/network-pulse/issues/521 relies on form updates in #533 and post detail page layout https://github.com/mozilla/network-pulse/issues/520

Content includes:
- "Get Involved" title
- all "Get Involved" body copy
- a link URL
- tags

https://redpen.io/p/of380006b3156e2c51
![desktop details latest 2x](https://user-images.githubusercontent.com/1068783/286330

[2017-05-16 17:30] kristinashu commented on #521
Ticket filed for implementation https://github.com/mozilla/network-pulse/issues/537

[2017-05-16 17:30] #521 closed

[2017-05-16 17:44] #491 closed

[2017-05-16 18:04] kristinashu commented on #491
Looks good!

[2017-05-16 19:43] xmatthewx commented on #518
For me, this seems to work, unless I have hit the View More button. When I go back, I need to hit View More again. Scroll position isn't preserved since the entry isn't visible.

[2017-05-16 19:51] kristinashu commented on #518
Weird, I just did a straight forward scroll down, click on post, click browser back button once on the post detail page. The page reloaded for me. Also just tried on Luke's computer where it also reloaded.

@mmmavis can you please try?

[2017-05-16 20:02] #461 closed

[2017-05-16 20:07] mmmavis commented on #488
@Sudip7 I replied you on Mattermost a few hours ago. Was my explanation clear? Do you have any more question that I can help answer?

[2017-05-16 20:11] mmmavis commented on #518
Um this is weird, it works for me still and I don't have to hit "view more" button again.

@kristinashu @xmatthewx which device / browser are you on?

[2017-05-16 20:13] kristinashu commented on #518
Works everywhere for me except for Chrome 58.0.3029.96 for MacOS Sierra 10.12.4

[2017-05-16 23:10] Pomax commented on #482
that gets more specific than a generic form builder should probably be. However, the form builder lets us use components as field types, so if there's a good autocompleting tag component already out there, then all we need to do is wrap that in a component that takes whatever props we need to throw at it, with a function that the form-builder can use to get the data back out, and we should be good

[2017-05-17 00:24] Sudip7 commented on #488
@mmmavis : how to test this <Link to="/entry/120">Learn more</Link> in local environment. As http://localhost:3000/entry/120  has no meaning. So I may need to add a path that would work both in local as well as prod env.

[2017-05-17 00:50] mmmavis commented on #488
@Sudip7 for this ticket specifically, we'll have to use `<a>` instead of `<Link>`. Reason for that is that the database we use for the production site (https://mozillapulse.org) is different from what we have for the staging site and our local env. As [`<Link>` is used to link to places **within** the application](https://github.com/ReactTraining/react-router/blob/v3/docs/API.md#link) and we can't

[2017-05-17 00:53] Sudip7 commented on #488
thanks @mmmavis , got the idea. will send the pull request today. hey @xmatthewx sorry for the delayed response.

[2017-05-17 14:04] xmatthewx commented on #488
thanks @Sudip7 !

[2017-05-17 16:12] xmatthewx commented on #518
My test:
 - open featured
 - tap view more
 - view flexbox froggy details
 - hit back button

Safari OS X - works
Firefox OS X - works
Chrome OS X - reloads (v57.0.2987.133)

Firefox Android - goes to bottom of view, showing view more button, but not the froggy (v53.0.2)
Chrome Android - reloads (v58.0.3029.83)

[2017-05-17 17:15] xmatthewx opened #541 "Build moderation front-end"
Moderating many projects would benefit from a frontend view.

Why not just use Django?
 - it's unfamiliar. and we'll want many moderators with minimal training required
 - Django doesn't currently provide a way to browse by moderation state
 - Django doesn't currently make it easy to read a project. See below.

<img width="823" alt="screen shot 2017-05-17 at 1 12 20 pm" src="https://cloud.githubus

[2017-05-17 17:55] mmmavis commented on #482
hey @Pomax I haven't dived into `react-formbuilder`'s codebase yet. But I followed the README and tried adding a component as a field... it didn't work for me.

[code]

When I typed something in the input box I did see `console.log('hi test onChange', event.target.value);` got printed but the form didn't seem to know there was value changes. Did I pass anything wrong?

[2017-05-17 18:27] #159 closed

[2017-05-18 23:33] mmmavis opened #544 "Bug: misalign "thanks for submitting" message"
After user submits an entry, a "Thanks for submitting" message is presented. That message is not misaligned due to the recent CSS cleanup I made.

<img width="1139" alt="screen shot 2017-05-18 at 4 30 51 pm" src="https://cloud.githubusercontent.com/assets/2896608/26227440/7176d040-3be7-11e7-8364-59f7a739da00.png">

[2017-05-19 00:35] hannahkane commented on #541
Questions, not requirements:

 * Would /pending/ show just pending projects or also in-review and declined projects? If all non-approved states, it would be good to be able to filter on state.
 * For "in-review", I wonder if it will be important to know which staff person is working on it. Maybe not.
 * If project submissions come in at a slow trickle, it may become important to build in some noti

[2017-05-19 00:42] mmmavis opened #545 "Render multi-paragraph entry description properly"
Currently:

<img width="755" alt="screen shot 2017-05-18 at 5 26 32 pm" src="https://cloud.githubusercontent.com/assets/2896608/26228522/48349fe8-3bef-11e7-894b-59bfeb090c29.png">

Should really be:
<img width="770" alt="screen shot 2017-05-18 at 5 37 03 pm" src="https://cloud.githubusercontent.com/assets/2896608/26228691/b0062582-3bf0-11e7-924b-5be30671ffaa.png">

[2017-05-19 03:22] Sudip7 commented on #517
is this enhancement applicable for issues tab or for all the relevant tabs. Please clarify. @xmatthewx @kristinashu

[2017-05-19 15:05] xmatthewx commented on #541
Good questions.

 - You made me realize we should indicate state on each card in list view. A way to switch view between states would be good, maybe not essential, but probably not a big lift. (updating list in orig comment)
 - Eventually, we might want to assign or claim in-review, but let's worry about that after we get the basics landed.
 - If moderators get a menu item, we could include a coun

[2017-05-19 15:19] kristinashu commented on #517
Only in the Issues tab, thanks!

Note that search results already does this ([example](https://www.mozillapulse.org/search?keyword=design)), please style it the same.

[2017-05-19 15:21] xmatthewx commented on #541
Quick mockups

### List view

<img width="1194" alt="screen shot 2017-05-19 at 11 15 41 am" src="https://cloud.githubusercontent.com/assets/53411/26254549/f6ed3b22-3c84-11e7-9aa2-d28e36066396.png">

### Detail view

<img width="775" alt="screen shot 2017-05-19 at 11 18 40 am" src="https://cloud.githubusercontent.com/assets/53411/26254550/f6ef8aee-3c84-11e7-9ed0-aff9b1def62a.png">

<img width="779"

[2017-05-19 15:51] Pomax commented on #522
This feels like not so much "moderation states" but "which part of a moderation pipeline is this thing in", my like kanban boards etc. From an implementation perspective, this might make things easier, too, where we can define entries as being "in some track or another" (with the entry itself not strictly speaking caring about individual track properties) and a number of different pipelines with a

[2017-05-19 16:04] xmatthewx commented on #522
That makes sense, I think. Below is a quick mockup of how this could manifest in UI: https://github.com/mozilla/network-pulse/issues/541#issuecomment-302732393. Does this align with your ideas?

<img width="775" alt="screen shot 2017-05-19 at 11 18 40 am" src="https://cloud.githubusercontent.com/assets/53411/26254550/f6ef8aee-3c84-11e7-9ed0-aff9b1def62a.png">

<img width="779" alt="screen shot 201

[2017-05-19 16:22] Pomax commented on #522
that's one option, another is that if tracks know what their next "success"/"fail" track is, they can offer two clear buttons only for those two options, so that a new entry only shows "DECLINE" and "MARK AS IN REVIEW", an entry in review shows "DECLINE" and "MARK AS APPROVED", and an approved entry shows "REMOVED" (in case approved entries need to be taken down for whatever reason) without a next

[2017-05-19 18:04] Sudip7 commented on #517
Thanks @kristinashu . I added some code. Please, suggest should I add additional filters in order to restrict that to issue page or keep as it is.

![image](https://cloud.githubusercontent.com/assets/6715793/26260425/c8b58e7e-3cea-11e7-90ec-b042380a1e81.png)

![image](https://cloud.githubusercontent.com/assets/6715793/26260460/f5f3496c-3cea-11e7-9aef-7f9f0fcdc7a6.png)

![image](https://cloud.githu

[2017-05-19 18:07] kristinashu commented on #517
Yes, please hind on Featured and Latest pages. Thanks!

[2017-05-19 18:22] mmmavis commented on #488
Live: https://www.mozillapulse.org/featured

Thanks @Sudip7 !

[2017-05-19 18:22] #488 closed

[2017-05-19 18:54] xmatthewx opened #547 "Correct Sign In messages"
Now that we've opened things to non-staff with google login, we should tweak our help text.

 - [ ] Remove "Are you Mozilla Staff?" from Favs view
 - [ ] Remove "Please note, only Mozilla..." from "Add" view

"Add" view says sign in, which can be slightly confusing if I don't already have an account. Seems like "Sign in with Google" is the most clear and accurate button label. Do you agree @kristi

[2017-05-19 19:00] xmatthewx commented on #524
Tests. Works as expected.

We have follow up work filed elsewhere:
 - move api https://github.com/mozilla/network-api/pull/185
 - migrate db https://github.com/mozilla/network-pulse-api/issues/116
 - update api URLs https://github.com/mozilla/network-pulse/issues/535
 - train staff
 - expand moderation states or pipeline #522

[2017-05-19 19:00] #524 closed

[2017-05-19 19:01] kristinashu commented on #547
Yes, sounds good!

[2017-05-19 19:03] xmatthewx commented on #474
Tested on production. Works like a charm. @Pomax - do you want to file any follow up tickets related this, migration, updating tests??

Filed a ticket to update help text for users. #547

[2017-05-19 19:03] #474 closed

[2017-05-19 19:17] xmatthewx opened #548 "Add redirect for admin"
Add a redirect from `mozillapulse.org/admin/` to `api.mozillapulse.org/admin/` to make life just a little easier.

[2017-05-19 19:42] #482 closed

[2017-05-19 19:42] #545 closed

[2017-05-19 19:47] mmmavis commented on #516
I need some break from another PR I'm currently working on. Gonna take this one on as my "getaway" from that PR. 😉

[2017-05-19 20:13] mmmavis commented on #516
@alanmoo I'm thinking if it makes sense to have the `/issues` route on Pulse API return a list of `issue` object?

i.e.,

instead of returning
[code]

return

[code]

This way we don't have to make 5 API calls just to get all the descriptions we want to display on this page. Thoughts?

[2017-05-19 20:20] xmatthewx commented on #482
Amazing! This functions beautifully on staging. Well done. Question: how are suggestions ordered?

[2017-05-19 20:37] kristinashu commented on #482
Agree! This is excellent!

[2017-05-19 20:50] mmmavis commented on #482
🎉

@xmatthewx I think it's just based on what the API returns: https://network-pulse-api-staging.herokuapp.com/tags/ I'm guessing the list is sorted based on the time a tag was created? (oldest -> newest) /cc @Pomax @alanmoo

[2017-05-19 21:00] #544 closed

[2017-05-19 21:03] xmatthewx commented on #482
Ok. If so, let's file a follow up for API to return tags sorted by most-to-least used. Not critical today, but will make for a smoother experience. Also useful elsewhere on the site (empty search suggestions, trending view).

[2017-05-19 21:10] alanmoo commented on #516
Makes sense to me. Is it easy to update the front-end to be able to handle both cases as an interim approach so we don't have to closely coordinate an update to the back-end?

Something like

`if typeof response[0] === 'string' { new code } else {old code}`?

[2017-05-19 21:19] xmatthewx commented on #517
👍  Yes. Please hide everywhere. Everywhere but individual issue pages. It could also show on individual tag views, for example: [/tags/mozfest](https://www.mozillapulse.org/tags/mozfest). But it shouldn't appear anywhere else.

[2017-05-22 16:53] jessevondoom opened #550 "Change main page hero copy"
**Issue**
We introduce the phrase “healthy internet” on the main page but don’t define Internet health or tie back to the Internet Health Report. Defining the network in terms of Internet health is a main goal of the organization in 2017 so we need to make more of an explicit connection going forward.

**Suggested solution**
This will be a central theme as we design for the next major iteration of

[2017-05-22 16:54] jessevondoom commented on #550
Borrowed the new copy (edited down) from the Internet Health Report site about page for consistency.

[2017-05-22 17:00] jessevondoom opened #551 ""member preview" panel and survey preamble tweaks"
**Issue**
There’s concern that we need to do more to communicate the iterative/collaborative nature of the Network site. Right now we’re framing that as the site being “in progress” or a preview. We’ll move away from that framing as the network starts to feel more ownership of the site, but for now there are some ways we can make the the in-progress/feedback process more obvious.

**Suggested solu

[2017-05-22 17:24] hannahkane commented on #551
Re-filed here: https://github.com/MozillaFoundation/Network/issues/19

[2017-05-22 17:24] #551 closed

[2017-05-22 17:26] hannahkane commented on #551
lol, which is also the wrong place. Here we go: https://github.com/mozilla/network/issues/448

[2017-05-22 17:30] hannahkane commented on #550
Re-filed here: https://github.com/mozilla/network/issues/449

[2017-05-22 17:30] #550 closed

[2017-05-22 17:50] jessevondoom commented on #551
We should really post this one to every repo, just to be safe.

[2017-05-22 19:22] mmmavis commented on #310
@xmatthewx @kristinashu @alanmoo @Pomax

As I'm working through this I started to wonder if it's good UX if we just sync `localStorage` bookmarks automatically in the background before asking/notifying user. There are also scenarios that I'm not sure how to handle. For example, say a user has entry `18` favourited in database, at some point she decided to log out, she favourited entry `18` again s

[2017-05-22 21:49] xmatthewx commented on #310
Here's another option. Simpler than sync. What do you think?

When someone is logged in AND local storage favs are present, we...
 - don't display localstorage favs
 - display empty favs view help text
 - add a link to Import (see below)

This way,
 - we only import, we don't sync.
 - we only pull in current favs, we don't worry about unfavs.

This seems simpler, good for users on multiple devices

[2017-05-23 00:41] Sudip7 commented on #517
I have added following code:

reIssueCountResult() {
    if(this.props.latest) return null;
    if(this.props.featured || this.props.search || this.state.loadingData) return null;
let total = this.state.totalMatched,
  plural = (total === 0 || total > 1), // because "0 results"
  issueCountResult = `${total} result${plural ? `s` : ``} found`;

return <p>{issueCountResult}</p>;
  },

Even though I

[2017-05-23 14:32] Sudip7 commented on #548
@xmatthewx , could you be little more descriptive

[2017-05-23 15:01] xmatthewx commented on #548
Admin her manage users must remember and go to this URL:  `api.mozillapulse.org/admin/`. I would like to setup a simple redirect from `mozillapulse.org/admin/`, because it's much easier to remember.

@mmmavis can share how these are setup. I'm unsure if it's handled on the frontend or server side.

[2017-05-23 15:15] mmmavis commented on #548
@Pomax @alanmoo how are these usually done? We can add a `onEnter` handler (to the to-be-add `<Route path="admin" ... />`) that redirects /admin to `api.mozillapulse.org/admin/` or we can ask DevOps's help to configure a webpage redirect. Suggestions?

[2017-05-23 15:20] mmmavis commented on #517
@Sudip7 which file(s) were you working on? We want to add the counter to [just the individual tag pages and issue pages](https://github.com/mozilla/network-pulse/issues/517#issuecomment-302813765). Take a look at `routes.jsx` and see what components `/tag` and `/issue/issue_name` are using. Those should be the components that we add the counter code to.

[2017-05-23 15:25] mmmavis commented on #517
@Sudip7 do you wanna start a PR so I can check out your code and modified files?

[2017-05-23 15:33] alanmoo commented on #548
@cadecairos does it make sense to do the same thing you've been doing on the network site for consistency?

[2017-05-23 16:07] cadecairos commented on #548
@alanmoo Are you proposing we have the Django admin site accessible from `mozillapulse.org/admin` rather than worry about a redirect?

Aren't we consolidating the two backends into one project? If so, then I'd prefer to hold until that's completed before messing around with proxying the existing admin site through Cloudfront.

[2017-05-23 16:23] Sudip7 commented on #517
@mmmavis , I have changed only one file project-loader.jsx. M sending the PR

[2017-05-23 17:11] alanmoo commented on #548
Good point. Would a temporary redirect on the front end be safe?

[2017-05-23 17:28] Pomax commented on #310
I like this idea, @xmatthewx

[2017-05-23 17:36] kristinashu commented on #310
Now that anyone can sign up, I think we should go back to plan A where tapping the heart prompts users to signin/up. This is how most apps and websites work. It avoids confusion for users around "I thought I already hearted this???". If someone doesn't want to sign up, then no big loss for them that they can't favorite thing.

I don't want to block anything so move ahead however you see fit but wa

[2017-05-23 17:41] Pomax commented on #310
I kind of like an internet open enough not to need to log in just to fave something. Even if it's logging into a moz property. If there is no technical reason to, no logins win hands down, until you *need* to log in.

[2017-05-23 17:42] xmatthewx commented on #310
I thought about it. Wrote about it. Then deleted. Then thought about it again.

We only have login for google users. And, most visitors will just be readers. They benefit little from login. If we can do this gracefully, it really fits our values.

[2017-05-23 18:22] xmatthewx commented on #522
estimation is based on existing assumption there is a library to use

[2017-05-23 18:31] xmatthewx commented on #541
to file:
 - [ ] We need user staff status from API (estimate: 1)
 - [ ] API endpoints moderation state (estimate: 3)

[2017-05-23 18:35] alanmoo commented on #547
I updated some of the wording and it's on staging, but since we've got actual directive another PR would be useful

[2017-05-23 21:07] Pomax opened #555 "Ensure that there is a page for people to see when JS is blocked"
Plenty of people run privacy addons like NoScript which prevent JS from running until cleared. Running mozillapulse in this setting gives an initial landing page that looks like this:

![screenshot 60](https://cloud.githubusercontent.com/assets/177243/26376328/fcad13e0-3fc0-11e7-8e6b-bdae6bf116dc.png)

That is not okay, we need to have something there that tells users why they have to turn on JS j

[2017-05-23 21:27] xmatthewx commented on #547
@hannahkane can you check in on this tomorrow?

[2017-05-23 21:46] xmatthewx commented on #310
I talked with @hannahkane and @alanmoo about this again. It's a tough call. I think Kristina is totally right. I think Pomax is right too.

I'd like to proceed with the import approach. `Reason 1`: love for the open web. `Reason 2`: we would need to design the whole tap heart, prompt login flow and all the branches. `Reason 3`: It's low risk for us to do something a bit experimental here. If this

[2017-05-23 21:48] xmatthewx commented on #541
@kristinashu - feel free to design UI here. I did quick mockups assuming you're busy with Internet Health things. No strong opinions here and I'm sure you'll could make this much nicer.

[2017-05-23 21:50] xmatthewx commented on #522
Note: we need new tickets for two API things listed and estimated here: https://github.com/mozilla/network-pulse/issues/541#issuecomment-303491242

[2017-05-23 22:48] hannahkane commented on #310
I think @xmatthewx's revised copy works. No changes from me.

[2017-05-23 22:53] kristinashu commented on #310
Yeah, works for me.

[2017-05-24 13:51] alanmoo commented on #547
Closed by #553

[2017-05-24 13:51] #547 closed

[2017-05-24 13:52] alanmoo opened #556 "Remove dead code associated with login?"
https://github.com/mozilla/network-pulse/pull/553#discussion_r118052865

cc @mmmavis

[2017-05-25 13:15] Sudip7 commented on #517
@mmmavis any suggestions on fixing the problem??

[2017-05-25 20:00] Melechuga opened #557 "Need to fix image size for a Global Sprint entry"
The image size for entry #308 (https://www.mozillapulse.org/entry/308) is 839 x 630 but for some reason it doesn't capture the full image. Can someone please fix it? Thanks!

Original image:
![global sprint image](https://cloud.githubusercontent.com/assets/5815317/26468128/2fb928d4-414a-11e7-8148-3c402f3c08cc.jpg)

[2017-05-25 20:57] alanmoo commented on #557
This is because images get cropped in the styles so they take up the full width of the entry. Easiest solution is to use a wider image, closer to the 1200x630 suggested by the submission form.

[2017-05-25 20:59] alanmoo opened #558 "Form validation UX needs improvement"
From @Melechuga:

[2017-05-25 21:02] Pomax commented on #522
@alanmoo and I ran through three options for the implementation side of this:

1. a "hardcoded stings" equivalent
2. a "state object" the an Entry can point to, with multiple objects (one for each possible state) so that we don't have to hardcode any of them, and can switch from one to any other
3. a "pipeline" approach where Entries are put "on a track" and are moved from one track to the next in

[2017-05-25 21:05] kristinashu commented on #558
I believe design is done, just waiting for implementation in https://github.com/mozilla/network-pulse/issues/493 and https://github.com/mozilla/network-pulse/issues/441

[2017-05-25 21:08] kristinashu commented on #493
Character count should show for both the Title field and Description field.

[2017-05-25 21:09] Pomax commented on #522
tracking implementation in https://github.com/mozilla/network-pulse-api/issues/119

[2017-05-25 21:27] alanmoo commented on #558
Ah, great.

[2017-05-25 21:27] #558 closed

[2017-05-29 23:29] xmatthewx opened #559 "Analytics seem to be down"
There are 0 sessions since last Wednesday. Did we make any changes that could have impacted this? cc @mmmavis @alanmoo @cadecairos

[2017-05-29 23:53] cadecairos commented on #559
Shoot - This was my bad. I tweaked the view with a filter for  "mozillapulse.org" but the app is served from "www.mozillapulse.org"

I have corrected the filter.

[2017-05-29 23:55] cadecairos commented on #559
I've confirmed data is now showing on the view.

[2017-05-30 14:25] xmatthewx commented on #441
Another user impacted by this. We need to fix this. At least adding at a simple message near button telling people to make corrections above.

cc @alanmoo

[2017-05-30 17:25] chadsansing opened #561 "Please add this image to entry 321"
Please add the image below to https://www.mozillapulse.org/entry/321.

![web-ninja-1](https://cloud.githubusercontent.com/assets/4128600/26596044/68b93bc0-453b-11e7-9d1d-0d77115539b2.png)

[2017-05-30 17:27] alanmoo commented on #441
I've filed the above PR as a quick low-hanging fruit fix. The error message appears, but I didn't change any behavior of the button, as that would have required deeper investigation of the event propagation/validation checking.

[2017-05-30 17:31] #561 closed

[2017-05-30 22:01] xmatthewx commented on #525
Here's a review of 4 types of changes we can make with most impact. I tried stuff within each type by impact as well.

https://public.etherpad-mozilla.org/p/network-pulse-tagz-merge

[2017-05-31 00:04] phillipadsmith commented on #499
@Pomax FYI, I've added a simple Zapier integration that posts the latest Pulse entries to channel #mofo-pulse-latest on the Mozilla Slack instance.

I've also added two Zapier RSS feeds: one for latest, and one for featured. I'm not 100% sure they're working as expected, so I'll need to take another look once another Pulse entry is added.

https://zapier.com/engine/rss/268207/mozilla-pulse-feature

[2017-05-31 04:00] alanmoo opened #562 "New tags aren't added to an entry"
Noticed this on staging, haven't confirmed on production but not sure why it would differ:

1. Create a new entry (entry name, link) and fill in an autocompleted tag.
2. After the tag appears in its grey box, type in something else, which should become a new tag for the entry.
3. Click save
4. Notice that the text entered after the existing tag isn't attached to the entry. It disappeared.

[2017-05-31 20:52] xmatthewx opened #563 "Add image attribution and license"
When users submit an image with their pulse entry, they may not be owner of the image. We should give them option for attribution and license. This should be optional and unobtrusive.

Step one: design for the form.

[2017-05-31 20:56] xmatthewx opened #564 "Form: identify if submitter is creator"
Let's add a field to the form for submitters to identify whether they own the thing or not.

[2017-06-01 13:50] Sudip7 commented on #564
@xmatthewx, please provide some more description and sample template.

[2017-06-01 14:19] xmatthewx commented on #564
@Sudip7 - This ticket requires design and planning first. When it's ready, I will label it as `help wanted`. Thanks!

[2017-06-01 18:00] xmatthewx commented on #559
fixed. closing.

[2017-06-01 18:00] #559 closed

[2017-06-01 19:03] mmmavis commented on #530
Seems like this ticket is closable?

[2017-06-01 20:13] xmatthewx commented on #530
totally. closing.

[2017-06-01 20:13] #530 closed

[2017-06-01 21:39] alanmoo commented on #499
It would be cool if we could create a JSON Feed. It's a new thing that's picking up steam, and easier than a proper XML based RSS feed. https://jsonfeed.org/

[2017-06-01 22:12] mmmavis commented on #562
I can't reproduce this. My "mavistesting" tag shows up fine on staging.

<img width="1133" alt="screen shot 2017-06-01 at 3 11 11 pm" src="https://cloud.githubusercontent.com/assets/2896608/26703038/99da8446-46dc-11e7-9dcd-1edbe9797f1a.png">

[2017-06-01 22:24] Pomax commented on #499
@alanmoo I don't know if you purposely phrased it that way, but damn son.

[2017-06-02 02:02] alanmoo commented on #499
Hey, it's a spec and not a new Javascript framework ;) (But also not necessary, just a thought I wanted to throw out there in case someone feels like playing around with something. Probably a good "help wanted" item.)

[2017-06-02 02:04] alanmoo commented on #562
Were you pressing "enter" after typing in the new tag? If you do that it works properly, but it was definitely not obvious to me.

[2017-06-02 17:24] mmmavis commented on #441
Alan's fix is on production now: https://www.mozillapulse.org/add

[2017-06-02 18:18] Pomax commented on #522
the pulse API side of this has been implemented and landed.

[2017-06-05 14:18] xmatthewx opened #566 "Add GA event on "View More" buttons"
Knowing how many users tap a View More button for Featured and other views will help us understand browsing behavior better. Tracking this event will also help us distinguishes people who bounce quickly from those who spend a bit of time looking first.

Category : Nav link
Action : Clicked
Label : [view] + 'more' (e.g. 'Featured more')

[2017-06-05 14:22] xmatthewx opened #567 "Add site search to GA"
If we turn on Site Search and identify "keyword" as our query parameter, we'll get nice reports on user searches.

@cadecairos can I have more privileges in Analytics to manage this stuff?

In GA > Admin > View > View settings > Site search tracking

"keyword" is our query parameter. Note: don't include equal sign ~~"keyword="~~

https://support.google.com/analytics/answer/1012264

[2017-06-05 14:29] cadecairos commented on #567
@xmatthewx I granted you edit permissions for the production view of the mozillapulse.org GA property

[2017-06-05 15:19] xmatthewx commented on #247
We've got a notice to Slack now. Would be cool to explore a bot for Twitter too. Probably just for featured things. cc @phillipadsmith

[2017-06-05 15:29] xmatthewx commented on #511
Remove the splash screen. As Kristina pointed out, it's no longer needed.

[2017-06-05 15:30] xmatthewx commented on #498
Looks like this is done. Closing.

[2017-06-05 15:30] #498 closed

[2017-06-05 16:21] phillipadsmith commented on #247
@xmatthewx Happy to set-up a simple Twitter bot, if that's not stepping on someone's toes! 👍  Let me know if you have a preferred handle, avatar, etc.

[2017-06-05 16:22] phillipadsmith commented on #247
Feel free to assign this issue to me.

[2017-06-05 16:37] xmatthewx commented on #247
@KevZawacki - we'd like to have Pulse send Featured items (not all items) to Twitter automatically. Can you help set up the twitter account? I think you should probably own it so you can track follows, retweets, and replies. True?

[2017-06-05 17:17] KevZawacki commented on #247
Hi @xmatthewx, I'd advise against creating a new Twitter handle for Pulse. Lotta and I are working to consolidate Mozilla social handles, rather than create new ones.

As the operator of twitter.com/mozilla, I can instead make a habit of tweeting a Pulse project once or twice a week from there. It'll reach our 192,000 followers.

Thoughts?

[2017-06-05 17:21] phillipadsmith commented on #247
@KevZawacki If it's helpful, I can create a #mozilla-pulse-featured channel in Slack that you could subscribe to for a reminder...?

[2017-06-05 17:30] Pomax commented on #247
For what is effectively a datastream, postings for which we don't explicitly initiate, I'd actually advise to use a separate twitter handle. Many other services do this too, where the "main, human controlled" account is an obvious account, but service feed accounts are separate, so you don't pollute what is a meaningful stream of communication and outreach with autogenerated feed data.

[2017-06-05 17:54] #562 closed

[2017-06-05 17:55] Pomax opened #568 "remove the "delimit on comma" hack"
We introduced a workaround for `react-tags` in https://github.com/mozilla/network-pulse/pull/565 that we should be removing again as early as possible, contingent on https://github.com/i-like-robots/react-tags/pull/80 landing.

Once it has, we can update our  version of `react-tags` and use the new `delimiters` property to pass in the keyCode for comma (`delimiters={[13, 44]}`)

[2017-06-05 18:04] xmatthewx commented on #247
@KevZawacki – I definitely don't want to pollute your effort to consolidate and align. The idea with a handle like this would be to provide a feed for you, staff and others who want to see it all. Could even have Bot in the name to make/description to make it clear that it wouldn't be a space for interaction.

We can try a Slack channel for Featured + manual posting for now, but maybe we can find

[2017-06-05 21:01] KevZawacki commented on #247
@phillipadsmith No worries -- I've added a reminder to my calendar.

@xmatthewx Got it. Sound like a decision @Lottarao can weigh in on.

[2017-06-05 21:34] mmmavis commented on #562
@alanmoo right, I did press the "enter" key. To me using "enter" as delimiter has been pretty intuitive but as you said it might not be obvious to other people.

[2017-06-06 18:22] mmmavis commented on #525
@Pomax I'm not very confident running db query on production db but I help with the manual updates part (if any).

[2017-06-06 18:35] xmatthewx commented on #441
good enough!

[2017-06-06 18:35] #441 closed

[2017-06-06 18:38] mmmavis opened #569 "Add GA event to form's submit button"
- when submit button is clicked
- how many times the submit button is clicked before the entry is successfully submitted
  - this will help us understand UX wise if we need to improve how we present form errors

/cc @xmatthewx @Pomax

[2017-06-06 19:32] Pomax commented on #569
this feels right. We could also do the "counting" using GA's reporting but generating an event that says "submit button clicked: Xth time on this page" will be less work to get immediate insight.

[2017-06-06 21:06] xmatthewx commented on #569
👍 appending the "label" with "2nd try" etc will give us a ton of easy to see info.

[2017-06-07 18:35] xmatthewx commented on #557
Done. Sorry for the delay on this one.

[2017-06-07 18:35] #557 closed

[2017-06-07 18:45] xmatthewx opened #570 "Sort Entries in Admin in reverse chronological"
We had this before. Maybe got lost in migration.

Goal: make it easy for admins to find recent entries for featuring and corrections.

Assign for notification purposes. Feel free to un-assign yourself.

[2017-06-07 18:47] xmatthewx opened #571 "Add Pulse Admin filter for featured projects"
Pulse admin now has a filter for moderation state. Would be great to add similar for Featured. Not critical, but useful if it's easy.

[2017-06-07 18:55] xmatthewx commented on #548
I believe this is now unblocked. Backends are now joined. True @alanmoo?

[2017-06-07 19:04] xmatthewx commented on #564
The simple solution would be to add an checkbox.

<img width="377" alt="screen shot 2017-06-07 at 3 00 08 pm" src="https://user-images.githubusercontent.com/53411/26896231-0ab1c7ce-4b92-11e7-975c-923d767f696e.png">

Linking user account to the creator id sounds hard. Should we land a simpler mvp version first? Or should we dig in? @alanmoo

[2017-06-07 19:09] alanmoo commented on #570
The code for this is about to land as part of the network-api integration.

[2017-06-07 19:09] mmmavis commented on #541
I will create a feature branch and start building UIs first. But we still need to decide whom we are showing the moderation controls to. To all staff? To people who have admin access to Django? Or?

/cc @xmatthewx @Pomax @alanmoo

[2017-06-07 19:20] alanmoo commented on #548
Not yet, data is still going in to api.mozillapulse.org. Once the data's been migrated, we can point `mozillapulse.org/admin` at `network.mofoprod.net/admin/pulse` (or whatever that second path ends up being)

[2017-06-07 19:25] alanmoo commented on #541
I'd say anyone with a MoFo email address. If they can post, they should be able to approve too. (That doesn't apply to non-staff, of course)

[2017-06-07 20:03] xmatthewx commented on #541
Aha. I was thinking this UI would only be visible at a route like /moderate/pending. But... I could see value in having the UI appear everyone. In that case, I should consider it a bit more closely.

[2017-06-07 20:38] Pomax commented on #568
The PR for react-tag has landed, so we should just able to revert to using `<ReactTag ... delimiters={[8, 13, 44]} .../>` so that in additiona to tab and entery, "comma" also turns strings into tags.

[2017-06-07 21:09] alanmoo commented on #541
I believe that's pretty much it, with the addition of the link to that route being visible in the top nav for moderation-capable users.

[2017-06-08 03:52] mmmavis commented on #541
+1 Now I think about it I think we should have new routes for moderation purposes. Otherwise the entries displayed on each page are gonna be different for public(only **approved** entries will be shown) and for staff/admins(**all** submitted entries). This can get quite confusing to staff especially - for example, I ,as staff, shared a link like https://www.mozillapulse.org/search?keyword=web+lite

[2017-06-08 13:41] alanmoo commented on #541
I know we discussed some of this last sprint while building out the API, @Pomax can you clarify what the endpoints are and what you had in mind for client-side implementation?

[2017-06-08 14:01] alanmoo commented on #564
The creator model on the back end already links to a user model, but none of the creators that have been added yet actually make that connection. That is to say the creator data looks something like this for all creators currently:
[code]

I'm not sure there's a clear path to linking new creators to existing users yet, but for the submitter something like that checkbox could work, as we can have t

[2017-06-08 15:51] xmatthewx commented on #564
Oh right, one of you anticipated this need.

Checkbox can work as you suggest as a first step.

Agreed that there won't be an easy way to merge "confirmed" creators with string-only creators. It's a fun puzzle that gets silly complicated fast. Let's table that for now.

We can add self as a disabled input. So people don't also manually enter their name.

<img width="389" alt="screen shot 2017-06-0

[2017-06-08 16:45] xmatthewx commented on #541
I this we'll want about a half dozen moderators. Not 90. Our plan for user roles includes this, but we shouldn't wait for that. We can use routes to keep things hidden. I'm not worried about rogue staff messing with things. We can use slack and the internal notes field to manage "in review".

[2017-06-08 16:54] xmatthewx commented on #541
It seems we agree – let's build moderation as separate from public views ... as long as you can reuse components for streamlined maintenance.

 1. Top of list view can have simple nav/filter to show only one state at a time, so we can keep the moderation-state label off of cards in list view if that helps simplify components.
 2. We could have a single route for /moderation/ and use query strings

[2017-06-08 17:34] mmmavis commented on #541
@xmatthewx @Pomax sure we can chat after the daily stand today if that works. /cc @alanmoo

I think the simpler way to do this is to
1. have one route `/moderation`
2. have controls on that page for moderators to filter entries by their approval state
3. when a moderator changes an entry's state, we simply update the state of that entry and nothing else (i.e., don't move it out from the current fi

[2017-06-08 17:39] xmatthewx commented on #541
Agreed on your first list of 1,2,3.

Endpoint things:
 1. cool
 2. we can use is_staff for now
 3. if I understand this correctly, and we don't use a param for filtered list, we should probably return 100+ entries. Approved will eat up that count, and it'll be hard to find an old Declined. You'll hit more many times.

[2017-06-08 17:48] xmatthewx commented on #541
No need to match my styles below. After you do a first pass, share a screenshot and we can clean up as needed. Only a few people will see this.

### List view

We can ignore search for now, unless it's easy. if not, follow up with that later.

<img width="537" alt="screen shot 2017-06-08 at 1 41 06 pm" src="https://user-images.githubusercontent.com/53411/26942462-2660991e-4c50-11e7-9b10-9a22bc84e5

[2017-06-08 17:54] xmatthewx commented on #564
cc @kristinashu for UX/UI input

[2017-06-08 19:42] xmatthewx commented on #541
Updated Moderation UI on list view and detail view above. This isn't going to win any awards – would welcome any input from @kristinashu.

[2017-06-08 19:45] xmatthewx opened #572 "Add API endpoint to toggle Featured state"
@Pomax –
 - Feel free to add details. or file this in a more sensible repo.
 - I'll put in this milestone's backlog as a stretch goal. is that okay?
 - Wanna estimate with @alanmoo?

[2017-06-08 20:43] Pomax commented on #570
that said we can also land that `ordering = ( ... )` line independently on the pulse-api side

[2017-06-08 20:45] Pomax commented on #572
- can do
- yep, sounds good
- if we tie it to is_staff, on the back end this is very little work, on the client it would need some UI design to add the toggle for people who should be able to toggle this, without being able to accidentally feature something.

[2017-06-08 20:53] xmatthewx commented on #541
Updated screenshot above didn't save for some reason. Trying again.

[2017-06-08 21:25] alanmoo commented on #572
Agreed, this is more front-end than back-end. I assume it would only show up when viewing an entry from the `/moderate/` route (or whatever we use client-side), just like the approval state?

[2017-06-08 21:42] kristinashu commented on #541
Dropdowns work for me but the additional Search seems over complicated.

[2017-06-08 21:56] alanmoo commented on #541
The search makes sense to me if you're trying to find a specific item to feature/unfeature and the moderation functionality is showing up only at a specific route. Even with Matthew's design suggestion, it's a little difficult to spot an entry and then feature it, as you'd have to relocate the entry in the "moderate" view, which is only slightly easier than jumping into the admin site.

If we went

[2017-06-08 22:08] kristinashu commented on #541
Oh ok, I thought those dropdowns were always visible to moderators (haven't been following too closely).

[2017-06-08 22:27] xmatthewx commented on #572
Yes. That was the idea. But worth discussing a bit more. cc @mmmavis

I see 3 options:

A: Moderation UI only appears in `/moderation/`, `/moderation?state=pending`, `/moderation?entry=234`

B: Moderation UI appears in `/moderation/` and on standard detail view for all entries `/entry/345/`

C: Moderation UI only appears in `/moderation/`. This view displays full cards with all details, so there's

[2017-06-09 00:37] Sudip7 commented on #571
@xmatthewsx : would u please provide some ideas on how the filter works for admin?

[2017-06-09 00:55] Sudip7 commented on #519
I would like to work on it.

[2017-06-09 03:17] xmatthewx commented on #519
thanks @Sudip7 !!

[2017-06-09 16:50] xmatthewx commented on #525
@acabunoc might be able to lend a hand. she has an interest in cleaning up the mozsprint stuff.

[2017-06-09 17:45] xmatthewx commented on #571
While viewing Entries on the backend, the right side box allows us to filter by `Moderation state`. It would be great to add a similar box to show entries that have `Featured` set as true.

@pomax could confirm, but I believe [Line 59 in admin.py](https://github.com/mozilla/network-pulse-api/blob/7c489e888a86b10a842fe3fee211c52558636b2b/pulseapi/entries/admin.py#L59) is where the magic happens.

<

[2017-06-09 21:31] Pomax commented on #571
you are correct, @xmatthewx

[2017-06-12 14:41] xmatthewx commented on #567
@cadecairos – I don't seem to have access to Production View Settings. Can I have more global admin access to GA? I can help manage staff access and I promise I want abuse the numbers 😉.

[2017-06-12 15:21] cadecairos commented on #567
@xmatthewx done!

[2017-06-12 15:34] xmatthewx commented on #567
rad. thanks @cadecairos. i updated the query, waiting to see if it actually works.

[2017-06-13 20:30] kristinashu commented on #564
That looks great!

[2017-06-13 20:34] mmmavis commented on #517
Oops, this is done. Forgot to close this ticket.

[2017-06-13 20:34] #517 closed

[2017-06-13 20:35] mmmavis commented on #517
https://www.mozillapulse.org/issues/online-privacy-and-security thanks @Sudip7

[2017-06-15 18:32] xmatthewx opened #573 "Implement 'Submitter is Creator' feature"
When someone adds an entry to Pulse, they are likely a creator. Let's allow people to identify this fact and link their user to creator. Model already allows for this relationship.

Requires Form(form + react-formbuilder) and API work

Design in #564

[2017-06-15 18:38] xmatthewx commented on #564
Design is good. Implementation continues in #573

[2017-06-15 18:39] mmmavis commented on #566
@xmatthewx I don't know what the best practices are for implementing GA events but I just wanna confirm that we want the `category` to be `Nav link` and not something like `View More button`? Currently clicking on any nav links will fire a GA event under the `Nav link` category with label being the `path` user is navigating to (e.g., `/latest`,  `/issues/`, etc)

[2017-06-15 18:40] xmatthewx commented on #573
If user submitting a new entry is also a creator, they check a box. We pull their name from user account. On submission we add creator and link to user.

<img width="389" alt="screen shot 2017-06-08 at 11 49 47 am" src="https://user-images.githubusercontent.com/53411/26937908-b8749ad6-4c40-11e7-8a35-1f5837ad300e.png">

[2017-06-15 18:49] hannahkane commented on #573
Might be a UX change - e.g. @Pomax's suggestion to use a button instead of a checkbox
Will need to modify library
Form builder needs to know the username

estimate is for front end and back end

[2017-06-15 18:52] Pomax commented on #568
A new version was released so we should be able to switch over to the new version and take out our "hack".

[2017-06-15 18:56] xmatthewx commented on #564
@kristinashu - do we have a checkbox style for pulse? something with decent size for mobile? could also be a toggle on/off.

[2017-06-15 18:56] xmatthewx commented on #573
Brought design question back to the design ticket.

[2017-06-15 19:02] xmatthewx commented on #566
GA is weird in how it counts and organizes Events. I might be wrong about this, but it feels like the right way to organize it. Category is more about views in GA, than about aggregation. Or maybe both.

Using the same Category allows us to see this list of actions in one view ... which is convenient in terms of understanding user intent:
 - Featured
 - Featured view more
 - Issues

The actions th

[2017-06-15 21:10] xmatthewx commented on #566
Behavior report is great, and we can already view that to include Pages and Events.

I'm immensely curious how far people are browsing. So I'd like to get this in there as an event, regardless of how we label it. Any other suggestions?

Google suggests using Categories fairly broadly to group things for reporting. ex: Category: Videos, Action: Play, Label: 'cat flip'. Play and Pause aren't Videos.

[2017-06-15 22:03] mmmavis commented on #566
@xmatthewx I'll implement what you have suggested above so it doesn't block us from moving forward. One thing to bring up is that I noticed that we have started adding temporary quick fixes here and there so hopefully we can find time soon to tidy up this codebase a bit. Otherwise I'm worried these temporary things will bite us in the near future.

Questions about the GA event label: `Label : [vie

[2017-06-15 22:10] mmmavis commented on #569
@xmatthewx any suggestion on what GA `category`, `action`, and `label` we should be using here?

[2017-06-16 01:17] mmmavis commented on #541
@xmatthewx

Question: If the list view for moderation is on `/moderation`  what the route should be for detail view (on moderation mode)?

[2017-06-16 05:19] xmatthewx commented on #541
@mmmavis – Totally up to you. We could use /moderation/123 or a parameter on /moderation?id=123.

We could also show all the entry content and moderation UI on the list view. Not necessary, but if it's simpler for you overall, that would be worth discussing.

[2017-06-16 20:16] xmatthewx commented on #566
Using Path sounds good.

We can pause this if you want, and take a look at how we handle all of these events. I started [a spreadsheet](https://docs.google.com/spreadsheets/d/1x-CP_HYaAs3oRv2cjbSFu8w5Z938E4cyHQ3hvh17c6c/edit#gid=1060389854) with some ideas, but feel free to propose alternatives. You'll see another tab for the network site.

What are some of the other temporary fixes you're worried

[2017-06-16 20:31] xmatthewx opened #574 "Clean up Analytics Event labels"
@mmmavis pointed out some room for improvement in how we categorize and label Events in Pulse.

Let's step back and revise.

[2017-06-16 20:34] xmatthewx commented on #574
@vojtechmzl - can you take a quick peek at [proposed](https://docs.google.com/spreadsheets/d/1x-CP_HYaAs3oRv2cjbSFu8w5Z938E4cyHQ3hvh17c6c/edit#gid=1060389854) Event labels for Pulse (second tab)?

I have to confess, I'm still not totally confident on how to best use Categories, or how verbose to be with Actions and Labels.

[2017-06-16 20:46] mmmavis commented on #541
@xmatthewx I like this idea and I think it'll save moderators' time from navigating between views. I *think* this is easier to implement than introducing another view so I'm gonna go with the direction until I hit obstacles in the way.

[2017-06-16 21:24] alanmoo commented on #541
I think this is the way to go too, now that there's a `moderator` key in the user info file that the API returns. The moderation can be baked into the normal components/views and only show up for a few moderators, as opposed to all staff. We should still have a `/moderation?state=` card view though, so moderators can find items that need approval.

[2017-06-19 19:22] Pomax commented on #570
PR open as https://github.com/mozilla/network-pulse-api/issues/134

[2017-06-19 19:34] Pomax commented on #443
The PR for this is over on https://github.com/mozilla/network-pulse-api/pull/135

[2017-06-19 19:48] Pomax commented on #548
given the changes that have been happening around pulse migrations, and the decision not to migrate for now, I would recommend we put up a simple redirect such that people who hit up `mozillapulse.org/admin` are sent over, with a URL change, to `api.mozillapulse.org/admin` instead.

[2017-06-19 21:10] #570 closed

[2017-06-19 23:00] kristinashu commented on #564
Only check boxes we use are the ones for issues (in the form). They are just the default ones, which are small but far enough apart from each other that it seems fine.

[2017-06-19 23:09] kristinashu commented on #493
Once we have added this to the Title field we should remove "Keep it simple. Name it, don't describe it." There is too much text on the form and the character count will keep people in check.

[2017-06-19 23:29] kristinashu opened #576 "Form loads partway down the page"
When I click on the + icon the form loads but the top is cut off. I have to scroll to the top of the page.

I see this on load:
<img width="1264" alt="screen shot 2017-06-19 at 4 28 11 pm" src="https://user-images.githubusercontent.com/1068783/27310039-557321e4-550c-11e7-9575-597ca05013bc.png">

This is on FF for mac.

[2017-06-20 16:52] #564 closed

[2017-06-20 16:53] xmatthewx commented on #533
bumping to next heartbeat. let's collaborate on categories.

[2017-06-20 18:17] mmmavis commented on #519
Hey @Sudip7 just checking if you are or still have the interests to work on this. If not that's totally fine. Just let us know and I will take care of it. 😉

[2017-06-20 18:25] mmmavis commented on #568
I'm afraid the "new version" hasn't been published yet.

https://www.npmjs.com/package/react-tag-autocomplete
<img width="357" alt="screen shot 2017-06-20 at 11 24 37 am" src="https://user-images.githubusercontent.com/2896608/27349102-16663f6e-55ab-11e7-98c8-1696e65b7a0c.png">

[2017-06-20 18:29] mmmavis commented on #566
Cool I can land this first and we will clean up GA labels in https://github.com/mozilla/network-pulse/issues/574

[2017-06-20 18:48] xmatthewx opened #578 "Design links to Network site"
Pulse is likely to receive a chunk of organic traffic via shares. It would be good to tell this audience about the network and its site.

Potential places for a link:
 - About entry
 - Footer
 - Issue landing

[2017-06-20 19:26] mmmavis commented on #574
I also have question about the weird lettercasing/capitalization that GA applies to `label` etc. Is there a way to turn that off?

[2017-06-20 19:55] xmatthewx commented on #567
There were 86 searches on Friday. Feature is live and well.

[2017-06-20 19:55] #567 closed

[2017-06-20 22:46] #576 closed

[2017-06-20 23:16] mmmavis commented on #528
It seems like the "published by" meta is not exposed by the API.  @Pomax can you confirm?

[2017-06-20 23:20] mmmavis commented on #528
I suggest that we tackle

in a followup ticket.

[2017-06-20 23:41] mmmavis commented on #568
nvm I my previous comment that back 😉 PR on the way!

[2017-06-20 23:50] kristinashu opened #580 "Create a deck to show vision for Pulse v3"
@xmatthewx started [this deck](https://docs.google.com/a/mozilla.com/presentation/d/14dLEg1UagoIwQkTGV4VRc6QN3UxraGyHFSqNJlRR9nQ/edit?usp=sharing) and we will continue to add to it.

[2017-06-21 14:56] #566 closed

[2017-06-21 16:31] vojtechmzl commented on #574
Hey @xmatthewx , sorry I didn't get to this earlier.

I think the proposed syntax makes sense. If we are particularly interested in the user journey on /add, then I would suggest adding an additional event for when someone successfully logs in. That would enable us to track attrition between the following steps:
User clicks/lands on /add -> User successfully logs in -> User encounters issues with

[2017-06-21 19:09] mmmavis commented on #528
@Pomax @alanmoo

Since I wanna learn Django and this seems like a good starter ticket to tackle... I'm gonna file a ticket on pulse api and assign it to myself!

[2017-06-21 22:14] xmatthewx commented on #580
@kristinashu – a diagram could help us explain the next phase of Pulse and how it will reveal connections, help us build new ones. Would also be useful for the Affinities session I'm planning with Jesse for all hands.

If we could work at a whiteboard together! But we can't. So I took a brief stab at it. It's not great. I dropped the Sketch file in drive. Want to try something different?

It's try

[2017-06-21 22:18] mmmavis commented on #511
@kristinashu now that #488 is done, can we remove splash page altogether?

[2017-06-21 22:38] mmmavis commented on #511
PR filed!

[2017-06-21 22:44] mmmavis commented on #454
@Sudip7 @xmatthewx now that we allow anyone with Google account to log in, is this still an issue? If not let's close this ticket ✨

[2017-06-21 23:03] mmmavis commented on #481
I added a separate task `optimize` instead as having it as part of `build` would slow down the development cycle.

[2017-06-21 23:35] kristinashu commented on #511
Awesome!

[2017-06-22 16:26] xmatthewx commented on #454
Yep! Closing.

[2017-06-22 16:26] #454 closed

[2017-06-22 16:52] #511 closed

[2017-06-22 17:07] mmmavis opened #585 "Add Travis and Appveyor status badge to README"

[2017-06-22 17:39] #585 closed

[2017-06-22 17:46] mmmavis opened #587 "Update to npm v5 and node to v8"
/cc @gvn

[2017-06-22 22:21] omnignorant opened #588 "Add ATXH4C tag to projects"
Can we please add the ATXH4C tag to the following projects [389, 347, 224, 218]:
* https://www.mozillapulse.org/entry/347
* https://www.mozillapulse.org/entry/389
* https://www.mozillapulse.org/entry/224
* https://www.mozillapulse.org/entry/218

[2017-06-22 22:57] #481 closed

[2017-06-22 23:22] #587 closed

[2017-06-23 16:15] xmatthewx commented on #588
@omnignorant – We can add that tag for you. Or, we could add `hack for change` so it's meaningful to the unacquainted, and so that people have a chance to discover that stuff from other places. I'm betting you already have `austin` on these.

[2017-06-26 15:21] omnignorant commented on #588
Hi @xmatthewx good suggestion! Can we keep both the `hack for change` and the `atxh4c` tags (because I've already linked to it). Can we also add the `hack for change` tag to these projects?
* https://www.mozillapulse.org/entry/387
* https://www.mozillapulse.org/entry/388

[2017-06-27 00:13] hannahkane commented on #588
Added all these tags.

[2017-06-27 00:13] #588 closed

[2017-06-27 18:38] Pomax commented on #535
looks like the client hasn't switched quite yet. Once it does, we'll track removing the old routes over in https://github.com/mozilla/network-pulse-api/issues/144

[2017-06-27 18:40] Pomax commented on #247
We have a pulse channel set up in Slack that gives staff a clear place to listen for updates to the stream. Closing this for now, and if we decide we want more external advertisement (a la planet mozilla) we can file a new issue specifically for the medium/avenue in question.

[2017-06-27 18:40] #247 closed

[2017-07-03 16:19] xmatthewx opened #591 "Optimize user image uploads"
Users will sometimes upload crazy big images. We should limit on kb and/or resolution if that isn't already in place.

@Pomax has a suggestion here: https://github.com/mozilla/network-pulse-api/issues/142#issuecomment-311442297

[2017-07-03 18:32] xmatthewx commented on #533
I've created a [spreadsheet](https://docs.google.com/spreadsheets/d/17nzi7TPFXrog3-lALBrrqCXyuiOiF27hc4vRmh7ELqw/edit#gid=0) with all 'get involved' text on current entries. i've started identifying common categories. several are obvious, a few are fuzzy. i'd welcome input from @kristinashu @taisdesouzalessa @hannahkane on this.

In the end, we'll probably want 6 or so (12 max) categories a creato

[2017-07-03 21:33] hannahkane commented on #533
Nice. I added some comments/questions to the first sheet, and started a second sheet to offer a possible configuration of suggested categories. Would love to see others' proposals.

[2017-07-04 04:17] Sudip7 commented on #519
hey @mmmavis , I was out of town and away from network. I really enjoy working with the team. Will look into it soon.

[2017-07-04 17:22] acabunoc commented on #525
Is there a db schema I can look at? I ❤️ SQL
@Pomax

[2017-07-04 17:32] mmmavis commented on #519
Hey @Sudip7 no worries at all. There's no rush or pressure here. I just wanted to make sure ticket doesn't get stale that's all! :)

[2017-07-04 20:16] Pomax commented on #591
For thimble we implemented this with some custom javascript that can be found in https://github.com/mozilla/brackets/blob/master/src/filesystem/impls/filer/lib/ImageResizer.js -- in order to adapt it for the Pulse client we would have to shim the bits of `pica`, which shouldn't be too much work (the only reason that code uses `pica` is because canvas does not work in a service worker, whereas for

[2017-07-04 20:18] Pomax commented on #525
@acabunoc it's a pretty basic schema, with a Django definition over in https://github.com/mozilla/network-pulse-api/blob/master/pulseapi/tags/migrations/0001_initial.py: it's just an `id`, and a `name` field that is a Django `charfield with max length 150` (we're using postgres as our dbms)

[2017-07-05 09:04] Sudip7 commented on #556
@mmmavis any suggestions or updates for this ticket?

[2017-07-05 17:00] xmatthewx opened #594 "Optimize search (query all fields)"
Search should be searching all available fields. Currently, it doesn't seem to search the Contribute field. If a project says they need help with code or js and someone searches for code or js, there's no way for a user to find that project.

[2017-07-05 17:11] xmatthewx opened #595 "Localize Pulse interface"
Localize UI and input form.

[2017-07-05 17:25] xmatthewx commented on #533
After dissecting things in the spreadsheet, we're reviewing options in [this doc](https://docs.google.com/document/d/1fRYs5YZMaEgX36eIOLTu-j2THtqlRWry_loZryvL0cI/edit#)

[2017-07-05 20:03] xmatthewx commented on #533
We have a solid draft list. A few questions on the bottom three items.

Any gaps? Ambiguous terms?

 - Code
 - Design
 - Test & feedback
 - Promote
 - Mentor
 - Localize & translate
 - Fundraise
 - Write (content, copywriting, & documentation)
 - Attend (best for global and online events accessible to anyone, especially events that repeat)
 - Plan & organize
   - Too vague a term? It could be oppo

[2017-07-05 20:14] taisdesouzalessa commented on #533
Yay, this is pretty cool, Matthew! I think it covers the majority of cases we had. I just have 2 observations:
1. Localize and translate seem super close to me as terms (I can't differentiate them). Maybe it makes sense to the audience but not to me?
2. In the last bullet point, I think "Join Campaign" works better because "Take Action" is very broad (one could say that "Plan and Organize" is also

[2017-07-06 16:24] xmatthewx commented on #533
I just worry that people [might not be familiar](https://trends.google.com/trends/explore?q=localize,translate) with the word Localize. I didn't know it pre-Mozilla even though I had localized a museum's website! This list is gonna eat up a lot of space regardless.

Agreed

[2017-07-06 16:29] xmatthewx commented on #533
UX-wise, I'm thinking we could do this as active/inactive buttons, instead of checkboxes, to save space.

`Attend`  `Code`  `Design`  `Fundraise`  `Localize & translate`  `Mentor`  `Plan & organize`  `Promote`  `Take Action`  `Test & feedback`  `Write & document`

[2017-07-06 16:31] hannahkane commented on #533
I think a meaningful difference between "localize" and "translate" is that localize might refer to not a direct translation of content, but actually changing the content itself (e.g. activities, images, cultural references) to make it locally relevant. It might fit better under something that essentially means "create content" (though I don't think the current iteration of "Write" entirely capture

[2017-07-06 16:57] kristinashu commented on #533
All sounds good! I also like the idea of using active/inactive buttons for the tags.

[2017-07-06 17:01] xmatthewx commented on #533
@taisdesouzalessa suggests `Create content` instead of `Write`. I believe @hannahkane agrees. And, since that's a creative task, she also suggests we keep `Document` separate. Makes sense to me.

I wish Documentation was a verb. Is `Create documentation` better than `Document`?

[2017-07-06 20:18] acabunoc commented on #525
started thinking about lowercasing them all:
https://gist.github.com/acabunoc/692e07d7420db33567f3d09595ce5319

Not sure this will be helpful!

[2017-07-06 20:36] taisdesouzalessa commented on #533
I think that we should either use "Document" or "Write documentation" (not sure "Write documentation" is the best term though...any other ideas?). The reason being we are already using "Create" in "Create Content" and having another label starting with the same verb can work against scannability.

[2017-07-06 20:49] xmatthewx commented on #533
`Attend`  `Create content` `Code`  `Design`  `Fundraise`  `Localize & translate`  `Mentor`  `Plan & organize`  `Promote`  `Take Action`  `Test & feedback`  `Write documentation`

[2017-07-06 21:06] acabunoc commented on #533
@xmatthewx this list looks good to me!

This might fit under 'Test & feedback' but have you considered 'Discuss'? A lot of times people just want to talk about ideas that still kind of vague.

[2017-07-06 21:06] xmatthewx commented on #525
Brilliant. I'm not the most qualified to review the syntax, but the logic looks sound to me!

cc @cadecairos

[2017-07-07 17:27] kristinashu commented on #580
Based on the deck, these are my next steps in order of priority:
- [ ] Expanded profile page: quote, affiliation ...
- [ ] Expanded profile page: Surface a person's top tags based on their associated projects
- [ ] Expanded profile page: Link to [Story Engine](https://storyengine.io/) interview
- [ ] Quick Explore: Search, Tags, Discover people ...
- [ ] Deck: User stories
- [ ] Deck: Network diag

[2017-07-07 17:44] xmatthewx commented on #533
Interesting. It's similar to feedback but maybe we need something like `Join community`.

[2017-07-07 17:54] xmatthewx commented on #533
@amirad @chadsansing @omnignorant – in Pulse, we plan to give authors a checklist of categories of Help to go along with the Get Involved text and link. That way, people can more easily discover code opportunities etc. We teamed up to write the list below, based on what people have submitted so far.

I thought you three and @acabunoc would have good insight on whether this list aligns with what yo

[2017-07-07 17:58] chadsansing commented on #533
@xmatthewx, first response is to consider things like, "help to design," and "help to improve."

I will chime back in if other ideas arrive :)

[2017-07-07 18:10] Pomax commented on #525
@xmatthewx, @acabunoc I'm not a fan of just blanket-lowercasing tags. There are plenty of acronyms and words where capitalisation makes an appreciable difference. and lowercasing them as a tech solution actually makes the content less "right".

I would prefer a solution where we "don't insert a new tag if case-insensitive compare tells us the tag already exists", so rather than forcing everything

[2017-07-07 18:18] kristinashu commented on #527
Related to https://github.com/mozilla/network-pulse/issues/533

[2017-07-07 20:51] xmatthewx commented on #525
@Pomax, alrighty. We can continue to allow users to create mixed-case tags, and rely on autocomplete to avoid unintentional differences in the future, ... if we clean up the existing mess. It'll disrupt discovery and a tracking/revealing trends too much.

I don't understand your suggestion. Probably because it's late on Friday.

Also... currently, our url paths .../tags/DIY and .../tags/diy reveal

[2017-07-10 21:12] Pomax commented on #525
That sounds like a reasonable approach except for point 5. In terms of usability you want to be able to show tags with the correct casing, but *match* tags on any case. As an example, if I visit `.....?tags=IoT` then that should yield the same results as `.....?tags=iot` or `.....?tags=IOT`.

Building on that list, I see the following tasks here:

- [ ] api side: compile a list of tags where case

[2017-07-11 18:28] mmmavis opened #596 "Pull "issues" from API instead of hardcoding them"
Pull "issues" from API instead of hardcoding them.

related comment: https://github.com/mozilla/network-pulse/pull/590/files#r124359117

[2017-07-11 22:03] Pomax opened #597 "add issue descriptions to individual issue pages"
followup on #590: right now `/issues` will show name + desc, but `/issues/decentralization` etc. do not have a little heading with the description for decentralization.

[2017-07-11 22:06] #568 closed

[2017-07-11 22:07] #516 closed

[2017-07-11 22:08] mmmavis commented on #597
+1 on this

@xmatthewx @kristinashu what do you think? If we all agree can I get a quick mockup for this?

[2017-07-11 22:16] kristinashu commented on #597
I don't think it's necessary to show the description for decentralization on issues/decentralization. It's a nice intro to see it on /issues screen (we only added it to fill the blank space) but I think it's a little much to have on the actually content pages. It will push the key content down (especially on mobile).

[2017-07-11 22:19] kristinashu commented on #490
Zilla is now available on Google Fonts so we should update!

https://fonts.google.com/specimen/Zilla+Slab

[2017-07-11 22:24] #541 closed

[2017-07-11 23:54] mmmavis commented on #519
PR https://github.com/mozilla/network-pulse/pull/575 fixed this issue. I will close this ticket once the fix is live on production.

[2017-07-12 00:15] mmmavis commented on #310
@kristinashu any suggestion on what we should show users after they click "import favs"? I was thinking displaying some sort of confirmation message without the use of modal dialog 😂

[2017-07-12 00:20] kristinashu commented on #310
I guess we could replace the grey text that says "Did you add favs..." with something like "Your favs have been successfully imported."

[2017-07-12 05:13] hannahkane commented on #310
@kristinashu - what do you think about simply "Your favs have been imported." I think "successfully" isn't needed.

[2017-07-12 17:19] kristinashu commented on #310
Yes, much better!

[2017-07-12 18:03] Pomax commented on #597
I'd like to raise two use cases that might not have been considered, though: it would be mighty helpful for people who are following any social media link that drops them straight into a specific issue. Seeing a lead-in text that explains what you're looking at is super valuable, rather than just seeing a grid of entries without any explanation of what this grid represents. The second use-case tie

[2017-07-13 14:37] xmatthewx commented on #525
Glad to hear that a django migration can make this simpler.

I believe we can check off those last two items of yours. That seems to be the current behavior.

@Pomax – can you take a look at current list, see if we have any meaningful case differences?

How should we prepare for django migration? How can @acabunoc or I help prep [the tags](https://public.etherpad-mozilla.org/p/network-pulse-tagz-m

[2017-07-13 15:04] xmatthewx commented on #541
Woohoo! Thanks @mmmavis. Thanks all. This looks great.  🥇

[2017-07-13 17:28] xmatthewx commented on #597
Can I agree with both sides?

I don't want to push down content since Pulse's primary audience is active participants and creators. The network site is better equipped to provide context and tell the bigger story for unacquainted visitors who are confused/interested. We could add a more info link at the top of pulse/issues/decentralization to the network site's [about page](https://network.mofopro

[2017-07-13 17:35] Pomax commented on #597
I'm mostly thinking of things where someone posts a link to our site on facebook or hackernews or the like. Even if it's not our intended audience, it feels like rather than "what am I looking at?" we want to illicit at least an "oh nice" reaction when a few thousand people click through =D

So as an idea: what if we add the description if the user is not logged in? Our "real" users will invariabl

[2017-07-13 18:11] hannahkane commented on #519
@mmmavis says to close, so closing :)

[2017-07-13 18:11] #519 closed

[2017-07-13 19:04] alanmoo commented on #572
@arush0311 this may be something you can work on, let's discuss and clarify the needs

[2017-07-13 19:04] mmmavis commented on #572
Update: We went with option C mentioned in https://github.com/mozilla/network-pulse/issues/572#issuecomment-307244475

[2017-07-13 19:06] Pomax opened #599 "Add link on form for info on 5 issues"
refiled from https://github.com/mozilla/network/issues/547

When people submit an entry to Pulse, we offer 5 issue categories. Would be useful to link to more info on Internet Health and the 5 issues.

Link: https://network.mofoprod.net/about#internet-health

Note: anchor needs to be added to the site's page

<img width="604" alt="screen shot 2017-07-06 at 2 34 37 pm" src="https://user-images.gith

[2017-07-13 19:08] alanmoo opened #600 "Add Open Graph tags across site"
The site should have Open Graph tags attached to each of its pages to describe the content, so that this can be picked up when posting links to social media like facebook or twitter.

We can start by ensuring that entries emit their title and description using Open Graph `<meta>` tags.

[2017-07-13 19:10] alanmoo commented on #571
@arush0311

[2017-07-13 19:11] alanmoo commented on #571
@Sudip7 were you still looking to help out with this? If not, @arush0311 do you want to take it?

[2017-07-13 19:14] arush0311 commented on #571
I would love to!

[2017-07-13 19:17] alanmoo commented on #591
@arush0311 this would be a great issue to work on

[2017-07-13 21:30] xmatthewx opened #601 "Update form with Help categories"
@kristinashu – can we mock up the form so we can begin implementation next week? Filing as new ticket so we can close #533.

We might want a Get Help section, splitting up Optional Details. This would include current description and link, and new help tags (as buttons you can toggle on/off).

Categories: `Attend`  `Create content` `Code`  `Design`  `Fundraise`  `Join community` `Localize & transla

[2017-07-13 21:30] xmatthewx commented on #533
thanks. closing. tracking form design for implementation here: #601

[2017-07-13 21:30] #533 closed

[2017-07-13 21:32] xmatthewx commented on #537
Tracking updates to form here: #601

[2017-07-14 03:24] xmatthewx commented on #572
Yes... @arush0311 this would be very useful. It would really help our moderators easily keep the featured tab fresh ... and that also feeds the network site features as well...

[2017-07-14 14:15] arush0311 commented on #572
just some questions regarding
-

[2017-07-14 14:18] arush0311 commented on #572
Just some question regarding @Pomax 's comment

If we create a toggle we can accidently feature something cant we? Am i missing something?

[2017-07-14 14:46] xmatthewx commented on #572
Thanks @arush0311 – for this ticket, you can just worry about the api endpoint. We'll do some frontend design to figure out how to prevent accidents. I'll go file that ticket now...

[2017-07-14 14:52] xmatthewx opened #602 "Design moderator Feature toggle"
Pulse now allows moderators to approve pending entries. It'd be great if they could also Feature an item for display on the Feature tab.

Note: ability to feature should only appear on approved entries.

While we design the toggle/checkbox, we should also consider how we visually confirm that the change was made, both for this and pending state change. Right now, it's unclear if anything happened.

[2017-07-14 18:57] xmatthewx commented on #535
can this ticket be closed? or is it still relevant?

[2017-07-14 19:20] xmatthewx opened #603 "Prevent commas in tags"
Tag ID 524 ends `Cyberbullying,`. Let's strip commas. Or, should we limit to alphanumeric characters?

I checked DB and it seems like this only happened once. Might be a weird edge case bug.

[2017-07-14 19:36] xmatthewx commented on #525
@Pomax – if you can create a model migration script or two, the rest of the team can help prep specific cases.

We have 3 types generally (details in [pad](https://public.etherpad-mozilla.org/p/network-pulse-tagz-merge)):
 1. [ ] merge mixed-case tags to single lowercase tag
 2. [ ] remove issue-as-tag. add issue-as-category if not already there (ex: `decentralization`)
 3. [ ] merge variations in

[2017-07-14 20:01] arush0311 commented on #591
Should we create a django widget for image field that take care of all this? I could also be combined with image preview!

[2017-07-14 20:51] alanmoo commented on #591
Does something exist already that we could pull in, perhaps that supports queries/multiple versions for use in the `<picture>` element?

[2017-07-14 21:13] xmatthewx opened #604 "Extend People Profiles"
Pulse has lots of interesting people – project creators and people connectors. This epic aims to surface these people, extend discovery, and allow users to share information about themselves.

 - Entry includes creators and submitter
 - Names link to profile view when available
 - Profile view lists person's related entries (created, submitted, fav'd)
 - User has means to edit profile fields (desi

[2017-07-15 11:40] arush0311 commented on #591
Do you want to upload multiple versions of a single image?

[2017-07-15 14:22] arush0311 commented on #138
Are we talking about progressive web apps? https://github.com/cubiq/add-to-homescreen

[2017-07-15 14:27] arush0311 commented on #153
Can I take this?

[2017-07-15 19:20] alanmoo commented on #591
That's the idea- allow an editor to select what the cropping looks like at various breakpoints so we don't end up with someone's head being cropped out on small devices, for example.

[2017-07-15 19:35] arush0311 commented on #591
wouldn't we wanna resize the image (and not crop it on smaller devices?)

[2017-07-16 03:50] alanmoo commented on #591
Not necessarily. See https://cloudfour.com/thinks/responsive-images-101-definitions/#artdirection

[2017-07-17 16:09] Pomax commented on #591
@alanmoo @arush0311 we'll want to do this in a few steps, and not conflate the work involved with nice to haves:

1. see if there is already a django widget that does what we want. Even if we have "most of the code" already somewhere else, if *all* the code already exists as a django widget, we should just use that.

Failing that, the steps I see here are:

1. take the code and make it possible to

[2017-07-17 16:18] Pomax commented on #599
This will need a design pass for the presentation of the link. @kristinashu do you have ideas for this?

[2017-07-17 16:26] xmatthewx opened #605 "Design frontent Feature Moderation"
description coming...

api work here #572

[2017-07-17 16:33] humphd commented on #591
https://github.com/humphd/brackets/blob/cb0c681f9b28115b97a50d6eb4730d6c37973560/src/filesystem/impls/filer/lib/ImageResizer.js is the bulk of that code, fwiw.

[2017-07-17 17:17] xmatthewx commented on #138
@arush0311 – Yes, and... I don't think we should prioritize this feature right now.

[2017-07-17 17:22] xmatthewx commented on #594
@arush0311 – this could be an interesting ticket for you to consider.

[2017-07-17 19:05] kristinashu commented on #599
We can just make "Key Internet Issues" a blue link (e.g. same blue and then underline treatment as "Get Involved" https://www.mozillapulse.org/entry/392). Is that what you had in mind @Pomax?

[2017-07-17 20:28] #571 closed

[2017-07-18 17:22] xmatthewx opened #606 "Project Help Categories"

[2017-07-18 17:23] xmatthewx commented on #606
blarhg. closing.

[2017-07-18 17:23] #606 closed

[2017-07-18 17:24] xmatthewx opened #607 "Enable Project Help Categories"

[2017-07-18 18:13] Pomax commented on #599
That sounds good - so rather than link each individual issue to its own description, we link to the main overview `mozillapulse.org/issues` page?

[2017-07-18 18:14] Pomax commented on #535
this can be closed, the staging pulse client now uses `/api/pulse`

[2017-07-18 18:14] #535 closed

[2017-07-18 18:30] kristinashu commented on #599
Yes, perfect!

[2017-07-18 18:31] Pomax commented on #599
@Sudip7 is this something you would be interested in tackling?

[2017-07-18 18:46] mmmavis commented on #310
@xmatthewx not sure if there's a Zenhub way to link this issue with the api issue but here is the api ticket https://github.com/mozilla/network-pulse-api/issues/118

[2017-07-18 18:53] Pomax commented on #601
Some things:
1. form: if help categories are chosen, the "link to get involved" cannot be blank.
2. site: do we need a way to show "all entries with needs-help-on-xyz"?

[2017-07-18 18:53] xmatthewx commented on #601
For this sprint, MVP is just checkboxes.

Do we require get involved link if help categories are checked?

[2017-07-18 18:59] xmatthewx commented on #537
mvp is tags with current layout

[2017-07-18 19:18] gideonthomas commented on #310
@mmmavis at the top of the issue below the description, you can "add dependency", maybe that's what you're looking for?

[2017-07-18 22:06] xmatthewx commented on #605
duplicate of #602

[2017-07-18 22:06] #605 closed

[2017-07-19 16:43] xmatthewx opened #608 "Sync User Favs"
Adding this as an epic so we have an epic for all main areas of focus.

[2017-07-19 19:22] xmatthewx commented on #153
Sure. This isn't as high priority as some of the other tickets you've mentioned, but would be a nice addition.

We'd want to manage a list of suggested terms in django, since it's too early to generate a good list. So we'll need to create that model, api, and then frontend pieces.

Phrase before the list: "You might also like..." instead of "popular" etc.

[2017-07-20 14:59] xmatthewx commented on #601
Mockup below. Note:
 - I moved image field up to add a new section header
 - No need to actually limit to people to 3 categories. Nobody will get injured if we don't validate that. Let's discover that we actually need it before we put in the work.

<img width="704" alt="screen shot 2017-07-20 at 10 56 31 am" src="https://user-images.githubusercontent.com/53411/28423871-320d7236-6d3a-11e7-9ca5-aac1

[2017-07-20 16:07] xmatthewx opened #609 "Design UI for People views"
Continuing work started in [v3 deck](https://github.com/mozilla/network-pulse/issues/580#issuecomment-313744096), complete UI to prep for implementation.

 - [x] Entry includes creators and submitter
 - [x] Names link to profile view when available
 - [x] Profile view lists person's related entries (created, submitted, fav'd)
 - [ ] User has means to edit profile fields (design pending)
 - [ ] Pul

[2017-07-20 17:50] Pomax commented on #603
This might be a bug, commas should trigger a tag finalization.

[2017-07-20 17:53] Pomax commented on #603
You can no longer do this by typing a comma, but you *can* make this happen by pasting a string of tags... the tag handler only looks at what is typed and currently lacks the sophistication to check inside a string that got pasted in.

[2017-07-20 17:55] Pomax commented on #603
I've filed https://github.com/i-like-robots/react-tags/issues/84 to see if this is something that can be addressed in the tag component we're using.

[2017-07-20 19:26] kristinashu commented on #601
Looks good to me!

[2017-07-20 21:31] xmatthewx commented on #603
Should we mark this as blocked for now?

[2017-07-21 17:01] xmatthewx commented on #525
Ping @Pomax – let's try and unlock this clean and merging of tags. Happy to help with legwork, just need some guidance from you or @gideonthomas if we're going to do this as django migration rather than with sql.

[2017-07-21 17:25] #594 closed

[2017-07-21 17:59] #572 closed

[2017-07-21 18:18] #528 closed

[2017-07-21 18:40] xmatthewx opened #612 "Finalize Profile fields"
We have an idea of the fields in mockups and on network profiles, but should finalize a list here. List should be split into fields for everyone (e.g. linkedin url), and fields hidden unless unlocked by an admin (e.g. role).

[2017-07-21 21:30] kristinashu commented on #609
Adding designs to https://redpen.io/p/of380006b3156e2c51

[2017-07-21 22:39] Pomax commented on #601
Working on the PR for this atm, do we have short summary descriptions to go with each of those help types?

[2017-07-21 22:45] #520 closed

[2017-07-24 14:02] xmatthewx commented on #601
We don't, but that's a good idea. It would take a little exploration to figure out where and how we'd display that. Probably best as a follow up item.

[2017-07-24 19:54] Pomax commented on #601
yeah, we'll define the model with a placeholder for descriptions but just set them to the string `...` for now and then we can always update and expose them later.

[2017-07-24 20:08] xmatthewx commented on #612
Draft list...

Open to all Users:
 - Name
 - Location (city, country)
 - Image
 - Twitter URL
 - Linkedin URL
 - Website URL
 - 5 Issues (which they care most about)
 - Bio (short, twitter like)

Unlocked by moderator for User:
 - Role (within the network)
 - Partnership logo
 - Quote
 - Affiliations (companies, nonprofits, universities, orgs, projects)
 - Interview URL (currently story engine. Me

[2017-07-24 20:08] xmatthewx commented on #612
@Sydette @jessevondoom – any additional fields? These fields will be used both by [profile view on pulse](https://docs.google.com/presentation/d/14dLEg1UagoIwQkTGV4VRc6QN3UxraGyHFSqNJlRR9nQ/edit#slide=id.g1f81451dc0_0_4) and should serve [featured people on Network site](https://network.mofoprod.net/people/).

[2017-07-24 20:39] xmatthewx commented on #612
- Skills – We should offer users a list of skills that match our [help categories](https://github.com/mozilla/network-pulse/issues/601#issuecomment-316730609). So we can do match-making. Fun!

[2017-07-24 20:57] xmatthewx commented on #525
I've simplified things. Gathered all the tags again and dropped them into a [spreadsheet](https://docs.google.com/a/mozilla.com/spreadsheets/d/14VrDqX_qlthS8_SeHcvfkw2vXcxJy891PpjSi8ZUFaE/edit?usp=sharing) with action required. Fewer items to migrate overall.

[2017-07-25 17:54] alanmoo commented on #525
This thread has become a bit confusing. To sum up, the current ask is for:

A series of migrations in Django to
 * merge mixed-case tags to single lowercase tag
 * remove issue-as-tag. add issue-as-category if not already there (ex: decentralization)
 * merge variations into single tag (ex: game, games) as indicated [here](https://docs.google.com/spreadsheets/d/14VrDqX_qlthS8_SeHcvfkw2vXcxJy891Ppj

[2017-07-25 18:13] xmatthewx commented on #525
yes! that's correct!

[2017-07-25 20:55] gideonthomas commented on #525
I think in general you should be able to write a django migration that does all of the above and might be a bit easier than writing PL/SQL (but this really depends on what you're comfortable with). What you're looking for is a data migration - https://docs.djangoproject.com/en/1.11/topics/migrations/#data-migrations.

I think you can pretty much adapt @acabunoc's sql script above into django code:

[2017-07-25 22:00] #310 closed

[2017-07-25 22:09] mmmavis commented on #608
@xmatthewx @hannahkane @kristinashu @Pomax @alanmoo

This is on [staging](https://network-pulse-staging.herokuapp.com/favs) now. Please help with testing so we know if it's good to push to production.

## For logged in users
**Import `localStorage` favs to backend**

If you have previously fav'ed any entries, when you go to the Fav tab you will see the import prompt like

<img width="998" alt="scr

[2017-07-25 22:14] kristinashu commented on #608
Nice, seems to be working well for me!

[2017-07-26 13:53] alanmoo commented on #608
Great, this behaves exactly as I'd hope. Nice work!

[2017-07-26 16:39] kristinashu commented on #489
@xmatthewx can we put this one into our next heartbeat?

[2017-07-26 17:00] kristinashu commented on #602
Would this work?

When a user is in Approved drop down, they see a check box. If they check it then that post will be featured.
<img width="363" alt="screen shot 2017-07-26 at 9 56 45 am" src="https://user-images.githubusercontent.com/1068783/28633465-c165aad6-71e8-11e7-825c-ac4e2b87d793.png">

We could also add "Featured" to this v drop down so users only see what is featured there.

<img width="

[2017-07-26 17:24] alanmoo commented on #525
Thanks @gideonthomas- do you, @acabunoc, or @cadecairos have the bandwidth/desire to open a PR for this? Even if it's not a complete one (all tags that need transforming), getting the scaffolding of it together would be helpful.

[2017-07-26 17:26] kristinashu opened #614 "Update font to Zilla"
Zilla is now on google fonts https://fonts.google.com/specimen/Zilla+Slab so we should update to match [Mozilla's new brand direction](https://mozilla.ninja/).

New designs are here: https://redpen.io/p/of380006b3156e2c51

Everything should be Zilla with the exception of the following, which should be Open Sans:
- main nav
- button text
- tab nav (only seen in new v3 design)

[2017-07-26 17:30] xmatthewx commented on #602
+1 on both things. Looks like the API work is now done, so we should be ready to implement.

@kristinashu give moderation a try on the site. I think we need a way to indicate that a change succeeded. It feels unsure when you change a drop-down. Doesn't need to be complicated. It could be a blink of border color.  Or maybe the text color changes while pending and then finalized by server.

[2017-07-26 17:33] xmatthewx commented on #614
Someone mentioned that the reverse highlight version wasn't available yet. I guess that affects Pulse less than network site, but might be good to do it all at once.

[2017-07-26 17:35] kristinashu commented on #602
I did try updating the status of a post and it seemed pretty clear to me that it worked. The text in the dropdown changes from e.g. "Approved" to "Pending" which seems good. Are you getting a delay? It was pretty instant for me.

[2017-07-26 17:36] gideonthomas commented on #525
I unfortunately don't at the moment, sorry.

[2017-07-26 17:38] kristinashu commented on #614
Right, Pulse doesn't use the reverse highlight so it shouldn't matter (also, not sure they will ever have the reverse???).

[2017-07-26 17:43] xmatthewx commented on #602
I think that @hannahkane also said she felt unsure if the change actually went through. True? If so, this will matter more if/when we pull in more moderators. Again, we don't need to worry about this to move the feature checkbox and filter to engineering.

[2017-07-26 17:46] xmatthewx commented on #525
@acabunoc do you have the know-how to do this django-wise?

Note: the spreadsheet includes a count of how many times a tag is used. We can land lowercasing and then start with big wins, quit when payoff drops too low.

[2017-07-26 18:27] xmatthewx opened #615 "Help + Skills matchmaking"
Soon, a user will be able to mark an entry with help categories. Soon after, we'll have user profiles that include a corresponding Skills or "ways I can help" categories. This gives us the ability to do some match-making!

**UX** a user could view their favs and down below, we could display a list of projects that could benefit from their help. Or, maybe we flag entries everyone with an indicator

[2017-07-26 18:30] xmatthewx commented on #615
We'll need to map our help categories. It's not 100% 1:1, but I think that's ok. We just match where it's meaningful.

| Help Needed | Help Offered |
| --- | --- |
| Attend | --- |
| Create content | Create content |
| Code | Code |
| Design | Design |
| Fundraise | Fundraise |
| Join community | --- |
| Localize & translate | Localize & translate |
| Mentor | Mentor |
| Plan & organize | Plan & o

[2017-07-26 18:31] xmatthewx commented on #615
cc @kristinashu - I know that Profiles are already packed, but let's consider how these help tags might appear. Someone behind a project could then browse people who have stated they're willing to help with xyz and reach out via twitter.

[2017-07-26 19:28] xmatthewx commented on #608
Works perfectly. The experience is surprisingly easy peasy.

[2017-07-26 19:28] xmatthewx commented on #608
🚀 🎸 💥 🥇

[2017-07-26 20:23] mmmavis commented on #378
This was fixed as part of https://github.com/mozilla/network-pulse/pull/610 .

[2017-07-26 20:23] #378 closed

[2017-07-26 20:32] kristinashu commented on #55
I think now we can close this, @xmatthewx?

[2017-07-26 20:35] #55 closed

[2017-07-26 20:35] xmatthewx commented on #55
Issue moved to [mozilla/network #601](https://github.com/mozilla/network/issues/601) via [**ZenHub**](https://www.zenhub.com/)

[2017-07-26 20:37] kristinashu commented on #81
@xmatthewx can we close this?

Numbers have been added to issues.

[2017-07-26 20:39] #156 closed

[2017-07-26 20:39] xmatthewx commented on #81
Sure we can close it. But I do hope to come back to the idea this fall.

[2017-07-26 20:39] #81 closed

[2017-07-26 20:41] #421 closed

[2017-07-26 20:42] #490 closed

[2017-07-26 21:38] kristinashu opened #616 "Implement moderator Feature toggle"
Design moderator Feature toggle #602
API endpoint in #572

On https://www.mozillapulse.org/moderation with "Approved" dropdown selected, a users will see an additional check box. If they check it then that post will be featured.
<img width="363" alt="screen shot 2017-07-26 at 9 56 45 am" src="https://user-images.githubusercontent.com/1068783/28633465-c165aad6-71e8-11e7-825c-ac4e2b87d793.png">

We

[2017-07-26 21:38] kristinashu commented on #602
I've opened - Implement moderator Feature toggle #616

[2017-07-26 22:06] mmmavis commented on #537
@xmatthewx @kristinashu where does the help label take you? to a page on `/help-types/typeofhelp` ?

[2017-07-26 22:20] kristinashu commented on #537
I'd say either `/getinvolved/typeofhelp` or `/help/typeofhelp`?

[2017-07-27 00:28] xmatthewx commented on #537
Yep, I think `mozillapulse.org/help/code` is simple, clear, and easy to remember.

[2017-07-27 17:26] mmmavis commented on #537
Cool, I just created a ticket on API repo for the API to allow filtering entries by help type: https://github.com/mozilla/network-pulse-api/issues/165

[2017-07-27 17:43] #601 closed

[2017-07-27 18:12] xmatthewx commented on #608
yay

[2017-07-27 18:12] #608 closed

[2017-07-27 18:18] jessevondoom commented on #604
Love the mini v full concept.

[2017-07-27 18:22] jessevondoom commented on #612
Few thoughts:

- Should we think about storing the actual StoryEngine content as a "long bio" type of field? I feel like this might be perfect for a full profile versus a mini profile, and the content should ultimately live here.
- Are the five issues user-generated tags or our IH key issues? We may want to give checkboxes for IH issues as well as a limited ability to add interest tags that are us

[2017-07-27 21:18] xmatthewx commented on #612
Yes and maybe. Pulse doesn't currently have markdown/wysiwyg powers. No rich fields. So I aim to add profiles in this first phase with URL for interview. And then follow up to pull in the interviews. You'll see these in the designs early next week.

Yes, 5 checkboxes for THE issues. I was thinking it might be fun/interesting to use tags on projects fav'd and created by a person to dynamically tag

[2017-07-27 21:22] Pomax commented on #525
I've setup a PR for this on https://github.com/mozilla/network-pulse-api/pull/167, which does a two-pass clean up.

The first pass removes duplicates, preserving "whatever the first instance's case", rebinding which tag an entry links to in the process, with the second pass then forcing all tags left from this to lower case.

After this lands and is applied, we can go in and do manual curation.

[2017-07-27 21:54] Pomax commented on #603
we should. I also found one instance of what is probably a pasted "tag, tag, tag, ..." instance, which we'll have to fix manually.

[2017-07-27 21:58] kristinashu commented on #602
I'm going to close this ticket but please open a new one if needed (to indicate successful status change).

[2017-07-27 21:58] #602 closed

[2017-07-27 22:32] kristinashu commented on #609
@xmatthewx I've asked you to confirm a few things in [redpen](https://redpen.io/p/of380006b3156e2c51). I think all the screens have been covered and just need some fine-tuning.

I'll be meeting with devs tomorrow to review the comps.

[2017-07-27 22:51] kristinashu commented on #615
Added these tags to the profile view https://redpen.io/qua34b5932cdb6cf9f but still need to mock up how the search would work (people finding projects to work on + projects finding people to help out).

[2017-07-28 01:50] jessevondoom commented on #612
I like the dynamic tagging idea a lot.

And yeah...as for the project connection, thinking of that as a longer-term thing so not something we need in there right now.

[2017-07-28 03:02] Sudip7 commented on #600
@Pomax , I made some changes and posted them to mattermost before raising a PR, please have a look and suggest any modification.

[2017-07-28 15:21] xmatthewx commented on #615
Excellent. We can do some whiteboarding to brainstorm different ways people discover/search these matches. We have some time before engineering would be ready for this.

[2017-07-28 15:30] xmatthewx commented on #609
All the views look great. I have two things I'd like to discuss:

 - flow: when do people create their profile? do we need/want to do it immediately when creating an account? i think there are pros/cons.
 - profile entries: i wonder if there's an approach other than tabs to display favs/posts/projects on a profile. the tabs are likely to have a bunch of duplicates (user posts a thing they create a

[2017-07-28 16:24] kristinashu commented on #609
Thanks for the feedback. Next week I will address the updates and create a user flows diagram for signup and creating a profile.

[2017-07-28 16:53] kristinashu opened #618 "Create user flows for creating a profile"
Based on design in #609 and will influence design in #619

[2017-07-28 17:58] kristinashu opened #619 "Design updates to UI for People view"
Based on design in #609
Feedback in comps https://redpen.io/p/of380006b3156e2c51
User flow work in #618

[2017-07-28 17:59] kristinashu commented on #609
Closing this ticket and opened new ones for next heartbeat:
- Design updates to UI for People view #619
- Create user flows for creating a profile #618

[2017-07-28 17:59] #609 closed

[2017-07-28 18:07] hannahkane opened #620 "Small typo in "favs" prompt"
browswer should be browser

[2017-07-28 18:26] kristinashu commented on #493
@mmmavis do you think this would be a lot of work?

@xmatthewx can we put this into next heartbeat?

[2017-07-28 18:37] xmatthewx commented on #604
@alanmoo to file tickets and plan sprint and kickoff.

[2017-07-31 18:23] arush0311 commented on #493
Can i take this?

[2017-07-31 19:28] mmmavis commented on #493
@arush0311 for sure! 😃 ✨

@kristinashu @arush0311 work needed to make this happen depends on how we want the counter to work. e.g., start showing the counter as soon as user starts typing in the field? or show counter after user's hit the "submit" button. Either way it will probably involve PRs on the form library we are using: [react-formbuilder](https://www.npmjs.com/package/react-form-builder)

[2017-07-31 19:32] xmatthewx commented on #377
This feels very usable to me. I'm going to close. Please comment if you disagree and see this as pretty important.

[2017-07-31 19:32] #377 closed

[2017-07-31 19:32] xmatthewx commented on #423
I don't think is relevant anymore as relationship with network site has evolved.

[2017-07-31 19:32] #423 closed

[2017-07-31 19:38] kristinashu commented on #493
Yes, the counter should show as soon as user starts typing in the field (like Twitter).

[2017-07-31 19:46] xmatthewx commented on #612
@kristinashu - a few more thoughts and then we can probably call close this ticket.

 - Github URL
 - Languages? A powerful way for non-english speakers to find each other.
 - For location, I think we should consider:
   - Country (drop-down select) (allows us to link to find others)
   - City/Location (text field, open to interpretation)

[2017-07-31 20:53] alanmoo opened #621 "Build profile model"
Note: We should set the stage for "who can edit this profile" so that organization profiles can be a thing. (By default, a user can edit their own profile.)

[2017-07-31 23:04] kristinashu commented on #618
Still a WIP and lines are very messy but here is the start of the flows https://docs.google.com/a/mozilla.com/presentation/d/12o0P9wWGlUEuY-247fWuHluVQsdfm9Htqlfuo8OQUio/edit?usp=sharing

cc @xmatthewx

[2017-08-01 15:06] alanmoo opened #622 "Build MVP profile view in client"

[2017-08-01 15:07] alanmoo opened #623 "Enable editing of entries to link existing creators to profiles"

[2017-08-01 15:08] alanmoo opened #624 "Refactor Entry.creator to be a list of profiles or a string"
An Entry's "creator" field can be a list of
a.) proper users of the site
b.) some arbitrary names that someone typed in which isn't associated with a user of the site
3.) a mix of the two.

When an item on the list is a real user of the site, the list item should include the user's name and profile ID so we can generate a link to their profile.

[2017-08-01 15:10] alanmoo opened #625 "Link submitter name on entry to related profile when available"

[2017-08-01 15:11] alanmoo opened #626 "Create client side "edit profile" view"

[2017-08-01 15:20] alanmoo opened #627 "Enable Organization profiles"

[2017-08-01 16:20] arush0311 commented on #599
Can i take this?

[2017-08-01 16:51] kristinashu opened #628 "Update dark grey to black"
[New Mozilla brand](https://mozilla.ninja/) uses black instead of dark grey. We need to update the 'add project' icon and the footer to black.

https://redpen.io/projects

Related to font update https://github.com/mozilla/network-pulse/issues/614

[2017-08-01 17:43] xmatthewx commented on #622
MVP is person's details and simple list of all associated entries below.

https://redpen.io/qua34b5932cdb6cf9f

[2017-08-01 17:52] alanmoo opened #629 "Add submitter profile ID to entry API response"
So that we can link to the profile from the front end

[2017-08-01 17:59] alanmoo commented on #600
@sudip7 I checked Mattermost the other day and didn't see anything- it would be helpful if you can comment here for all to see.

[2017-08-01 18:00] xmatthewx commented on #626
comp: https://redpen.io/bk7c2a3cbaafdcd47a

profile view lives at: /user/[id]

 - [ ] display profile on success
 - [ ] display errors on failure
 - [ ] validate URLs
 - [ ] TBD country validation
 - [ ] TBD limit on bio char count
 - [ ] responsive
 - [ ] pulls name from google account
 - [ ] user can edit via link on their profile view
 - [ ] nobody else can edit
 - [ ] checklists can be existin

[2017-08-01 18:02] xmatthewx commented on #626
We likely wouldn't share with the public without Country validation if we believe we're going to do that. Hide behind feature flag.

[2017-08-01 18:15] xmatthewx commented on #627
@kristinashu – it seems like organizations could use all the same fields as a user. no need for specialized form. true?

@alanmoo – if that's the case, i think we just need a way to identify whether a profile is a person or group. this should default to person, and only needs to be accessed via django for now. no specific use for it at this stage. if true, this can probably just be a note on the a

[2017-08-01 18:56] xmatthewx opened #630 "Define requirements for Portfolios"
Started a conversation with @kristinashu and program staff on Portfolios, a collection of people and projects, a lens toward program impact.

https://docs.google.com/document/d/1dZ4ZwfTjJA_AdN8lWG3oW650e2-nPttg0rZmrGEFqGA/edit#heading=h.wr6nqaksv9ka

[2017-08-01 19:00] xmatthewx commented on #599
👍 thanks @arush0311

[2017-08-01 20:47] kristinashu commented on #493
Realize twitter only shows the one number. If this is possible it would be great to do the same:

Before typing (see max number of character):
<img width="570" alt="screen shot 2017-08-01 at 1 42 13 pm" src="https://user-images.githubusercontent.com/1068783/28846261-9a0fb3e2-76bf-11e7-808f-60e3d308097a.png">

Starting typing (the number decreases as you type):
<img width="568" alt="screen shot 201

[2017-08-01 21:10] kristinashu commented on #612
I've these to the comps https://redpen.io/p/of380006b3156e2c51

Closing this ticket but please feel free to add comments in the Redpen.

[2017-08-01 21:10] #612 closed

[2017-08-01 23:37] mmmavis opened #631 "Introduce real pagination than "load more""
We now have a good amount of entries and navigating to a particular entry in list view starts to become troublesome. Users might have to click on "load more" a bunch of times to spot the entry they are looking for. We should probably move away from "load more" to real pagination. This will make sharing list of entries easier too (unique url for each page).

/cc @xmatthewx @hannahkane @Pomax

[2017-08-01 23:39] Pomax commented on #631
I just ran into this too, with 500 test entries that were all set to "pending"... the "view more" button is not a super useful way to deal with that many entries =)

"prev/next" buttons with pagination blocks (`[1] [2] [3] ... [16] [17] [18]`) and a clear visual indication of which page we're on would be really nice to have.

[2017-08-02 06:11] Sudip7 commented on #628
hey @kristinashu  though I don't have much knowledge on design, I would like take this ticket. Would you please assist in location the css files for this project. I was looking at https://github.com/mmmavis/network-pulse/tree/gh-pages/css to get some idea but similar structure is not available here. Please assist.

[2017-08-02 15:16] Sudip7 commented on #600
@alanmoo , this is just for demo, based on your suggestions will update the code.
![ogmeta](https://user-images.githubusercontent.com/6715793/28880538-072126d8-77c3-11e7-9189-45646c34c4be.jpg)
![image pasted at 2017-7-27 05-07](https://user-images.githubusercontent.com/6715793/28880560-1541682c-77c3-11e7-8122-c0a427a4b727.png)

Although @Pomax suggested some services I was not able to verify code

[2017-08-02 15:31] xmatthewx opened #632 "Form allows empty creator"
It seems like a user can click "add another creator" but leave it blank, submit it and set an empty creator. See comas in two entries below.

<img width="721" alt="screen shot 2017-08-02 at 11 29 29 am" src="https://user-images.githubusercontent.com/53411/28881367-e46cd9e0-7775-11e7-9830-de4fe689cfce.png">

[2017-08-02 16:28] kristinashu commented on #628
Awesome, it would be great if you did this @Sudip7! Unfortunately I don't know where the file is either. @mmmavis are you able to point it out? Is it related to our [Mofo Bootstrap](https://github.com/mozilla/mofo-bootstrap)?

[2017-08-02 16:34] #527 closed

[2017-08-02 16:37] mmmavis opened #633 "Code improvement for project card related components"
This is a followup for https://github.com/mozilla/network-pulse/pull/617 based on @Pomax 's suggestion: https://github.com/mozilla/network-pulse/pull/617#pullrequestreview-53665838

@Pomax could you suggest how we can improve project card related things better?

[2017-08-02 17:19] mmmavis commented on #616
Instead of adding an option to the existing dropdown let's create a 2nd control to filter "featured" entries since "moderation states" and "featured" are not mutually exclusive filters.

[2017-08-02 18:09] xmatthewx commented on #537
@mmmavis - is this ready for review on staging?

[2017-08-02 18:37] xmatthewx commented on #525
I think part of this is ready to merge to production. When it's done, let's do a quick review of [spreadsheet](https://docs.google.com/a/mozilla.com/spreadsheets/d/14VrDqX_qlthS8_SeHcvfkw2vXcxJy891PpjSi8ZUFaE/edit?usp=sharing) to mark what's done and what remains. We can file new follow up.

[2017-08-02 19:09] kristinashu commented on #627
Yes, organizations and people have the same fields.

[2017-08-02 19:19] kristinashu commented on #622
I believe this is what the MVP profile page would look like and should include:

- edit profile which links to [form](https://redpen.io/bk7c2a3cbaafdcd47a)
- all projects the person/organization has uploaded and/or is listed as a creator on (no duplicates)

Info the user adds:
- profile pic
- name (from google account but updatable in user form) - this is the only required
- location (city, countr

[2017-08-02 19:42] mmmavis commented on #622
@kristinashu thanks for the list. Could you provide mockup for mobile view? I'm afraid the following section will look super clustered if you are letting me design it haha.

<img width="553" alt="screen shot 2017-08-02 at 12 41 33 pm" src="https://user-images.githubusercontent.com/2896608/28891612-f652dd3a-777f-11e7-86f9-423054522841.png">

[2017-08-02 19:42] xmatthewx commented on #616
That sounds good @mmmavis.

I think you can remove the help text "Filter by moderation state:" and "Keywords:" from the top of moderation. It's pretty self-evident. Save some space and make it nicer on mobile.

[2017-08-02 22:32] xmatthewx commented on #621
Should we start with doc. Talk through the fields? I [started a doc and hastily dropped in some thoughts](https://docs.google.com/document/d/1gpjXAZJlQ0pfcxG71AuAunr3okwWSyJs3fNrmF7DBxQ/edit#) 'cuz I gotta head home now.

[2017-08-02 22:34] xmatthewx commented on #621
This is noted in profile model. Pretty sure no work required beyond that. Closing.

[2017-08-02 23:59] mmmavis commented on #537
Not yet. PR is still in review.

[2017-08-03 00:10] Sudip7 commented on #628
@kristinashu , m not sure but I believe it's probably a  forked repository or a new one created by her.
@mmmavis  would you please assist me on this. Then I may able to try the #614 .

[2017-08-03 00:20] mmmavis commented on #628
For changing background colour of the footer we should update [mofo-bootstrap](https://github.com/mozilla/mofo-bootstrap) so this colour change will reflect on other sites like the Network site. (I'll create a ticket on mofo-bootstrap and self assign)

For changing the colour of the "Add Project" button on Network Pulse it'll only require updating a [colour value](https://github.com/mozilla/networ

[2017-08-03 00:26] Sudip7 commented on #628
I would love to do that. Should I look for main.scss or any other file to change the font or color. Pulse v1 repo css config was bit straight forward but still I would like to dirty my hands. Please assist.

[2017-08-03 00:29] mmmavis commented on #628
Hey @Sudip7 take a look at my previous comment. I've included a link that brings you directly to the line of code that needs changing. This one should be straightforward to fix.

[2017-08-03 00:29] Sudip7 commented on #628
@mmmavis and what about #614, is that too belongs to mofo-bootstrap or can be done in pulse.

[2017-08-03 00:32] mmmavis commented on #628
@Sudip7 I might need to loop other devs in for that one. Let's bring this conversation over to #614.

[2017-08-03 00:34] Sudip7 commented on #628
Thanks @mmmavis . Do you use standard color codes or you have anything specific for mofo projects?

[2017-08-03 00:36] mmmavis commented on #614
@gvn @alanmoo does this also require changing some code in`mofo-bootstrap`? i.e., https://github.com/mozilla/mofo-bootstrap/blob/22300d26116d6ca2525ea0c0cf668fcd9f3fd952/src/scss/overrides/_variables.scss#L8

[2017-08-03 00:50] Sudip7 commented on #628
I looked into https://mozilla.ninja/visualelements/ and believe #000000 should accomplish the task.  @kristinashu please confirm.

[2017-08-03 01:19] mmmavis commented on #628
@Sudip7 either `#000000`, `black`, or `$black` will work technically. However, for colours that have been declared as variables (for example, https://github.com/mozilla/mofo-bootstrap/blob/ce155ef07cb380bf33169b291c78eb2fbcc3577c/src/scss/custom/_colors.scss) I tend to use `$variablename`. In this case I would do `$black`.

[2017-08-03 14:56] alanmoo commented on #621
This ticket is for API implementation. I think you meant to close #612?

[2017-08-03 15:24] kristinashu commented on #622
How about something like this?

<img width="316" alt="screen shot 2017-08-03 at 8 24 00 am" src="https://user-images.githubusercontent.com/1068783/28929568-23873756-7825-11e7-8e27-c03f1ed7ca87.png">

[2017-08-03 15:38] xmatthewx commented on #621
Oye. I'm going to delete that misplaced comment and move it to 627 (enable organization profile).

[2017-08-03 15:39] xmatthewx commented on #627
This is noted in profile model. Pretty sure no work required beyond that. Closing.

[2017-08-03 15:39] #627 closed

[2017-08-03 16:40] mmmavis commented on #622
Thanks @kristinashu

I wonder if we should break `language`, `Read Story`, `link` into its own line with an icon like what you have for the `location` field. If an user has indicated more than 1 language or the full url of the link is long, these meta mostly likely won't fit into one line.

[2017-08-03 16:46] kristinashu commented on #622
Yeah, that sounds good! I'll work on the icons.

(note that most people won't actually fill in all that info)

[2017-08-03 16:50] mmmavis commented on #622
We can use font-awesome icons if you'd like.

[2017-08-03 17:44] #620 closed

[2017-08-03 18:20] kristinashu commented on #622
Cool, I'll chose some font awesome ones and mock it up.

[2017-08-03 18:59] kristinashu commented on #622
#### Here are the icons:
m icon is custom [icon-mozilla-role.svg.zip](https://github.com/mozilla/network-pulse/files/1198288/icon-mozilla-role.svg.zip)
Font awesome icons are 12px:
fa-map-marker [&#xf041;]
fa-comment [&#xf075;]
fa-quote-left [&#xf10d;]
fa-user-circle-o [&#xf2be;]

#### Looks like:
![full profile mvp 2x](https://user-images.githubusercontent.com/1068783/28938359-b60ca602-7842-11e7-

[2017-08-03 19:59] xmatthewx commented on #622
nice suggestion @mmmavis! looks great. one suggestion: a globe or something different the user-ciricle-o ... since someone could drop in an organization website.

[2017-08-03 20:20] kristinashu commented on #622
Sounds good, here's the globe:
  fa-globe [&#xf0ac;]

[2017-08-03 20:32] xmatthewx commented on #472
@kristinashu – let's briefly discuss. I agree this is important. It's also oddly complicated.

I see 3 reasons to edit an entry:
 - correct a mistake
 - add additional info (add contributor, update the get involved/help info)
 - evolve an entry based on pivots in a project

I think the first two are useful, and currently a pain to have moderators execute on behalf of users. The third reason is deb

[2017-08-03 20:55] alanmoo commented on #600
I think we want to use OG tags similar to those on https://network.mozilla.org.

@gvn I recall you having knowledge of these tags and what we should use, do you have anything to add?

[2017-08-03 21:17] kristinashu commented on #472
Yes, more complicated than appears!

Correct a mistake is the biggest issue and I expect most users notice the mistake right after they post it. I can see how filling out the form and then seeing the actual post right after is when users notice this.

This is also a pain and poor user experience for the user. I personally would be much more nervous to post something knowing it can never be updated

[2017-08-03 21:34] xmatthewx commented on #472
True! We could maybe solve this by showing a preview with a final submit button. With back arrow back to the form.

I'll respond more fully tomorrow.

[2017-08-03 21:37] kristinashu commented on #472
Oooh I like that!

[2017-08-03 22:03] gvn commented on #600
Not really, just be sure to have `og:url`, `og:title`, `og:description`, and `og:image` per [this guide](https://developers.facebook.com/docs/sharing/webmasters).

[2017-08-03 22:33] #619 closed

[2017-08-04 00:46] Sudip7 commented on #600
hey @alanmoo , @gvn those tags are for twitter cards which are similar to fb open graphs. I found some examples just like https://www.koozai.com/blog/social-media/social-markup/ or https://www.magentocommerce.com/magento-connect/social-meta-tags-for-facebook-and-twitter.htmlmj

Even found something similar in one of the mozilla partner sites.
![ogcards](https://user-images.githubusercontent.com/67

[2017-08-04 13:37] alanmoo commented on #600
1. Don't worry about `fb:app_id`. As mentioned in the link Gavin shared above, it's for analytics on facebook which we're not concerned about at this point in time.
2. I believe that's the crux of this ticket, we need the meta tags for each page dynamically generated. You're welcome to bounce suggestions off us in the comments.

[2017-08-04 17:00] mmmavis commented on #443
The PR @Pomax linked was merged on Jun 23. @xmatthewx @Pomax Is there anything left to do for this ticket?

[2017-08-04 18:32] xmatthewx commented on #443
I believe those PRs were closed, not merged. I pretty sure it's still work to be done.

[2017-08-04 18:42] mmmavis commented on #443
@xmatthewx oh yea you are right!

[2017-08-04 19:40] xmatthewx commented on #472
Okay. Thanks for all the input. One question and summary:

 - [ ] Design an edit link
   -  Should we use the [corrections link](https://github.com/mozilla/network-pulse/issues/485) available to everyone, capture email and name to see if it is the orig author? But let others flag errors too?
 - [ ] Prep a google form for edit requests. Trigger new issues if easy.
 - [ ] Engineer the link.
 - [ ] F

[2017-08-04 19:44] xmatthewx opened #636 "Enable users to preview before submitting an entry"
Submitting an entry is scary and error prone. Editing a moderated submission later is [complicated](https://github.com/mozilla/network-pulse/issues/472#issuecomment-320081926). To address these, let's consider a preview during submission.

Form > Preview > Submit

Is this technically complicated?

[2017-08-08 18:04] xmatthewx opened #638 "Explore discovery via Interests"
For both Pulse and the Network site, we have an opportunity to enable discovery in fun ways. In addition to the 5 issues, we can leverage our thematic priorities (open data, misinformation), as well as more informal interest areas (games) or affinities.

Following our current priorities, this could be one of the things we dig into next.

To start, let's gather benchmarks from Spotify, Meetup, Pint

[2017-08-09 13:19] Sudip7 commented on #600
I tried something like this

` <Helmet>
      <meta property="og:title" content= "{ `${this.state.entry.title}` }" />
      <meta property="og:description"  content="{ `${this.state.entry.description}` }" />
      </Helmet>;`

But still not able to figure it out how the dynamic content should work inside the "" of content.
Any suggestions.

[2017-08-09 18:17] mmmavis commented on #616
PR in review. Page will look like

![screen shot 2017-08-09 at 11 16 42-fullpage](https://user-images.githubusercontent.com/2896608/29137171-3f8d54fc-7cf4-11e7-88fc-e182e39d7953.png)

[2017-08-09 18:24] kristinashu commented on #616
Nice!

[2017-08-09 19:51] mmmavis commented on #514
Most of the bookmark related code has been rewritten/modified in PR https://github.com/mozilla/network-pulse/pull/610 . I think we can close this ticket now.

[2017-08-09 19:51] #514 closed

[2017-08-09 19:53] mmmavis commented on #485
Do we still wanna add this? @kristinashu @xmatthewx this should be a quick fix.

[2017-08-09 20:03] kristinashu commented on #485
I think so!

(slightly related to Enable users to edit their own entries #472)

[2017-08-09 20:19] mmmavis commented on #600
@Sudip7 it would be helpful if you could submit a PR (and mark it as "WIP") so we can see your working in progress code and make suggestion for it. 😉

[2017-08-09 21:05] xmatthewx commented on #485
Yes. We'll have to think through the form, but could just start with the generic contact form in the footer.

[2017-08-09 21:13] mmmavis commented on #485
Cool, I'll have a PR for this today.

[2017-08-09 21:18] mmmavis commented on #485
Question is where to add the link on the new 2-column layout? https://network-pulse-staging.herokuapp.com/entry/334

[2017-08-09 21:28] kristinashu commented on #485
Good questions... how about we add a diving line then have the text just under it?

![screencapture-network-pulse-staging-herokuapp-entry-334-1502313850315](https://user-images.githubusercontent.com/1068783/29144759-fe29a6da-7d0e-11e7-93c5-3027272c33ef.jpg)

[2017-08-10 01:39] #537 closed

[2017-08-10 16:27] xmatthewx opened #643 "Search includes moderation param in URL"
A search incorrectly appends URL with a moderation param. It does this even if a user is _not_ logged in. Note: this does not effect search results, so it is not broken.

Steps to Repeat
 - Go to https://www.mozillapulse.org/search
 - Search for "mozfest"
 - URL is now: https://www.mozillapulse.org/search?keyword=mozfest&moderationstate=Pending

If you visit https://www.mozillapulse.org/search?key

[2017-08-10 18:17] xmatthewx commented on #621
- Path /profile/id
   - Probably makes sense for people & groups/orgs
 - Owner ID
   - Defaults to User ID
 - is_group
 - Name
   - Defaults to google name
 - Location
   - City/town, Country
 - Avatar
 - URLs
   - Twitter URL
   - Linkedin URL
   - Github URL
   - Website URL
 - 5 Issues
   - booleans
 - Bio (140 char string)

We will file three things as distinct work for later
 - [ ] Languages

[2017-08-10 21:28] mmmavis opened #644 "New tag should only be added if there's no such "known tag""
New tag should only be added if there's no such "known tag"

As @Pomax has suggested ...

[2017-08-11 16:55] mmmavis commented on #632
PR in review: https://github.com/Pomax/react-formbuilder/pull/43

[2017-08-11 16:57] mmmavis commented on #607
@xmatthewx I believe all tickets in this epic have been closed ✨ Time to close this epic? 🍻 🍻🍻🍻🍻🍻

[2017-08-11 17:00] #607 closed

[2017-08-11 17:01] mmmavis commented on #485
Live on production!

[2017-08-11 17:01] #485 closed

[2017-08-11 18:43] xmatthewx opened #645 "Refine Get Involved for empty fields"
If an entry has no Get Involved elements (text, link, categories), we shouldn't display the Get Involved header.

The first two entries submitted that included Get Involved categories, didn't have text or a link. The help tags almost look like buttons to Get involved. I wonder if there's  placeholder text we could put in there in this scenario with categories but no text, no link.

<img width="831

[2017-08-11 18:44] xmatthewx commented on #645
Scenarios
 1. no link, text, categories => hide section
 2. categories only => fallback text?
 3. text or link only => display normal?

### 2 fallback text

does this work?

<img width="832" alt="screen shot 2017-08-11 at 2 38 29 pm" src="https://user-images.githubusercontent.com/53411/29227311-67a1019a-7ea3-11e7-8330-05ea20ea0739.png">

[2017-08-11 18:58] xmatthewx commented on #607
cheers! 🍻

[2017-08-11 19:06] xmatthewx commented on #603
bumping to next milestone

[2017-08-11 19:13] xmatthewx commented on #630
I'm going to call this done. There's a bit of work to synthesize, but can be done with a design comp.

[2017-08-11 19:13] #630 closed

[2017-08-11 19:13] mmmavis commented on #614
If there's no objection I will work on this + file a PR on `mofo-bootstrap` to update default font family to Zilla @kristinashu @gvn @alanmoo

[2017-08-11 19:18] xmatthewx opened #646 "Draft mockup of a "Collections" page"
Edit: I'd like to do a quick mockup, timeboxed to 2-3 hours, to help foster conversations with stakeholders.

Background: Mozilla programs need to gather and present the people and projects impacted by the program. This serves recruitment, fundraising, reporting, and more.

Idea: Enable an author to create a Page via CMS. Below their content, they can optionally specify a Pulse query to pull in Pr

[2017-08-11 19:24] xmatthewx commented on #472
We have added a "corrections" link below each entry so users can contact us with new info. I've also filed a ticket to enable people to preview their thing before submitting.

For now, we'll close this request to edit entries and see if these other two things do the trick.

[2017-08-11 19:24] #472 closed

[2017-08-11 19:28] kristinashu commented on #614
That would be amazing! Thank you!

[2017-08-11 19:29] xmatthewx commented on #580
Done enough. Did the job.

[2017-08-11 19:29] #580 closed

[2017-08-11 19:35] xmatthewx commented on #618
@kristinashu – if you run out of time to do this before your travel, please assign to me. Glad to do it. I think it's probably more important that you focus on cross-site stuff. What do you think?

[2017-08-11 19:46] xmatthewx commented on #614
There's a PR to update the Network site to Zilla. I've asked designers to review for font-size or other quirks. https://github.com/mozilla/network/pull/643#issuecomment-321296468. We'll want to review Pulse as well.

Will any other properties be affected by an update to mofo-bootstrap? I'm ok if we introduce a little funniness to other sites, but we should be ready to review for problems.

[2017-08-11 19:51] mmmavis commented on #614
It won't unless that site has opted in to always use the latest `mofo-bootstrap`. Do we want to do a major release for this (i.e., mofo-bootstrap `v4.0.0`) @gvn @alanmoo ?

[2017-08-11 19:56] kristinashu commented on #618
Sounds good! I'm feeling a little stuck on it anyways.

[2017-08-11 20:18] gvn commented on #614
If we change the font family in mofo-bootstrap then yeah we should do a major revision IMO.

[2017-08-14 16:21] Pomax commented on #632
reopening because just fixing formbuilder doesn't necessarily fix this here  =)

[2017-08-14 16:23] Pomax commented on #632
formbuilder v0.7.0 pushed to npm

[2017-08-14 16:53] Pomax commented on #621
much of this work has been done in https://github.com/mozilla/network-pulse-api/pull/175, with some things that we should discuss,

Location is currently set to "city" + "country", and not a lat/long datatype to prevent straying into PII territory. However, this comes with some issues (also pointed out in the source code) that we need to take into account if we want to *do* anything with this data

[2017-08-14 17:14] Pomax commented on #525
After the initial collapse, there are a fair number of tags that have commas, so I'm going to write an additional utility function that does "the right thing" when it sees tags with commas:
- split on comma,
- trim resulting tag(s)
- collapse duplicates

[2017-08-14 17:29] xmatthewx commented on #621
Oh geo-political complexity. Why do you torment us?

re: `URLs` — I checked with Kristina and Jesse. We want to stick with Twitter, LinkedIn, Github, Blog/Site. These have specific strategic value in the network. It offers some flexibility, especially with the last link, but keeps us from being too diffuse to build critical mass. A user could still choose to link to a site that aggregates their pr

[2017-08-14 17:36] xmatthewx commented on #525
Excellent @Pomax. Should we close this issue an open a new one for a clean slate?

[2017-08-14 17:37] Pomax commented on #525
sure. Filing #177 for this work

[2017-08-14 17:37] #525 closed

[2017-08-14 17:38] Pomax opened #649 "deduplicate tags with commas"
follow-up on https://github.com/mozilla/network-pulse/issues/525

[2017-08-14 17:44] xmatthewx opened #650 "Merge synonymous tags"
Users would benefit if we merged some tags identified in this [spreadsheet](https://docs.google.com/a/mozilla.com/spreadsheets/d/14VrDqX_qlthS8_SeHcvfkw2vXcxJy891PpjSi8ZUFaE/edit?usp=sharing) for better discovery and auto-complete on submission. We'll focus on common tags with the most to gain. We won't merge things that are similar but might have value as separate tags.

Continuing work in #525.

[2017-08-14 17:45] Pomax commented on #621
In that case in terms of MPV Profile let's only do the fixed list of URLs. Maintaining both a fixed set and a fluid set will make it a lot harder to iterate.

[2017-08-14 17:45] xmatthewx opened #651 "Improve Tags – discovery and submission"

[2017-08-14 19:21] Pomax commented on #621
The model has been updated to use explicit twitter, linkedin, github, and website fields.

[2017-08-14 19:30] mmmavis commented on #526
Closing! The URL share button / field has been removed from the new 2-column detail view.

[2017-08-14 19:30] #526 closed

[2017-08-14 20:06] #632 closed

[2017-08-14 20:23] Pomax commented on #603
there's some good headway being made on this over on the react-tags repo, hopefully there's a new version to pull soon for this.

[2017-08-14 22:34] mmmavis commented on #493
Hey @arush0311 are you still interested in working on this? Timeline wise this will need to be landed this heartbeat to unblock https://github.com/mozilla/network-pulse/issues/626 . @Pomax and I have some convo on https://github.com/Pomax/react-formbuilder/issues/30 which you might wanna have a look. Let us know what you think! 😃

[2017-08-14 22:44] #649 closed

[2017-08-14 22:51] #644 closed

[2017-08-15 14:48] xmatthewx opened #653 "Draft intro copy for Profile form"
[This form](https://redpen.io/bk7c2a3cbaafdcd47a) needs
 - A CTA that hints at value of sharing profile info
 - Legal language

[2017-08-15 16:17] xmatthewx commented on #616
I'll leave this in the prior milestone since it is just pending review. cc @alanmoo

[2017-08-15 16:43] xmatthewx opened #654 "Clean up Pulse UX hiccups"
A handful of smaller sized tickets that aim to bring more polish to Pulse.

[2017-08-15 16:56] kristinashu commented on #645
Seems like a good solution to me!

[2017-08-15 17:12] Pomax commented on #603
One thing left is to make sure that the Tag model itself does not allow commas, probably along with a change to Entry so that if we do see a tag with commas, we split it before entry saving.

[2017-08-15 17:14] Pomax commented on #603
filed https://github.com/mozilla/network-pulse-api/issues/180 as followup to this work.

[2017-08-15 17:27] xmatthewx commented on #631
Let's discuss!

[2017-08-15 18:08] xmatthewx opened #655 "Add Languages to Profiles"
Users would benefit from being able to list the language they speak, and find others who speak the same thing.

To do this well, we'll need to think about how we present options and maintain the list. We might, for example, start with a short list of common languages and use an 'other' field to gather info on how to expand.

[2017-08-15 18:16] xmatthewx opened #656 "Extend Help Category to use on Profiles"
On projects, we offer Help Categories so an author can identify ways people can lend a hand. We'd like to extend this (or create a corresponding model) so that people profiles can include ways the person can help.

They map well: See the table here https://github.com/mozilla/network-pulse/issues/615#issuecomment-318142225

[2017-08-15 18:25] xmatthewx opened #657 "Extend Profile with 'Official' Fields"
These fields are unlocked by a moderator and then revealed on a profile and profile form. From a user's perspective, they are just an extension of the profile.

Functionality
 - [x] A staff editor should be able to toggle an extended profile on/off
 - [ ] A user should be able to edit their extended profile, after it is unlocked by staff moderator

See mockup: https://redpen.io/qua34b5932cdb6cf9f

[2017-08-15 18:30] xmatthewx commented on #645
@mmmavis - we have a bit of follow up on this to deal with entries with missing "get involved" info.

Scenario => What we display
 - no link, no text, no categories => hide section
 - text or link only => display normal
 - categories only => display fallback text: "Help with this, or find other projects that have similar ways to get involved." (see mockup above)

[2017-08-15 21:17] taisdesouzalessa commented on #646
Sketch from Matthew after our meeting:
<img width="846" alt="image" src="https://user-images.githubusercontent.com/22157921/29336830-0c912b80-81c4-11e7-8733-793860961c56.png">

Observations:
• As simple as opportunities Page - simple title, simple photo and a bunch of projects below
• Sample copy: "People are coming together in Mozfest to create projects that help ensure that the internet is contr

[2017-08-16 17:34] taisdesouzalessa commented on #646
@xmatthewx here is the page's mockup:
https://redpen.io/vzf9efadfec9443e15

[2017-08-16 19:13] xmatthewx commented on #646
Perfect. Thanks. I'm going to close this and open a new epic to capture the related work.

[2017-08-16 19:13] #646 closed

[2017-08-16 19:18] xmatthewx opened #661 "Build a "Collections" feature for CMS authored Pages"
Background: Mozilla programs need to gather and present the people and projects impacted by the program. This serves recruitment, fundraising, reporting, and more.

Idea: Enable an author who creates a Page via CMS to optionally specify a Pulse query to pull in Projects and/or Profiles.

 - Requirements gathering started in #630. See [notes](https://docs.google.com/document/d/1dZ4ZwfTjJA_AdN8lWG3o

[2017-08-17 15:53] xmatthewx opened #662 "Bug: Links to Anchors hidden under fixed nav"
As noted by @arush0311, links that point to mid-page anchor links, scroll to content that then gets hidden by the fixed position nav. It's confusing to users.

This can't be universally solved by adding white space in the content or padding on headers since an anchor could fall before any element and a big white space can make the content look broken.

Should we consider a lightweight JS solution

[2017-08-17 16:41] mmmavis commented on #662
@xmatthewx wrong repo? 😉

[2017-08-17 17:09] #614 closed

[2017-08-17 17:10] #628 closed

[2017-08-17 17:11] #489 closed

[2017-08-17 17:17] kristinashu commented on #645
@xmatthewx can you please also review this one? Everything is much better and showing up as you suggested. The only case where it still feels slightly odd is when there is only a link. So we see the title "Get involved" followed by link "Get involved" e.g. https://network-pulse-staging.herokuapp.com/entry/201 Is that ok?

[2017-08-17 17:18] mmmavis commented on #645
https://network-pulse-staging.herokuapp.com/entry/336
 https://network-pulse-staging.herokuapp.com/entry/336
 https://network-pulse-staging.herokuapp.com/entry/336
 https://network-pulse-staging.herokuapp.com/entry/336

[2017-08-17 17:19] mmmavis commented on #645
I've created some test entries

 https://network-pulse-staging.herokuapp.com/entry/336
 https://network-pulse-staging.herokuapp.com/entry/337
 https://network-pulse-staging.herokuapp.com/entry/338
 https://network-pulse-staging.herokuapp.com/entry/339
 https://network-pulse-staging.herokuapp.com/entry/340

[2017-08-17 17:21] xmatthewx commented on #645
Thanks so much for the handy QA links @mmmavis!!! yer the best.

@kristinashu – re: link only.  Hmm.... not ideal. Maybe we could display the URL as a link if there's no description, but keep it as "Get Involved" if there is a description?

[2017-08-17 17:23] xmatthewx commented on #645
@mmmavis - this otherwise looks awesome. Thanks for the speedy and diligent _if else if else if else if_ work.

[2017-08-17 17:24] kristinashu commented on #645
Awesome thanks @mmmavis!

@xmatthewx ah there's gonna be some long ugly URLs out there...

Let's close this and push it to prod. We can always open up a new ticket if it really bothers us.

[2017-08-17 17:24] #645 closed

[2017-08-17 17:30] xmatthewx commented on #645
I'm a nerd and took a look at the DB. About 10% of featured posts have a link but no description. About a third of all posts with a help link have no description. I think we

[2017-08-17 17:36] mmmavis opened #664 "Bug: API params got encoded twice"
A few issue pages now have problem displaying the right set of data. This is because the params got encoded twice

e.g.,
- https://api.mozillapulse.org/entries/?issue=Digital%2520Inclusion
- should really be https://api.mozillapulse.org/entries/?issue=Digital%20Inclusion

I will submit a patch soon.

[2017-08-17 18:06] mmmavis opened #666 "Add tests to ensure front end is making the right API calls"
... so things like https://github.com/mozilla/network-pulse/issues/664 won't happen again

[2017-08-17 18:48] #664 closed

[2017-08-17 20:41] kristinashu opened #667 "Delete Creator 244 and associations. Name is empty."
The two most recent posts have some odd commas. Is this because users are randomly adding commas or is it something on our end?

<img width="629" alt="screen shot 2017-08-17 at 10 55 55 am" src="https://user-images.githubusercontent.com/1068783/29432779-b8ba2892-8351-11e7-8448-94a27c7b25d5.png">

cc @xmatthewx @Pomax @mmmavis

[2017-08-17 20:50] xmatthewx opened #668 "Change help link label when there's no help description"
@mmmavis did some heroic work to resolve display issues for entries with incomplete information. We have one last scenario to consider: a user enters a get involved link, but no description.

## current

Currently, the header and link label repeat.

<img width="757" alt="screen shot 2017-08-17 at 4 36 20 pm" src="https://user-images.githubusercontent.com/53411/29432871-281ae37a-836b-11e7-9bc9-bbd0

[2017-08-17 20:54] xmatthewx commented on #667
My guess: if you hit the add creator button, but leave the last space blank when you send, we add a creator called "(blank)". I just checked, and Mrs Blank has contributed to more projects than everyone else, accept Mozilla.

[2017-08-17 21:16] mmmavis commented on #667
Good catch. A patch has been pushed live few days ago which should prevent this from happening in the future.

Related ticket: https://github.com/mozilla/network-pulse/issues/632

[2017-08-17 21:20] xmatthewx commented on #667
Creator_ID = 244

[2017-08-17 21:29] xmatthewx commented on #662
Issue moved to [mozilla/network #675](https://github.com/mozilla/network/issues/675) via [**ZenHub**](https://www.zenhub.com/)

[2017-08-17 21:29] #662 closed

[2017-08-17 21:30] xmatthewx commented on #662
whoopsie doopsie

[2017-08-17 21:35] mmmavis commented on #616
on staging pending verification: https://network-pulse-staging.herokuapp.com/moderation

[2017-08-17 21:41] xmatthewx commented on #616
Is it possible @mmmavis to hide the featured checkbox, and display it only when moderation state is Approved? It's not absolutely critical, but if it's not hard, it would improve the UX. In my test, I checked the box, looked for the item on featured, and then took a minute to realize my mistake.

[2017-08-17 21:54] mmmavis commented on #616
Will there be cases where a previously approved featured entry can later become not approved? If so I think we should keep the featured checkbox since marking an entry away from a moderation state doesn't affect its featured state. Plus technically speaking it's not only approved entries can be featured.

[2017-08-17 23:39] kristinashu commented on #636
I'm not sure what the best UX is but here's one option.

#### 1) Add a "Preview" button to form:

![desktop - form 2x](https://user-images.githubusercontent.com/1068783/29438259-5ccf992c-836a-11e7-9b33-c49ea060c5e2.png)

#### 2) Show preview with notification at the top:

- main nav and footer are hidden (not sure if that's best?)
- links in post are active??

![desktop details latest 2x](https://

[2017-08-18 03:31] Pomax commented on #667
@xmatthewx you should be able to delete this user through the admin, by hitting up https://api.mozillapulse.org/admin/creators/creator/244/change/ and clicking "delete". This should also "unlink" it from all entries that make use of it in their creator list.

[2017-08-18 14:59] xmatthewx commented on #667
Done. Thanks. Sorry I was in a tags migrations mindset ... overlooked the obvious.

[2017-08-18 14:59] #667 closed

[2017-08-18 15:08] xmatthewx commented on #636
This looks good. I wonder if we don't want to simplify the form by removing Submit and only offer Preview as the next step. In addition to catching typos, the Preview will do wonders to improve lackluster copy and poorly cropped photos.

[2017-08-18 16:44] Pomax commented on #621
model updates have landed with https://github.com/mozilla/network-pulse-api/pull/175, work will focus on the view and rest endpoints to view and update this data.

[2017-08-18 16:44] #621 closed

[2017-08-18 16:45] xmatthewx commented on #616
My note might have been confusing. I meant to suggest we hide the featured checkbox on entries, not in the page level filter at the top.

If an entry is not Approved, its Featured state is irrelevant. An entry should never be accessible via API for public viewing if it is not Approved.

From a moderators perspective, there's no need to see or change the Featured state unless the Moderation state i

[2017-08-18 17:07] xmatthewx commented on #616
Again, if this is a big lift, we can skip it. We'll just need to update our nonexistent training doc for moderators. :)

[2017-08-18 17:15] gvn opened #671 ""Favs""
This spelling seems odd to me. I feel like I've always seen "Faves" as short for favorites.

I guess there's [some debate](https://www.fastcompany.com/3034831/fave-vs-fav-a-linguistic-explanation) though.

`¯\_(ツ)_/¯`

[2017-08-18 17:27] hannahkane commented on #671
I'm on Team Faves :)

[2017-08-18 17:58] kristinashu commented on #636
I like the idea of forcing people to preview but worry people won't read the button, click Preview and then leave thinking they are done posting.

[2017-08-18 18:21] xmatthewx commented on #636
Ah... great point. Let's go with your instinct on this.

Left alignment on that preview button feels funny, but it might just be me.

[2017-08-18 18:29] xmatthewx commented on #671
Omg. I love that the linguist preferred to remain anonymous in this debate. I'm on Team Fav, though moved slightly by Zimmerman's note that "Some people prefer ‘fav’ as a noun and ‘fave’ as a verb."

[2017-08-18 20:36] Pomax commented on #616
This sounds like follow-up: can a new issue be created so we can track these iterations?

[2017-08-18 20:45] xmatthewx commented on #616
okey dokes

[2017-08-18 20:45] #616 closed

[2017-08-18 21:12] kristinashu commented on #636
Ok, I've grouped the two buttons together https://redpen.io/zv6f73b34b59d981c7

@mmmavis does this work for you? Have any questions?

[2017-08-18 21:33] xmatthewx commented on #604
@alanmoo – I didn't have a chance to create sub-epics to organize this work a bit more.

I'm thinking these might make sense:
 - Enable users to Create a Profile
 - Connect Profiles to Entries and Creators
 - Extend Profiles for Mozilla programs

And...

Here is [a fancy table](https://docs.google.com/presentation/d/12o0P9wWGlUEuY-247fWuHluVQsdfm9Htqlfuo8OQUio/edit?ts=5996143c#slide=id.g24e286cd1a

[2017-08-21 16:42] kristinashu commented on #671
Haha let the battle begin! I _slightly_ prefer Favs but only because it's _slightly_ shorter, so it fits better in the nav.

[2017-08-21 20:56] gvn commented on #671
If Pulse is ever translated it'll get longer (or if someone increases their text size).

#justsayin 😉

I'd suggest "Faves" and then a ❤️ wherever space is at a premium.

[2017-08-22 14:16] alanmoo commented on #604
One clarification: For the second to last row (User without public profile), is it correct to assume that we're not linking to the user's profile in the front end, but we do retain that connection in the back end so that once a profile does exist, we can link to it?

[2017-08-22 15:11] kristinashu commented on #604
Yes, definitely retain the connection in the back end. The front end is where we had our 2% of disagreement... We are unsure if people should have to have a public profile (just basic profile e.g. just their user name) in order to post an entry and if so, when should a user need to have a public profile (when they first sign up vs after they fill in their post entry).

@hannahkane is that how you

[2017-08-22 17:18] Pomax commented on #603
closing as the original work was done, follow-up to take care of the rest.

[2017-08-22 17:18] #603 closed

[2017-08-22 18:33] mmmavis commented on #622
Hey @kristinashu sorry if the following questions have been clarified somewhere already - do you have a chart or something to help clarify what the flows are like for different types of users trying to access to their own profile? I assume each screen will look differently on different scenarios?

- before logged in
- after logged in
  - never updated his/her profile (default profile view)
  - pro

[2017-08-22 18:48] kristinashu commented on #622
Good questions!

Yes, they access their profile by clicking on their name in the nav bar or by clicking on their name in ono of their a post (creator or post-er).

I believe the URL is `/profile/idnumber` while `/myprofile` will be the edit/create form (@Pomax can you please confirm?).

- before logged in (Mmaki would see what other users would see)
<img width="1018" alt="screen shot 2017-08-22 at

[2017-08-23 00:51] #643 closed

[2017-08-23 17:43] mmmavis commented on #622
@kristinashu thanks for the comps. Can you advise where we should place the "Hi [username]" link on mobile? I can't seem to find a good place for it.

![screen shot 2017-08-23 at 10 42 17](https://user-images.githubusercontent.com/2896608/29630071-dcd4ce4c-87ef-11e7-920c-1aa7b2f79e3d.png)

[2017-08-23 17:54] kristinashu commented on #622
@mmmavis how about something like this? Ignore the all black logo but realizing the nav items should be open sans (since it is considered a UI element). Long names could fit on two lines.

<img width="318" alt="screen shot 2017-08-23 at 10 52 37 am" src="https://user-images.githubusercontent.com/1068783/29630476-3d151fea-87f1-11e7-89f7-87de6540665e.png">

[2017-08-23 18:14] mmmavis opened #672 "Nav links should be in Open Sans"
/cc @kristinashu

[2017-08-24 16:15] mmmavis opened #673 "Refactor form fields a bit"
The ["Add entry" form](https://redpen.io/zv6f73b34b59d981c7) and the to-be-built ["Edit profile" form](https://redpen.io/bk7c2a3cbaafdcd47a) shared some fields - issue checkbox group and help type checkbox group. Both these fields generate options based on Pulse API response. We should refactor the current form code a bit so we have a component like `<DynamicCheckboxGroup>` which
- make an GET API

[2017-08-24 18:24] hannahkane commented on #671
Closing, as this is a religious debate that will never be solved to everyone's satisfaction.

[2017-08-24 18:24] #671 closed

[2017-08-24 18:32] alanmoo commented on #631
I'm in favor of pagination across the board.

[2017-08-24 19:19] kristinashu commented on #631
I prefer the "load more" button. Pagination generally seems old school and not used on new social media type sites with user-generated content.

[Here is some user testing done around this topic](https://www.smashingmagazine.com/2016/03/pagination-infinite-scrolling-load-more-buttons/) which supports the load more button. Note this is for ecommerce but I think a lot of the points carry over (eg te

[2017-08-24 20:23] kristinashu commented on #597
I like the idea of linking to the network sites about page since it is out of scope for Pulse to be really explaining our key issues and the network site is better equipped for that.

I also suspect that even if someone has clicked on a link to get to /decentralization then they would have some context from the tweet.

[2017-08-25 16:11] #443 closed

[2017-08-28 19:39] mmmavis opened #675 ""Location" field on profile"
@Pomax @xmatthewx @hannahkane @kristinashu @alanmoo @gvn

I think we've briefly talked about this during the stands before, but I can't recall if we've come to a conclusion. Have we decided what to store for the location field? Is it just one field that is comprised of `City/Town, Country` as one string? Or when showing on the front end, a combined meta that is comprised of two fields - `City/Town

[2017-08-28 20:12] gvn commented on #675
I believe that the Google location API will return a structured object, which I would suggest storing in its entirety (or storing select fields as structured data since we don't want to get too specific for privacy reasons).

If we ever want to do more than display an address string you're going to want to work with structured data. Creating structured data from single string addresses would be ex

[2017-08-28 21:03] mmmavis commented on #574
@xmatthewx we have "sign in" link on both the `/add` page and `/favs` page. Can you add these 2 to the spreadsheet and their corresponding GA category/action/label? Thanks!

[2017-08-29 17:33] mmmavis commented on #675
Agree that storing structured data is better for this case. I will check out Google Places API docs today but others please feel free to leave your thoughts here.

[2017-08-29 19:07] xmatthewx commented on #651
I'm going to move this to the next milestone, but call it blocked by a shortage of hands.

[2017-08-29 19:11] xmatthewx commented on #604
Great progress. I need to work with @alanmoo to break up remain tasks into a few epics.

[2017-08-29 19:29] xmatthewx commented on #574
Thanks @mmmavis. Added comments. Let me know if you want to discuss.

[2017-08-30 02:00] mmmavis commented on #492
@kristinashu

I just did some experiments for this... (for a more technical summary see https://github.com/mozilla/network-pulse/pull/677#issuecomment-325853073)

In short, we can turn the default "enter/return" key on mobile into "search/go". Tapping a "search/go" key reloads the page (i.e., it triggers the form's onsubmit event, see the technical summary for details) and that's why the keyboard

[2017-08-30 17:08] alanmoo commented on #493
@arush0311 Did you still want to take this one/did you start it?

[2017-08-30 17:42] xmatthewx commented on #492
Oye. Thanks for investigating @mmmavis. Introducing a page reload is a big tradeoff for dismissing the keyboard. Curious what @kristinashu thinks.

I'm going to start a blog called "I can't believe the interweb hasn't figure this out yet." I'll add this and the anchor link + fixed header collision too.

[2017-08-30 17:51] xmatthewx commented on #643
@mmmavis I still see this bug on production. Staging looks good. Maybe the fix hasn't been promoted? We should promote stuff every Monday as part of our routine unless a thing is blocked. cc @alanmoo

<img width="732" alt="screen shot 2017-08-30 at 1 46 51 pm" src="https://user-images.githubusercontent.com/53411/29886921-bf4e5452-8d89-11e7-9fba-3bc001ff0e55.png">

[2017-08-30 18:00] mmmavis commented on #643
(I just did a prod push)

Yup yup sounds like a great idea!

[2017-08-31 13:30] arush0311 commented on #493
@alanmoo actually it depends on https://github.com/Pomax/react-formbuilder/pull/46, which is still under review i think

[2017-08-31 16:33] mmmavis commented on #493
Hey @arush0311 looks like there are some Pomax's inline comments in that PR that you haven't got a chance to address. Do you need further clarifications for any of them?

[2017-08-31 16:39] arush0311 commented on #493
yup. https://github.com/Pomax/react-formbuilder/pull/46#discussion_r134312380

[2017-09-01 14:41] xmatthewx commented on #618
I think we can call this done.