[2016-12-16 17:48] xmatthewx commented on #236
Baked 🍰. Continued thread in https://github.com/mozilla/network-pulse/issues/251

[2016-12-16 17:57] alanmoo commented on #251
I'm not quite sure how this data would be accurate if users of the site aren't necessarily logged in. We could keep track of the number of times a button's been clicked, but that says nothing of people changing browsers, emptying cache, etc.

[2016-12-16 18:14] Pomax commented on #251
I would strongly advocate tying any kind of likes/faves/etc behind a login, similar to hackernews, reddit, imgur, and other popular "user submission" sites. You can enjoy the content, but if you want to build the community (by 'rewarding' submitted with likes/faves/etc) you should be an identifiable party.

[2016-12-16 18:43] mmmavis opened #253 "Hover state for bikeshed-magenta(#e14164) links"
@kristinashu do we apply a color change or?

[2016-12-16 18:51] kristinashu commented on #253
I should change to the darker tint of bikeshed-magenta.

[2016-12-16 18:58] mmmavis commented on #253
@kristinashu cool! Do you have the color code or you know how dark (%?) it should be?

[2016-12-16 19:02] kristinashu commented on #253
Should be lightness -15% or darkened 15% https://mozilla.github.io/mofo-bootstrap/demo/

[2016-12-16 19:05] mmmavis commented on #253
Awesome. Thanks!

[2016-12-16 19:05] #253 closed

[2016-12-16 19:30] Pomax opened #254 "tie network-pulse posts into PlanetMozilla?"
Planet Mozilla (the moz-wide aggregator) could be fed with network-pulse entries if that makes sense, by having an RSS feed for entries posted. The PM aggregator inspects RSS feeds (once a day I believe) and the automatically adds it to the PM aggregator page and tweets out the fact that a new post showed up.

[2016-12-16 21:57] xmatthewx commented on #251
Yes, very good points.

While we build an audience in 2017, anonymous views can help us build curation to build an audience to build more meaningful activity. 🐔 🍳

Maybe we can do a little of this, then turn it off when the bots arrive? A threshold of minimum favs by known users could help filter out views from people trying to game the system.

[2016-12-16 22:24] kristinashu commented on #250
Invision has a blog post [Usability Checklist for Web Apps](http://blog.invisionapp.com/usability-checklist-for-web-apps/) that briefly touches on:
"Include Go back to… somewhere close to the top of the screen. Notice that Go back to the product list works much better than just Go back—it has an action verb and clearly states where the user came from."

[2016-12-16 23:06] alanmoo commented on #250
I think that's reasonable if we have an information architecture that supports it, like a messaging app where the logical back action from a message is to a list of messages. However, I'm still not convinced it makes sense given the current IA and url structure.

[2016-12-19 18:54] kristinashu commented on #246
@xmatthewx need anything else for this?

[2016-12-19 19:55] xmatthewx commented on #246
No, I think these give us all the help we need.

[2016-12-19 20:17] #246 closed

[2016-12-19 22:51] mmmavis commented on #244
Done! https://pulse-mavis.herokuapp.com/featured

Note that once I've fixed those obvious bugs (e.g., image assets not loading problems etc) I'll move the code to `mozilla` (it currently lives on https://github.com/mmmavis/network-pulse/tree/react).

[2016-12-19 22:51] #244 closed

[2016-12-19 22:53] mmmavis commented on #244
oh and I didn't apply the grey background as suggested - the page looked a bit blocky to me 😉

[2016-12-19 22:57] mmmavis commented on #248
Reactification work is done. There are still some obvious bugs here and there - I'll move the code to this repo once I resolve those issues. I'm gonna keep this ticket open until then.

[2016-12-19 22:59] mmmavis commented on #252
Closing this ticket now as the dedicated search page has been build. See my WIP app: https://pulse-mavis.herokuapp.com/featured

Let's create new tickets for features we have not yet tackled!

[2016-12-19 22:59] #252 closed

[2016-12-19 23:14] xmatthewx commented on #252
Hi. Things are coming along nicely.

Trying this out now, I wonder if we don't want to stick with card view for search results. Titles alone aren't very helpful for browsing a topic. cc @kristinashu

Want a new ticket to discuss this @mmmavis ?

[2016-12-19 23:25] kristinashu commented on #252
Some discussion in redpen https://redpen.io/bk7fcefb87aceeab12

[2016-12-20 18:01] xmatthewx commented on #250
Let's keep this open after we land the next build. See how it feels.

[2016-12-20 18:03] xmatthewx commented on #222
I think this is resolved and reflected in the new DB development. cc @alanmoo

[2016-12-20 18:03] #222 closed

[2016-12-20 18:06] xmatthewx commented on #161
@kristinashu - any feedback? let's assign to @mmmavis it the plan looks good.

[2016-12-20 18:13] xmatthewx commented on #252
Mobile or not, I still think that titles alone aren't super useful. (They work for favs since those are familiar)

On the new build, searching is likely to blink the display of projects as it pings the DB, so it should feel like something is happening, even if the card in front of you doesn't change. If that's not enough, we could solve the problem with a loading spinner.

[2016-12-20 18:14] kristinashu commented on #161
Works for me.

[2016-12-20 18:49] kristinashu commented on #241
Here's a pink pulse line at 196x196px on both a white background and a transparent background.

![icon-fav-white](https://cloud.githubusercontent.com/assets/1068783/21363551/e5864a62-c6a1-11e6-9b54-f0915b9aab62.png)
![icon-fav](https://cloud.githubusercontent.com/assets/1068783/21363550/e5832044-c6a1-11e6-9141-7e69154e6d73.png)

[2016-12-20 18:52] #249 closed

[2016-12-20 19:11] Pomax commented on #251
Oh that's a good point - we probably want to track view count in a way that lets us see how many show up "in searches" as well as how many are clicked-through. On community-voted sites the main page tends to be the highest voted content (based on some magic internal score), but since we won't have a "community" as such at first, pure "how many times has this thing been on people's screens" will be

[2016-12-20 19:13] kristinashu opened #256 "update logo"
@mmmavis please update the logo to this svg (in the header and also the splash screen):
[logo-pulse.svg.zip](https://github.com/mozilla/network-pulse/files/664542/logo-pulse.svg.zip)

[2016-12-20 19:37] xmatthewx opened #257 "Input form"
We will soon move from google form to a our own frontend for the db. Let's do a quick pass on the design...
 - What patterns do we want keep or change from the current form ui/ux? (including error handling)
 - How will we handle adding one or more creators as discreet?
 - How will we handle tags?
 - Some indication that your name is attached as submitter.
 - Image upload (hopefully there's a modul

[2016-12-20 23:52] mmmavis commented on #243
https://pulse-mavis.herokuapp.com/favs done! fixing footer and spacing now.

[2016-12-20 23:52] #243 closed

[2016-12-21 00:35] mmmavis commented on #178
As an interim solution I made footer stayed at bottom of the page and applied background colour to it: https://pulse-mavis.herokuapp.com/favs

If the *new* footer is going to be an universal one (I saw a similar one on the Science site) I think we should probably create a `footer` component on [`mofo-ui`](https://github.com/mozilla/mofo-ui) and pull from it. Thoughts?

/cc @kristinashu @gvn

[2016-12-21 16:08] alanmoo commented on #251
I'm working on a PR that adds tracking to the views themselves (such as `/entries/` or `/entries/{#}`). It works without much effort, though I'm not sure it quite covers everything we want to do. Along with the associated metadata, it also captures the server response which we could search through later on. However, it seems less-than-trivial to add some sort of indicator in the db to indicate whi

[2016-12-21 19:03] mmmavis commented on #235
24 sounds good!

[2016-12-21 22:47] kristinashu commented on #178
Yes, there is a ticket to add the footer as a component https://github.com/mozilla/mofo-bootstrap/issues/92 but not sure when that will actually happen.

[2016-12-22 00:35] mmmavis commented on #248
I just moved my reactification work from my repo to mozilla's: https://github.com/mozilla/network-pulse/tree/react . I'll be working off of this `react` branch from now on.

I would love to have someone review my code before merging it into `master` branch. (I will create a ticket for this). Until then... here's the (temporary) Heroku app to check out my progress: https://pulse-react.herokuapp.com

[2016-12-22 00:35] #248 closed

[2016-12-22 00:36] mmmavis commented on #235
done! https://pulse-react.herokuapp.com/latest

[2016-12-22 00:36] #235 closed

[2016-12-22 00:39] mmmavis opened #259 "Update `master` branch with v2 code"
Pulse v2 code (React version) lives on the `react` branch currently. I would love to have my code reviewed before merging it into `master`. 💛 😃

- review `react` code
- make sure updating `master` will not affect our production site (`gh-pages` branch)
- merge `react` into `master`

[2016-12-22 00:40] mmmavis opened #260 "Update README.md in `react` branch"

[2016-12-22 00:49] mmmavis opened #261 "Splash page"
@kristinashu @xmatthewx

Do we still need a splash page for Pulse v2? Now that we've included "Mozilla Network Pulse" in the navbar (plus adding an About page is on the roadmap too?) I feel it's a bit redundant to have a splash page mentioning the same thing.

Pulse v1: https://mozilla.github.io/network-pulse/
Pulse v2(WIP): https://pulse-react.herokuapp.com/latest

[2016-12-22 17:39] kristinashu commented on #235
Nice!

[2016-12-22 18:15] gvn commented on #178
Yeah, we would like to add the footer to `mofo-ui` but no one has started that work.

Volunteers are welcome! 😉

[2016-12-22 19:03] kristinashu commented on #261
I think we could still have it for the tag line but let's see what @xmatthewx says. There is also a ticket to make the splash screen last longer https://github.com/mozilla/network-pulse/issues/205

[2016-12-22 20:31] #161 closed

[2016-12-23 00:36] #256 closed

[2016-12-23 01:09] mmmavis commented on #241
hey @kristinashu can you export @ 2x ones too plz? Thanks! :clinking_glasses:

[2016-12-23 01:14] mmmavis commented on #233
I think this is done: https://pulse-react.herokuapp.com/featured 😄  Feel free to open a new ticket if anything needs to be tweaked.

[2016-12-23 01:14] #233 closed

[2016-12-23 17:19] kristinashu commented on #241
Yup yup, here you go!

<img width="196" alt="icon-fav-white 2x" src="https://cloud.githubusercontent.com/assets/1068783/21459170/d2f43c50-c8f0-11e6-82ae-57591e89c8df.png">
<img width="196" alt="icon-fav 2x" src="https://cloud.githubusercontent.com/assets/1068783/21459171/d2f748fa-c8f0-11e6-875a-aea773487705.png">

[2016-12-23 17:24] kristinashu opened #265 "Make logo link to Featured screen"
@mmmavis please make the logo link to 'home' (which would 'Featured').

[2016-12-23 17:32] kristinashu opened #266 "Share link URL feature isn't working"
@mmmavis the share link feature is not working on the react site, it should function the same as on the production site.

- React version is showing the URL before I click on the icon (URL should be hidden until I click it).
- Clicking on the link icon isn't copying the URL (clicking should copy the URL).
- Hover state is a blue box (should be a pink icon).

<img width="585" alt="screen shot 2016-

[2016-12-23 17:37] kristinashu opened #267 "Nav item spacing"
@mmmavis the menu items look very close together, please space them out a little more to increase legibility. They might need to be close together narrow screens but could be more spread out on wider screens.

Comp:

<img width="316" alt="screen shot 2016-12-23 at 9 34 42 am" src="https://cloud.githubusercontent.com/assets/1068783/21459457/2d2e5f78-c8f3-11e6-89bf-2021d7221a7b.png">

<img width="11

[2016-12-23 17:47] kristinashu commented on #244
So much better! Thanks @mmmavis :clap:

[2016-12-23 21:13] mmmavis commented on #267
done! https://pulse-react.herokuapp.com/featured

[2016-12-23 21:13] #267 closed

[2016-12-23 21:17] kristinashu commented on #267
Perfect, thanks!

[2016-12-23 21:27] kristinashu opened #269 "Can't hide keyboard on search screen (iPhone)"
@mmmavis even after clicking 'return' or the close 'x' icon on the keyboard, the keyboard is always visible. The keyboard should be hidden after a user clicks 'return' or the close keyboard icon.

On iPhone 6s iOS 10.2 in Chrome

<img width="402" alt="screen shot 2016-12-23 at 1 23 55 pm" src="https://cloud.githubusercontent.com/assets/1068783/21462635/24bdbb16-c913-11e6-9063-038998f1edd5.png">

[2016-12-23 21:30] kristinashu opened #270 "Footer blocks content on issues screen (iPhone)"
@mmmavis footer is at the bottom on the screen and blocks page content, can't scroll down to see the content.

On iPhone 6s iOS 10.2 in Chrome

<img width="400" alt="screen shot 2016-12-23 at 1 24 17 pm" src="https://cloud.githubusercontent.com/assets/1068783/21462672/985c2f26-c913-11e6-82ef-4df71e2d2f2b.png">

[2016-12-23 21:31] kristinashu opened #271 "Fira isn't loading"
@mmmavis Fira font isn't loading on my phone.

[2016-12-23 22:49] mmmavis commented on #265
Fixed! https://pulse-react.herokuapp.com/

[2016-12-23 22:49] #265 closed

[2016-12-24 00:04] mmmavis commented on #270
should be fixed now https://pulse-react.herokuapp.com/issues

[2016-12-24 00:04] #270 closed

[2016-12-24 00:39] mmmavis commented on #266
oh yea I haven't implemented that part yet 😁

[2016-12-27 18:31] aayushsanghavi commented on #70
I'd like to take this issue

[2016-12-27 18:56] ryanwarsaw commented on #70
Hey @aayushsanghavi! I just wanted to give you a heads up, Mozilla Foundation is currently on winter break until January 3rd, and this project is currently being converted to a React project.

You may want to wait for these changes to land before you tackle this, or alternatively if you want to get started immediately, you could try and make your changes off of the react branch. Just note there wi

[2016-12-27 19:39] aayushsanghavi commented on #70
Okay but I've already fixed the issue on my local master branch and I don't know react, so is it fine if I made a PR for this issue (on the master branch) and one of the contributors could make appropriate changes to make it work in react.

[2016-12-27 20:22] ryanwarsaw commented on #70
@aayushsanghavi Definitely file a pull request if you've already made the changes, I wouldn't be able to answer your second question, but I don't see any problem with doing that. Just as long as this issue remains open, we should be fine. 🎉

[2017-01-03 20:29] kristinashu commented on #257
Here's a first pass at the form: https://redpen.io/nvd9c7a75f06c79e35

It's based on the current form and the updates determined in https://github.com/mozilla/network-pulse/issues/236

The styling is based on Bootstrap 4 http://v4-alpha.getbootstrap.com/content/reboot/#forms

cc @mmmavis

[2017-01-03 20:30] kristinashu commented on #236
Working on design in https://github.com/mozilla/network-pulse/issues/257

[2017-01-03 21:00] mmmavis commented on #266
done! https://pulse-react.herokuapp.com/

[2017-01-03 21:00] #266 closed

[2017-01-03 21:37] mmmavis commented on #271
@kristinashu was this bug found on v1 or v2?

[2017-01-03 22:05] kristinashu commented on #271
Sorry, it's on v2

[2017-01-03 22:50] mmmavis opened #276 "Mention the ongoing v2/React work in README.md"

[2017-01-04 02:39] mmmavis commented on #242
Done!

[2017-01-04 02:39] #242 closed

[2017-01-04 02:39] mmmavis commented on #241
Done!

[2017-01-04 02:39] #241 closed

[2017-01-04 19:04] mmmavis commented on #257
@kristinashu lovely! How do we wanna show error message / indicate invalid input? How do other MoFo sites handle it?

[2017-01-04 19:20] kristinashu commented on #257
Thanks @mmmavis! For the form fields, we can style the same as Bootstrap:

<img width="560" alt="screen shot 2017-01-04 at 11 05 42 am" src="https://cloud.githubusercontent.com/assets/1068783/21655306/553563a2-d26e-11e6-9f32-7bf11e42d397.png">

Would inline validation be an option?

Are there any other possible errors? Not user errors but if there is a backend error or connection problem while a u

[2017-01-04 19:59] ryanwarsaw commented on #276
@mmmavis If you don't mind, I can put this in with the documentation work I'm doing over on #139

[2017-01-04 20:00] #276 closed

[2017-01-04 20:36] mmmavis commented on #271
Fixed!

[2017-01-04 20:36] #271 closed

[2017-01-05 00:19] mmmavis commented on #269
Fixed! https://pulse-react.herokuapp.com/search

[2017-01-05 00:19] #269 closed

[2017-01-05 00:47] #205 closed

[2017-01-05 20:50] mmmavis commented on #70
@ryanwarsaw thanks for taking care of the repo and contributors while most of us were away! 👍

@kristinashu should we include heart icon in each list item so users can unfav things from the favs page as well?

@aayushsanghavi I'm going to review your PR now 😃

[2017-01-05 21:01] kristinashu opened #288 "Add heart to fav view list"

[2017-01-05 21:01] kristinashu commented on #70
Yes, very good idea @mmmavis! I've opened a new ticket for it https://github.com/mozilla/network-pulse/issues/288

[2017-01-05 22:25] mmmavis opened #289 "List view instead of card view for the Favs page"
Similar to https://github.com/mozilla/network-pulse/issues/70 , let's do the same for v2 of the app.

Related ticket: https://github.com/mozilla/network-pulse/issues/288

[2017-01-06 11:19] aayushsanghavi commented on #288
I'd like to take this issue

[2017-01-06 13:01] xmatthewx opened #290 "Typo on favs view placeholder"
Things are looking awesome on the new build. Noticed a small typo:

"Expore" instead of "Explore" on the button.

<img width="336" alt="screenshot 2017-01-06 07 59 35" src="https://cloud.githubusercontent.com/assets/53411/21718546/2d28201a-d3e6-11e6-8cfe-ac09ea5dac9d.png">

[2017-01-06 13:05] aayushsanghavi commented on #288
Where should the heart icon be placed? Just beside the title of the project item or in the extreme right part of the div?

[2017-01-06 13:12] xmatthewx opened #291 "Search - show Cards rather than List"
There was some discussion in redpen and in https://github.com/mozilla/network-pulse/issues/252#issuecomment-268315616, but ..... I neglected to reopen the ticket. Whoopsie.

Let's use cards for Search.

Compare the browsing experience:

<img width="1152" alt="screenshot 2017-01-06 08 10 26" src="https://cloud.githubusercontent.com/assets/53411/21718779/a670b4ae-d3e7-11e6-8609-cc240ba8f67e.png">

<

[2017-01-06 14:56] aayushsanghavi commented on #288
![screenshot from 2017-01-06 20 23 38](https://cloud.githubusercontent.com/assets/19590302/21721402/3d5bea4e-d44e-11e6-8834-353cb4914b31.png)
I've implemented the issue as above. Would you like to suggest changes in the view or is it fine?

[2017-01-06 15:09] alanmoo commented on #251
This appears to be the last item that's blocking us from completing the back end. I don't believe we've got enough of a plan to really act on it, when considering the comments @Pomax made in [this PR](https://github.com/mozilla/network-pulse-api/pull/8)

[2017-01-06 15:10] alanmoo commented on #251
Or maybe @cadecairos you do?

[2017-01-06 15:42] alanmoo commented on #251
Alright I've come up with some thoughts:

Fav count for authed users: simple many to many relationship from user account to "liked" entries. We can display that as a count on the entries or a list for the user.

"Shown in group" counter on the entry model, incremented every time an API call shows this entry in a list of results (i.e.`GET /entries/`)

"Viewed individually" counter on each entry, in

[2017-01-06 16:07] xmatthewx commented on #251
Really? That's awesome news.

This list looks great @alanmoo. Let's discuss whether to push this as a follow on item. Might be worth wrapping up the backend so we can start testing everything. Unless this will be fairly quick and easy, stats could wait until early Feb. Curious what you and @Pomax think.

"Share intent" would count clicks on Link (implemented) or Facebook/Twitter (not yet implement

[2017-01-06 16:12] xmatthewx commented on #288
I defer to @kristinashu, but I'd guess we'll align to right side of the card to follow the pattern on the detail view. https://redpen.io/wx0ef253b2c39028d1

[2017-01-06 16:19] cadecairos commented on #251
I'm not entirely sold on building in an analytics system beyond simple upvotes[1], when we can use GA to see what's popular and manually promote popular content via the django admin interface..

I think the effort required and complexity of rolling custom analytics directly into the api outweighs using what's readily available from our GA account.

[1] should be easy, especially if auth'd

[2017-01-06 16:35] xmatthewx commented on #251
Good feedback. We can work with our Featured view and later build a manual Trending view later until we achieve a need for something more sophisticated.

Before we close this....
 1. Let's make sure our GA implementation is tight. On Webmaker app, it was difficult to see trends. Project views were buried in events without project titles. GA on the mozfest event app was better. Let's make this the

[2017-01-06 16:48] cadecairos commented on #251
as long as the fav is just a simple table row showing userID and Project ID, we can extract whatever we need via query (favs for a user, favs for a project, etc.)

[2017-01-06 16:56] alanmoo commented on #251
Yeah, I'll start with the authenticated user favorites; that seems like the most logical place to begin building out any sort of useful data.

[2017-01-06 17:15] kristinashu commented on #288
Thank you @aayushsanghavi for helping out it this!

Yes, the hearts will be more consistent with the rest of the site if they line up of the right side.
![3d5bea4e-d44e-11e6-8834-353cb4914b31](https://cloud.githubusercontent.com/assets/1068783/21726195/8b6cbe56-d3f0-11e6-802f-4ebf99428855.jpg)

[2017-01-06 18:24] aayushsanghavi commented on #288
Okay, I'll fix that and make a pull request

[2017-01-06 19:46] mmmavis commented on #257
@Pomax @alanmoo
For client side validation I think having inline error messages sounds good. What should we do if the backend server is down? Do we wanna show some sort of feedback message upon form submission?

[2017-01-06 22:52] mmmavis commented on #290
Ha nice catch!

[2017-01-06 23:02] mmmavis commented on #290
Done!

[2017-01-06 23:02] #290 closed

[2017-01-07 00:47] mmmavis commented on #288
For v1, I think it makes sense to use list style layout since favs page can get super long as we show ALL faved project at once.

For v2 we have the "view more" button (https://pulse-react.herokuapp.com/latest scroll to page bottom to find the button) and therefore it solves the super long page problem. I wonder for consistency reason if we should use cards on favs page (vs list style)? Note that

[2017-01-07 10:08] xmatthewx commented on #288
I'm open to either.

The change from cards to a list for Favs came from a suggestion by another friendly designer, not something we observed in users. I don't think we know yet if/how people will use the Favs list. I do agree with @mmmavis that the new card style addresses the original problem that prompted the list.

@kristinashu - what do you think?

[2017-01-09 14:12] xmatthewx opened #294 "Pulse v2 launch meta"
Hi team. We are on the final stretch to launch our new build. We will need this ready for the network launch. Let's aim for Jan 31 to production, so we have time to QA and squash bugs. The work seems manageable, but there's risk from conflicting priorities.

Meta tasks below. Tried to order them logically. I'm on mobile. Can someone link relevant issues?

1. [Finish tests](https://github.com/mozil

[2017-01-09 14:15] xmatthewx commented on #294
CC @kristinashu @mmmavis @pomax @alanmoo =:-)

[2017-01-09 16:21] alanmoo opened #295 "Migrate data to real backend"

[2017-01-09 16:39] kristinashu commented on #288
Sure, stick with the new cards.

[2017-01-09 16:39] alanmoo opened #296 "Connect React front end to Django back end"
A staging server is propped up at http://network-pulse-api-staging.herokuapp.com/. It needs to be reviewed and redeployed at some point soon, but at least it's something to start working with.

Work includes:

- [x] migrate data from Google Spreadsheet to real database https://github.com/mozilla/network-pulse/issues/295
- [x] use Pulse API to fetch data https://github.com/mozilla/network-pulse/iss

[2017-01-09 17:18] alanmoo commented on #257
Yeah, maybe an error by the submit button?

[2017-01-09 17:19] alanmoo commented on #294
Edited original comment with links

[2017-01-09 18:38] mmmavis commented on #288
Cool, I'll update & close https://github.com/mozilla/network-pulse/issues/289 . 😉

[2017-01-09 18:39] mmmavis commented on #289
We decided to stick with the card layout.
(see https://github.com/mozilla/network-pulse/issues/288#issuecomment-271334962)

Closing this ticket now.

[2017-01-09 18:39] #289 closed

[2017-01-09 18:39] xmatthewx commented on #294
@pomax – we all chatted on Friday. Anything on your plate missing from this list?

[2017-01-09 18:53] Pomax commented on #295
can we add some guide test and concrete steps to this issue? (which data specifically, which backend specifically, how many steps are involved in the entire process?)

[2017-01-09 18:57] Pomax commented on #257
If there is no backend server disabling the form and showing an error that the service is currently unavailable feels like something internet users would be familiar with - it's easy enough to test for since the form needs to ask the server for a unique form id anyway. If it can't reach the server at that point, then submitting later won't really do much even if the server does come back up after

[2017-01-09 18:59] Pomax commented on #251
+1 - though we'll want a triplet `{user id, entry id, time of faving}` rather than just the user and entry tuple, so that we can trivially grep for popularity-over-time instead of that being literally impossible =)

[2017-01-09 19:03] Pomax commented on #294
@xmatthewx I don't think so, I'm working with Alan on the testing and thinking out loud with him about the favouriting mechanism, and don't see anything missing from the above list.

[2017-01-09 19:10] mmmavis commented on #291
Done! https://pulse-react.herokuapp.com/search

[2017-01-09 19:10] #291 closed

[2017-01-09 19:28] kristinashu commented on #257
I've added a comp with the error warnings and got a bunch of design feedback at crit today. Please also add any comments/feedback you may have https://redpen.io/ov0d7f8ba9c437ee56

[2017-01-09 20:55] mmmavis commented on #261
Done! https://pulse-react.herokuapp.com

[2017-01-09 20:55] #261 closed

[2017-01-09 22:31] kristinashu opened #299 "Sign in and Logout design"
I will mock up where the Sign in and the Log out button/link will go.

@xmatthewx @mmmavis @alanmoo @Pomax can you clarify the flow? User clicks Sign in, is redirected to google's sign in page, once they are verified they will be redirected back to Pulse (same screen as they were on before they signed in).

There won't be Sign up link.

[2017-01-09 23:12] mmmavis commented on #295
@alanmoo @Pomax

Data currently lives on Google Spreadsheet: https://docs.google.com/spreadsheets/d/1vmYQjQ9f6CR8Hs5JH3GGJ6F9fqWfLSW0S4dz-t2KTF4/edit We would like to "migrate" it over to our real database. I'm not sure what type of database we have for Pulse backend. I assume we cannot simply use the "download as csv" feature that Google Spreadsheet provides and import the csv into the database.

[2017-01-09 23:34] mmmavis commented on #260
Initial refresh is done!

[2017-01-09 23:34] #260 closed

[2017-01-09 23:36] mmmavis commented on #245
I believe this is done? If so let's close this ticket! @xmatthewx 👍

[2017-01-09 23:38] mmmavis commented on #231
I removed the `v1` tag as I'd like to focus on getting v2 done than adding enhancement to v1. I will get this implemented for v2.

[2017-01-10 00:01] mmmavis commented on #231
Done! https://pulse-react.herokuapp.com

[2017-01-10 00:01] #231 closed

[2017-01-10 00:12] mmmavis opened #303 "Implement 404 page"
Design: https://redpen.io/da82b5b7fb334ccf79

@kristinashu can you help export the broken link icon? I can't find it in Google Drive 😁

[2017-01-10 00:18] kristinashu commented on #303
Yup, here you go!
[icon 404.svg.zip](https://github.com/mozilla/network-pulse/files/694950/icon.404.svg.zip)

[2017-01-10 00:58] Pomax commented on #299
That's literally the flow, although there is an intermediate step that hopefully goes by "too fast":

- user clicks "sign in" link, which is a url that includes a url argument with the URL they are on now
- google does the entire sign in process and redirects the user to the API server's callback URL. This is always the same URL
- the API server's callback records the login and then (hopefully) im

[2017-01-10 13:01] xmatthewx commented on #245
Done!

[2017-01-10 13:01] #245 closed

[2017-01-10 13:03] xmatthewx commented on #139
@acabunoc @ryanwarsaw – is this done? file new tickets for other little bits?

[2017-01-10 13:03] xmatthewx commented on #92
done enough...

[2017-01-10 13:03] #92 closed

[2017-01-10 15:05] ryanwarsaw commented on #139
@xmatthewx Hey, the PR (#283) is still pending, I reviewed it briefly with @acabunoc who made great suggestions that I'll work on implementing before it's landed. I don't currently have access to my development machine (and won't for at least the next week) so I'll be delayed with my work temporarily.

[2017-01-10 17:17] Pomax commented on #257
I see that the redpen has a unified field for listing creators/contributors/partners distinct from the person posting the entry, but we only have 'creators' as a recognized role in the backend. Are all three effectively synonymous with "creator", or are the distinctions between the three roles that will be important for our users such that we need to preserve that information?

If not, it might be

[2017-01-10 17:33] kristinashu commented on #257
There's no distinction between creators/contributors/partners so having just the one field type works. For wording, we could say something like "Who are the creators? This could be staff, contributors, partners..."

Note that there is a difference between the person adding the project to Pulse ("Post by)" and the person (or people) who originally made the thing that is being posted.

[2017-01-10 17:42] alanmoo commented on #257
Then I'd agree we need a different noun. Best I can come up with off the top of my head is "contact person"

[2017-01-10 17:57] kristinashu commented on #257
How about "author"?

[2017-01-10 18:45] mmmavis commented on #303
Where should "let us know" link to? To https://github.com/mozilla/network-pulse/issues ?

[2017-01-10 18:48] kristinashu commented on #303
It can link to https://github.com/mozilla/network-pulse/issues/new

[2017-01-10 19:42] mmmavis commented on #296
Work includes:

- switching from Google Spreadsheet to real database
- have login system implemented on the front end side
- submission form

[2017-01-10 19:48] mmmavis commented on #303
Done! https://pulse-react.herokuapp.com/hello2017

[2017-01-10 19:48] #303 closed

[2017-01-10 19:55] mmmavis commented on #159
Can we move this to the following heartbeat since this is not a launch blocker?

[2017-01-10 19:56] mmmavis commented on #209
I probably won't get to this since

1) this only happens on specific version of Safari
2) we are going to launch v2 soon and this is a v1 minor bug

[2017-01-10 19:57] mmmavis commented on #234
I'm gonna remove this ticket from the current heartbeat since this is still in discussion.

[2017-01-10 21:28] Pomax commented on #257
Yeah, "author" feels like a reasonable unification noun.

[2017-01-10 23:17] mmmavis commented on #295
@Pomax , @alanmoo, and I talked about this briefly on chat. Here's the summary

(as reading in CSV is trivially easy in pretty much any language)

we can't simply do something like http://www.postgresqltutorial.com/import-csv-file-into-posgresql-table/ suggests because

2:48 PM
so the script would probably be a .py script that reads in the CSV, fires up our django instance, and then fires off "bla

[2017-01-10 23:26] mmmavis opened #305 "Use router-router for server side rendering"

[2017-01-11 13:36] xmatthewx commented on #257
This is just in code, not user facing? If so, sounds good.

[2017-01-11 17:18] Pomax commented on #257
A user facing change will also be necessary though: if we only have one field, that we label with one label when you view entries, then we should use that same label for when you submit an entry. A subtext that explains that we mean "creators, contributors, partners, etc" with that label makes sense of course, but we should not be setting an expectation that people are filling in data with a level

[2017-01-11 17:39] kristinashu commented on #257
I think there was a misunderstanding, I think I get it now.

**1) The user who is logged in and is adding a post to Pulse can stay as is.**

- Backend it is called "Entry.published_by"
- User sees "Post by"
<img width="195" alt="screen shot 2017-01-11 at 9 30 27 am" src="https://cloud.githubusercontent.com/assets/1068783/21859249/c3b439da-d7e0-11e6-89dd-e756d1d461e2.png">

**2) The form field wher

[2017-01-11 18:09] Pomax commented on #257
@kristinashu nice summary! This sounds like a good solution.

[2017-01-11 22:37] mmmavis opened #307 "Add server side data fetching"
Let's add server side data fetching to make Pulse more SEO friendly. This can also reduce app's initial loading time.

[2017-01-11 22:40] mmmavis commented on #307
Hey @alanmoo @gvn It seems like science.mozilla.org loads data on client side only. Other than the tight launch deadline / lack of development time, are there other reasons or findings I should be aware of?

[2017-01-11 22:41] mmmavis commented on #305
Done. now https://pulse-react.herokuapp.com/imnotfound is a real status 404 page! 😉

[2017-01-11 22:41] #305 closed

[2017-01-11 22:44] alanmoo commented on #307
Heh, this is still open - https://github.com/mozilla/science.mozilla.org/pull/512/files

But yeah, the key thing is that the server side method you use (React.RenderToString? Or maybe RenderToDOMString?) will not wait for async API calls to complete. As soon as react does its magic, the data-less site gets passed to the front end. I believe one approach is to use Flux/Redux to maintain state from

[2017-01-11 22:45] alanmoo commented on #307
(That being said, I completely agree that the data should be there on first load.)

[2017-01-11 22:47] mmmavis opened #308 "Use Pulse API to fetch data"
Currently we get data directly from Google Spreadsheet. When we have successfully migrated data to our real database we should use Pulse API to fetch data instead.

Note: This is currently blocked by https://github.com/mozilla/network-pulse/issues/295 (Migrate data to real backend )

[2017-01-13 00:24] mmmavis commented on #307
Guess I'll learn and give Redux a try! I will definitely need someone to review my PR once it's ready (I'm looking at you @Pomax and @alanmoo ) heh

[2017-01-13 17:42] kristinashu opened #309 "Build "add new entry" form"
Based on design in https://github.com/mozilla/network-pulse/issues/257

Comps: https://redpen.io/p/nzcd35d57dd04ad6dc

Basic styling is based on Bootstrap 4 http://v4-alpha.getbootstrap.com/content/reboot/#forms
but errors are styled a little different.

[2017-01-13 17:44] kristinashu commented on #257
Closing this ticket and opened an implementation ticket https://github.com/mozilla/network-pulse/issues/309

[2017-01-13 17:44] #257 closed

[2017-01-13 18:15] kristinashu commented on #299
Ok great, so I'll I need to mock up is the link to Sign in or Log out.

The layout works well easily on mobile but it's a little trickier on desktop because of the + icon. I had to move the icon up, make it white and slightly smaller.

https://redpen.io/p/nzcd35d57dd04ad6dc

@xmatthewx let me know if that works or if you have any other ideas.

<img width="1198" alt="screen shot 2017-01-13 at 10 10

[2017-01-13 18:16] Pomax commented on #299
Should the view also tell you who you're logged in as?

[2017-01-13 19:00] kristinashu commented on #299
It would be ideal to have a name and then 'Log out' after it but I don't think it will fit, especially long names.

[2017-01-13 20:05] mmmavis commented on #307
After reading some docs, it seems like Redux won't help with the thing we are trying to accomplish here @alanmoo . Especially the docs suggests fetching data on server side, storing it as a `window` var, including it in `<script></script>` in the HTML server serves: http://redux.js.org/docs/recipes/ServerRendering.html#the-client-side 🙄
Originally I was hoping by having server side data fetching w

[2017-01-13 21:01] mmmavis commented on #309
What do we show if a user is not logged in and he/she clicks on the "+" icon or visits `/add` page directly? @kristinashu

[2017-01-13 21:07] alanmoo commented on #307
Agreed, Redux feels like overkill for this. I do feel like the performance wins are worth it once we've got the site itself working. For future reference, [this may be helpful](http://redux.js.org/docs/recipes/ServerRendering.html#async-state-fetching)

[2017-01-13 21:07] kristinashu commented on #309
It should link to Google's Sign in page.

[2017-01-13 22:07] mmmavis opened #310 "Use Pulse API to store entries' fav state"
Currently Pulse uses `localStorage` to store a list of IDs of the entries that a user has fav'ed. Once the API is ready we should use the API to store this info on the database instead.

Question - Do we want to show heart(fav) icon ❤️ before users are logged in? If so, what does the icon do? Does clicking on it bring users to the login page? or?

/cc @kristinashu @Pomax @alanmoo

[2017-01-13 22:34] alanmoo commented on #310
I think we discussed this, but can't quite remember where we ended up- was it that we'd store anonymous likes as a separate data point on the entries model?

[2017-01-13 23:26] kristinashu commented on #310
Chatted with office peeps and we think it should bring users to the log in.

[2017-01-14 18:20] Pomax commented on #310
there was a bit of a confusion about what hearts represented, too. Are they bookmarks (i.e. data that is strictly tied to users without an "aggregate" number and purely used to find previously bookmarked entries at some later point in time) or are they likes (data that links users and entries, and gives a signal to the poster and the community as a whole that an entry is meaningful to the communit

[2017-01-14 18:27] Pomax commented on #299
for the mobile view would it make sense to put the "logged in as ....... [logout]" in the "grey bar"? I know it's the background, but making it a content div with the logged in user info might work. (Might mean that "log in" and "log out" are not in the place, but for a service where you don't log in and out all the time but just log in and then in most use cases leave it that way, I don't know if

[2017-01-16 19:24] kristinashu commented on #310
Just double checking, we are not counting how many times a post has been fav'ed, right? cc @xmatthewx

If we are counting, then lets stick with the heart but if we are not counting then lets open up a new ticket to mockup/discuss heart icon vs bookmark... either way, the icon shape is not a blocker.

[2017-01-16 21:30] Pomax commented on #310
I don't know if we are right now in pulse, we've set up the model to at least do this (even if we don't end up exposing it, but if the idea is to also do a bit of community building, likes/upvotes are a great cheap way to achieve that)

[2017-01-17 16:12] xmatthewx commented on #310
Let's stick with the icon and current behavior for now. We can follow up with some user testing later.

The primary goal is to enable people to keep track of their favorites. Ideally, people can use the feature without login. Login enhances by syncing, but isn't required.

If possible, let's keep Localstorage and check DB to sync latest info. We can resolve sync conflicts by keeping more favs.

We

[2017-01-17 16:30] xmatthewx commented on #299
@kristinashu – your login mockup looks good.

For logout, it seems like too much prominence. Like @Pomax says, there's isn't much need to logout. We could put it on light gray above the cards. Or in the footer. Is that weird? Or hide it in the Favs view, with a user's other stuff?

Could this all be hidden on the Favs view? Login as well? We could prompt when someone taps to Add or Favs for the fi

[2017-01-17 16:33] alanmoo commented on #299
Another ✚𝟏 for putting `log out` at the bottom somewhere.

[2017-01-17 16:37] xmatthewx opened #311 "Discuss user accounts"
We have a few overlapping topics related to user accounts. Can we gather those here for a meta discussion?

 - Favs – are these available for non-auth users?
 - Domains
   - we'll initially restrict to @mozilla email users. Can we whitelist others? Can others use Favs?
   - what happens to a user from another domain who can't login?
 - Login/Logout – login is critical for adding items, useful for

[2017-01-17 16:53] alanmoo commented on #311
Typo or intentional? If the latter, can you clarify? Seems counter to the second point.

[2017-01-17 17:28] xmatthewx commented on #311
Typo! _Not_ necessary. Corrected above.

[2017-01-17 17:56] Pomax commented on #311
Would it be possible to clarify on whether this is about "what we do now", "what we've implemented now", or "what we want to end up for MVP"?

Answering these points base on the work we've done/are doing for the new network-pulse-API implementation:

-Favs:  I'd very much like us to pick a more appropriate word for "favorites" to remove ambiguity around what the expected behaviour is. are we imple

[2017-01-17 18:01] Pomax commented on #299
It might also be fine to tie logout to the user's name rather than having it as a dedicated option. Which could be done through a "a profile page" (with certainly for now extremely minimal information) with a logout option that can be navigated to by tapping one's name, or with a small modal with a "you are logged in as abcdefgh - [logout] [dismiss]" when tapping one's name, etc.

[2017-01-17 18:19] alanmoo commented on #311
I agree with @pomax's points. A few things to add:

* Favs: we can still do the localStorage thing for non-authenticated users. We don't currently have an endpoint for non-authed users to increase a count of fav'd entries. But also, everything @pomax said is something I agree strongly with.

* For users who can't log in it depends on front end implementation, but I'd suggest some sort of messaging

[2017-01-17 18:53] Pomax commented on #311
One important question when we do go with localStorage bookmarking is how to make it explicit that those bookmarks are not synced in any way, and when to put them in the database when the user does end up logging in.

In the anonymous case, perhaps a one-time "you've just bookmarked an entry without being signed in - you will only be able to see your bookmarks on this device/in this browser. Pleas

[2017-01-17 20:18] alanmoo commented on #311
That dialog might be useful once we give everyone the ability to log in, but for now, I'd think not so much?

As for the transition problem: I we'd be happy if that becomes a problem, no? Similar to your first suggestion though, we could simply ask when people log in if they'd like to sync favorites from this computer to their account.

[2017-01-17 22:12] xmatthewx commented on #311
Summary from our discussion on video. Please flag any mistakes.

Issue to file [ @mmmavis @kristinashu  ]
 - failed login screen/model

## Versions & Privileges

### v1 (current production)

staff, non-staff, anonymous
 - no login
 - post
 - save favs locally

### v2.0 (in development)

admin (via django)
 - moderate
 - delete dups
 - manage users

staff (user)
 - login (w/ @mozilla @mozillafounda

[2017-01-17 22:35] mmmavis commented on #308
https://pulse-react.herokuapp.com/latest is now pulling data from Pulse API instead of Google Spreadsheet 🍾 :clinking_glasses: Once we have migrated spreadsheet data over we should be able to see a ton of entries on the site 😃

Note that the current codebase is a bit messy as a few API endpoints are not available yet (e.g., endpoint to return just the featured entries etc) so I added some client s

[2017-01-17 23:12] kristinashu commented on #299
If we remove Sign in from nav and put it into Favs, it could look like:

<img width="702" alt="screen shot 2017-01-17 at 3 08 40 pm" src="https://cloud.githubusercontent.com/assets/1068783/22043938/e789f88c-dcc6-11e6-94d9-f3e1dd753929.png">

Log out might be too prominent here but I do think it needs to be in the same location as Sign in, for consistency. Any suggestions for better wording?

Click

[2017-01-17 23:18] kristinashu opened #313 "Sign in failed message"
Need to design a screen or modal if a user tries to Sign in and can not.

[2017-01-17 23:19] kristinashu commented on #311
Opened a ticket for failed Sign in https://github.com/mozilla/network-pulse/issues/313

Is this ticket good to close?

[2017-01-17 23:25] alanmoo commented on #299
"Not {name}?" which is a link that logs you out?

[2017-01-17 23:53] kristinashu commented on #313
Users attempt Sign in by clicking on:
- Add post icon
- Sign in on Favs screen

Sign in fails if:
- Don't have a mozilla email
- Mess up mozilla email password?

Here are a two options: Modal vs page

<img width="700" alt="screen shot 2017-01-17 at 3 48 55 pm" src="https://cloud.githubusercontent.com/assets/1068783/22044981/843bb800-dccc-11e6-948a-be00a784c843.png">

cc @xmatthewx @mmmavis

[2017-01-18 14:44] xmatthewx commented on #313
Design is great. Should we add something like "Check back soon!" ?

If it takes a while to expand accounts beyond staff, we should add a field to gather email for a notice when it's ready. No need to trouble with that now.

[2017-01-18 18:33] kristinashu commented on #313
@mmmavis @xmatthewx any preference between Modal vs Page?

Is "Back" possible (will we know what screen the user was on before they clicked Sign in)?

[2017-01-19 00:16] kristinashu commented on #299
Maybe just:
<img width="644" alt="screen shot 2017-01-18 at 4 15 03 pm" src="https://cloud.githubusercontent.com/assets/1068783/22088507/516d2ea4-dd99-11e6-8077-101c0f493198.png">

@xmatthewx are you good with having the Sign in on the Favs sceen?

[2017-01-19 00:18] #311 closed

[2017-01-19 02:17] mmmavis commented on #70
This is done now: https://mozilla.github.io/network-pulse/ Thanks @aayushsanghavi !

[2017-01-19 02:17] #70 closed

[2017-01-19 02:31] mmmavis commented on #309
@kristinashu Should we hide the "+" icon if user is already on the /add page?

[2017-01-19 16:19] xmatthewx opened #316 "Reveal 'Add New' for authenticated users only"
Should we hide the button for everyone else @kristinashu?

[2017-01-19 16:19] xmatthewx commented on #309
Probably so. Related: https://github.com/mozilla/network-pulse/issues/316

[2017-01-19 16:26] xmatthewx commented on #299
I really like this treatment. Will it be right aligned on desktop?

Placement on Favs view is a bit quirky (my suggestion), but we can always promote it to other views as we build out user accounts more fully. Does it feel alright to you @kristinashu?

[2017-01-19 16:32] xmatthewx commented on #313
How about.... "Only Mozilla staff can login now as we test this new platform. Check back soon!"

I don't have a strong preference design-wise. Since we don't have other modals, and this won't affect most users, it might be easier to just do this as a page.

[2017-01-19 18:19] mmmavis commented on #313
@Pomax just wanna double check to see if I understand the flow correctly

### for non-Mozilla staff

1. User clicks on "Sign In" on Pulse
2. Sends user to the `/login?original_url=<url>` Pulse API endpoint (`original_url` is the URL to redirect user back after the auth process)
3. User is redirected to Google's Log In page
4. User enters emails/password
5. User is logged in on Google
7. User grant

[2017-01-19 18:24] kristinashu commented on #316
I think we should show it. It's a good reminder for staff to Sign in.

[2017-01-19 18:25] kristinashu commented on #309
Excellent point @mmmavis! Yes, please hide the + icon when on /add page.

[2017-01-19 18:37] mmmavis commented on #309
Things I have to do related to the submission form

- [ ] form UI
- [ ] form Validation
- [ ] post and error handling

[2017-01-19 18:40] kristinashu opened #317 "Implement Sign in failed screen"
Based on design in #313

Icon of person:
[icon-user.svg.zip](https://github.com/mozilla/network-pulse/files/717508/icon-user.svg.zip)

<img width="401" alt="screen shot 2017-01-19 at 10 58 37 am" src="https://cloud.githubusercontent.com/assets/1068783/22120937/b195ea9e-de36-11e6-9585-22d3bb68ab13.png">

[2017-01-19 18:42] simonwex commented on #296
@mmmavis @Pomax could you update this ticket to represent this week's work and create one with leftovers into the next milestone?

[2017-01-19 18:43] kristinashu opened #318 "Add Sign in and Logout link on favs screen"
Based on design in - Sign in and Logout #299

<img width="693" alt="screen shot 2017-01-19 at 10 50 53 am" src="https://cloud.githubusercontent.com/assets/1068783/22120715/c01330d2-de35-11e6-835d-ed3bcacde00e.png">
<img width="944" alt="screen shot 2017-01-19 at 10 51 58 am" src="https://cloud.githubusercontent.com/assets/1068783/22120716/c031b610-de35-11e6-8492-20667f939c71.png">

[2017-01-19 18:43] mmmavis commented on #209
For the reasons above. I'm gonna close this ticket 😉

[2017-01-19 18:43] #209 closed

[2017-01-19 18:45] Pomax commented on #313
@mmmavis small corrections:

### For every user

1. User clicks on "Sign In" on Pulse
2. Sends user to the `/login?original_url=<url>` Pulse API endpoint (`original_url` is the URL for the page they are on right now (they will be redirected to this URL after the auth process)
3. User is redirected to Google's OAuth page
4. User picks the google account they want to authenticate with. This may requ

[2017-01-19 18:45] arlissc commented on #308
@mmmavis - curious - what data are you pulling from spreadsheets now ? can I take a peak ?
thanks :)

[2017-01-19 18:47] mmmavis commented on #259
Gonna close this ticket and create a new for setting up staging and production instance for v2.

[2017-01-19 18:47] #259 closed

[2017-01-19 18:50] mmmavis commented on #308
@arlissc hey 😄 for sure, here's the link: https://docs.google.com/spreadsheets/d/1vmYQjQ9f6CR8Hs5JH3GGJ6F9fqWfLSW0S4dz-t2KTF4/edit . We used it as the temporary and quick "database" solution. Since now our real database for Pulse is built we are gonna move away from Google Spreadsheet.

[2017-01-19 18:54] kristinashu commented on #299
Great, thanks!

I've moved the text to the left side so it works on both desktop and mobile (without getting in the way of the + icon).

<img width="693" alt="screen shot 2017-01-19 at 10 50 53 am" src="https://cloud.githubusercontent.com/assets/1068783/22120663/8e8585ec-de35-11e6-96b7-85533916a23b.png">
<img width="944" alt="screen shot 2017-01-19 at 10 51 58 am" src="https://cloud.githubusercont

[2017-01-19 18:54] #299 closed

[2017-01-19 18:55] mmmavis commented on #308
After a few PRs on Pulse API repo get merged I'll remove the code that does client side data filtering and switch to use the newly added endpoints/query params instead.

- https://github.com/mozilla/network-pulse-api/pull/32
- https://github.com/mozilla/network-pulse-api/pull/33
- ( https://github.com/mozilla/network-pulse-api/pull/35 )

[2017-01-19 18:56] mmmavis commented on #308
Um I think creating a new ticket for the followup todos makes more sense. Let me close this ticket now as now Pulse does pull data from the API and not Google Spreadsheet. 🍾

[2017-01-19 18:56] #308 closed

[2017-01-19 19:00] arlissc commented on #308
@mmmavis - awesome quick response. 👍

[2017-01-19 19:01] mmmavis opened #319 "Remove client side data filtering code"
After a few PRs on Pulse API repo get merged I'll remove the code that does client side data filtering and switch to use the newly added endpoints/query params instead.

- https://github.com/mozilla/network-pulse-api/pull/32
- https://github.com/mozilla/network-pulse-api/pull/33
- ( https://github.com/mozilla/network-pulse-api/pull/35 )

[2017-01-19 19:01] kristinashu commented on #313
Updated comp for failed login:

<img width="401" alt="screen shot 2017-01-19 at 10 58 37 am" src="https://cloud.githubusercontent.com/assets/1068783/22120876/6fbbcc24-de36-11e6-8b10-d6067ab2ba3f.png">

Closing this ticket and opened one for implementation - Implement Sign in failed screen #317

[2017-01-19 19:01] #313 closed

[2017-01-19 20:05] mmmavis commented on #316
+1 on showing it

[2017-01-19 20:14] mmmavis commented on #318
Sorry I'm confused - so the "Are you Mozilla Staff? Sign In" / "Hi username! Log out" text **only** appears on the favs page???

[2017-01-19 20:21] kristinashu commented on #318
That's right. I know it's odd but people felt it should be kinda hidden.

[2017-01-19 21:19] Pomax commented on #251
As per the current pulse API rewrite (and pending PRs at the time of writing this comment) we have access to the following information in the database:

- individual bookmarks placed by users
- as direct derivative: number of bookmarks by users on an entry
- as direct derivative: for individual entries, whether it is bookmarked by a viewing user or not
- creation timestamps for each user/entry boo

[2017-01-19 21:42] xmatthewx commented on #251
Thanks. This is an awesome review.

I'll file a ticket for the backlog to think about an MVP dashboard for when we've got some data to surface.

[2017-01-19 21:42] alanmoo commented on #251
Can we close this now then?

[2017-01-19 21:49] xmatthewx opened #320 "Plan a "trending" dashboard"
We're collecting some data that can help us understand what items on Pulse are interesting to users. A dashboard would help us gather insights and then feature items for easier discovery.

We will have data on [Favs](https://github.com/mozilla/network-pulse/issues/251#issuecomment-273901850) (aka bookmarks). Data on views will only be in google analytics for now (is that true @alanmoo?). Both can

[2017-01-19 21:53] xmatthewx commented on #294
Let's all peek at this meta ticket as we prep for work next week before people travel and shift to other projects. @kristinashu @mmmavis @Pomax @alanmoo

Any big revisions, concerns, new items we've identified as mvp work?

[2017-01-19 21:55] xmatthewx commented on #251
I think yes. Is there other things we're tracking in the DB? Or is everything else in analytics? (e.g. item views)

[2017-01-19 21:57] xmatthewx commented on #318
@mmmavis – we could promote it to other views later. Right now, it's just not useful for most visitors, just staff. Feels weird to have it front and center and then say _sorry, you can't login_.

[2017-01-19 21:59] xmatthewx commented on #316
Good point. Closing this.

[2017-01-19 21:59] #316 closed

[2017-01-19 22:00] Pomax commented on #251
For reliability I would says item views etc should be client side, as the client is able to tell whether a user is *actually* looking at items etc. whereas the API server can only know that "something" requested a set of entries, without any knowledge of whether that set is going to be further filtered down or even viewed at all.

[2017-01-19 22:13] alanmoo commented on #320
Yup, only in analytics. The easy to wrap in stuff captures way too much data and isn't extremely useful.

[2017-01-19 22:23] alanmoo commented on #294
@xmatthewx We reviewed the milestone today with @simonwex, so those are up to date

[2017-01-19 22:38] xmatthewx opened #321 "Plan transition for staff submissions pre- and post-migration"
At some point this month, we'll want to nudge staff to make sure the best of 2016 has been filed in Pulse. We should time that with migration to our new DB in mind.

 - At what point should we shutdown the v1 google form? Has migration started already?
 - At what point can they start using the new form? (I think beta staging with some quirks is okay)
 - Will there be a few days of lockdown in betw

[2017-01-19 22:58] alanmoo commented on #321
I'm aiming to migrate to a staging db tomorrow. Depending on how that goes, we'll either need to manually move over new items after I grab existing ones tomorrow, or I'll figure out a way to make it pretty easy to do a final migration when v2 is live.

[2017-01-20 18:19] mmmavis commented on #309
Design: https://redpen.io/ov0d7f8ba9c437ee56

What should we show someone who's currently logged in but decides to click on the `Sign Out` link. We don't have a dedicated logout page and clicking on the `sign out` link will sign user out immediately. On the favs page we are just doing an inline text change (https://github.com/mozilla/network-pulse/issues/318) but `/add` can only be accessible by a

[2017-01-20 18:36] xmatthewx commented on #309
a redirect to Featured would indicate a state change. @kristinashu - would that feel natural?

[2017-01-20 18:39] kristinashu commented on #309
Yeah, I think bring the user to the Featured page works.

[2017-01-20 18:47] mmmavis opened #323 ""postcss" node package does not work on Windows"
We should try to find an alternative or at least have a note on README first.

[2017-01-20 18:54] Pomax commented on #323
notes don't do much when colleagues need things to work in order to do review, so I would highly recommend *not* running any postcss browser compatibility fixed for development, with a special npm tasks like `npm run compat` that does include the postcss for testing in older browser. The majority of dev is on current Firefox/Chrome/Safari/etc so shouldn't need the "last 3 browsers" fixes that post

[2017-01-20 18:55] mmmavis opened #324 "Splitting up npm scripts a bit more"
Advice from @Pomax:

[2017-01-20 19:22] xmatthewx opened #325 "Confirm google analytics are optimal"
@mmmavis – have the google analytics on the prototype been migrated to new implementation?

If so, awesome. I assume our views (recent, issues, etc) will show up now that we have proper routing. True?

An improvements I think we need:
 - make sure that project titles show up in Behavior > Site content > Content drilldown. It currently just shows IDs in the URL, making it hard to analyze trends.

L

[2017-01-20 19:25] xmatthewx commented on #251
Thanks for the discussion. I think this is good and done. I filed a new ticket specific to anything lingering for google analytics.

[2017-01-20 19:25] #251 closed

[2017-01-21 04:18] mmmavis opened #326 "Rename favorites to bookmarks for developer clarity"
https://github.com/mozilla/network-pulse-api/issues/30

network-pulse-api :handshake: network-pulse

[2017-01-23 18:18] Pomax commented on #326
update on this ticket: we probably want to update the client code so that it uses "bookmarks" in the code, only exposing this functionality as "favorites" when presenting labels to the user.

[2017-01-23 19:50] Pomax commented on #323
supposedly, [this should work](https://github.com/ai/browserslist/issues/109#issuecomment-274280967):
[code]

[2017-01-24 01:09] mmmavis opened #328 "Search page tech"
### UX wise
Current plan: We would like to have "search as you type". And it should search through all entry fields/meta (@xmatthewx @kristinashu correct me if I'm wrong)

### Tech wise
Before we had pagination on Pulse API, I used to just get all entries by one `/entries` call and bind search input box's `keyUp()` event with client side filtering. The client side filter searches through *all* ent

[2017-01-24 01:36] alanmoo commented on #328
I implemented this on the Science site- basically I didn't search until the user had stopped typing for a fraction of a second as seen [here](https://github.com/mozilla/science.mozilla.org/blob/master/app/react/pages/projects/projects.jsx#L130). You could couple that with your existing behavior and the `page_size` parameter of a larger number to get what you're looking for.

Is the fact that searc

[2017-01-24 07:56] mmmavis commented on #324
Done!

[2017-01-24 07:56] #324 closed

[2017-01-24 07:57] mmmavis commented on #319
Done! Note that for now client side filtering is still needed for the search functionality to work. Followup ticket created: https://github.com/mozilla/network-pulse/issues/328

[2017-01-24 07:57] #319 closed

[2017-01-24 08:15] mmmavis opened #330 "Staging and Production URLs"
@xmatthewx @kristinashu

We should decide on the staging and production URLs for Pulse v2 (and going forward).

I've been using a personal Heroku instance https://pulse-react.herokuapp.com/ to make the WIP v2 app available for people to check out. When we are ready to push v2 to production, I can move the Heroku app to `mozilla` and rename it to something like https://pulse-staging.herokuapp.com/.

[2017-01-24 17:51] kristinashu commented on #328
It should search everything, searching tags and people will be important.

I'm ok with having an Enter button if needed. Having one would also help clarify to users that they can share the url.

[2017-01-24 17:56] Pomax opened #331 "show the splash page on first use, suppress on subsequent loads"
As the splash page comes with a forced waiting period, it'll be a good idea to show it on first-time-use, but then suppress it on subsequent loads by using a localStorage variable like `suppressSplashScreen=true`.

If the localStorage config does not contain the var, or it's not `true`, show the splash screen, and set `suppressSplashScreen=true` at the same time, so that a next load will bypass th

[2017-01-24 18:29] mmmavis commented on #328
@alanmoo @Pomax I'm curious about what the better solution is - client side filtering or making `/entries?search=` API calls. I assume the latter but I wanna double check with you two as well.

[2017-01-24 18:33] mmmavis commented on #325
I forgot about GA so I haven't dealt with it for v2 yet. There's `react-ga` node package we can use so I think it won't be hard to bind GA events in. We should figure out [staging and production URLs](https://github.com/mozilla/network-pulse/issues/330) soon so I can ask DevOps to help create GA property for Pulse.

[2017-01-24 18:42] alanmoo commented on #328
I've opened [a PR](https://github.com/mozilla/network-pulse-api/pull/58) to support searching tags and creators. Keep in mind that tags specifically can be searched using the `?tags=` query.

[2017-01-24 19:13] mmmavis opened #332 "Make sure Pulse API data is correctly passed to corresponding <ProjectCard> props"
... since field names are in snake_case and props names are in camelCase.

[2017-01-24 20:28] Pomax commented on #332
As long as the names match, except for the casing, the XHR functions can run the results through something like this as a post `JSON.parse` step:
[code]

[2017-01-24 20:34] Pomax commented on #328
yeah this is an instance of "why not both" - use `search` when you need to find entries and you don't know which specific fields to search in - but if you have dedicated UI for searching "in tags" or "from creators/publishers" etc. then you want the dedicated search route (which we have for tags, if we need them for other fields we can add those in pretty easily)

[2017-01-24 21:35] Pomax opened #333 ""featured" seems to poll the same list as "favs""
If I load the client, fave three entries, and visit `/favs` I see those three entires. Clicking back to `featured` however then still only shows those three entires. It seems that `featured` is using the same list that `favs` is using?

[2017-01-24 21:51] mmmavis commented on #333
I wonder if that's because every page uses the `<ProjectList>` component and React is caching it somehow?

[2017-01-24 21:55] Pomax commented on #333
is the `<ProjectList>` data getting reset to the base entry list when you switch to `featured`?

[2017-01-25 00:45] mmmavis opened #335 "Failed to deploy app properly on Heroku"
@Pomax can you lend a hand here please? I can't figure this out.

I tried to [deploy Pulse on Heroku](https://dashboard.heroku.com/apps/pulse-react/settings) and got error messages about `PORT` not being set. I don't remember having to set PORT explicitly for  Heroku apps that I've worked on before. (I believe Heroku sets `PORT` automatically?). I guess we are hitting errors now because for Pulse

[2017-01-25 01:43] mmmavis commented on #332
Done. I added a [`utility.js`](https://github.com/mozilla/network-pulse/blob/react/js/utility.js). The `snakeToCamel` function is declared separately as a function variable. I did it this way to make `snakeToCamel` look more like a helper function.

[2017-01-25 01:43] #332 closed

[2017-01-25 01:45] mmmavis commented on #318
This is done, though you can't see it on https://pulse-react.herokuapp.com until we fix the deployment issue 😢

[2017-01-25 01:45] #318 closed

[2017-01-25 03:19] Pomax commented on #335
Let's first fix this and then figure out what's going wrong: I updated the https://pulse-react.herokuapp.com instance so it has a PORT=80 binding, and we can figure out what's wrong during work hours tomorrow.

[2017-01-25 03:24] mmmavis commented on #326
yay done!

[2017-01-25 03:24] #326 closed

[2017-01-25 03:43] Pomax commented on #335
Looking in the build log I see this:
[code]

which would certainly be a problem.

[2017-01-25 03:50] Pomax commented on #335
This might actually be Node 6.9 not supporting an ES6 feature...

[2017-01-25 04:01] Pomax commented on #335
No matter what I do I don't see `env.generated.json` EVER having anything resembling what we're making the build script output so something is going incredibly wrong there. We'll have to figure this out tomorrow.

[2017-01-25 04:07] cadecairos commented on #335
Is this file being created at runtime or build time?

Also, it's bad practice to use files for configuration on Heroku - due to the ephemeral nature of the containers running the apps.

[2017-01-25 06:14] mmmavis commented on #333
Ah, I think I know why. Remember the `let combinedParams = Object.assign(defaultParams, params);` line in `js/service.js`? I think we are mutating `defaultParams` itself so over time `defaultParams` builds up and so does `combinedParams`.

I guess we can fix this by having something like

[code]

OR

[code]

👀

[2017-01-25 17:09] Pomax commented on #335
yeah, it's supposed to get generated as part of npm install.

[2017-01-25 17:24] Pomax commented on #335
I literally don't understand what is going on here. I rewrote the env writer to use the following code:
[code]
and invoke it as
[code]
and yet the heroku log shows this as build output:
[code]

Where is `PORT`? Why is that key not even there??

[2017-01-25 17:45] Pomax opened #338 "Don't use a pregenerated config for env values"
Due to how heroku works, we cannot use a config pregenerator that stores values in an `env.generated.json` (or any other file) because the environment where the code is compiled is not guaranteed the environment where the code will actually run.

As such, it is necessary to make sure the server, at runtime, can supply these values either on a dedicated route that the webpage can load (either as in

[2017-01-25 17:45] Pomax commented on #335
Filed https://github.com/mozilla/network-pulse/issues/338 to solve this properly

[2017-01-25 17:54] cadecairos commented on #335
I don't think PORT is known until runtime. Builds happen in separate boxes.

[2017-01-25 18:04] gideonthomas commented on #335
Yeah and looks like you can't change that

[2017-01-25 18:18] Pomax commented on #335
Updates to make things work on Heroku for now:  https://github.com/mozilla/network-pulse/blob/react/server.js#L10-L18

Further work will happen in #338

[2017-01-25 18:18] #335 closed

[2017-01-25 21:16] mmmavis commented on #159
What happens when you click on the Twitter/Facebook icon?

[2017-01-25 21:22] kristinashu commented on #159
It opens up a model to share on Twitter/Facebook. Text could include: Title of post and the Pulse URL to that post.

Like on http://www.theverge.com/2017/1/25/14371450/indus-valley-civilization-ancient-seals-symbols-language-algorithms-ai

<img width="1312" alt="screen shot 2017-01-25 at 1 20 26 pm" src="https://cloud.githubusercontent.com/assets/1068783/22309719/434891a2-e301-11e6-9162-639b722cca

[2017-01-26 01:36] xmatthewx commented on #330
Thanks @mmmavis, this all makes sense. My preferred domain would be pulse.mozilla.org if available. If not, mozillapulse.org?

Any pros/cons @cadecairos @kristinashu? How many challenges come with a subdomain?

[2017-01-26 01:43] kristinashu commented on #330
pulse.mozilla.org would be great since it follows the same format as our other domains (science.mozilla.org, teach.mozilla.org, advocacy.mozilla.org...)

[2017-01-26 02:13] mmmavis commented on #317
@kristinashu can you export the icon and put it here https://drive.google.com/drive/folders/0B2irLVDJivhLVE8wMXdENW5CTXc ? 🍻

[2017-01-26 02:29] cadecairos commented on #330
We can do pulse.m.o, but let's shoot for an A+ on the HTTP Observatory (observatory.mozilla.org)

[2017-01-26 17:18] kristinashu commented on #317
Added! It's called icon-user.svg

[2017-01-26 18:14] mmmavis commented on #317
We might want to edit the error message a bit so it's more descriptive for non Mozilla Staff. See https://github.com/mozilla/network-pulse-api/issues/59 for context. 👀

[2017-01-26 18:22] Pomax commented on #317
I'm not sure how much more descriptive we can get - the current message is "Sign in failed. Only Mozilla staff can login now as we test this new platform. Check back soon!" which seems to exactly cover what happened: we're going to pilot v2 to people with a mozilla login only, so people trying to log in with a not-mozilla account getting a rejection notice after running through google oauth seems

[2017-01-26 18:31] Pomax opened #340 "fix up Object.assign"
https://github.com/mozilla/network-pulse/pull/339 landed before review, and should get cleaned up as per  the comments in https://github.com/mozilla/network-pulse/pull/339/files/b0e45e8c828ca253dfca6238787c24b9fc1e0604

closes #333 when this gets closed.

[2017-01-26 20:34] Pomax commented on #333
this PR was not quite complete, filed https://github.com/mozilla/network-pulse/issues/340 as follow-up but this issue should not close until that one's fixed =)

[2017-01-27 08:49] mmmavis commented on #317
Um I was thinking about the use case where

- I first try to log in using a personal non Mozilla account
- I get rejected and see "Signin failed this platform is only for Mozilla Staff to test for now" message
- I then want to log in using a Mozilla account instead

At this point there's no option for me to have another login attempt since I've already been identified by Pulse API as a Non-staff u

[2017-01-27 17:59] mmmavis opened #342 "Write tests"
Write tests to make sure we don't break anything when making changes to the codebase.

[2017-01-27 19:16] Pomax commented on #317
This seems like a perfectly fine discovery path? You tried to log in with a non-moz email, the app told you it was only for moz, you realised you used the wrong email =)

[2017-01-28 01:25] Pomax opened #343 "add "user.verify" to componentWillUnmount"
This will allow things like "failedLogin" to reset between different pages.

[2017-01-30 15:35] xmatthewx commented on #317
I think it's okay for most users and use cases. We could add a text link to "Sign in"  below the "Explore featured" button.

[2017-01-30 15:43] xmatthewx commented on #317
Just tried it. I have two recommendations while @kristinashu travels.

1) Link below button (my color is probably wrong)
2) Emphasis on the notice. For now, a bold phrase. Maybe we can design a pattern for notices like this.

<img width="412" alt="screenshot 2017-01-30 10 39 00" src="https://cloud.githubusercontent.com/assets/53411/22429428/90cb5380-e6d8-11e6-9d92-f93d960fa519.png">

[2017-01-30 15:44] xmatthewx opened #344 "Implement a Notice component"
A few places we display a text notice to users (like failed login). Not urgent, but it would be good to design a reusable component for this.

cc @mmmavis

[2017-01-30 21:34] mmmavis commented on #340
PR was approved and merged!

[2017-01-30 21:34] #340 closed

[2017-01-30 21:34] mmmavis commented on #333
follow-up ticket has been fixed. Closing this one nowww.

[2017-01-30 21:34] #333 closed

[2017-01-30 22:24] mmmavis commented on #343
Hey @Pomax I wonder if this is something related to Pulse API instead. I added
[code]
back in and it seemed like `user.verify` did get kicked in when component got unmounted.

So I
1. Went to the /add page on Pulse front end
2. Used my Mozilla Account to log in
3. Got redirected back to /add as the authenticated user
4. Opened another tab to log my Mozilla/Google account out
5. Visited http://test

[2017-01-30 23:42] mmmavis commented on #159
Not MVP for launch. I'm gonna remove this from the current milestone.

[2017-01-31 02:10] Pomax commented on #343
what did step 4 look like? where/how did you log out?

[2017-01-31 04:04] mmmavis commented on #309
Hey @Pomax , 😃

I'm tempted to grab a copy of https://github.com/mozilla/learning.mozilla.org/blob/master/pages/clubs/form/builder/Form.jsx and work from there. One thing I need to change is to show error message inline, just below the field (see [mock up](https://redpen.io/ov0d7f8ba9c437ee56)) instead of aggregating all error messages together. Since Pulse's form is a lot simpler than Learning si

[2017-01-31 04:50] Pomax commented on #309
if you're going to grab it, I'd say "don't simplify" but instead see what we can *add* to make it do what you need. For progress, I'd say let's add a `checkprogress={true/false}` so that the Form can check `this.props.checkprogress`. For showing errors next to their respective fields, that should also be pretty easy, we can add a control property for that too and then in the code see if they need

[2017-01-31 04:55] Pomax commented on #309
I've set up https://github.com/Pomax/react-formbuilder so we can work on this in its own repo.

[2017-01-31 06:15] mmmavis commented on #343
@Pomax

I went to https://myaccount.google.com/permissions?pli=1, clicked on the little circle at top right, and chose "sign out". Google logged me out. And then I got redirected to the following url.

https://sso.mozilla.com/signout.html
<img width="965" alt="screen shot 2017-01-30 at 10 07 13 pm" src="https://cloud.githubusercontent.com/assets/2896608/22454116/82845712-e738-11e6-8b0b-a8f16e98a7c

[2017-01-31 06:17] mmmavis commented on #343
Uh oh. Is it something to do with Mozilla's SSO? So after I visited google.ca I went to http://sso.mozilla.com/ to triple check 😂 . However, I was still seen as "Mavis" there.

[2017-01-31 09:47] Pomax commented on #343
If you don't log out through the app, the app won't know you've been logged out. This isn't OKTA/SSO, it's gmail auth so as long as you aren't logged out of *google* you'll still be logged in as far as the app is concerned

[2017-01-31 15:21] xmatthewx commented on #288
Hi @aayushsanghavi – thanks for all of your work on this (#315). It's great to see your progress. The Pulse v2 is also proceeding well. I wanted mention that the work you're doing on this v1 branch won't likely show up when we launch v2. We are glad for you to continue your work for the learning experience, but I just wanted to make sure that was clear. Please let us know if you have any questions

[2017-01-31 16:21] aayushsanghavi commented on #288
Hi @xmatthewx, its been great working with you'll. If I'm not mistaken you'll are shifting to a React based v2; I'm aware of that. I didn't know React so I thought of working on issues that didn't use it and I learnt a lot in the process. Currently, I'm learning React so that I could contribute to Pulse other Mozilla projects that use it. I must say, you guys are very supportive and helping. Looki

[2017-01-31 19:34] aayushsanghavi commented on #178
Does this require knowledge of React? Is it to be done on the React branch?

[2017-01-31 19:54] gvn commented on #178
We actually have someone working on it right now, but we may need help adding the footer to our various sites soon.

[2017-01-31 20:15] ryanwarsaw commented on #178
@aayushsanghavi Anything with the ```v2 (upcoming)``` tag means it's for the React version. Issues with the v1 tag mean it's for the current version, which is not the react version.

[2017-01-31 20:43] mmmavis commented on #344
@xmatthewx did you mean something like

<img width="529" alt="screen shot 2017-01-31 at 12 40 33 pm" src="https://cloud.githubusercontent.com/assets/2896608/22483565/a04a5ca4-e7b2-11e6-8a2c-674d058ac823.png">

If that's the case we have a `<HintMessage>` component already: https://github.com/mozilla/network-pulse/tree/react/components/hint-message

[2017-01-31 21:35] mmmavis commented on #178
Hey @aayushsanghavi 😃  we have been focusing on v2 work since we are aiming to have it out early Feb. After we get your [PR for v1](https://github.com/mozilla/network-pulse/pull/315) merged (I will review it again soon) we probably won't much time to tackle v1 tickets unless it's an urgent thing that needs to be fixed asap.

[2017-01-31 22:46] mmmavis commented on #309
@Pomax cool I'll submit PRs on https://github.com/Pomax/react-formbuilder.

[2017-01-31 22:59] ldecoursy commented on #321
Checking back on this.

I wonder if it makes sense to use the small group discussions as an opportunity to ask folks to add stuff to pulse. @xmatthewx what do you think?

[2017-01-31 23:08] gvn commented on #309
@Pomax Weren't we planning on putting it into `mofo-ui`?

[2017-02-01 01:50] Pomax commented on #309
@gvn we never ended up doing so, though, so given its utility it feels pretty useful to publishing it as npm lib in its own right and then simply have mofo-ui include it as dependency, expose it to mofo code bases. That way the code a much larger surface for the rest of the world to also do something meaningful with without strictly tying it to a mofo ui, which kind of makes sense: at its core thi

[2017-02-01 03:12] xmatthewx commented on #344
There's a notice that appears in this scenario that's different: https://github.com/mozilla/network-pulse/issues/317#issuecomment-276096992

[2017-02-01 17:16] xmatthewx commented on #321
Thanks @ldecoursy. I will add reminder to the notes doc.

@alanmoo – for now, is it still cool if we add things via the v1 form? You and I can test v2 when you return next week.

[2017-02-01 20:38] mmmavis commented on #323
Fixed.

[2017-02-01 20:38] #323 closed

[2017-02-02 04:53] mmmavis commented on #309
I gotta keep the ball rolling so I'm gonna start by contributing to https://github.com/Pomax/react-formbuilder. So far I have submitted 1 PR and created a few tickets 😁.

[Club form on Learning site](https://learning.mozilla.org/clubs/apply/) and [Pulse's new entry form](https://redpen.io/ov0d7f8ba9c437ee56) have different UX and UI so I'm not sure how I can make the library work for both (and man

[2017-02-02 07:42] Pomax commented on #309
I'd say see what you need on the pulse side first. I would be highly surprised if this code already covers both use cases but I would be equally surprised if we can made the code generic enough to cover both, given that it only cares about generating a form element with some prebuilt validation. What they looks like it's entirely up to site-specific styling. I'm back on Saturday, so I can do a bit

[2017-02-02 15:57] alanmoo commented on #321
Yeah add to the existing spreadsheet, just try and make sure things that are required/format-specific (like URLs) in v2 are respected so we can hopefully avoid migration glitches.

[2017-02-03 01:29] mmmavis commented on #309
@Pomax I added more tickets to the "react-formbuilder" repo. I'm still in the process of understanding the source code so apologize if I added tickets for things that have been already taken care of.

Let's meet next week (when we are back to the same timezone 😄) to talk about the library we are building here!

[2017-02-03 04:41] Pomax commented on #309
no worries. Meeting next week sounds like a plan!

[2017-02-04 01:54] mmmavis commented on #343
Ah I see.

@Pomax even when we have the following snippet on `add.jsx` and `bookmark.jsx`
[code]
Unmount doesn't wait for the verification process to finish so we can't guarantee `user` gets properly reset *before* new page gets rendered (e.g., if you are going from /add page to /featured page).

I don't how often we should have user re-verified.  In `componentDidMount` and `componentWillUnmount`

[2017-02-04 02:03] mmmavis commented on #331
Done!

[2017-02-04 02:03] #331 closed

[2017-02-04 02:07] mmmavis commented on #317
Gonna close this ticket now since the "sign in failed" screen has been implemented. To test, go on https://pulse-react.herokuapp.com/add and try signing in using a non Mozilla account.

Let's create followup tickets instead for design changes (if any).

🍻

[2017-02-04 02:07] #317 closed

[2017-02-05 18:07] Pomax commented on #331
💯

[2017-02-06 05:33] Pomax commented on #343
One thing we can do is register components as listeners to the `user` object, so that any listening object is sent a notification when a user action occurs, In principle:

[code]

[2017-02-06 22:58] mmmavis commented on #325
@xmatthewx

Do we wanna show both the id and title of the entry OR just the title? One note is that title can change but id won't.

[2017-02-06 23:10] mmmavis commented on #330
Hey @cadecairos one thing that's related to this - Can we create a new property on Mozilla GA for `pulse.mozilla.org`? I'm working on https://github.com/mozilla/network-pulse/issues/325 with a UA code that I created with my personal testing account just for testing purpose. At some point we should replace it with the real UA code. I will create a DevOps ticket now.

@xmatthewx after v2 is out, sho

[2017-02-07 00:20] mmmavis commented on #178
@xmatthewx are we still good with having a Google Form for "Email Us" link? Now I think about it I think having GitHub and Chat should be sufficient enough. Thoughts? @kristinashu

[2017-02-07 17:05] xmatthewx commented on #178
Github and Chat both require accounts and aren't great if someone has a quick comment. It's not clear who manages our desk.com inbox or that we are prepared to handle that.

Any reason to not use a simple form to spreadsheet that notifies a few of us? We can always remove it if it gets nutty. I think we can remove chat. I don't think we see network people joining us there, do we?

[2017-02-07 18:40] mmmavis commented on #178
@xmatthewx no particular reason 😂 Google forms require accounts as well though most people should have one already. I just thought if it was me I wouldn't use the form since I'm active on Github and Chat.

Ah, and I just thought of something - if a non Mozilla staff user tries to log in to Pulse he/she will see a login failed screen though at that point he/she is logged in into **Google** so when

[2017-02-07 22:15] xmatthewx commented on #178
Unless I'm mistaken, Google Forms have the option to capture submitters identity, or not. We should keep that off, and not track it. People can just type out their email address and submit.  They should need an account or to be logged in.

[2017-02-07 22:37] mmmavis commented on #178
@xmatthewx

Cool to know! Though I don't use Google Form enough to verify that 😉 Can you create the form and put the link here please? Thanks! I'll add it to the footer so we can test it out along with login.

[2017-02-08 06:22] mmmavis commented on #338
Found the doc that you created few months ago @Pomax . I'm gonna put it here as a reference: https://docs.google.com/document/d/1fF9jPHDpJ1xfJCLJ0oJgPw0HahszuPdZBKbny7ii_0M/edit?ts=57c5f369#heading=h.yxl0o26zatdx 👍

[2017-02-08 06:48] mmmavis opened #350 "Use helmet"
Use https://www.npmjs.com/package/helmet to secure our Express with various HTTP headers.

[2017-02-08 18:09] xmatthewx opened #351 "Update logo to align with new brand"
We should update name/logo to align with the new brand. I recommend we call it Mozilla Pulse, dropping the word Network. What do you think @kristinashu? We can go horizontal or stacked.

Examples for reference: https://mozilla.ninja/gallery/

[2017-02-08 18:20] xmatthewx commented on #178
I shared access with you. Shortlink to form: https://mzl.la/pulse-contact

[2017-02-09 06:10] mmmavis opened #352 "Upgrade webpack to v2"
https://webpack.js.org/guides/migrating/

Because webpack v1 is deprecated.

[2017-02-09 16:52] xmatthewx opened #354 "Gather images to feature MozFest talks"
The MozFest dialogues and debates are freshly cut and posted to Pulse by @KevZawacki.  It would be great to find an image or video frame for a few of them, so we can add them to the featured tab.

@KevZawacki – can you identify 3-4 best candidates? Can you work with @kristinashu to grab a screenshot?

[2017-02-09 18:19] KevZawacki commented on #354
@xmatthewx Certainly.

Three best candidates are Zeynep Tufekci, Chris Soghoian, and Sahar Aziz. Screenshots below -- let me know how I can help further.

![chris](https://cloud.githubusercontent.com/assets/11045250/22796932/6ab4e9aa-eeca-11e6-90ed-d2dcf66d2e77.png)
![sahar](https://cloud.githubusercontent.com/assets/11045250/22796934/6ad8138a-eeca-11e6-8f29-6141be393119.png)
![zeynep](https://clo

[2017-02-10 04:59] mmmavis commented on #295
I think we can close this one? @alanmoo

[2017-02-10 16:31] xmatthewx opened #357 "Featured items – custom sort order"
Admins will want to set the order on featured items. Top 3 shouldn't necessarily be the 3 most recent.

Option A
 - Provide admins with a new view that lists all featured items. Enable them to drag-n-drop to specify order.

Option B
 - On individual entry edit view, provide admins a field to enter a sort value.
 - Enforcing a strict sort would be very cumbersome. So, we could offer Featured Group

[2017-02-10 16:57] #295 closed

[2017-02-10 17:00] xmatthewx commented on #295
I believe there are new entries to migrate. Can we file something that does that and turns off current form simultaneously? @alanmoo

[2017-02-10 19:26] Pomax commented on #357
With an eye to the future, I'd also like to put the idea of automated ranking on the table similar to how imgur, hackernews, reddit, etc (and to a degree, google) present "top hits" based on a mix between age (negative ranking) and popularity (positive ranking). If this project becomes popular enough to be one of those sites mozillians hit up first thing in the morning for a quick surfin' then man

[2017-02-10 19:42] alanmoo commented on #357
Yeah, maybe a "most recent featured time" property on the model that we sort by, which maps to a "make this the top featured item" button? So you're just..."playing Jenga" is the best metaphor I can come up with right now. But hopefully without the bit where everything collapses.

[2017-02-10 20:05] alanmoo opened #358 "At V2 launch: Migrate newest data and shut down existing capture form"
Blocked by launch, but data since February 8 will need to be migrated and the existing form capture should be shut down/redirected

[2017-02-10 20:06] alanmoo commented on #295
Created #358

[2017-02-10 21:32] Pomax opened #359 "Add bundle minification "for prod" to webpack"
For development we don't want to minify the client bundle, but for production we probably want (aggressive) minification. We could do that with a webpack runtime flag, or we could do that in the webpack config itself so that we don't spread our "configuration" values across a config script and an npm script, but have them all in a single place.

Thoughts @mmmavis?

[2017-02-10 21:55] mmmavis commented on #309
@Pomax @xmatthewx @kristinashu :bowtie:

I wanna suggest having a basic HTML form that relies on browser validation first while we work on Pomax's [`react-formbuilder`](https://github.com/Pomax/react-formbuilder) so it can eventually be used and styled like the mockup for Pulse. Work on the library side is ongoing but I'm having trouble gauging how much time we need to make it configurable enough

[2017-02-10 22:04] Pomax commented on #309
sounds good to me. I'm finishing up the "multiple instance for this thing" in the form builder atm so it can deal with how this project wants to do the "creators" field(s), and the inline error reporting rather than aggregated at the bottom. So it should be ready for use probably on Monday

[2017-02-10 22:09] mmmavis commented on #309
@Pomax wow that's great to hear! I'm not sure what's on your plate so I don't wanna keep pinging you about the form builder library. I would try submitting PRs but it would def take a lot longer (dev + code review) that's why I suggested in my comment above to have a simple HTML form first 😁 If we can have the form builder library ready for Pulse to use early next week I think we can aim for havin

[2017-02-10 22:17] Pomax commented on #309
form-builder *is* my plate today

[2017-02-10 22:22] mmmavis opened #360 "Prep for v2 staging"
`master` branch is currently being used as v1 staging. Since we are not developing on v1 anymore, to move us a step forward towards GitHub flow and prep us for v2 launch I think we should

- [x] get rid of v1 staging: https://network-pulse.mofostaging.net/ (@alanmoo created a [DevOps ticket](https://github.com/MozillaFoundation/mofo-devops/issues/460))
- [x] push code in `react` to `master`
- [x]

[2017-02-10 22:25] alanmoo opened #361 "Refactor project-list component"
The project-list component seems to be doing a bit too much, causing some issues with the different ways it's used requiring band-aids.

Let's simplify the API of it, here's my thought:

`Project List` gets passed in 2 props: `projects`, which is an array of objects (entries from the API), and `sortBy`, a key to sort the projects by or a list of IDs by which to order them.

Any other logic in ther

[2017-02-10 22:30] mmmavis commented on #309
✏️ 📄 🔨

[2017-02-11 00:21] Pomax commented on #309
multiplicity has been added with you set as reviewer, inline reporting needs a bit more work.

[2017-02-13 20:43] xmatthewx commented on #354
Cool. We should add Katherine Maher MozFest talk if we want to feature that on the network site as listed here: https://docs.google.com/spreadsheets/d/1MVOTTxNH4FvyoiBIR--F8HqZYhBvlL2LSKi4XDa1LKo/edit#gid=2088995141

[2017-02-13 20:56] xmatthewx commented on #357
For Option A, if we can provide admin list of all featured items (just titles), it shouldn't be too tricky to sort. I'd give that view a way to remove things from featured so the list could always be 2-3 dozen entries max.

I'm also interested in having some automated ways to highlight [entries](https://github.com/mozilla/network-pulse/issues/251) and [trends](https://github.com/mozilla/network-pu

[2017-02-13 20:58] xmatthewx commented on #360
Works for me. Any conflicts @cadecairos @alanmoo?

Loosely related to final migration: https://github.com/mozilla/network-pulse/issues/358

[2017-02-13 21:16] KevZawacki commented on #354
Here's a screengrab of Katherine's talk:

![screen shot 2017-02-13 at 4 17 56 pm](https://cloud.githubusercontent.com/assets/11045250/22903755/bf60b368-f207-11e6-9cce-ec57704b9a71.png)

[2017-02-13 21:39] alanmoo commented on #357
Yes, that wouldn't be too difficult from an administration standpoint but I'm concerned about the effort to implement an interface like that vs its usefulness; at first mention it feels like it would be a significant effort to build properly.

I'm not sure I follow your second paragraph @xmatthewx. You're saying 3 items belong on the homepage of the upcoming network site? We might want to do some

[2017-02-13 21:44] #229 closed

[2017-02-13 21:44] alanmoo commented on #321
Follow up described in #358

[2017-02-13 21:44] #321 closed

[2017-02-13 23:25] xmatthewx commented on #309
@mmmavis that sounds like a good plan. It would be very helpful if staff could start posting to v2, even if the form is pretty basic. Other people won't use that in the near future.

[2017-02-14 15:53] Pomax commented on #309
we can use form-builder already, as the only thing left on that is "where the error reporting" for fields is right now. That doesn't get in the way of the functional form, and mavis and I can work in parallel today to respectively write the form, and make sure form-builder understands an `inline-warning={true}` instruction for showing errors next to the associated field.

[2017-02-14 15:56] Pomax commented on #357
Given Option A's discussion do we want to give admin'd users a direct "checkmark" UI that lets them flag and unflag things as featured without having to hit the admin interface, in that case? Or would the fact that every logged in (staff) member is treated as an admin at the moment make that inconvenient?

[2017-02-14 16:00] xmatthewx commented on #357
Sorry for the lack of context. We need to pull items from Pulse into the network site. These need to be carefully curated. If the network is focused on a topic like Encryption one month, we'll feature a mix of things that include a bunch of encryption. Three entries will appear on the homepage, a dozen or two on the [project page](https://projects.invisionapp.com/share/ZJ9YTAGEA#/screens/217251312

[2017-02-14 16:00] xmatthewx commented on #357
We can launch without this, but we'll need to figure something out in the near future.

[2017-02-14 17:05] Pomax commented on #357
I'm getting a bit confused - we have two repos, "network-pulse" (the client) and "network-pulse-API" (the server). I don't understand talking about "the network" and "pulse" as two different things, can you elaborate what you mean with these terms when used on their own rather than as a single thing referring to the same system?

[2017-02-14 17:16] alanmoo commented on #357
I believe network site = MLN site that's being built by others in the MoFo Production team

[2017-02-14 20:36] mmmavis commented on #328
This is done. We are now using Pulse API to get search result so I'm gonna close this ticket.

(note: here's a related followup ticket (for code refactor) that @alanmoo filed https://github.com/mozilla/network-pulse/issues/361 )

[2017-02-14 20:36] #328 closed

[2017-02-14 20:44] kristinashu commented on #354
Here are the cropped images, they should be ready to be uploaded. @alanmoo can you please upload them?

![01](https://cloud.githubusercontent.com/assets/1068783/22946790/57dc5160-f2ad-11e6-8d69-d48c8606f080.jpg)
![02](https://cloud.githubusercontent.com/assets/1068783/22946791/57dee704-f2ad-11e6-85d1-7cd33b9c907b.jpg)
![03](https://cloud.githubusercontent.com/assets/1068783/22946789/57d95b7c-f2ad-

[2017-02-14 21:54] Pomax opened #363 "Allow image uploading for Pulse entries"
based on https://github.com/MozillaFoundation/mofo-devops/issues/430#issuecomment-279779017 we should look at how we can best get images submitted along with forms.

Given that I don't see a way to make S3 publishing for images work securely in the client, a possible flow would be:

- user posts data to API
- API pushes data into model
- API uploads image to S3 -> gets a URL back
- API updates mod

[2017-02-14 21:58] Pomax commented on #363
/cc @mmmavis @alanmoo for thoughts

[2017-02-14 22:14] xmatthewx commented on #363
Are you thinking of this happening via frontend form by users? Or via backend by admins? I think admin-only is okay for a first pass on this, if that saves a bit of energy.

[2017-02-14 22:22] xmatthewx opened #364 "Add loading spinner"
Search is nice and snappy. On slow connections, a spinner to indicate something is happening would be useful.

~~depends on https://github.com/mozilla/network-pulse/issues/361~~

[2017-02-14 22:26] xmatthewx commented on #351
@kristinashu – Should we bump this to the next heartbeat?

[2017-02-14 22:26] xmatthewx commented on #343
@pomax Are we still working on this? Critical for launch? Should we push to next milestone or move to the backlog?

[2017-02-14 22:27] Pomax commented on #363
I would think the user sends the form with an image in it, and then the API server takes care of the rest, so as far as the user is concerned they simply get a normal "drag/drop image or browser your computer for one or give us a URL!" and if it's not a URL, we make the API server do the S3 magic. S3 is fast, so it wouldn't block the form submission during normal operation.

[2017-02-14 22:28] xmatthewx commented on #330
@cadecairos – just a reminder that we'll want to run a check on http observatory. I'm guessing we'll need a security review as well. Could we buy mozillapulse.org as a fallback plan?

[2017-02-14 22:29] xmatthewx commented on #325
Let's show both if we can. Titles are very helpful for viewing browsing trends, even if they change once in a while.

[2017-02-14 22:30] cadecairos commented on #330
We'll want to asap now, so a domain squatter doesn't take it!

[2017-02-14 22:30] xmatthewx commented on #294
Closing this. Final tasks are filed and tracking just fine without this overhead.

[2017-02-14 22:30] #294 closed

[2017-02-14 22:32] xmatthewx commented on #79
Closing this. Plans for new site include prominent links here.

[2017-02-14 22:32] #79 closed

[2017-02-14 22:32] kristinashu commented on #351
Sure, seems low priority.

[2017-02-14 23:01] alanmoo commented on #354
I don't actually have access to the S3 bucket, @cadecairos or @gideonthomas can you help out with this? They should end up at `https://d27v9tuhdmbcr4.cloudfront.net/network-pulse/`

[2017-02-14 23:11] gideonthomas commented on #354
Are they already linked in the front-end? If that's the case, what are the names for these images? Or can we just assign them names and paste them here?

[2017-02-14 23:12] alanmoo commented on #354
Nope, not on there yet, just post the names here.

[2017-02-14 23:20] gideonthomas commented on #354
https://d27v9tuhdmbcr4.cloudfront.net/network-pulse/mozfest-katherine.jpg
https://d27v9tuhdmbcr4.cloudfront.net/network-pulse/mozfest-sahar-aziz.jpg
https://d27v9tuhdmbcr4.cloudfront.net/network-pulse/mozfest-zeynep-tufekci.jpg
https://d27v9tuhdmbcr4.cloudfront.net/network-pulse/mozfest-chris-soghoian.jpg

[2017-02-14 23:20] alanmoo commented on #360
Devops ticket filed for point 1, except it was to redirect the staging url to heroku.

[2017-02-14 23:20] gideonthomas commented on #354
Let me know if anything else needs to be done here!

[2017-02-15 01:05] Pomax commented on #343
@mmmavis will be better able to answer that.

[2017-02-15 15:53] alanmoo commented on #354
These have been added to the Google Sheet for v1 of Pulse. When we launch v2, they'll get carried over in the final migration.

[2017-02-15 15:53] #354 closed

[2017-02-15 19:04] xmatthewx commented on #363
Cool. I think we will need to give admins the ability to add and change images (manually download and crop is totally fine) ....to ensure quality on featured items. Will that be difficult to add to django admin? Wondering if we should prioritize image handling via Admin first, and then follow with the form for Users. Curious what you think.

[2017-02-15 20:27] alanmoo commented on #360
I've created a [pipeline](https://dashboard.heroku.com/pipelines/602785db-1ca6-43e4-9a35-e546dab127a4) and stood up the pulse staging and production instances. Note that the pipeline can't *actually* be used to promote because the env var for API server is baked in at build time, but this at least links them together.

[2017-02-15 21:02] mmmavis opened #365 "Change "Sign In" <button> on /favs page to <a>"
This is more for code improvement.

https://github.com/mozilla/network-pulse/blob/master/pages/bookmarks.jsx#L39-L41. The "sign in" button on /favs page should probably be an anchor instead. Since ultimately it's a link that redirects to the external login URL (see https://github.com/mozilla/network-pulse-api#get-loginoriginal_urlurl).

[2017-02-15 21:21] Pomax commented on #363
I would push back on that and say admins shouldn't ever be on the hook for that: offer the user the controls for that. When they add an image to their entry, fetch the image, present it to them with a crop overlay, and warn them for low res images, with a hard "no you cannot use this image" for way-too-low-res images.

[2017-02-15 21:40] xmatthewx commented on #363
I'm not saying we shouldn't give the User the ability to upload, crop, and post their own images. We should work toward that. Can we realistically implement that in the next 2 weeks along with all the other things on our plate?

In addition to that, I think it's a requirement that Admins/Curators be able to add and update images. Consider this scenario:

A fellow or MozFest participant posts somet

[2017-02-15 22:06] mmmavis commented on #352
This was fixed a few days ago 🎉 .

[2017-02-15 22:06] #352 closed

[2017-02-15 22:10] Pomax commented on #363
No that's fair, I commented under an assumption that is probably not grounded: Django admins can already do *anything*. If they need to create or delete an entry, they have that power already, and if they need to update a single field in an entry, like replacing an image URL, they have that power already, too.

In this case, the server would upload the user-specified image (Cropped properly) to S3

[2017-02-15 22:13] mmmavis commented on #363
(I'm moving this ticket out of the current milestone since we don't have enough enough to finish it. Gonna put it in the next milestone for now.)

[2017-02-15 22:22] mmmavis commented on #360
DONEEEEE 🎉 🎉 🎉

Thanks for the help @alanmoo 🍻

[2017-02-15 22:22] #360 closed

[2017-02-15 22:33] xmatthewx commented on #330
Ack. I can't believe I posted domain in plain text. Sorry team.

[2017-02-15 22:35] xmatthewx commented on #357
Oops. Sorry. Yes, Pulse entries will be pulled into the new site for the Network website as mocked up here: https://projects.invisionapp.com/share/ZJ9YTAGEA

[2017-02-15 22:40] alanmoo commented on #357
Will those be a different set than the top x entries on the featured page of the main pulse site?

[2017-02-15 22:42] mmmavis commented on #330
@cadecairos what's the minimum score we have to get on observatory? I have a `helmet` PR that's waiting to be merged. That should boost up our score a bit.

[2017-02-15 22:42] cadecairos commented on #330
If I can weigh in on the URL - Since this app is displaying user supplied data, it will vastly speed up the process of going live if we don't use a mozilla.org URL.

Should we choose to go with mozilla.org, I'll have to get an rapid risk assessment done, and I'm confident that they'll recommend a security review of the code and a security scan for vulnerabilities. Timing for all these depend on th

[2017-02-15 22:44] cadecairos commented on #330
At a minimum we'll want a B+. because we have to allow all images, and unsafe-inline in a few places we'll basically be capped at an A- or B+

[2017-02-15 22:48] mmmavis commented on #343
I'd say move it to next milestone. I'm aiming to get the "add new entry" form in place first (hopefully by this week).

[2017-02-15 22:51] xmatthewx commented on #330
Let's proceed with the URL I proposed before. We can explore a subdomain later if we want.

[2017-02-15 22:54] xmatthewx commented on #357
Same set.

Sorry for the lengthiness of this issue. Might have been better if I initiated this while meeting over video.

[2017-02-15 22:57] mmmavis commented on #364
@xmatthewx I edited the ticket description since this does not depend on #361. It's somewhat related to #361 but this can sure be tackled separately.

On MozFest schedule app we have this "loading dots" animation. I think we can just use the same animation here. @kristinashu thoughts?

![loading-animation](https://cloud.githubusercontent.com/assets/2896608/22999112/a4e16324-f38e-11e6-97fd-8f8fd549

[2017-02-15 23:01] mmmavis commented on #178
current status: I'm waiting for [my PR on mofo-ui](https://github.com/mozilla/mofo-ui/pull/51) to be merged and published first.

[2017-02-15 23:07] xmatthewx commented on #363
Thanks @Pomax. I recognize the scenario is slightly extreme. If we do our jobs well with the new network site, top featured stuff on Pulse will have a lot of eyes on it.  Items outside of the featured space can be imperfect with good-to-okay images. So, low volume, but high value curation and admin.

 - If admins can upload a new image via django, that's great. Image editing not necessary.
 - If i

[2017-02-15 23:08] xmatthewx commented on #364
That works for me.

No need to tackle this now @mmmavis. I tried your search experience throttled with dev tools ... it's pretty snappy until you get to super slow connections. I don't think this is a launch blocker.

[2017-02-15 23:25] mmmavis commented on #364
oh yea I'm not gonna work on any enhancement tickets for now. 😃

[2017-02-15 23:43] Pomax commented on #363
if it's just uploading a new image (pre-cropped to the correct aspect), it's probably easier to keep that in the admin view.

[2017-02-16 22:14] xmatthewx opened #367 "Prepare Quality testing scripts"
@kristinashu – can you help us prepare a checklist for quality testing. Checklist is a script for people to follow and confirm stuff happens as it should. We can follow [a pattern](https://github.com/mozilla/webmaker-core/wiki/Webmaker-Quality-Testing) we used before. We won't need so many lists. This way, we can get some people other than us testing on Mobile, Windows, other browsers  etc. cc @al

[2017-02-16 22:17] xmatthewx commented on #351
Just thinking... it will be a little odd to promote the new release with staff and not have the new logo. Maybe @sabrinang can help knock one out quickly since she's done it twice already?

[2017-02-16 22:27] xmatthewx commented on #363
Okay. Simon suggested we do a quick estimate. Maybe team up with @gideonthomas since this is useful for other django projects coming up?

@Pomax is the list below an accurate summary?

Requirements in order of importance:
 - Add image uploads to the API `mvp`
 - Add upload field to frontend form `mvp`
 - Add upload functionality to Admin entry view `needed soon`
 - Enable frontend Users to preview

[2017-02-16 22:44] Pomax commented on #363
What's the actual MVP date? The order looks right to me, not sure if the first two can make it into MVP depending on the dates.

[2017-02-16 22:46] mmmavis opened #368 "Update GA UA code"
When we have an official GA property set up, we should update the temporary testing UA code with a real one.
https://github.com/mozilla/network-pulse/blob/master/main.jsx#L8-L11

And Make sure things mentioned in this list still work as expected: https://github.com/mozilla/network-pulse/pull/349/#issue-205747713

[2017-02-16 23:31] xmatthewx commented on #363
I don't think this blocks launch. So, we can launch during heartbeat that starts Monday and continue this as required. Let's estimate the first 3 items and then make a plan based on that. For crop functionality, it would be good to have a notion of the work required, but I don't think we need to consider it as closely.

[2017-02-16 23:40] Pomax commented on #363
crop functionality needs a bit of research because there are premade solutions out there already, the tricky part (which always messes up time estimats) is finding one we can easily drop into our codebase(s). In terms of image uploading, I'd estimate a day to implement it, a day to realise it doesn't work in the slightest, and a day of mandatory "your engineers underestimated the time needed". The

[2017-02-17 00:22] mmmavis opened #369 "Update README"

[2017-02-17 00:29] #369 closed

[2017-02-17 00:47] sabrinang commented on #351
Exported .png and .svg in gdrive:
https://drive.google.com/drive/folders/0B4Q8pzCpDS_ebUpHeVRGN0loNUE?usp=sharing
<img width="1173" alt="screen shot 2017-02-16 at 4 34 41 pm" src="https://cloud.githubusercontent.com/assets/2492510/23047632/ea9bcf76-f465-11e6-8470-91cdee240b69.png">

.ai file is there too (to edit in the future with Zilla typeface)

[2017-02-20 19:12] mmmavis commented on #309
@kristinashu where are we sending users to after a successful form submission?

[2017-02-20 20:38] kristinashu commented on #309
Can it bring them to the post they just added?

[2017-02-20 20:55] Pomax commented on #309
That's an interesting question. I think to make that happen the POST response needs to tell the user the `id` of the entry that it built, which it doesn't do right now. We only say `{status: "submitted"}` [right now](https://github.com/mozilla/network-pulse-api/blob/master/pulseapi/entries/views.py#L201) but we can probably change that so that it replies with `{status: "submitted", id: 123456}` on

[2017-02-21 08:46] mmmavis opened #371 "Include "interest" field in "add new enry" form?"
@xmatthewx

Not sure if it was by design -  I just realized the form mockup didn't include the field "interest": https://redpen.io/nvd9c7a75f06c79e35

/cc @kristinashu

[2017-02-21 16:10] xmatthewx commented on #371
Thanks @mmmavis. I added a comment on Redpen with slightly adjusted phrase you can use for the form.

[2017-02-21 20:05] kristinashu commented on #351
Thank you Sabrina!

[2017-02-21 20:10] mmmavis commented on #371
kk I've included it in the 'add new entry' PR: https://github.com/mozilla/network-pulse/pull/372

[2017-02-21 20:10] #371 closed

[2017-02-21 20:14] kristinashu commented on #351
This only shows up on the splash screen, I think stacked will work well.

[2017-02-21 20:16] xmatthewx commented on #363
@Pomax will let us know soon-ish whether we can/should land this before we launch on Thursday, or after.

[2017-02-21 20:19] xmatthewx commented on #358
@alanmoo – maybe schedule a specific time for this? thursday before? friday after?

if we migrate before launch, we should:
  - [ ] make sure nothing snuck into the old pulse in the small window during launch

[2017-02-21 20:20] xmatthewx commented on #330
@Pomax and @cadecairos to discuss a Thursday launch.

[2017-02-21 20:21] xmatthewx commented on #325
@mmmavis – this isn't critical pre-launch. but let's land this before we move onto other projects and forget.

[2017-02-21 20:23] xmatthewx commented on #178
Looks like this has been merged @mmmavis. Not critical for launch, but it'll be sweet to see it there.

[2017-02-21 20:25] xmatthewx commented on #139
@acabunoc @mmmavis – maybe we can polish this up after we launch? no hurry, but it would be good to have in place as more people start to have their eyes on this.

[2017-02-21 23:29] Pomax commented on #363
This looks like something that can be done "easily", but given a Thursday launch, not with enough days to have both @alanmoo and myself around to both implement and then test before launch. Candidates for tackling this issue are https://github.com/boto/boto and https://github.com/bradleyg/django-s3direct (between the two, most likely bobo... I know, it's a horrible name) both of which should invol

[2017-02-22 00:05] alanmoo commented on #358
The "proper" way to do this would involve simultaneous writes to both databases for a while. Fortunately, we're low traffic enough that I'm fine doing this right before launch.

[2017-02-22 00:07] alanmoo opened #373 "Redirect short URL"
Wherever this ends up living, at launch we should redirect mzl.la/pulse to the new URL.

@xmatthewx is that done via a bugzilla ticket or something?

[2017-02-22 00:33] mmmavis commented on #325
GA event code has been reviewed and merged into the codebase. We just need to replace the [GA UA code](https://github.com/mozilla/network-pulse/issues/368) when we do get one. I think we can close this ticket now.

[2017-02-22 02:06] mmmavis commented on #309
Form is ready for QA: http://network-pulse-staging.herokuapp.com/add . Please create new tickets for suggestion and feedback. I'm gonna close this ticket now. Yay team!

[2017-02-22 02:06] #309 closed

[2017-02-22 03:12] ryanwarsaw commented on #373
@alanmoo If you file an issue in the ```mofo-devops``` repository, I'm sure cade or gideon could make the redirection changes, perhaps something to add in MozillaFoundation/mofo-devops/issues#452?

[2017-02-22 14:44] alanmoo commented on #373
Cool. I'll do that once the site is live, we don't have anywhere to direct people to yet.

[2017-02-22 17:50] kristinashu commented on #351
Oh my gosh! I'm so distracted from Pulse I forgot v2 does use the logo on every screen. I think the horizontal is actually better for this at 204 x 34 px (for both the nav bar and the splash screen).

[mozilla-pulse_wordmark-interim-horizontal.svg.zip](https://github.com/mozilla/network-pulse/files/794338/mozilla-pulse_wordmark-interim-horizontal.svg.zip)

<img width="1200" alt="screen shot 2017-0

[2017-02-22 18:19] kristinashu opened #374 "Form styling QA"
Few styling things but none of them are blockers. Here's the [redpen link](Redpen https://redpen.io/nvd9c7a75f06c79e35) for reference.

- [ ] vertical spacing: generally needs a little more space above titles (example: above "Basic Info" and "Optional Details", and above each field like "Title of the project" and "URL")
- [ ] width for content is too wide: should be using only 8 columns instead of

[2017-02-22 18:20] kristinashu commented on #309
Form is looking good! I've opened a ticket for some styling things but none of them are blockers for launch https://github.com/mozilla/network-pulse/issues/374

[2017-02-22 19:37] mmmavis opened #375 "UI label for "tags" in "add new entry" form"
Brought up by @Pomax in https://github.com/mozilla/network-pulse/pull/372#issuecomment-281495955

Good point. Currently hash(#) gets stripped before form gets submitted to Pulse API. So we are really posting an array of "tags" to Pulse API. I'm thinking maybe we should just call it "tag" on both frontend and backend (it already is on backend) to make everything consistent. On the form instead of h

[2017-02-22 19:48] mmmavis opened #376 "Confirmation message after successful form submission"
Brought up by @Pomax in https://github.com/mozilla/network-pulse/pull/372#issuecomment-281497076

Currently after a successful form submission user gets sent to the entry page of the entry he/she just submitted. As a temporary solution / placeholder I included a line `Thanks for submitting! Here's the entry you just posted.` on the page. Message looks a little buried to me and I'm not sure if this

[2017-02-22 19:57] mmmavis opened #377 ""Creator" fields on "add new entry" form"
Brought up by @Pomax in https://github.com/mozilla/network-pulse/pull/372#issuecomment-281495418

(ignore the misalignment issue in the screencap, I will soon fix it in another PR)

@kristinashu for your reference, I *think* this is what @Pomax has in mind: [example on react-formbuilder library](https://pomax.github.io/react-formbuilder/example/). I like having the ability to both remove/add field

[2017-02-22 20:25] Pomax commented on #377
Yeah, I meant that as a user I expect clicking an "add more" button to add another field without changing the relative positionings of any of the UI elements

[2017-02-22 20:26] Pomax commented on #375
Another common practice is to let people type words and automatically convert a word into a tag (visually) on a space or a comma or the like.

[2017-02-22 21:01] alanmoo opened #378 "Logging in shows "failed" message before redirect to Google"
On slower network connections, clicking "Sign in" shows the "Sign in failed" message for a moment before redirecting to google. This shouldn't happen.

(Not a blocker for launch though)

[2017-02-22 21:11] alanmoo commented on #375
We've also got the autocomplete API for this purpose, i.e. https://network-pulse-api-staging.herokuapp.com/tags/?search=a

[2017-02-22 21:23] Pomax commented on #375
also note that react-formbuilder lets you use arbitrary components, so if there is an `AutoComplete` component that can be used, the following should work:
[code]

[2017-02-22 21:52] kristinashu commented on #376
Cool! You could probably just say "Thanks for submitting!"

[2017-02-22 21:58] kristinashu commented on #377
I think it works as is and isn't a blocker for launch. Let's keep this open as an "enhancement"?

[2017-02-22 22:14] mmmavis commented on #377
Ummmm we should decide soon if we wanna use hashtag or just tag first. Hashtag can only be one word while tags can be multi-word. This will affect how our search functionality works too as searching for `#webliteracy` and `web literacy` are not the same thing. UI/UX improvements can be post-launch enhancement but we should really decide what we like things to be stored in the database so that we d

[2017-02-22 22:15] mmmavis commented on #377
oops omg ignored my previous comment hahaha that was referring to another ticket 😂

[2017-02-22 22:20] mmmavis commented on #375
We should decide soon if we wanna use hashtag or just tag first. Hashtag can only be one word while tags can be multi-word. This will affect how our search functionality works too as searching for `#webliteracy` and `web literacy` are not the same thing. UI/UX improvements can be post-launch enhancement but we should really decide what format we like it to be stored in the database so that we don'

[2017-02-22 22:23] kristinashu commented on #375
Are we talking about the _keyword tags with the hashtag_ or about the _name field_ for adding creators?

For _keyword tags with the hashtag_ we could just call them 'tags' instead of keywords. The idea with using a hashtag is that it's a modern way to do tags (people are used to doing it, one after another). Spaces are tricky for users because it isn't clear that something like "web site" will end

[2017-02-22 22:25] kristinashu commented on #375
I am happy to go with whatever is easiest to do right now and then iterate and improve later on...

[2017-02-22 22:25] kristinashu commented on #375
and test...

[2017-02-22 22:31] mmmavis commented on #375
@kristinashu

Oh sorry the reason why I included the screencap of the creator field(s) was just to show my idea of UI improvement **for the hashtag/keyword/tag** field. Didn't meant to suggest any changes to be made to the creator field itself. 😉

[2017-02-22 22:44] kristinashu commented on #375
Ah ok that makes more sense! Let's ignore hashtags for now and go with what you suggested @mmmavis (using the + creator field).

[2017-02-22 22:52] #376 closed

[2017-02-22 23:24] xmatthewx commented on #363
Alrighty. It _is_ a curious name.

[2017-02-22 23:26] xmatthewx commented on #368
Nice. Is there a devops ticket for this?

[2017-02-22 23:30] kristinashu commented on #367
Here's a start...

### Things to test:
- [ ] Add a post (need to write script)
- [ ] Search (need to write script)
- [ ] Content loads in main nav items (Featured, Latest, Issues, Favs)
- [ ] Fav and unfav works
- [ ] Copy link works

### Where to test:
Mac desktop
- [ ] safari
- [ ] FF
- [ ] chrome

iphone
- [ ] safari
- [ ] FF
- [ ] chrome

Windows desktop
- [ ] FF
- [ ] chrome
- [ ] IE???

Andr

[2017-02-22 23:47] xmatthewx commented on #373
I got this one. It's a bit.ly account that our communications people use.

[2017-02-22 23:51] mmmavis commented on #368
Yes: https://github.com/MozillaFoundation/mofo-devops/issues/452#issuecomment-280438064

[2017-02-22 23:53] xmatthewx commented on #374
Thanks for the close look at this @kristinashu. I agree that none of these should block launch. Better to launch, test, and then address things like this all at once.

I was about to add Pomax to my test entry when I noticed the link/input overlap:

<img width="972" alt="screen shot 2017-02-22 at 6 51 25 pm" src="https://cloud.githubusercontent.com/assets/53411/23238457/07e5a326-f930-11e6-8929-ebe

[2017-02-22 23:54] xmatthewx commented on #309
thanks @mmmavis!!!!! thanks team. excited to try this.

[2017-02-23 00:20] xmatthewx commented on #375
@alanmoo - does the api expect to receive comma separated tags? Does it expect `#`?

I propose that we launch with what the API expects now and then follow up later.

[2017-02-23 00:22] mmmavis commented on #232
@Pomax @alanmoo feel like we can close this ticket? :clinking_glasses: 🍾

[2017-02-23 00:43] #351 closed

[2017-02-23 14:23] #232 closed

[2017-02-23 14:26] alanmoo commented on #375
The API doesn't care about `#`, it's just taking in strings. So it'll store `#web` and `web` as two different items if that's what it's given. This is entirely a front-end concern.

[2017-02-23 14:34] alanmoo commented on #375
(For the record, it accepts an array of strings, so whatever we go with it just slightly changes how they get parsed before submitting.)

[2017-02-23 14:47] alanmoo commented on #367
iOS uses the same rendering engine across all 3 browsers, so I'm not super concerned about multi-browser testing there. More like screen size confirmation (iPhone, iPhone+ , iPad portrait, iPad landscape)

[2017-02-23 16:00] xmatthewx commented on #375
I'm hesitant to use `#` in this field. As users, we expect to use those in #context, rather than a standalone tags field. We could consider dropping the field and shifting to hashtags in the description.

I propose we run with comma separated tags for now, and then discuss hashtags post launch. Curious what y'all think.

[2017-02-23 16:09] alanmoo commented on #375
I hate #hashtags in #context, because they get #used so #poorly all the #time.

[2017-02-23 16:11] xmatthewx opened #383 "Discuss hashtags"
Currently, we gather tags from users in a tags field. Team has discussed merits of #hashtags vs comma separated phrases. #375

Let's discuss: should we drop the tags input field in favor of hashtags in the description fields? Merging existing tags would take a bit of work, but shouldn't be a blocker.

### hashtags in description

 - **Pro hashtags**: This is defacto approach on social platforms to

[2017-02-23 18:58] #178 closed

[2017-02-23 20:06] #325 closed

[2017-02-23 20:37] Pomax commented on #375
My take on hashtags is that they only make sense in a setting where it is otherwise impossible to tell what is a searchable keyword. They're a necessary evil in tweets and the like, but for our entries we should be able to use real words, since they're already specifically presented as a thing on their own.

[2017-02-23 20:46] Pomax opened #385 "Improve the form-post-failing notice"
Right now the notice reads "Sorry! We're unable to submit entry to server at this time.", we might want to rephrase that to "Sorry! We are unable to submit this entry right now" and possibly with the added information that comes out of the API server about why there is a 403 (if there is any information of course)

[2017-02-23 20:59] Pomax opened #386 "network-pulse-staging app is not calling /nonce ... ?"
if I look at the network traffic, the app on network-pulse-staging at no point calls the `/nonce` route on the API server to ensure it has a csrf token and a nonce value for posting.... that would explain why we're getting a 403, @mavis do you know where to confirm that this isn't happening?

[2017-02-23 21:50] Pomax opened #387 "improve load time by restricting page_size for `entries` to 24"
Right now page_size is set to 996 which makes the request transfer the entire database of entries on every call. Let's cut this down to 24 instead, so it doesn't take a really long time to do a network fetch.

[2017-02-23 21:55] Pomax opened #388 "make the client switch to https when not on localhost"
Given that we want the client to always be running on https, we should probably add in a little window.location.protocol checker that, when it sees we're not on localhost or example.com, does a protocol switch to https instead.

[2017-02-23 21:57] xmatthewx commented on #387
This was discussed before with @alanmoo and @mmmavis. I believe there was a concern about slow loads on Load More. Or repeat searches queries.

How big approximately is a blobby blob of json per 100 entries? What's a reasonable amount of kb to transfer?

[2017-02-23 22:01] xmatthewx commented on #385
If things fail, can we display their content? Even in a rough format? Stinks to lose your writing.

[2017-02-23 22:05] xmatthewx commented on #375
Any dissenting opinions?

If not, I think we're good to go with Tags input field with this revised placeholder text: `privacy, internet of things, game, best practice`.

[2017-02-23 22:15] #374 closed

[2017-02-23 22:18] mmmavis opened #391 "Add spacing after checkbox"
<img width="445" alt="screen shot 2017-02-23 at 2 17 24 pm" src="https://cloud.githubusercontent.com/assets/2896608/23281616/e40a5d2c-f9d2-11e6-9ee5-9dd077c4eb64.png">

[2017-02-23 22:19] mmmavis commented on #374
checkbox spacing will be tackled as a followup ticket: https://github.com/mozilla/network-pulse/issues/391

[2017-02-23 22:21] kristinashu commented on #371
Do we really need that field? If so, @xmatthewx what do you want to hint text to be?

[2017-02-23 22:29] #364 closed

[2017-02-23 22:34] mmmavis opened #392 "Broken project list layout"
I think my recent CSS changes broke the project list layout. Will fix this soon!

<img width="1431" alt="screen shot 2017-02-23 at 2 32 02 pm" src="https://cloud.githubusercontent.com/assets/2896608/23282233/2a9e76ae-f9d5-11e6-9bff-7308c6aa5c0f.png">

[2017-02-23 23:01] mmmavis commented on #392
Aw I accidentally removed a wrapper `div` in a previous PR. That's why styling aren't showing up correctly. Filing a PR now.

[2017-02-23 23:06] #392 closed

[2017-02-23 23:26] xmatthewx opened #394 "Missing date info"
Staging appears to missing date info on entries as seen in mockup here: https://github.com/mozilla/network-pulse/issues/161#issuecomment-266558692 and below.

<img width="334" alt="screenshot 2016-12-12 16 25 10" src="https://cloud.githubusercontent.com/assets/53411/21117440/b061ee42-c087-11e6-8cab-f32379b18f7e.png">

<img width="522" alt="screenshot 2016-12-12 16 29 52" src="https://cloud.githubu

[2017-02-23 23:26] xmatthewx commented on #394
cc @mmmavis

[2017-02-23 23:40] mmmavis commented on #394
Might be a Pulse API issue - I don't see any "timestamp" field being stored (at least I'm not seeing on the the Django dashboard). @Pomax @alanmoo ?

[2017-02-23 23:50] mmmavis opened #395 "Close v1 specific tickets"
@xmatthewx

I just wanna tidy up issues on this repo a bit. Can we close v1 specific tickets now so that we don't have to rely on "v2 - upcoming" label to find issues for the current (and future release)?

/cc @kristinashu

[2017-02-23 23:51] #388 closed

[2017-02-23 23:54] mmmavis commented on #386
I'm not able to reproduce this. Is this still happening? What's the STR?

[2017-02-23 23:57] xmatthewx commented on #371
I worry about people hastily posting stuff without thinking about what it means to the others. We could look in the spreadsheet to see if the field has been used well or is redundant. I'm open to removing it, but I'd like to keep it unless we've found it to be no useful. Nobody has said to us they struggle to figure out what to put there.

[2017-02-23 23:57] alanmoo commented on #394
It's called `created`.

[2017-02-23 23:58] xmatthewx commented on #395
of course....

[2017-02-23 23:59] mmmavis commented on #31
obsolete. closing. 😉

[2017-02-23 23:59] #31 closed

[2017-02-24 00:00] mmmavis commented on #40
obsolete. closing. 😉

[2017-02-24 00:00] #40 closed

[2017-02-24 00:00] Pomax commented on #386
weird http nonsense.. closing with the https-PR landing.

[2017-02-24 00:00] #386 closed

[2017-02-24 00:01] mmmavis commented on #55
@kristinashu is this v1 specific? If so that's close it 😉

[2017-02-24 00:01] mmmavis commented on #56
@kristinashu is this v1 specific? If so let's close it 😉

[2017-02-24 00:03] Pomax commented on #385
As is you get the notice next the form you're trying to submit so in that sense the information isn't lost, but it's not super helpful in figuring out how to fix your form so that posting will succeed (if you even can!)

[2017-02-24 00:04] mmmavis commented on #117
this is totally v1 specific. closinnnnng it now!

[2017-02-24 00:04] #117 closed

[2017-02-24 00:05] mmmavis commented on #127
Was a bug on v1. Closing.

[2017-02-24 00:05] #127 closed

[2017-02-24 00:06] Pomax commented on #387
you don't really wan to transfer more than 1kb. I'm going to be pragmatic here and say "just load what you need to show the user what they're supposed to see". If the screen fits 24 items, load 24 items, at mot prefetch the next 24, and keep network activity lean.

[2017-02-24 00:07] mmmavis commented on #156
@kristinashu I don't remember what this ticket was about 😁 Seems like it's for v1. Can we close it?

[2017-02-24 00:08] mmmavis commented on #184
obsolete. closing.

[2017-02-24 00:08] #184 closed

[2017-02-24 00:09] mmmavis commented on #185
v1 bug. closing.

[2017-02-24 00:09] #185 closed

[2017-02-24 00:13] xmatthewx commented on #387
That sounds reasonable.

Is there a way I can do a throttled test on my end by viewing /latest?page_size=24 manually? It seems to be fetching all still with that parameter. Site is slow on 3G, but Load More seems instant.

[2017-02-24 00:15] Pomax commented on #387
yeah if you want to check the difference, try these two links:

- full: https://network-pulse-api-staging.herokuapp.com/entries/?format=json
- limited: https://network-pulse-api-staging.herokuapp.com/entries/?format=json&page_size=12&page=3

And then you can play with the "page size" value to see the difference

[2017-02-24 00:17] kristinashu commented on #156
Yeah, as long as in v2 someone can put in "mozillafestival.org" and it will link ok (without having to put in "http://mozillafestival.org").

[2017-02-24 00:18] kristinashu commented on #55
We should keep this, it's a potential feature in the future.

[2017-02-24 00:19] kristinashu commented on #56
Lets keep this, I still think it's something we should eventually add in.

[2017-02-24 00:23] kristinashu commented on #371
Ok, what should the hint text say?

[2017-02-24 00:25] xmatthewx commented on #156
http or https is required. says it in the hint on the form.

[2017-02-24 00:32] kristinashu commented on #156
So should we leave this open to fix that or do we not care?

[2017-02-24 00:39] xmatthewx commented on #156
I care. We'll have to see what things come up from QA. See what's most critical.

[2017-02-24 01:46] mmmavis commented on #394
kk now I see it in /entries response. I will take care of this ticket.

[2017-02-24 01:48] mmmavis commented on #296
I believe we can close this now! 🍾

[2017-02-24 01:48] #296 closed

[2017-02-24 01:50] mmmavis commented on #227
v1 bug. closing.

[2017-02-24 01:50] #227 closed

[2017-02-24 05:30] mmmavis commented on #394
@xmatthewx

On detail view, since we can't predict how long the [creator] text is gonna be, there could be cases like
<img width="546" alt="screen shot 2017-02-23 at 9 25 10 pm" src="https://cloud.githubusercontent.com/assets/2896608/23291641/ae382ca6-fa0e-11e6-8837-187bbbb6d10a.png">

I wonder if we should make it consistent so that [creator] and [date posted] each occupies a line, regardless of

[2017-02-24 15:00] alanmoo commented on #394
You can avoid the awkward line breaks by using the `.col-auto` class. [Example](http://codepen.io/alanmoo/pen/QpwWLL)

[2017-02-24 18:38] mmmavis commented on #394
@alanmoo cool! Is there an easy way to make sure a middot is there when [creator][date posted] fit in one line?

[2017-02-24 18:42] Pomax commented on #394
fitting content based on available space? @flukeout has opinions here and they're all "javascript" =P

[2017-02-24 19:37] Pomax opened #396 "switch between dev and prod React based on process.env.NODE_ENV"
webpack currently does not alias react based on the environment, which means that all builds use the dev version of react. We should add a process.env.NODE_ENV check for `"PRODUCTION"` and if found, switch to using the lean prod-version of React

[2017-02-24 19:45] Pomax commented on #396
landed https://github.com/mozilla/network-pulse/pull/397

[2017-02-24 19:45] #396 closed

[2017-02-24 20:17] #350 closed

[2017-02-24 20:24] mmmavis commented on #394
Yea that's why I'd suggest that we stick with
[code]
(each starts a new line)
on every view.

Are you good with this? @xmatthewx

[2017-02-24 20:45] alanmoo commented on #394
@mmmavis not off the top of my head. Without something like element queries being a thing, it seems like it would be significantly trickier if at all possible.

[2017-02-24 20:59] mmmavis commented on #391
@Pomax is it something we can tweak on the `react-formbuilder` side? Basically we need a way to assign Bootstrap class like `.form-control` **directly** to `input` and `label` in `checkboxGroup` and `optionGroup`. We can do this already to other component type so I hope we can do this too on `checkboxGroup` and `optionGroup`. If this doesn't sound like a good idea I can always write CSS rules for

[2017-02-24 21:16] Pomax commented on #391
That makes no sense. We use less/sass, we can tack any class anywhere we like through things like
[code]

[2017-02-24 21:32] mmmavis commented on #375
@Pomax 's react-formbuilder makes it really easy to turn this from one single input box

<img width="746" alt="screen shot 2017-02-24 at 1 10 23 pm" src="https://cloud.githubusercontent.com/assets/2896608/23321716/721f7db4-fa95-11e6-89da-c6bc20006589.png">

into something like

<img width="754" alt="screen shot 2017-02-24 at 1 14 56 pm" src="https://cloud.githubusercontent.com/assets/2896608/23321

[2017-02-24 22:08] xmatthewx commented on #394
Can't we just wrap the dot, add a class, use a whatever media-queries you have in place for screen size?

Or, don't worry about it. We have some bigger responsive wrinkles to address post-launch.

[2017-02-24 22:14] alanmoo commented on #394
It's more dynamic than just screen size. I'd say nix the dot, and maybe just change the font style/weight/something between creators and date. Or go with the new line approach.

[2017-02-24 22:15] mmmavis commented on #394
Still, we have no way (without JS) to tell how long each string is gonna be. And [creators] vary entry by entry. The middot treatment can fix the awkward line break issue for some entries, but def not all of them.

[2017-02-24 22:41] Pomax commented on #394
wrap each creator name in a `white-space: nowrap` span, and insert `<wbr>` elements between each name.

[2017-02-24 22:59] Pomax commented on #375
@mmmavis I would be more in favour of @Alanmoo's suggestion of using an autocomplete/tag component here. People shouldn't have to click on "add another" just to type more than one tag, a comma or space should probably make this happen automatically for them

[2017-02-24 23:15] mmmavis opened #398 "Add env var section to README"

[2017-02-24 23:21] kristinashu commented on #375
@mmmavis do whatever is quickest for you to do now. We can iterate, test and improve on it later. Lets launch this sucker and get some outside eyes on it!

[2017-02-24 23:35] Pomax commented on #375
fastest I'd say keep a text field, don't have users type `#` and just split on `value.trim().split(/,\s*/)`

[2017-02-24 23:36] mmmavis opened #399 "Remove temp fix code from add.jsx"
Once fix to https://github.com/mozilla/network-pulse-api/issues/80 gets deployed to Pulse API staging, we should remove our temp fix code from `add.jsx`

https://github.com/mozilla/network-pulse/blob/ff6d3a7d0b957d6ea9791c428ec45b4fd4a0458d/pages/add/add.jsx#L96-L110

[2017-02-25 00:40] mmmavis commented on #394
I don't want design decision to block us from fixing "missing date info" issue. Here's [the PR](https://github.com/mozilla/network-pulse/pull/400) to add that date info back

list view, clip with ellipsis
<img width="369" alt="screen shot 2017-02-24 at 4 25 04 pm" src="https://cloud.githubusercontent.com/assets/2896608/23326058/1b6280e2-faaf-11e6-97c2-518d73e16810.png">

detail view, show full tex

[2017-02-27 15:48] xmatthewx commented on #375
Split also on whitespace? So "mozfest 2016, iot" yields three tags [mozfest,2016,iot]? It seems better to ask for commas from users, and then split only on commas so we get things as intended.

[2017-02-27 16:48] alanmoo commented on #375
Whitespace after commas. You'll still get ["mozfest 2016","iot"] with that regex.

[2017-02-27 17:49] #394 closed

[2017-02-27 17:50] #375 closed

[2017-02-27 17:55] mmmavis commented on #395
Closed a bunch.

[2017-02-27 17:55] #395 closed

[2017-02-27 18:04] mmmavis commented on #385
@Pomax What kind of detail error message do we wanna show? What are the status codes that would be helpful for users to know?

[2017-02-27 18:51] Pomax commented on #385
Many of the errors are actually concerns for use, more than the user, so the user typically should be informed that something went wrong and really we should be notified of that. I don't know what the best way to do that is.

Possible errors the user could run into while trying to post:

403: the user isn't *actually* logged in, which might happen if they somehow invalidate their session between l

[2017-02-27 19:18] mmmavis commented on #310
I think I'm gonna work on this ticket next.

Technically wise I'm thinking

- tracks favourited(bookmarked) entries in localStorage: `localStorage.favedEntries` (array)
- every time user favourites an entry:
    - we add the entry id to `localStorage.favedEntries`
    - we also initiate PUT Pulse API calls to`/entries/<id=number>/bookmark` for ids in `localStorage.favedEntries`. Once an entry's bo

[2017-02-27 19:22] mmmavis commented on #330
@cadecairos I believe we have the production URL we want, correct? 😃  If so I guess we can close this ticket and [the DevOps one](https://github.com/MozillaFoundation/mofo-devops/issues/452). I can create a separate ticket for creating a new GA property on DevOps repo if there isn't one already. Let me know!

[2017-02-27 19:45] Pomax commented on #310
That seems reasonable, at what point would you attempt the PUT operation?

[2017-02-27 19:50] mmmavis commented on #310
I was thinking every time after `localStorage.favedEntries` gets updated?

[2017-02-27 20:09] Pomax commented on #310
conditional on the user being signed in though? Or just "regardless" and see if it goes through?

[2017-02-27 20:14] Pomax commented on #330
that sounds reasonable - the prod domain is up now.

[2017-02-27 20:33] mmmavis commented on #310
Right. I guess that also depends on if we want to prompt user to sign in or not.

## For users who \*are not\* signed in

### Option 1

We store ids of their bookmarked entries in `localStorage` only. We don't prompt them to log in.

 ### Option 2

We store ids of their bookmarked entries in `localStorage` only as well as prompt them to log in. Once they are logged in, we make PUT calls for things

[2017-02-27 20:35] mmmavis commented on #330
Closing this one now. I will update the existing DevOps ticket: https://github.com/MozillaFoundation/mofo-devops/issues/452

[2017-02-27 20:35] #330 closed

[2017-02-27 21:36] Pomax commented on #310
I can imagine option 2 to get really annoying after a while for people who inherently can't log in because they don't have a certified mozilla email account. I'd favour option 1, with a little notice only when an entry is faved and the localStorage list of faves is empty, to let them know that if they want these synced they'll need a log in and that in the mean time faves will be stored on a per-b

[2017-02-28 01:03] #398 closed

[2017-02-28 01:29] #391 closed

[2017-02-28 01:42] mmmavis opened #405 "Heroku deployment failed"
@Pomax

https://dashboard.heroku.com/apps/network-pulse-staging/activity/builds/0d9867fb-cb3c-495a-864b-4fc77fa9a33f

[code]

Thoughts? I'm gonna see if I can reproduce this locally.

[2017-02-28 01:52] mmmavis commented on #405
Ah `document-env-vars` should be a dependencies (not `devDependencies`). PR coming.

[2017-02-28 16:09] xmatthewx commented on #358
@alanmoo - pulse is live and looking beautiful. Thanks!! I'll start to share with Kevin and Chris and others after we do one last migration.

[2017-02-28 16:28] alanmoo commented on #358
Ok so I should go ahead and do this?

[2017-02-28 16:36] #405 closed

[2017-03-01 21:06] mmmavis commented on #310
Gonna wait for our decision in https://github.com/mozilla/network-pulse-api/issues/94 before I proceed.

[2017-03-02 18:03] #368 closed

[2017-03-02 18:31] mmmavis opened #408 "Update README.md with deployment flow"
- staging gets auto updated after something gets merged into `master` branch

- prod push is manual"deploy master to production"
<img width="1062" alt="screen shot 2017-03-02 at 10 20 51 am" src="https://cloud.githubusercontent.com/assets/2896608/23521344/68f4d750-ff33-11e6-9ff4-e669ffa938f7.png">

[2017-03-02 18:44] alanmoo opened #409 "Possible bug with react-router and analytics"
When visiting the site, switching to other navigation sections seems to trigger an event in analytics, but the page that's currently active doesn't always get reported correctly. For example, visiting `issues` shows active page as `/issues/` but then switching to `latest` shows `/issues` (notice the lack of final slash). Switching between the main nav items does this inconsistently, sometimes refl

[2017-03-03 00:03] mmmavis commented on #373
Seems like this is already done. https://mzl.la/pulse now goes to https://www.mozillapulse.org/ 👏

[2017-03-03 00:03] #373 closed

[2017-03-03 00:06] mmmavis commented on #288
`v1` is now retired. Gonna close this ticket now.

Thanks for offering your help @aayushsanghavi ! 😉

[2017-03-03 00:06] #288 closed

[2017-03-03 01:10] mmmavis opened #413 "Upgrade "stylelint-config-standard" to v16"
https://github.com/stylelint/stylelint-config-standard/blob/master/CHANGELOG.md#1600

Upgrading it to v16 should get rid of the following warnings raised from `npm test`
<img width="904" alt="screen shot 2017-03-02 at 5 09 32 pm" src="https://cloud.githubusercontent.com/assets/2896608/23534206/1dc53f6c-ff6b-11e6-8690-b90bef1955f8.png">

[2017-03-03 01:23] mmmavis commented on #358
@alanmoo This is done? 😃😃😃😃😃

[2017-03-03 04:56] alanmoo commented on #358
👍🏼

[2017-03-03 04:56] #358 closed

[2017-03-03 17:57] Pomax commented on #359
This was already done and we forgot to close this issue - https://github.com/mozilla/network-pulse/blob/master/webpack.config.js#L5-L15

[2017-03-03 17:57] #359 closed

[2017-03-06 17:16] #413 closed

[2017-03-06 17:56] #343 closed

[2017-03-06 18:33] mmmavis opened #416 "Project title on detail view shouldn't be hyperlinked"

[2017-03-06 18:37] mmmavis opened #417 "Hover effect for heart icon (for favorating/bookmarking)"
The heart icon in a project card doesn't have any hover effect. See example below:
<img width="374" alt="screen shot 2017-03-14 at 10 28 23 pm" src="https://cloud.githubusercontent.com/assets/2896608/23934892/935f87b6-0905-11e7-901f-c64b9e913c4c.png">

@kristinashu can you suggest how the heart icon should look on hover?

- a hollow heart on hover (for project that is currently not favourited/book

[2017-03-06 18:41] mmmavis opened #418 "Stuck in "loading" state if clicking on a [issue] twice"

[2017-03-06 19:04] xmatthewx opened #419 "Pulse QA to Triage"
Some notes from testing on Firefox and Chome on Mac and Android.

 * [ ] **Responsive cards** – #491 –  Action: View pulse at different screen widths. Results: cards are squished very thin when they don't need to be. Individual card has tons of margin at browser widths below 992px. On list view, we should switch to 2-per-row below 992px. I recommend a minimum width of something like 340px on list

[2017-03-06 21:02] Pomax commented on #419
Pulse admin
- can you elaborate on the "login to admin"? Because you can't actually log in through the /admin link itself right now =) (which in itself probably needs fixing)
- that sounds like a but that we should file on the api repo
- base django does not have a responsive design, so if we need that for mobile devices, that's a biggie

[2017-03-07 01:49] mmmavis commented on #419
@xmatthewx

I'd say if that thing works on v1(https://mozilla.github.io/network-pulse/) but not on `v2` then labels it a `bug`. Otherwise it should be an `enhancement`. `features` label to me sounds more like a big feature that we are going to implement.

[2017-03-07 18:48] xmatthewx commented on #419
I moved admin bugs to api repo.

[2017-03-07 18:53] xmatthewx commented on #419
@kristinashu – let's discuss & label the list above. then file individual issues.

@mmmavis – some of these things are more important than an enhancement. We will want to fix the reloading that happens between tabs before a broad audience sees this. I wouldn't call it a bug, but it should be part of 2.1. Or, would you call it a bug?

`Bugs`: Fix in 2.0.1
`In between`: Implement for 2.1. Things req

[2017-03-07 19:46] #408 closed

[2017-03-07 19:48] Pomax commented on #365
Technically it's not a navigation link: users are not intentionally going to "a url", they are intentionally logging in, which happens to use redirects but they couldn't care less really, so in this case a button is fine, as long as it can be tabbed to for accessibility purposes, so I think what we want here is to preserve the button, but make sure it has a `tabIndex=0` so that it's a keyboard-nav

[2017-03-07 20:51] xmatthewx commented on #419
cc @hannahkane

[2017-03-07 21:52] hannahkane commented on #419
Perhaps these should be grouped into milestones (2.0.1, 2.1, Beyond) rather than labels?

[2017-03-08 00:57] kristinashu opened #421 "User testing"
Running list of things to test on usertesting.com:
- back button #250

[2017-03-08 00:58] kristinashu commented on #250
I'm going to close this and say that it is something we should test https://github.com/mozilla/network-pulse/issues/421

[2017-03-08 00:58] #250 closed

[2017-03-08 17:24] xmatthewx commented on #419
- **Responsive cards** – Action: View pulse at different screen widths. Results: cards are squished very thin when they don't need to be. Individual card has tons of margin at browser widths below 992px. On list view, we should switch to 2-per-row below 992px. I recommend a minimum width of something like 340px on list views. 500px on detail view.

[2017-03-08 20:42] mmmavis commented on #419
@xmatthewx

`In between`: Implement for 2.1. Things required to feel awesome as we share with a broad audience.
`Enhancements`: Consider for a future release. Help wanted. Good first bug.

@xmatthewx @hannahkane For labels and milestones, can we have **both** category type labels (like bug, enhancement, ... etc) as well as version labels(e.g., v2.1, v3, etc)? If something is a bug... doesn't matte

[2017-03-08 21:48] hannahkane commented on #419
@mmmavis's labels + milestones plan makes sense to me.

[2017-03-08 23:43] xmatthewx commented on #419
I update my list above again. Github or I dropped it before. I gave each item a more clear title.
To me, these all seem like a v2.0.1. I'm curious if @kristinashu or @hannahkane think anything should be bumped to later.

@mmmavis – we can start filing individual tickets. But I'm curious what people think about the collection of stuff as a whole.

[2017-03-09 00:11] mmmavis commented on #419
Hey @xmatthewx what's the timeline we are talking about here?

[2017-03-09 14:43] xmatthewx commented on #419
@hannahkane and I will take a look at the upcoming heartbeat today and figure out if this work fits against other priorities. If your plate is clear, you might squash some of the smaller things.

[2017-03-09 14:56] xmatthewx commented on #363
@Pomax are you still working on this or is it on hold? Do we need a corresponding ticket in the api repo?

[2017-03-09 19:36] Pomax commented on #363
this was put on hold when we decided image upload would not be necessary for launch, and we've been sorting out some launch issues in the mean time. @gideonthomas and @cadecairos have [implemented image upload on the network-api side](https://github.com/mozilla/network-api/commit/d692ad329ab95d36028d3d7ebb122fbe9505d83b) that we can probably use as well.

[2017-03-09 19:46] Pomax commented on #419
Some small things I ran into that may or may not be worth turning into issues:
- For "latest" it might be good to explicitly say "loading latest results..." instead of just the "..." so that users understand what they're actually looking at/waiting for
- odd quirk in the results: if I (accidentally) click-drag an entry's title to another entry, then the first entry's title stays underlined despite

[2017-03-09 22:46] xmatthewx commented on #363
Got it. To clarify, I didn't want it to block the launch of Pulse. So we could start QA and get Kevin on board. I do think it's required for launch of the Network site. Pulse featured prominently there and we have lots of pulse content to polish up and add. Sorry if that was ambiguous.

[2017-03-10 23:22] Pomax commented on #363
Associated issue on the network-pulse-api repo (with PR) https://github.com/mozilla/network-pulse-api/issues/98

[2017-03-10 23:47] mmmavis commented on #365
Based on [our discussion](https://github.com/mozilla/network-pulse/pull/415#discussion_r105238840) current code is good as is. Gonna close this ticket now.

[2017-03-10 23:47] #365 closed

[2017-03-13 15:39] xmatthewx opened #422 "Input guidelines"
Let's revise the helper text on the input form based on wisdom from @KevZawacki in these [WIP edits](https://docs.google.com/document/d/1Rp08kMV4qZ_xUadW9SftsGGeZc9t3ZASTCxGrSeR2fE/edit).

We can wait for Kevin to say things are good to go.

[2017-03-13 16:39] xmatthewx commented on #422
cc @hannahkane

[2017-03-13 16:40] xmatthewx commented on #422
Do we want a word or two to deter entries that are written as ads or recaps, rather than more [wikipedia-styled](https://en.wikipedia.org/wiki/Wikipedia:Contributing_to_Wikipedia#Wikipedia.27s_purpose) references? Or do we need to address that with staff directly?

[2017-03-13 19:58] KevZawacki commented on #422
@xmatthewx

To prevent ads/recaps, I've added this language to our document: "Remember: This is a brief summary, not an advertisement or changelog."

Re: character limits, what are your thoughts on:

title = max_length=50
description = max_length=500
get_involved = max_length=300

(We can grandfather in older entries.)

[2017-03-13 20:55] hannahkane commented on #422
@xmatthewx - can you explain why an event recap wouldn't be appropriate. Not sure I follow.

[2017-03-14 19:35] kristinashu commented on #419
Here's a link to our prioritization etherpad https://public.etherpad-mozilla.org/p/pulse-qa-triage

[2017-03-14 20:57] xmatthewx opened #423 "Rank/sort Featured Items"
Pulse enables an Admin to flag an entry as featured, to appear on the featured tab. We also pull this featured list into the Mozilla Network site.

Going further, an admin should be able to specify the rank or order of featured items, so that we can highlight things that align with our editorial calendar, so the top three items on the network site match the topic of other news and features.

@gide

[2017-03-14 20:58] xmatthewx commented on #357
Closing. Starting again in #423.

[2017-03-14 20:58] #357 closed

[2017-03-14 21:05] xmatthewx opened #424 "Add image upload to Input form"
This should be tip top priority, before other QA.

@Pomax has a PR open to enable image upload in the API. https://github.com/mozilla/network-pulse-api/issues/99

We need to hook this up to the existing input form. We will drop the current URL field from the form.

I'm unsure if this is work for @mmmavis @Pomax or @alanmoo.

[2017-03-14 22:30] mmmavis opened #425 "Search page: focus should be set to input box by default"
originally mentioned in https://github.com/mozilla/network-pulse/issues/419#issue-212218068 by @xmatthewx

Expected: Focus should be set to input

[2017-03-14 22:33] mmmavis opened #426 "Clicking on dismiss button should bring focus back to input box"
originally mentioned in https://github.com/mozilla/network-pulse/issues/419#issue-212218068 by @xmatthewx

Result: Button keeps active state.
Expected: Focus should go back into input

[2017-03-14 22:37] Pomax commented on #424
landing the functionality into the database is work for me and @alanmoo, updating the client form is a job for @mmmavis and probably me (I suspect the form builder might not have an "image" field, which we'll need to add if we want to use it in our form definition for the client)

[2017-03-14 22:39] Pomax commented on #423
when you say "rank featured", are you thinking "within the set of featured items, there is a fluid ranking similar to a numerical score" or "within the set of featured items, some items have an additional should-be-on-top checkbox"?

[2017-03-14 22:39] mmmavis opened #427 ""Load more" button should not stay in focus/active state"
originally mentioned in https://github.com/mozilla/network-pulse/issues/419#issue-212218068 by @xmatthewx

Result: Button retains focus/active state from before.

[2017-03-14 22:40] mmmavis opened #428 "Remember list scroll position"
originally mentioned in https://github.com/mozilla/network-pulse/issues/419#issue-212218068 by @xmatthewx

Result: list reloads. Expected: show me where I was before

expected behaviour as described in https://github.com/mozilla/network-pulse/pull/445#issuecomment-291942575

[2017-03-14 23:51] mmmavis opened #429 "Code cleanup for bookmarks.jsx"
for context see https://github.com/mozilla/network-pulse/pull/410/files#r105798208

[2017-03-14 23:59] mmmavis commented on #427
This should be fixed on staging now: https://network-pulse-staging.herokuapp.com/latest

@xmatthewx can you verify?

[2017-03-15 00:02] mmmavis commented on #418
This was covered in a just-got-merged PR.

[2017-03-15 00:02] #418 closed

[2017-03-15 00:02] mmmavis commented on #387
Fixed in https://github.com/mozilla/network-pulse/pull/410

[2017-03-15 00:02] #387 closed

[2017-03-15 00:03] mmmavis commented on #361
Fixed in PR https://github.com/mozilla/network-pulse/pull/410.

[2017-03-15 00:03] #361 closed

[2017-03-15 00:12] xmatthewx commented on #427
Still seems to happen on Android, both Chrome and FF beta. Do you have an Android in the office?

[2017-03-15 02:21] Sudip7 commented on #417
@mmmavis : little more description would help to understand the issue!!!

[2017-03-15 05:37] mmmavis commented on #417
@Sudip7 kk I just updated the ticket description above.

[2017-03-15 05:49] mmmavis commented on #427
Ah, right. Might be a mobile thing. It works on desktop Chrome/FF/Safari but not iOS ones (and Android ones I guess)

[2017-03-15 06:06] mmmavis opened #430 "iOS Safari: detail view not showing project card"
Not sure if it's just me -

On iOS Safari, detail view is not showing the project card. For example, this is what it looks like when visiting https://www.mozillapulse.org/entry/153

<img src="https://cloud.githubusercontent.com/assets/2896608/23935698/878b9056-090a-11e7-9212-35983293196c.PNG" width=480>

(Note that it seems fine on iOS Chrome and Firefox)

[2017-03-15 17:29] xmatthewx commented on #363
Closing this discussion. Tracking frontend in https://github.com/mozilla/network-pulse/issues/424 and API in  https://github.com/mozilla/network-pulse-api/issues/98

[2017-03-15 17:29] #363 closed

[2017-03-15 22:49] xmatthewx commented on #423
Adding @KevZawacki for input.

Interesting: I actually think that an additional `this-should-be-on-top checkbox` would be more useful. That way, we don't ever need to un-feature a thing or worry about the rank of many dozens of things (which loses valuable info). Instead, we just need to manage the tippy-top shortlist items. My gut says that's an easier way to solve the job we need to do for the n

[2017-03-15 22:51] xmatthewx commented on #423
@Pomax - how are featured entries currently ordered? Post date? Or, by date featured? Reverse or forward? If it's featured date, we could maybe hack that to set tippy-top in the interim.

[2017-03-15 23:01] xmatthewx commented on #422
The platform is for assets or resources. It's not a blog or twitter. If a recap is framed as: "lessons learned from xyz hackathon" then it's a best practice that could fit in well. But if it's a just a story of what someone did, it's not a resource for others. I don't think we need to prohibit things like that in a gray area, but I don't want people to start using this like twitter or to put their

[2017-03-15 23:02] xmatthewx commented on #422
@KevZawacki suggests (and i agree) the form could include a statement like "Submissions may be lightly edited by our Network Site curator for spelling, grammar and style consistency..."

We'll want that for featured items. I wonder if legal would suggest we reach out to individuals in the case to request permission.

[2017-03-16 00:12] mmmavis commented on #424
@Pomax yes could you please help add an "image" field to the already-awesome react-formbuilder? 😄 One question regarding the Django dashboard  - am I supposed to see a "thumbnail" field there? I can't remember where exactly I saw it but I remember you mentioned something about having both "thumbnail" and "thumbnail url" in the backend.

[2017-03-16 13:03] KevZawacki commented on #423
So whenever I newly click `this-should-be-on-top checkbox` on an item, it would jump to the first spot? And the previous `this-should-be-on-top checkbox` item would be pushed to the second spot? And so forth?

That works for me. But if we're planning to highlight a whole new crop of content at the start of each week, it seem like `within the set of featured items, there is a fluid ranking similar

[2017-03-16 15:08] xmatthewx commented on #423
@KevZawacki – I think we should huddle up on this over vidyo if you have time. So we can tackle this case and related curation in Pulse itself.

Some thoughts below. @Pomax – feel free to mute this until we get a bit more clear.

Idea 1: So from an Admin perspective, it sounds like we are proposing:
 - `Featured` – a true/false flag on many good things (maybe 10% of all entries). once true, likely

[2017-03-16 18:18] kristinashu commented on #430
@mmmavis seems fine to me? The post shows up.

[2017-03-16 18:35] taisdesouzalessa commented on #430
@mmmavis it works for me too. Here is the screenshot:
![img_5162](https://cloud.githubusercontent.com/assets/22157921/24012817/966961ce-0a3c-11e7-818b-97b8f8876a2c.PNG)

[2017-03-16 18:39] hannahkane commented on #430
I can't reproduce either.

[2017-03-16 18:51] mmmavis commented on #427
@alanmoo @gvn I searched online a bit and seems like this is the default behaviour for mobile (that the button stayed "focused/active" after touched. Any suggestion on how to reset them back to the default state? I hope we can do it without involving JS.

[2017-03-16 19:36] alanmoo commented on #427
Nothing non-JS jumps to mind for me, unfortunately. Can't you access the button from the event handler and defocus it at the end of that function?

[2017-03-16 19:38] mmmavis commented on #430
@Pomax @alanmoo

Ah it's something to do with my iOS Safari's privacy and security settings

Originally I had **Do Not Track turned on** and **Block Cookies set to "Allow from Websites I Visit"**

<img width="1001" alt="screen shot 2017-03-16 at 12 12 40 pm" src="https://cloud.githubusercontent.com/assets/2896608/24015166/d8e787b2-0a44-11e7-89ec-6351e23d5e49.png">

After turning DNT off I got

<im

[2017-03-16 19:54] mmmavis commented on #430
@taisdesouzalessa was able to reproduce the bug just now  (with "Do Not Track" turned on and "Block Cookies" set to "Allow from Websites I Visit")

[2017-03-16 19:58] mmmavis commented on #427
@alanmoo

yea probably but does it mean that we'll have to do this for all buttons we currently on the site (and remember to do so for any future buttons we are gonna add)... 👀

[2017-03-16 20:01] kristinashu commented on #417
How about the heart turns into a filled in grey heart (same grey as the outline text for hollow hearts). This would work for both states (hollow + filled in). Does that make sense?

[2017-03-17 03:40] Pomax commented on #430
Another question is *why do we need cookies at all*, that should not affect data responses... Is there a way to see the full raw request headers for "with no cookies" turned on and with it turned off? Maybe we can see a difference.

[2017-03-17 15:57] xmatthewx opened #433 "Tell users about image size in form"
The form should tell users that  "Images should be 1200 x 630px."

cc @kristinashu

[2017-03-17 18:03] xmatthewx commented on #433
@kristinashu – I wonder if we should add a help link that connects with some quick pointers. Maybe we recommend an easy online editor for cropping and exporting photos. We could put that help info in a wikipage in this repo.

[2017-03-17 20:10] Pomax commented on #424
you will now only see a "thumbnail" field in the admin view, with an image preview if there is an image to preview

[2017-03-17 20:15] Pomax commented on #424
![image](https://cloud.githubusercontent.com/assets/177243/24061218/c2f742f6-0b13-11e7-8c67-3d3ba6df41b2.png)

[2017-03-17 20:31] Pomax commented on #423
That is the correct use of obviate =)

Right now `featured` is a simply a flag toggle ([true/false in the code](https://github.com/mozilla/network-pulse-api/blob/master/pulseapi/entries/models.py#L47)), so a "put this up top and push everything else down one spot" can be done, it does run into that question of "how many is too many" so on a screen with only 9 or 12 results, more than three "sticky

[2017-03-19 18:52] alanmoo commented on #427
Then that sounds like a prime candidate for a React component so that we can keep it DRY, no?

[2017-03-20 18:38] mmmavis commented on #424
blocked by https://github.com/mozilla/network-pulse-api/issues/103

[2017-03-20 18:52] #425 closed

[2017-03-20 19:09] mmmavis commented on #426
Fixed. https://www.mozillapulse.org/search

[2017-03-20 19:09] #426 closed

[2017-03-20 19:34] mmmavis commented on #427
Yup we can definitely create a React component for this. I'm just thinking... if what we are seeing on mobile (which is the default behavior for any <button> on any site on mobile) doesn't introduce a huge UX concern, should we bother "fixing" it? We can easily create a React component to force `.blur()` but that sounds a bit like a hacky-patch to me since it's more like an enhancement for mobile

[2017-03-20 19:59] xmatthewx commented on #427
This isn't a critical, stop-everything-else, kind of bug. And, it definitely is not an enhancement. With it, Pulse feels broken, not like a polished app ready for primetime.

We don't need to put this before other work, but we also can't not do it. I don't have an opinion on how, but this must be a fairly common problem for single page apps.

[2017-03-20 21:59] mmmavis commented on #427
This is not a common single page app "problem". Touchscreen devices mimic "hover" by making it "sticky" and this is the default behavior for "hoverable" HTML elements. So yea, from UX/UI point of view this can be seen as a bug but dev/tech wise it's not. 😉

Bootstrap has some workaround suggestion: https://v4-alpha.getbootstrap.com/getting-started/browsers-devices/#sticky-hoverfocus-on-mobile Shou

[2017-03-20 22:03] gvn commented on #427
Yes, let's do that.

[2017-03-20 22:13] mmmavis commented on #427
k will file ticket & PR on mofo-bootstrap.

[2017-03-21 00:32] mmmavis commented on #417
@kristinashu

I'm thinking maybe the 2 hearts (hollow + filled) should not use the same hover style. If I hover on a hollow heart, I see it turn filled grey, I click on it without moving my cursor away after, I still see a grey filled heart since that's the hover state for red filled heart as well. This could be confusing to users since it look as if nothing has happened. Same thing would occur if

[2017-03-21 19:14] mmmavis commented on #433
for ref, this is what the form looks like

![fireshot capture 10 - mozilla network pulse - http___localhost_3000_add](https://cloud.githubusercontent.com/assets/2896608/24166241/ddb48968-0e2f-11e7-924f-5740473a42f5.png)

[2017-03-21 19:17] hannahkane commented on #433
Suggested copy: "Images look best at 1200 X 630px"

[2017-03-21 19:22] xmatthewx commented on #433
While we make this change, can I squeeze in another?? I'd like something other than "code" for the support field placeholder text.

[2017-03-21 19:23] xmatthewx commented on #433
How about: "Help us test the prototype and then plan some local events!"

[2017-03-21 19:30] mmmavis opened #436 "Extra XHR call is made on detail page"
<img width="1265" alt="screen shot 2017-03-21 at 12 27 40 pm" src="https://cloud.githubusercontent.com/assets/2896608/24166855/f0d9dc94-0e31-11e7-89dc-16119fe5b9d9.png">

Reason: https://github.com/mozilla/network-pulse/blob/master/js/service.js#L179 is missing a trailing slash there.

[2017-03-21 19:44] #424 closed

[2017-03-21 20:08] xmatthewx opened #438 "Gather requirements for moderation"
Pulse currently allows users with Mozilla LDAP to login and add new entries in Pulse. In the near future, we will want to enable a small circle of network members to add entries. This will require an MVP moderation feature.

### Two use cases
 - A fellow: highly trusted individual with direct relationship to staff. Moderation is useful for program manager mentoring new fellows.
 - Global sprint pa

[2017-03-21 20:09] acabunoc commented on #438
👍

[2017-03-21 20:30] xmatthewx commented on #433
We can also change button label to "Select Image" ... dropping the click here....

[2017-03-21 20:31] mmmavis commented on #436
Fixed!

[2017-03-21 20:31] #436 closed

[2017-03-21 20:33] xmatthewx commented on #433
To summarize:

 - [ ] Image field: Project Image (look best at 1200 x 630px)
 - [ ] Image button: Select Image
 - [ ] Support placeholder: Help us test the prototype and then plan some local events

[2017-03-21 20:35] mmmavis commented on #430
I tested it earlier today and it didn't seem to relate to Safari's privacy and security settings anymore O_o However, I found out there were 2 XHRs being sent on detail view (filed #436) and the fix to it (PR #437) seems to resolve this weird iOS Safari issue too. I think we are safe to close this ticket now. Phew!

[2017-03-21 20:35] #430 closed

[2017-03-21 20:57] mmmavis commented on #433
@xmatthewx

This is the "get_involved" field. I'm not the best person to suggest copy. But can we tweak the line a bit? This placeholder sounds a bit unclear to me as a user. Should we change the line to something like `Help us test the prototype, plan some local events, contribute to the codebase, ...`?

[2017-03-21 21:25] xmatthewx commented on #433
That works

[2017-03-21 21:40] #433 closed

[2017-03-22 15:25] auremoser commented on #438
Would be great to define the process specifically mentioned in the MVP plan. Might seem tacit, but whoever is assigned this issue will probably want it spelled out.

* Community entries will be flagged to the community lead for Network Pulse (whoever is the product owner, for triage to "specialized" owners (for the Global Sprint) that can be myself or @acabunoc
* Entries will be under review there

[2017-03-22 15:43] xmatthewx commented on #230
this is done

[2017-03-22 15:43] #230 closed

[2017-03-22 15:57] xmatthewx opened #441 "More friendly form errors (not visible from below)"
While posting a new entry today, Submit didn't work and it wasn't clear why.

As you'll see in the screenshot below, the button is enabled, but a click yields no action. I assumed there was a bug. I scrolled up to take a screenshot, and only then noticed the Error message on one of the fields.

To make this more friendly, we should do something. Maybe scroll up to error on submit attempt. Maybe sh

[2017-03-22 19:10] Pomax opened #442 "deprecate `thumbnail_url`"
Both staging and production network-pulse-api databases have been uplifted to use the new S3 based image hosting for thumbnails, using the `thumbnail` field instead of the `thumbnail_url` field.

We should remove `thumbnail_url` from the client code, since `thumbnail` does the same thing now and new entries won't receive data for `thumbnail_url` anymore. Once that has been done, we can drop the `t

[2017-03-22 19:17] kristinashu commented on #417
To be honest I don't think we even need a hover state for the heart (Twitter and others don't have one). A little animation would be nice tho, I like the one we used in the schedule app.

[2017-03-22 21:07] xmatthewx opened #443 "Optimize ordering of creators"
Currently, supporting orgs like Mozilla as the first creator, before the people who drive the projects. Tracking this in the api repo: https://github.com/mozilla/network-pulse-api/issues/109

[2017-03-22 22:24] xmatthewx opened #444 "Add a route for tags"
The API can serve up entries by Tag. As far as I can tell, we don't have a route for that right now. Let's add that.

It's useful for program staff to have links to their stuff /tags/mozfest or /tags/global-sprint, even though we don't (yet) surface those tags in the cards.

[2017-03-23 22:11] mmmavis commented on #442
Seems like a good intro bug - `help wanted` label applied.

[2017-03-23 22:18] mmmavis commented on #441
@xmatthewx Did you fill out the required fields(title and url)? There could be inline error messages that you have missed. But yea I agree we can have a more friendly UX here.

[2017-03-23 22:23] mmmavis commented on #417
Yea I'm fine with not having hover effect. Someone mentioned about this issue initially  so I created this ticket.

[MozFest schedule app](https://app.mozillafestival.org/#_show-friday) doesn't have hover effect for the heart. The animation happens when you click on the heart. Is that what we wanna use here (but for on hover)?

[2017-03-23 22:27] kristinashu commented on #417
Yeah, animate on the click (would be too distracting to have it on every hover).

[2017-03-23 22:43] mmmavis commented on #416
@kristinashu do we want the plain text project title on detail view to stay as pink (`#e14164`) or make it the same color as body text grey (`#2f2f31`)?

<img width="530" alt="screen shot 2017-03-23 at 3 42 18 pm" src="https://cloud.githubusercontent.com/assets/2896608/24273405/6c324346-0fdf-11e7-92da-7de7162a5c96.png">

<img width="529" alt="screen shot 2017-03-23 at 3 41 49 pm" src="https://clou

[2017-03-23 22:47] mmmavis commented on #417
kk I'll create a new ticket for it. Closing this one now.

[2017-03-23 22:47] #417 closed

[2017-03-23 22:49] mmmavis opened #446 "Animate heart icon when users click on it"
Follow what we did for MozFest schedule app: https://app.mozillafestival.org

/cc @kristinashu

[2017-03-23 23:20] mmmavis commented on #239
This seems to be the initial ticket that we created for spinning up the backend repo. I think we can mark this completed now. #success ✨

[2017-03-23 23:20] #239 closed

[2017-03-23 23:38] kristinashu commented on #416
Let's go with black. It will help differentiate from the other screen and it will fit in well with the our new branding (with uses a lot more black).

[2017-03-23 23:49] #416 closed

[2017-03-24 16:45] xmatthewx commented on #441
Yep. It's not a form bug. I had too many characters on a field up above. I found it because I knew that might be the case. Many users could give up.

I recommend that we keep Submit gray and disabled when errors are present. Add helper text next to it. Something like so...

<img width="562" alt="screen shot 2017-03-24 at 12 43 50 pm" src="https://cloud.githubusercontent.com/assets/53411/24304413/9

[2017-03-27 20:22] #399 closed

[2017-03-28 00:03] mmmavis commented on #427
Seems like `$enable-hover-media-query` isn't ready for use yet. We'll have to find another way to solve the sticky hover issue before Bootstrap enable the `$enable-hover-media-query` flag again.

[2017-03-28 17:18] #446 closed

[2017-03-28 17:39] Pomax commented on #442
The work involved here is cleaning up the project-card.jsx file, to remove mention of `thumbnailUrl` in the two places it's still listed.

[2017-03-29 01:44] Sudip7 commented on #442
Thanks, @Pomax, that would suffice to complete the ticket.

[2017-03-31 14:08] xmatthewx opened #452 "Web app 404"
When saved to device homescreen, Pulse opens to a 404. Manifest has old prototype url.

Action: Save Pulse to mobile home screen. Open pulse.
Result: 404.
Expected: Featured or latest view.

[2017-03-31 14:35] #452 closed

[2017-04-02 15:31] Sudip7 opened #454 "Different message on Favs tab"
Hi team,

I am not sure whether it's really a issue or not but I have noticed this more than one time during development. I also don't know precisely how to mock/reproduce this issue. I tried few way but none is working. For your reference adding a screen shot.

The piece of code this message belongs to present in bookmarks.jsx. But there was no error in the terminal , I forgot to test browser ter

[2017-04-03 20:35] mmmavis commented on #454
@Sudip7 you mentioned you have been seeing different messages when visiting the Favs tab. The Screencap counts as one, what about other messages you have seen? Do you remember what they were?

[2017-04-03 20:40] mmmavis commented on #454
Messages on that Favs tab varies when your login state changes. There are 3 cases:

## Before a user attempts to log in

<img width="1126" alt="screen shot 2017-04-03 at 1 37 22 pm" src="https://cloud.githubusercontent.com/assets/2896608/24630772/c77d4e76-1872-11e7-8fa3-e390c7417b06.png">

## User has successfully logged in (currently only Mozilla Staff can log in)
<img width="1432" alt="screen sh

[2017-04-03 22:39] Sudip7 commented on #454
@mmmavis: the other screen is the regular one, that contains the sign in link. I believe this is the default behaviour. Btw how u distinguish Mozilla and non-mozilla users???

I found this particular screen few times so thought to enquire about it.

[2017-04-04 14:10] secretrobotron opened #455 "No indication that submit process is underway"
When you click "submit", nothing on the page tells you it's working. I clicked a couple of times, and started to debug, and then the page suddenly changed. Might be good to have a spinner, or to grey out the submit button, or something.

[2017-04-04 14:14] secretrobotron commented on #455
Hahah I just found out that I have added my project 3 times as a result.

[2017-04-04 15:17] Pomax opened #456 ""please sign in" icon is not getting styled"
when prompted to sign in, this is the view:

![screenshot 205](https://cloud.githubusercontent.com/assets/177243/24664277/1a4ae04a-190f-11e7-90ca-027103ad1792.png)

The font required by the SVG icon is not getting used - we probably just want to use the actual outline in the SVG file itself, not rely on a webfont for this.

[2017-04-04 15:19] alanmoo commented on #455
Eeek. I deleted the extra copies.

[2017-04-04 15:20] secretrobotron commented on #455
Hehehe thank you 👍

[2017-04-04 15:21] secretrobotron opened #457 "Remove link from Title in Detail view"
The title of an entry links to itself. Maybe it should link to the source material, i.e. the same URL as the "Visit" button at the bottom.

[2017-04-04 15:23] Pomax opened #458 "the entry "submit" button does not disable when submitting"
The submit button stays clickable after you submit the form and data transfer is in progress, which makes it look to the user like "nothing is happening" when in fact the browser is pushing bytes to the api server as hard as it can. Especially with a reasonably sized image attached to the form, this can easily take several seconds, which is long enough for the user to conclude things are broken an

[2017-04-04 15:25] Pomax commented on #458
duplicate of https://github.com/mozilla/network-pulse/issues/455

[2017-04-04 15:25] #458 closed

[2017-04-04 15:26] Pomax commented on #455
Confirmed - the submit button stays clickable after you submit the form and data transfer is in progress, which makes it look to the user like "nothing is happening" when in fact the browser is pushing bytes to the api server as hard as it can. Especially with a reasonably sized image attached to the form, this can easily take several seconds, which is long enough for the user to conclude things a

[2017-04-04 15:28] alanmoo commented on #455
Animated? You're taking this a step fancier than I was imagining.

[2017-04-04 15:33] Pomax commented on #457
that's a good point. Some thoughts:
- having the title going from "featured" or "latest" to the entry itself makes sense, but since we have a "visit" button at the bottom on the entry itself, keeping the title a link there becomes counter productive.
- Do we also need a "visit" option in the condensed view? Right now you can't just open "all the things on the featured tab" because you have to clic

[2017-04-04 15:34] Pomax commented on #455
We already have an animated ellipses in network-pulse, used while featured/latest are loading in.

[2017-04-04 15:40] secretrobotron commented on #455
👍 that's what I was thinking too. As long as it looks like the site responds to the user's actions, and is still "alive". ❤️ for animated "..."s.

[2017-04-04 15:48] xmatthewx commented on #455
Can we disable the button and make it gray? I'm down with animated dots.

[2017-04-04 15:59] xmatthewx commented on #457
In the Detail view, title should just be text, no link (as hinted by pomax).

Prior design had a Visit button on summary cards. We stepped away from this in tandem with other factors and choices. Let's table this for now, can revisit later after we gather some analytics.

[2017-04-04 17:08] Pomax commented on #455
I'll do it in two steps, first landing the disabling and then we can embellish in follow-up

[2017-04-04 17:26] Pomax opened #460 "npm test itself does not work due to glob errors"
I'm running `npm test`, but it runs into errors:

[code]

[2017-04-04 17:26] Pomax commented on #455
part 1 is in PR review under https://github.com/mozilla/network-pulse/pull/459 atm

[2017-04-04 18:07] mmmavis commented on #457
Titles on detail view should be plain text. Fix was on staging and I forgot to push it to prod until now 😂

[2017-04-04 18:11] #457 closed

[2017-04-04 21:20] xmatthewx opened #461 "update logo for homescreens"
transparent logo doesn't work on all backgrounds. needs an outline or a circle/rounded rectangle around.

[2017-04-05 19:01] xmatthewx opened #462 "manifest.json apparently fails to load"
It looks like our manifest is blocked as unsafe, at least in Chrome. Or am I mistaken? It worked previously and there haven't been any big [changes to the manifest](https://github.com/mozilla/network-pulse/blame/master/manifest.json). Maybe something happened when we went to our new domain?

<img width="445" alt="screen shot 2017-04-05 at 2 53 44 pm" src="https://cloud.githubusercontent.com/assets

[2017-04-05 20:36] cadecairos commented on #462
How do I test this?

[2017-04-05 20:58] mmmavis commented on #462
could be something to do with our security header setting? https://github.com/mozilla/network-pulse/blob/master/js/security-headers.js

[2017-04-05 22:06] xmatthewx commented on #462
Chrome reports

[2017-04-05 22:12] cadecairos commented on #462
@xmatthewx thanks, that error message helps a lot!

@mmmavis yea, it looks like we need to add:

[code]

to that configuration.

[2017-04-05 23:00] flukeout commented on #462
@xmatthewx - Web Sherlock Award 👍 👍

[2017-04-06 05:20] Sudip7 commented on #442
@mmmavis, @Pomax already raised a pull request. Could u guys please verify and approve/comment for any modifications​???

[2017-04-06 15:28] Pomax commented on #462
omg there is a `manifestSrc` too? @_@

[2017-04-06 16:25] #462 closed

[2017-04-06 16:42] Pomax commented on #442
hi @Sudip7 mavis commented on your PR 7 days ago asking for some fixes before we can land it, did you see her request?

[2017-04-06 18:35] mmmavis commented on #462
✨

[2017-04-06 20:48] mmmavis commented on #460
Looks like https://github.com/mozilla/network-pulse/pull/464 fixed this issue. @Pomax should we close this ticket?

[2017-04-06 21:03] #428 closed

[2017-04-06 21:24] #429 closed

[2017-04-06 22:27] mmmavis commented on #456
@Pomax I just removed font-awesome from my local system and was able to reproduce this issue. Nice catch!

@kristinashu can you update the .svg file? Looking at the source code it seems like the svg relies on font-awesome font. If user's system doesn't have font-awesome font installed the icon won't load.

[code]

[2017-04-06 22:30] mmmavis commented on #456
We can also just use font-awesome icon directly (like [this](http://fontawesome.io/icon/user/)) instead of loading the svg.

[2017-04-06 23:10] brettgaylor opened #465 "Pull image from submitted website"
I just submitted a site, and was asked to submit an image for the site.  This feels a bit cumbersome as Pulse is asking me to take a screenshot or find a representative image, download it, and re-upload.

Could pulse instead find images on that page to use, similar to what Twitter cards do?

[2017-04-07 00:34] mmmavis opened #466 "Update node-sass to ^4.5.2"
https://github.com/sass/node-sass/releases

v4 is backwards compatible with v3.13.1 so we should be good to update to use ^4.5.2

[2017-04-07 00:51] mmmavis opened #468 "Update npm-run-all to ^4.0.2"
https://github.com/mysticatea/npm-run-all/releases

[2017-04-07 01:07] Pomax commented on #460
yeah, I'll follow up with the new error from the scss test

[2017-04-07 01:07] #460 closed

[2017-04-07 01:08] Pomax commented on #456
either is fine - if we already load fontawesome then using the icon directly makes sense. If we don't, then putting the icon outline in the SVG will be much smaller than relying on  a full fontawesome

[2017-04-07 01:09] mmmavis opened #470 "Upgrade react-router to v4"
https://reacttraining.com/react-router/

https://github.com/ReactTraining/react-router/releases/
https://github.com/ReactTraining/react-router/releases/tag/v4.0.0-0
https://github.com/ReactTraining/react-router/blob/master/packages/react-router/docs/guides/migrating.md

http://rants.broonix.ca/upgrading-to-react-router-v4/

---

Serving side rendering doc
- https://reacttraining.com/react-router/w

[2017-04-07 01:22] #466 closed

[2017-04-07 01:23] #468 closed

[2017-04-07 12:29] chadsansing opened #471 "We need to change the credit on the recent LOOPY entry."
It says, "By Nick Case." It needs to say, "By Nicky Case."

[2017-04-07 12:32] chadsansing opened #472 "Enable users to edit their own entries"
For example, today I noticed that I mis-typed Nicky Case's name in the credit line of a Pulse entry I made (https://www.mozillapulse.org/entry/190). I should be able to go back and edit the entries I have made as a contributor to take care of minor issues like that without needing the dev team to do that for me.

[2017-04-07 17:06] xmatthewx commented on #471
done!

[2017-04-07 17:06] #471 closed

[2017-04-07 17:16] xmatthewx commented on #367
looks like i actually created some scripts last fall. they could use a quick update based on revised design since then. but we probably don't need this until we're preparing to land a big change or release to general public. https://github.com/mozilla/network-pulse/wiki/Quality-Tests

[2017-04-07 17:16] #367 closed

[2017-04-07 17:40] xmatthewx commented on #454
I believe this message should only appear on the Favs screen. Login is currently limited to staff, based on the domain of the email address user submits to login.

Is there a bug? Or are you just asking about this behavior? We plan to gradually open this up to more users after we have a chance to test and build a bit more.

[2017-04-07 17:54] xmatthewx commented on #237
closing. tracking in #153

[2017-04-07 17:54] #237 closed

[2017-04-07 17:57] xmatthewx commented on #56
I think tags can unlock a lot of potential and should be the next feature we consider adding.

Let's update this design based on revised design. Tags & issues should probably appear just on the detail view.

[2017-04-07 17:58] xmatthewx commented on #56
depends on #444

[2017-04-07 19:19] mmmavis commented on #456
cool let's go with using font-awesome directly then.

[2017-04-07 20:55] xmatthewx commented on #428
works beautifully!! thanks.

[2017-04-07 21:20] xmatthewx commented on #438
@Pomax @simonwex – let's poke at this async and then find time to discuss.

Note: I have reviewed this with Abigail (legal) already and have messages for input form.

[2017-04-07 21:26] xmatthewx opened #474 "Expand User accounts beyond LDAP"
Long-term, we will want a large set of network members to post to Pulse. Soon, we will want to start adding a few trusted users who don't have LDAP (manual whitelist or account creation). In between, we will want to align with Network site for user management.

Let's discuss! @Pomax @simonwex @cadecairos @alanmoo

Note:
 - this is for submission of entries only, not admin.
 - this depends on moder

[2017-04-07 22:07] mmmavis commented on #461
Hey @xmatthewx are you referring to the icon that shows up after you "save to homescreen" on mobile?

Here are the files that are being used: https://github.com/mozilla/network-pulse/tree/master/assets/favicons I just realize there are some inconsistancy there - one icon has transparent background and others are on white.

[2017-04-07 23:06] xmatthewx commented on #461
Yes. The logo that appears when saved to homescreen. Probably better on white. Does it have rounded corners? That'd be better than a square.

[2017-04-10 14:45] alanmoo commented on #474
I believe the approve list for domains is hard-coded into the codebase. Does Django support some sort of invite system in conjunction with Google OAuth? Or do we just create local accounts for non-staff users to start? @xmatthewx am I correct in assuming that this will be low enough volume that some sort of manual process per user is acceptable?

[2017-04-10 16:14] #442 closed

[2017-04-10 16:23] Pomax commented on #438
It sounds a little like the app would need a new tab, "pending", visible only to users with the `is staff` or even `is admin` flag set, where they can do entry administration (rather than using the django admin backend).

[2017-04-10 16:43] Pomax commented on #474
Right now it's a hardcoded post-final-auth check over on https://github.com/mozilla/network-pulse-api/blob/master/pulseapi/users/views.py#L210-L227

We can make that a utility function that does something more elaborate than https://github.com/mozilla/network-pulse-api/blob/master/pulseapi/users/views.py#L229-L243, such as making sure the permissions are managed based on mozilla address vs. whitel

[2017-04-10 17:19] xmatthewx commented on #474
Yes. My theory is that manually adding a dozen people can reduce pressure on us to open the door for hundreds. Buy a little more time.

If it is significant work to engineer an interim solution, then my idea is a bad idea, and we should focus on the longterm plan.

[2017-04-10 17:36] xmatthewx commented on #438
A frontend view for moderation would be good longterm, but Django is preferred for a first build to simplify. If Django isn't complicated for mvp, let's pursue that so we don't do add design and extend the api.

We will use tags like `global sprint` or `club/region name` to enable community leads to find "their" items to moderate. We don't have the design/build capacity right now to prep a way to

[2017-04-10 17:44] xmatthewx commented on #444
this isn't urgent, but curious: is it a lot or a little bit of work? @alanmoo @mmmavis

the question is just about routes. no changes to cards or navigation. just the ability to hit a URL like mozillapulse.org/tags/foo and load a list of projects with that tag

[2017-04-10 18:09] Pomax commented on #474
whitelisting a small set of addresses should be relatively little work (we can do that out-of-admin, with an environment variable that set for the staging/prod servers). Although of course that is not a "sustainable" solution so if we need this to work asap, perfectly doable.

[2017-04-10 18:10] Pomax commented on #438
I'm actually recommending a new panel in the client because it's by fair easier to rapid prototype it client-side compared to adding in all the features in django. That is in part my familiarity with JS vs. Python, so perhaps @gideonthomas has opinions here, too.

[2017-04-10 19:22] mmmavis commented on #444
Pulse API already has the `tags` meta. I think it will take me an hour to enable tags pages on Pulse front end.

[2017-04-10 19:23] mmmavis commented on #444
I'll try to get a PR in today/tomorrow.

[2017-04-10 19:46] mmmavis commented on #444
@xmatthewx what do we wanna show on `/tags` page?

[2017-04-10 20:56] mmmavis commented on #444
As a quick solution, I'm thinking to add this `Tag: tag name` header to `/tag/tagname` page. Let me know if it looks okay or requires any tweaks.

<img width="1168" alt="screen shot 2017-04-10 at 1 54 06 pm" src="https://cloud.githubusercontent.com/assets/2896608/24882243/3bc7268a-1df5-11e7-8fb4-e2c770a91a43.png">

[2017-04-10 21:12] mmmavis opened #477 "Migrate React Components to ES6 syntax"
`React.createClass` is being deprecated. Migrate React Components to ES6 syntax so we don't run into `react` upgrading problem in the future.

Relevant links:
- https://facebook.github.io/react/blog/2017/04/07/react-v15.5.0.html
- https://toddmotto.com/react-create-class-versus-component/

[2017-04-10 21:47] mmmavis opened #478 "Migrate from React.PropTypes to using the `prop-types` library"
`React.PropTypes` is deprecated as of React v15.5. Use the `prop-types` library instead.

https://facebook.github.io/react/blog/2017/04/07/react-v15.5.0.html#migrating-from-react.proptypes

[2017-04-11 02:27] anmechung opened #480 "multiple entries"
Can you delete multiple entries for "What Web Literacy Skills for Missing from Learning Standards?"  and leave one the most recent one with image?  FYI - When I hit submit, the error message I received several times was something like, "unable to connect to the server ..."

[2017-04-11 16:58] xmatthewx commented on #444
looks great. thanks!

[2017-04-11 17:28] gideonthomas commented on #438
Hmm I think it depends on how much we want to customize the workflow. If we can get away with a sort of barebones approval process, can't we just add a field ("status") to all the models that you can set a default for in the admin view based on the role of the person logged in and make that field non-editable for non-staff? Then, staff can filter the list view by "pending" entries and just change

[2017-04-11 17:51] mmmavis commented on #444
@xmatthewx what do we wanna show on `/tags` page? Any suggestion?

[2017-04-11 19:06] xmatthewx commented on #438
It would require a lot of design to create a client side panel.

examples: the queue ui with status indicator. change of status ui (from list or detail view?). after changing status, what's ux... redirect to queue with confirmation messages and link to live item? accidentally declined? how do i recover? declined by someone else? who? and can i change that?

so if django is fairly easy, even if clu

[2017-04-11 21:20] xmatthewx commented on #444
For now – Can we redirect to `Latest` view??

If that's easy, let's do it!! Stop reading this comment. If that's difficult, ... we could display a simple list of tags. There are currently 400 tags, so this will require a bit of design. Question: What does the api return? How are they sorted? Recently created? Recently used? Most used? Alphabetical?

[2017-04-11 23:43] mmmavis commented on #444
cool, let's just redirect /tags/ to /latest for now!

[2017-04-11 23:57] mmmavis opened #481 "Run all SVG files through `svgo` during build"
Saw this in the `network` repo (https://github.com/mozilla/network/issues/292). We should probably do the same here.

[2017-04-12 14:51] alanmoo commented on #444
For the record, https://api.mozillapulse.org/tags/.

I feel like we should get an autocomplete field working for tags sooner rather than later so that doesn't become an infinitely long list.

[2017-04-12 16:31] #444 closed

[2017-04-12 17:37] mmmavis commented on #56
Unblocked. #444 is live on prod now: e.g., https://www.mozillapulse.org/tags/mozfest 🎉

[2017-04-12 17:48] xmatthewx opened #482 "Add autocomplete for tags on input form"
Autocomplete can help users avoid typos and use consistent tags, so that people who `games` can also find a good `game`.

Note: We should convert to lowercase

Step 1 – a designer and dev should collaborate to define requirements, gather benchmarks, and scope the simplest useful solution. Interaction will deeply intertwine both disciplines.

Step 2 – I recommend we prototype rather than comp-then-

[2017-04-12 17:49] xmatthewx commented on #444
whippeee!

autocomplete filed: https://github.com/mozilla/network-pulse/issues/482

[2017-04-12 19:02] alanmoo commented on #482
There's gotta be a react based autocomplete package we can pull in pretty easily...

[2017-04-12 21:34] mmmavis commented on #455
@Pomax 's PR was merged days ago (thanks @Pomax ) I like the way it is now . I think we can close this ticket now? /cc @kristinashu for design input since she's not in this thread already.

### default state

<img width="325" alt="screen shot 2017-04-12 at 2 29 36 pm" src="https://cloud.githubusercontent.com/assets/2896608/24980414/f29ba74e-1f8c-11e7-88cd-35abcf2e8ee4.png">

### submitting entry (

[2017-04-12 21:38] kristinashu commented on #455
That looks great @mmmavis!

[2017-04-12 21:41] mmmavis commented on #455
Yayyy 🎉

[2017-04-12 21:41] #455 closed

[2017-04-13 18:46] xmatthewx opened #483 "Add entry title to html head"
For SEO and user's browser history, we should include the entry title in html head. "Foo bears – Mozilla Network Pulse"

[2017-04-13 21:43] #456 closed

[2017-04-13 21:58] xmatthewx opened #484 "Form language"
Two statements to add to the form.

 1. Above "Submit" button – "By submitting your entry, you agree to be bound by the [Mozilla Terms of Service](https://www.mozilla.org/about/legal/terms/mozilla/), and you agree that your entry may be edited lightly for clarity and style."
 1. Image  – "Only submit images that you have permission to use in this context."

Maybe something like this:

<img width="

[2017-04-13 22:06] xmatthewx opened #485 "Detail view corrections link"
Since some things will be posted on behalf of others, would be good to give people the means to correct stuff. We have contact in the footer. This is a bit more accessible.

<img width="687" alt="screen shot 2017-04-13 at 6 03 49 pm" src="https://cloud.githubusercontent.com/assets/53411/25026272/c1e669e4-2073-11e7-91b3-cec0aa5afb34.png">

Should be unobtrusive. This comp uses half opacity.

[2017-04-13 22:10] xmatthewx opened #486 "Clarify attribution and author"
Attribution is a bit ambiguous right now. Might be read that entry was posted by the people listed as creators.

Putting their names in red helps to attach creators to the title.

<img width="422" alt="pulse-attribution-ui" src="https://cloud.githubusercontent.com/assets/53411/25026352/139f3fae-2074-11e7-878c-362a275c2030.png">

Curious what you think @kristinashu

[2017-04-13 22:15] xmatthewx opened #487 "Update footer"
Add/remove/update links:
 - Remove “Chat” link as Mattermost is being deprecated
 - Add "Privacy" link to https://www.mozilla.org/privacy/websites/
 - "Legal” in footer should link to https://www.mozilla.org/about/legal/terms/mozilla/

[2017-04-13 22:27] xmatthewx opened #488 "Add intro statement"
Pulse needs an intro statement for some context.

On the Featured view, let's add an intro statement. See green box in image below.

 - Text: "Discover & collaborate on projects for a healthy internet. [Learn more](https://www.mozillapulse.org/entry/120)."
 - Link: https://www.mozillapulse.org/entry/120

<img width="1114" alt="screen shot 2017-04-13 at 6 20 14 pm" src="https://cloud.githubusercont

[2017-04-13 22:28] xmatthewx commented on #234
Closing. Tracking in https://github.com/mozilla/network-pulse/issues/488

[2017-04-13 22:28] #234 closed

[2017-04-14 14:05] xmatthewx commented on #480
I deleted the duplicated. Closing this but cc'ing @alanmoo to see if we need to file a new ticket to deal with the error.

[2017-04-14 14:05] #480 closed

[2017-04-14 14:09] alanmoo commented on #480
Not sure. @anmechung if it happens again, take a screenshot?

[2017-04-14 17:19] xmatthewx commented on #484
Let's update a few other bits of copy as well, with some feedback from Kevin.

### Intro

Do you have something to share? If it might be useful to someone in our network, share it here! Pulse includes links to products and software tools, research reports and findings, think pieces, white papers, interviews, and curricula. If it might be useful, share it… at any stage or fidelity.

Please keep you

[2017-04-14 17:21] xmatthewx commented on #422
Thanks. Closing. Suggestions have been filed for implementation.

[2017-04-14 17:21] #422 closed

[2017-04-14 17:43] xmatthewx commented on #488
We could maybe skip the about page and just
 - link from intro statement and/or footer to entry on [pulse about pulse](https://www.mozillapulse.org/entry/120)
 - redirect from /about to the entry

[2017-04-16 02:30] Sudip7 commented on #487
Please assist to find the Privacy icon. Was not able to locate it in repo. @xmatthewx @mmmavis

[2017-04-16 03:03] Sudip7 commented on #487
I found these two links while searching for privacy icon. Not sure how to implement them.

http://bigthink.com/design-for-good/mozillas-privacy-icons-a-visual-language-for-data-rights
https://www.fastcodesign.com/1662961/mozillas-privacy-icons-tell-you-how-sites-use-your-personal-data

[2017-04-16 03:06] Sudip7 commented on #477
@mmmavis  would like to offer some contribution. May not be the complex one but smaller portions of some files.

[2017-04-16 21:44] mmmavis commented on #487
@Sudip7

In `footer.jsx`, update `const Footer` to what @xmatthewx suggested in this ticket. Here is the list of icons that we can pull from [`mofo-bootstrap`](https://mozilla.github.io/mofo-bootstrap/demo/) (via `mofo-ui` package): https://github.com/mozilla/mofo-ui/blob/master/src/components/mofo-footer/mofo-footer.jsx#L6

To to add privacy icon to footer, add the following to `Footer`

[code]

[2017-04-16 21:46] mmmavis commented on #477
@Sudip7 cool, you can pick the ones you are comfortable tackling. Just make sure your PR references this ticket! 😃

[2017-04-17 14:19] Sudip7 commented on #487
@mmmavis, please confirm the order of icons should be in the order : Github, Contact Us, Legal, Licence, Privacy.

[2017-04-17 15:54] kristinashu opened #489 "Reduce title size and length"
Some titles are long: (screen cap from production)
<img width="1433" alt="screen shot 2017-04-17 at 8 44 47 am" src="https://cloud.githubusercontent.com/assets/1068783/25094252/2312f49c-234b-11e7-948d-d22c0aeaa272.png">

We should reduce font size slightly (from 30px to 26px).

@xmatthewx do you think we need to add a character count to the title?

[2017-04-17 16:01] kristinashu opened #490 "Update with new mozilla branding"
New branding is trickling in, there are a few things we could do to better align ourselves:
- update dark greys to black (add icon, footer background, text...)
- update headings to Zilla and body copy to open sans
- update button style?
- update colors?
-

[2017-04-17 16:05] kristinashu commented on #441
Can we do inline validation for required fields?

[2017-04-17 16:25] kristinashu commented on #486
I worry about there being too much pink and push body content down too much (because of the added gap). How about we remove the _date added_ and _posted by_ info from these thumbnail cards, only show it in the detail view. I think this will generally help prioritize and clean up the card view. This way we can keep the attribution grey and it will stand out more.