[2017-09-01 14:41] #618 closed

[2017-09-01 14:58] xmatthewx commented on #623
We might not need this ticket. Or maybe it needs to be reframed. Let's discuss.

In most cases, I believe that a moderator's task would be to merge creators, replacing a "stub" Creator (name string only), with a "real" creator (has associated profile). I suppose that there could be John Smith scenarios where you don't actually want to migrate all entry<>stub relationships, but those will be the ex

[2017-09-01 15:05] alanmoo commented on #623
Another possibility that comes to mind is that when a user is logged in and viewing either an entry they submitted or they're a superuser, there's an icon next to each "stub" creator that opens a list of available "full profile" creators to choose from and bind that stub with. Maybe similar to what you're describing with a different UI in mind.

[2017-09-01 15:13] xmatthewx commented on #623
That's interesting. Maybe more complicated, but worth considering.

note: This is not MVP. We can ship profiles to production without this. Most everything else in the Epic feels like a pre-requisite.

[2017-09-01 15:49] xmatthewx commented on #629
Closing. Just filed on the api repo https://github.com/mozilla/network-pulse-api/issues/193.

[2017-09-01 15:49] #629 closed

[2017-09-01 18:33] alanmoo opened #680 "Handle deprecation warnings from React"
Not sure if this will be covered by #477 but there's a console warning in Pulse

[code]

[2017-09-01 19:10] Pomax commented on #604
profile routing:
1. client will expose a `/myprofile` which is for editing your own profile
2. client will expose a `/profiles/:id` which is for viewing public profiles for any user
3. client will expose a `/profiles/:me` which as alias for viewing "my own" public profile. The only difference between /:id and /me is that there will be an "edit" link to take the user to /myprofile

[2017-09-05 19:25] #673 closed

[2017-09-05 19:35] mmmavis opened #681 "Bug: "Add" button on nav bar has disappeared"
<img width="1162" alt="screen shot 2017-09-05 at 12 34 09 pm" src="https://user-images.githubusercontent.com/2896608/30079924-b4bc2ddc-9236-11e7-92f6-ba55eb27b92d.png">

Will have a PR for this soon.

[2017-09-05 19:38] gideonthomas opened #682 "Broken styling on issues"
![screen shot 2017-09-05 at 3 34 15 pm](https://user-images.githubusercontent.com/5816130/30080040-3e95aa38-9250-11e7-91be-7d6ba4115afd.png)

See that on prod ^. Not sure if this was already filed or not so feel free to close.

[2017-09-05 19:49] mmmavis commented on #682
@gideonthomas if you give it a few secs to load do you see buttons like this?

![Uploading Screen Shot 2017-09-05 at 12.48.57 PM.png…]()

[2017-09-05 19:54] #681 closed

[2017-09-05 20:28] gideonthomas commented on #682
Hmm I still see it as simple links...don't see any styling with it. Tested both FF and Chrome

[2017-09-06 16:17] kristinashu commented on #492
Interesting, this is good to know! Thanks for getting to the bottom of it Mavis.

Let's avoid the page load. Closing this!

[2017-09-06 16:24] xmatthewx commented on #492
It seems like @gvn had a suggestion that might help (unfocus before preventDefault). Worth trying @mmmavis?

[2017-09-06 16:26] xmatthewx commented on #682
Strange. I see the buttons in Chrome and FF. Refreshed a few times, but remained okay.

[2017-09-06 18:00] mmmavis commented on #492
@xmatthewx to me unfocus might not be good here as the search box "searches as you type". We probably don't wanna assume user has done typing and bring the focus away.

[2017-09-06 18:39] gideonthomas commented on #682
I swear I'm not crazy :P it wasn't working before, but now it is. Closing, sorry!

[2017-09-06 18:39] #682 closed

[2017-09-06 19:53] xmatthewx commented on #492
right-o. we'll just have to live with this until the internet figures it out.

[2017-09-06 21:04] kristinashu commented on #672
Looks good!

[2017-09-06 21:04] #672 closed

[2017-09-07 16:17] xmatthewx commented on #604
I've started a draft list of acceptance tests to help us clarify things we need done before we can ship profiles to users. We can hack on this during grooming: https://public.etherpad-mozilla.org/p/pulse-profiles-checklist

cc @kristinashu

[2017-09-07 16:47] gvn commented on #492
To clarify a bit: I was thinking you could unfocus when someone submits the form (eg: taps "enter" on mobile) to dismiss the keyboard. That would leave it open while someone is still typing...

So basically:

1. User types
2. User hits "enter"
3. In JS: prevent default from occurring on the submit event
4. In JS: unfocus the input
5. Keyboard should disappear

[2017-09-07 17:12] mmmavis commented on #680
Yup once we finish all work needed for closing #477 it should be good. There are still about 4 big components that need to be migrated to ES6. I plan to get back to this work once the profile work is in a good state.

[2017-09-07 17:23] xmatthewx commented on #604
We enter MozFest ready to tell dynamic stories rooted in profiles and projects, in realtime, with strong context on the Internet Health movement….so that people exit MozFest with ways to connect beyond the event.
- people can post profiles/projects
- editors can link to people/project in medium posts featured on site

[2017-09-07 17:39] xmatthewx commented on #675
We want to store parts of google's blob. For users, we want to leverage City/Town and Country.

Next step:
 - [ ] We need to add Location to the Profile model. File ticket: @gideonthomas @mmmavis  @alanmoo

[2017-09-07 17:49] mmmavis opened #684 "Spawn a Heroku instance for "all-things-profile-related" branch"
We have a feature branch [`all-things-profile-related`](https://github.com/mozilla/network-pulse/tree/all-things-profile-related) for profile related work. To make it easier for people on the team to check out the ongoing profile work we should spawn a Heroku instance. I'm unsure what needs to be done so this Heroku instance has backend properly set up / is whitelisted from Pulse API (staging? pro

[2017-09-07 17:56] xmatthewx commented on #492
I reopened this. Note, we can keep it out of this milestone and in the backlog while we discuss. It doesn't need to bump other priorities.

[2017-09-07 17:59] mmmavis opened #685 "Profile pages - messages for anonymous users"
We should decide what messages we wanna show or what pages to redirect anonymous users to for each of the following cases. (anonymous users = users who are not loggedin)

### Edit Profile page
- anonymous user visits `/myprofile` directly
- after loggedin user hits "sign out" on Edit Page

### My Profile page
- anonymous user visits `/profile/me` directly
- after loggedin user hits "sign out" on M

[2017-09-07 18:40] alanmoo commented on #684
Once that branch is ahead of `master`, open a PR labeled "WIP" and a PR will be spun up automatically.

As for the API, I believe we'd want to point it at staging, since it should have the endpoints you need to be able to open PRs, though they might not be deployed. So then I believe we'd need to set an env variable on the staging API to allow the client side review app to access it.

[2017-09-07 19:26] xmatthewx commented on #685
Do we have a generic 404? I'm okay with that as a first step. Then enhancing that to say something like:

[2017-09-07 20:07] kristinashu commented on #685
Adding...

### Edit Profile page
- anonymous user visits `/myprofile` directly

- after loggedin user hits "sign out" on Edit Page

### My Profile page
- anonymous user visits `/profile/me` directly

- after loggedin user hits "sign out" on My Profile Page

[2017-09-07 22:00] xmatthewx commented on #604
Hi team. @kristinashu proposed that we simplify Profiles and get rid of the notion of Public/Not-yet-public. Like Twitter and other platforms, creating an account includes creating a profile. People are of course free to browse without an account.

To this end, we get simpler logic, fewer engineering twists, and a cleaner experience. We will need to reach out to current users (mostly staff), and g

[2017-09-08 02:13] mmmavis commented on #675
I read through the docs and did some tests. I think we can use the [Google Place Autocomplete API](https://developers.google.com/places/web-service/autocomplete) to fetch place suggestions. We can restrict the search type to [`cities`](https://developers.google.com/places/web-service/autocomplete#place_types) so we don't record anything more specific than "city" info.

and from https://developers.

[2017-09-08 14:43] alanmoo commented on #604
Makes sense to me. How does this impact existing tickets?

[2017-09-08 14:55] xmatthewx commented on #604
My sense is that this layer of detail hasn't yet been implemented, just discussed. We can check with team at end of stand today.

[2017-09-08 16:48] mmmavis opened #686 "Improve CSS used on /add page"
followup from https://github.com/mozilla/network-pulse/pull/679#discussion_r137307374

[2017-09-08 16:49] gvn commented on #675
Yeah I think so as long as we can parse city and country from the response.

[2017-09-08 18:09] mmmavis opened #687 "Default [name] to show on my profile page"
Comp: https://redpen.io/xy10b353c284b04a34 `Alan Davidson` is the `name` field we wanna discuss here.

When this person Alan Davidson visits his profile for the first time, what `name` do we wanna show there? @gideonthomas could you help list all the `name` fields that we are storing in the backend?

I don't know much about the design or backend infrastructure for profile page for **organization**

[2017-09-08 18:52] xmatthewx commented on #687
My thinking (might be naive) was that...
 - On first sign-in, we create `User` and related `Profile`
 - Google provides `name`, we add it to `User.name`. We also add same thing to `Profile.name`
 - A user can edit their profile, changing `Profile.name` to whatever.
 - On the frontend, we always display `Profile.name`, never `User.name`
 - `User.name` cannot be edited (only displayed in django, pot

[2017-09-10 02:40] gideonthomas commented on #687
All sounds good. Two things that still need to be done - `Profile` doesn't have a `name`, but a `custom_name` which isn't automatically set to `User.name` the first time the user logs in (yet), and, it looks like a profile isn't automatically created when a user logs in (though I might be wrong about that).

[2017-09-11 19:08] xmatthewx commented on #684
So... can we close this issue then?

[2017-09-11 19:49] mmmavis commented on #684
Not yet as we haven't had a instance set up for the `all-things-profile-related` branch. I can open a PR once `all-things-profile-related ` is head of `master`. We also need to make sure that Heroku instance is able to make API requests to staging Pulse API as well.

[2017-09-12 21:49] mmmavis opened #689 "Update sample.env"
PULSE_API should be http://test.example.com:8000/api/pulse now

[2017-09-12 22:10] mmmavis opened #690 "build steps / npm start take looooooong time to complete"
This can be put in the backlog but we should figure out what's making them take foreverrr

[2017-09-12 23:14] mmmavis commented on #684
k here it is: https://network-pulse-staging-pr-691.herokuapp.com/featured @alanmoo @Pomax @gideonthomas do we add that url to staging Pulse API's `CORS_ORIGIN_WHITELIST`?

[2017-09-13 13:43] alanmoo commented on #684
Yup, I believe so. Wanna do that then close out this ticket?

[2017-09-13 14:08] xmatthewx opened #693 "Add an image to Entry 431"
Solana contacted us with the handy correction link contact form. Missed the option to add an image to her entry. https://www.mozillapulse.org/entry/431

Entry description might also be edited to let visitors know that link leads to an interview.

[2017-09-13 14:11] xmatthewx commented on #693
@solanasaurus - you can add an image and edits here if you want. We'll get that fixed for you.

[2017-09-13 17:24] xmatthewx opened #694 "Design Sign in screen with Terms"
@kristinashu, let's discuss/explore design options based on constraints in https://github.com/mozilla/network/issues/738. We'll have to show this to legal, which will go less sadly with a good looking mockup.

(I'll leave this in backlog to respect other work on your plate. Nudge this along when you a moment or need a break from the big stuff.)

[2017-09-13 18:01] mmmavis commented on #684
Done! https://network-pulse-staging-pr-691.herokuapp.com 🎉 🎉 🎉

[2017-09-13 20:57] xmatthewx commented on #625
@mmmavis this is now unblocked. woohoo!

I guess we should keep in mind that some authors might not have a profile with legacy entries.

[2017-09-14 17:36] mmmavis opened #695 "react-formbuilder doesn't take default value"
`react-formbuilder` library doesn't take default value. This blocks us from loading current profile data into the "edit profile" form.

I've created a ticket on that repo and submitted a PR as well: https://github.com/Pomax/react-formbuilder/issues/48

[2017-09-14 17:45] mmmavis commented on #684
Reopening this ticket cuz @gideonthomas and I were able to get the `redirect_url` on pulse api properly set up. We will have to pick @Pomax 's brain on this when he's back from PTO.

Status so far:

1. https://network-pulse-staging-pr-691.herokuapp.com set up
2. updated 3 env vars on **staging** Pulse API: csrf, cors, redirect_uris (we didn't touch Google Client cuz we didn't have access to it)
3.

[2017-09-14 20:07] xmatthewx opened #696 "Send message to fellows and users of Pulse"
Just before profiles land, we want to...
 - notify current Pulse users and invite them to add their profiles
 - reach out to prior fellows and invite them to also add their projects, big and small

@jessevondoom will take a pass at our drafts
 - [x] [draft fellows message](https://docs.google.com/document/d/18gBuYGFUmzvnJdFJd-B5hHWFY4n5SJm_mUI_2ykpySI/edit)
 - [ ] [draft users message](https://doc

[2017-09-14 23:39] mmmavis commented on #625
@xmatthewx  by "author" do we mean the entry submitter?

[2017-09-15 09:07] Solanasaurus commented on #693
Here's the photo ![dw and mozilla](https://user-images.githubusercontent.com/22150791/30474983-9d923422-9a05-11e7-8c60-275086c08f6e.jpg)

And entry edit:

Deutsche Welle Akademie is Germany's leading organization for international media development. Mozilla paid them a visit for a lunchtime talk about Internet health for staff in Berlin (and Bonn via video). Check out the link for a DW interview w

[2017-09-15 13:04] xmatthewx commented on #625
Yep!

[2017-09-15 16:04] xmatthewx opened #698 "Update image on entry 436"
We received a request from @thornet to update the image on the entry for [Trustmark for IoT](https://www.mozillapulse.org/entry/436).

@thornet – can you post the image here? We'll swamp that i for you.

[2017-09-15 18:12] xmatthewx commented on #656
@Pomax @gideonthomas – after we land creator-to-entry links (which still has a bunch of work left), this would be a good initiative to follow. assigning to you both to put in on your radar since I'll be out next week.

[2017-09-18 10:37] thornet commented on #698
Thank you! Attaching. The other image had a weird cursor ghost.

![trustmark for iot cover image](https://user-images.githubusercontent.com/739174/30538410-2abe418c-9c6e-11e7-8e4b-35afbc2ee12c.png)

[2017-09-18 20:00] Pomax commented on #633
do we want to keep this issue open? If so, what work is required?

[2017-09-18 20:01] Pomax commented on #631
Given the preferences expressed, should we close this issue?

[2017-09-18 20:02] Pomax commented on #597
Is there a (set of) tasks that we can turn this into for implementation purposes?

[2017-09-18 20:05] Pomax commented on #599
This issue seems to have fallen off the cart, do we want to keep it open with specifics on what needs to be done, or should we close it?

[2017-09-18 20:24] mmmavis commented on #633
@Pomax if you could suggest how we can solve the "too many components are imported" issue in both https://github.com/mozilla/network-pulse/pull/617/files#diff-7fcf4b685bc6ee5d5d682e1c6cf12627 and https://github.com/mozilla/network-pulse/pull/617/files#diff-9ce64733fe7a204e270fad8337eecef5 I'd love to make those improvements. There used to be just one `project-card` component with tons of if-else c

[2017-09-18 20:30] Pomax commented on #633
If all these "meta" components are "for the same purpose" we could namespace them. For instance:
[code]
Does that feel like a decent start at simplifying the code prior to a heavier refactor to unify the different project cards as much as possible? (I'd recommend doing that as a separate issue, too, to keep the tasks small)

[2017-09-18 20:35] mmmavis commented on #633
Sounds good!

[2017-09-19 20:30] kristinashu opened #700 "Update grey background to white"
From alignment work in https://github.com/mozilla/network/issues/582. To align better with [new brand](https://mozilla.ninja/), [mozilla.org](http://mozilla.org/), [Network site](https://network.mozilla.org/), and [IRH site](http://internethealthreport.org/) we need to replace the light grey background with white.

- [x] replace grey background with white
- [x] adjust padding on thumbnails so text

[2017-09-19 21:39] alanmoo commented on #631
Fine by me, I'm only at a 💩x 1 given for pagination.

[2017-09-20 15:51] Sydette opened #701 "Sydette Admin Access"
My admin and editorial access to Pulse and the site are wonky. I update the site but it takes about a day or so to register and pulse won't allow me to sign in at all. Please help

![image](https://user-images.githubusercontent.com/13369561/30653747-eef41dce-9df9-11e7-9e92-cb2d3244c578.png)

[2017-09-21 13:53] #701 closed

[2017-09-21 13:56] thornet opened #702 "Update image on entry 441"
The original image we uploaded doesn't display too well (the interesting bit is cut off). Here's a replacement image, if it's possible to swap them out. Thank you!

![screen shot 2017-09-21 at 15 54 51](https://user-images.githubusercontent.com/739174/30699562-5aef307c-9ee5-11e7-85d0-d9ea3e61eef8.png)

[2017-09-21 16:29] Pomax commented on #631
hahaha, that poor emoji

[2017-09-21 16:29] #631 closed

[2017-09-21 17:08] mmmavis commented on #684
Oops I thought I reopened this last week 👀 apparently i didn't...

[2017-09-21 17:22] kristinashu opened #703 "Design updates based on feedback from legal"
### Feedback from Abigail:

- [x] **“Email” field:** Let users know that email address will not be publicly displayed on their profile page.

- [x] **“Bio” field:** Add language telling users not to include any personal information in their descriptions.

- [x] **Profile pic field:** “Only submit photos that you have permission to use in this context.”

- [x] **Add a “Contact Us” link** on profile

[2017-09-21 17:25] alanmoo commented on #622
Closing this as it's landed on the feature branch. We'll close the epic when it actually lands in production

[2017-09-21 17:25] #622 closed

[2017-09-21 17:32] mmmavis commented on #631
Heh forgot to comment. Was gonna +1 on @alanmoo 's comment 😂

[2017-09-21 19:20] hannahkane commented on #702
Updated!

[2017-09-21 19:20] #702 closed

[2017-09-21 20:09] alanmoo commented on #684
Seems like this is working now?

[2017-09-22 10:03] thornet commented on #702
Thank you!

On Thu, Sep 21, 2017 at 9:20 PM, hannahkane <notifications@github.com>
wrote:

--
*Michelle Thorne*
Internet of Things, Program Lead
Mozilla Foundation

@thornet
michelle@mozillafoundation.org

[2017-09-22 17:27] mmmavis commented on #684
Confirm that https://network-pulse-staging-pr-691.herokuapp.com/featured is working.

One of my browser addons were blocking cookies that's why login didn't work for me 😅

[2017-09-22 17:27] #684 closed

[2017-09-22 18:13] alanmoo opened #704 "Browser console CSP/XHR errors"
When opening the production site there's some CSP issues.
When going into the moderation tab there's an "XHR Request Cancelled" error.

[2017-09-25 16:55] xmatthewx commented on #599
Looks good on staging. Closing this and we can push to production.

[2017-09-25 16:55] #599 closed

[2017-09-25 17:10] xmatthewx commented on #625
merged into feature branch

[2017-09-25 17:10] #625 closed

[2017-09-25 20:01] Pomax commented on #624
@xmatthewx @gideonthomas @alanmoo there is an interesting problem with the PR for this where it is currently not possible to determine "the user's own profile" when a user also curates group profiles. For instance, say I have my own profile but I also curate the Mozilla Pulse and Mozilla Network profiles, then getting the list of all profiles and removing all profiles that represent a group will l

[2017-09-25 20:10] alanmoo commented on #624
Let's avoid that potential rabbit hole and assume "yes". And if that should ever change (though I really can't fathom why), we can worry about it then.

[2017-09-25 21:05] kristinashu commented on #694
Here's a comp of the most basic page. If we don't have a checkbox then knowing if a user already has an account or not becomes less important. We will still need to work out the copy tho.

![sign in 2x](https://user-images.githubusercontent.com/1068783/30830830-39c70312-a1fa-11e7-9e3a-fd54eb045ba3.png)

[2017-09-26 13:47] xmatthewx commented on #698
done!

[2017-09-26 13:47] #698 closed

[2017-09-26 14:14] #693 closed

[2017-09-26 14:20] xmatthewx commented on #694
Thanks @kristinashu. I will email Abigail to explain the technical constraints and get feedback on the exact wording for this.

[2017-09-26 16:36] Pomax commented on #624
In this case, that sounds fine. Though in general, the "let's not worry about it now, let's worry about it later" often means a false saving, with exponentially more work later =)

[2017-09-26 16:47] alanmoo commented on #624
Agreed, but I think it's enough of a slim chance that it's worth it.

[2017-09-26 16:48] Pomax commented on #493
react-formbuilder 0.8.0 was pushed with char/word-limit support, unblocking this issue.

[2017-09-26 17:02] Pomax commented on #695
this landolated

[2017-09-26 17:02] #695 closed

[2017-09-26 17:05] alanmoo commented on #624
@gideonthomas still to write tests before closing

[2017-09-26 17:40] xmatthewx opened #705 "Move Network Leaders component down on the homepage"
Move the Network leaders block to lower on the homepage. Below News/Latest and above Get Involved.

[2017-09-26 17:40] xmatthewx commented on #705
Issue moved to [mozilla/network #793](https://github.com/mozilla/network/issues/793) via [**ZenHub**](https://www.zenhub.com/)

[2017-09-26 17:40] #705 closed

[2017-09-26 17:50] xmatthewx commented on #623
I'm going to close this. I'll open a new ticket to figure out frontend work to allow new entries to point to existing creators.

[2017-09-26 17:50] #623 closed

[2017-09-26 18:17] xmatthewx opened #706 "Enable new entries to identify existing creators with autocomplete"
When a User fills the form to submit a new entry, they name a series of creators. To improve accuracy and simplify their experience, let's...

Enable autocomplete on names that match an existing Creator.

If possible: let's distinguish a Creator who has a profile from a "stub" creator (has name string only). The goal: get them to click the creator with a profile, since it is more likely to be the

[2017-09-26 18:19] gideonthomas commented on #706
That ticket is already filed here: https://github.com/mozilla/network-pulse-api/issues/215

[2017-09-26 18:22] xmatthewx commented on #706
@kristinashu - I took a quick stab at how we might handle autocomplete on creators. And how list creators on form after entered. The goal is to encourage submitters to link to users with profiles. Feel free to revise this.

### Autocomplete

![image](https://user-images.githubusercontent.com/53411/30876144-bfe6224c-a2c3-11e7-8b11-b8be0de64f1e.png)

### List to submit

 - A remove icon seems helpfu

[2017-09-26 18:30] xmatthewx opened #707 "People Profiles Round 2"
Creating an epic to follow up after Profile launch. Will move stuff here that doesn't fit into MVP.

[2017-09-26 19:12] kristinashu commented on #703
@xmatthewx here's an updated version of profile page.

![profile form copy 2x](https://user-images.githubusercontent.com/1068783/30879308-e783541a-a2b3-11e7-9c04-c70d08a890d5.png)

[2017-09-26 19:17] kristinashu commented on #706
Sounds good @xmatthewx. Also, sweet table!

[2017-09-26 20:26] mmmavis opened #708 "Have an option for removing or updating profile pic"
Things to discuss

- [ ] if there's any work to do on backend
- [x] design - how do we want it to show on the form
- [ ] and if we need to update `react-formbuilder` to enable this funcitonaility

[2017-09-26 20:50] cadecairos commented on #704
@alanmoo where is this moderation tab?

[2017-09-26 21:23] mmmavis commented on #704
@cadecairos if you have admin rights and are logged in, you can visit `/moderation` directly to get to that page (there should also be a link on nav bar says "moderation").

[2017-09-26 21:26] mmmavis commented on #704
ummm I see the errors locally and on other pages as well 😢
<img width="1417" alt="screen shot 2017-09-26 at 2 24 28 pm" src="https://user-images.githubusercontent.com/2896608/30885007-8b4a5b5e-a2c6-11e7-84d8-4d5b37e3cc83.png">

https://github.com/mozilla/network-pulse/blob/master/js/security-headers.js anything we need to update here?

[2017-09-26 21:31] cadecairos commented on #704
I see this error:
[code]

kinda crappy that our twitter share seems to be trying to load tracking beacons.

[2017-09-26 21:35] cadecairos commented on #704
also, if make sure that you check with any content blockers disabled, because they can modify content CSPs.

[2017-09-26 21:42] xmatthewx commented on #708
On edit profile form, when a photo was uploaded before, we might show a thumb of the image, along with a remove and choose file button. cc @kristinashu to think about...

[2017-09-27 14:04] alanmoo commented on #704
Even with content blockers off I'm seeing the same issues.

[2017-09-27 21:02] xmatthewx opened #710 "Prep Pulse for MozFest"
We should do some things, such as...

### kiosk & signage
 - [x] request a kiosk
 - [x] design a sign for the kiosk (like last year) https://github.com/MozillaFoundation/mozfest-design-2017/issues/63
 - [x] #726 design and print a simple small poster to advertise stuff. printing for Ravensbourne and House: https://github.com/MozillaFoundation/mozfest-design-2017/issues/78
 - [x] motion graphics lo

[2017-09-28 15:31] cadecairos commented on #704
here's the URL being blocked: `https://api.mozillapulse.org/api/pulse/entries/?showCounter=true&moderationstate=Pending&page=1&ordering=-created&page_size=24&format=json`

I'm not sure why yet - maybe CORS?

[2017-09-28 15:48] xmatthewx commented on #703
@kristinashu - all your changes look great. Let's make sure that @mmmavis knows what's new.

 1. Intro copy
    - I'm thinking plain and simple. How's this? "Tell everyone about yourself, so we can connect and collaborate!"
 2. Email
    - help text looks good
 3. User name
    - let's label this "Name"
 4. All fields optional
    - Let's move this below Name and Email, since they're required.

[2017-09-28 15:49] xmatthewx commented on #653
Closing. Tracking copy in legal updates to the form #703

[2017-09-28 15:49] #653 closed

[2017-09-28 15:53] cadecairos commented on #704
Actually, nevermind about that last URL.

I think I'm zeroing in on the issue. If you look at your XHR logs while loading the moderation page, you notice that `https://api.mozillapulse.org/api/pulse/userstatus/` is hit twice, and `https://api.mozillapulse.org/api/pulse/entries/moderation-states/?format=json` is hit three times.

I suspect that the cancelled request is to `api/pulse/userstatus`, an

[2017-09-28 16:02] xmatthewx opened #711 "Add tags to entry 447"
@thornet asks... Can we add the tags: "iot, openiotstudio, film" to https://www.mozillapulse.org/entry/447. Posting here just to let her know that it is...

[2017-09-28 16:03] xmatthewx commented on #711
done!

[2017-09-28 16:03] #711 closed

[2017-09-28 16:09] alanmoo commented on #704
Great, thanks for the exploration. Let's leave this as a bit lower priority since nothing's specifically "broken", but keep it on the sprint for visibility.

[2017-09-28 16:30] mmmavis opened #712 "Bug: thumbnail should not be an required field for Profile"
Heroku instance that shows current profile work: https://network-pulse-staging-pr-691.herokuapp.com/myprofile

<img width="922" alt="screen shot 2017-09-28 at 9 26 41 am" src="https://user-images.githubusercontent.com/2896608/30978494-8f9f0348-a42f-11e7-9f8a-4520e0a1c5a0.png">

Currently thumbnail is set as required field but it should really be optional. I might have done something wrong on the f

[2017-09-28 16:38] gideonthomas commented on #712
No this is def a backend issue that makes it required (I used to disable it when testing coz I didn't want to manually base64 encode images when testing :P). Feel free to assign to me.

[2017-09-28 17:02] mmmavis commented on #712
@gideonthomas just did 😉

[2017-09-28 17:27] thornet commented on #711
Thank you!

On Sep 28, 2017 18:03, "matthew w" <notifications@github.com> wrote:

[2017-09-28 17:56] xmatthewx opened #713 "Draft User story as QA tool for Profiles launch"
We'll soon launch a major feature – Profiles! Let's craft a simple tool to help the team assess our status and identify any gaps in our build before launch.

This could take a few forms:
 - slide deck with comps
 - a checklist of steps
 - flowchart

Doesn't need to be fancy, just thorough.

Here's [an etherpad](https://public.etherpad-mozilla.org/p/pulse-profiles-user-story) where we can gather a

[2017-09-28 18:16] xmatthewx commented on #687
Is this still blocked? Should we move to Up Next?

[2017-09-28 18:37] mmmavis commented on #687
Currently front end shows `Profile.custom_name` if it exists in the `Profile.profile`, else it falls back to `name`. If this is the intended behaviour we can close this ticket :)

[2017-09-28 18:44] xmatthewx commented on #687
That sounds right to me! I'm going to start a ticket with a QA checklist to make sure test this.

[2017-09-28 18:44] #687 closed

[2017-09-28 18:46] xmatthewx opened #714 "Quality Tests for Profiles"
This Epic will gather QA work required to ship profiles.

[2017-09-28 18:48] xmatthewx commented on #714
An etherpad to build checklists of all the things: https://public.etherpad-mozilla.org/p/pulse-profiles-qa

[2017-09-28 22:58] Pomax opened #715 ""tags" field does not commit a tag to the list if you just paste it in"
if you paste, rather than type, a tag, it will not show up in the list of tags until you hit `,` or tab or enter. As such, the following leads to an entry without any tags at all:

copy `a,b,c,d` to the clipboard, create a new entry:

title: whatever
content_url: http://whatever.com
tags: paste from clipboard

then hit "submit"

This will send an entry without any tag data, as "nothing was typed"

[2017-09-28 23:05] mmmavis commented on #703
@xmatthewx some thoughts about the Name field.

I think you can't really edit the name we pull from your Google account (am I right, @gideonthomas ?). On the public profile page we use your Google name as the fallback name if you don't have a "custom name" in the database. If we are just showing  one `Name` on the edit page it might confuse people. e.g., you clear the "Name" field and hit submit.

[2017-09-29 16:33] gideonthomas commented on #703
@mmmavis yeah that's right!
Suggestion: Why not have 2 fields? One is a readonly field (greyed out) that says "Name" and the input box will show the google name (non-editable), the other is an editable input field called "Preferred Name".

[2017-09-29 16:34] #712 closed

[2017-09-29 16:40] kristinashu commented on #703
I'm reluctant to add more complexity to the user's view of the form. Could we pre fill the name field with someone's google account name but format it like a regular field so they can easily update it? We can keep both names in the back end but the user only see the one name.

<img width="978" alt="screen shot 2017-09-29 at 9 37 39 am" src="https://user-images.githubusercontent.com/1068783/3102613

[2017-09-29 17:13] kristinashu commented on #703
From meeting: need to make name field a required field.

[2017-09-29 17:25] kristinashu commented on #703
Here's the update comp!

@xmatthewx should we run this past legal and come up with intro text?

![profile form with legal 2x](https://user-images.githubusercontent.com/1068783/31027755-435fdb48-a500-11e7-893d-391e3344b96b.png)

[2017-09-29 17:37] kristinashu commented on #703
Or maybe we don't need any legal copy/link in the intro text?

[2017-09-29 20:34] cadecairos opened #717 "Add Snyk vulnerability monitoring"
Let's add a Snyk vulnerability check on our dependencies in this project. See https://github.com/mozilla/network/pull/733 for reference.

also, [Snyk docs](https://snyk.io/docs)

[2017-09-29 22:54] kristinashu commented on #713
I've started to add some slides at the beginning of our slide deck for a more visual representation https://docs.google.com/a/mozilla.com/presentation/d/12o0P9wWGlUEuY-247fWuHluVQsdfm9Htqlfuo8OQUio/edit?usp=sharing

Re can also reference https://public.etherpad-mozilla.org/p/pulse-profiles-checklist

[2017-09-29 22:59] mmmavis commented on #626
Work has been merged to the feature branch. Up for @xmatthewx do decide if we are good to close this ticket.

[2017-09-29 23:00] mmmavis commented on #685
Work has been merged to feature branch. Closing.

[2017-09-29 23:00] #685 closed

[2017-10-02 07:56] kunal12422 commented on #717
Hey, @cadecairos I would like to work on this issue.

[2017-10-02 15:10] cadecairos commented on #717
Hi @kunal12422, I've assigned the issue to you. We'll need to coordinate to get the SNYK_TOKEN set up properly. I can handle the encryption of it for Travis and Appveyor, and pass to you here.

[2017-10-02 17:10] alanmoo commented on #604
@xmatthewx We could use some feedback from you around what work is still needed before Mozfest

[2017-10-02 19:12] mmmavis commented on #713
Hey @xmatthewx are we thinking about launching the profile work before MozFest? If so I'm really worried about the time and resource we have. It would be super helpful if you could take a look at [what has been implemented](https://network-pulse-staging-pr-691.herokuapp.com) and flag things that are blocking us from launching.

[2017-10-02 22:31] kristinashu opened #720 "Thumbnail card style updates"
From alignment work in mozilla/network#582 and to align better with new brand, mozilla.org, Network site, and IRH sites.

- [x] Change default body color on Pulse to black (`#000000`)

**Project cards**

- [x] Update pink titles to black
- [x] Hover state of title is black underline
- [x] Update list of names from grey to black and from Zilla to Open sans
- [x] Remove intro text
- [x] Remove gradi

[2017-10-02 22:34] kristinashu opened #721 "Image fallbacks"
- [x] placeholder image if user doesn't upload an image
- [x] what to do if user upload an image that isn't the correct aspect ratio
- [ ] update gradient placeholder to css (newly added)

[2017-10-03 13:14] kunal12422 commented on #717
@cadecairos perfect. :smile:

[2017-10-03 13:22] kunal12422 commented on #717
@cadecairos great. :+1:

[2017-10-03 16:26] xmatthewx commented on #604
At this point, I think we need to huddle up and review what's needed to ship the most basic, but complete experience. Kristina and I have started a deck to review with the team.

[2017-10-03 16:30] xmatthewx commented on #713
Yes, we plan to launch profiles for MozFest. We can probably pull in help from Gavin/Alan if needed. We can walk through what's done, what remains with the whole group to take stock.

[2017-10-03 17:32] kunal12422 commented on #717
Hi, @cadecairos, can you please provide SNYK_TOKEN for Travis and Appveyor.

[2017-10-03 17:51] Pomax commented on #573
This is implemented on the API side through https://github.com/mozilla/network-pulse-api/pull/222, client updating should no longer be blocked.

[2017-10-03 18:38] mmmavis opened #722 "Sign out from /favs should update [name] on nav bar"
Sign out should update `Hi [name]` on nav bar.

Attaching screencap here soon.

[2017-10-03 19:23] kristinashu opened #723 "Add Signout link to user's profile page"
Staging:
<img width="1229" alt="screen shot 2017-10-03 at 12 18 55 pm" src="https://user-images.githubusercontent.com/1068783/31144322-3fda4ee4-a835-11e7-8486-c22827701c96.png">

Comp:
![full profile copy 2x](https://user-images.githubusercontent.com/1068783/31144375-6e3c4a08-a835-11e7-9ef8-aee29386a8d5.png)

cc @mmmavis

[2017-10-03 20:49] gideonthomas commented on #624
Fixed in https://github.com/mozilla/network-pulse-api/pull/216

[2017-10-03 20:49] #624 closed

[2017-10-03 21:00] kristinashu commented on #713
@xmatthewx @mmmavis @Pomax @gideonthomas @alanmoo I've update the slide deck and divided things into P1, P2, and P3 (each one building on top of the other). Still a WIP but please add any questions/comments!

[2017-10-04 14:16] xmatthewx commented on #626
When I tap "Hi Matthew" I'm taken to /profile/me. View reports "Profile not Found" since I haven't made one yet.

We probably need to do a migration pre-launch to establish default profiles for existing users. True? If sol can we file a ticket @gideonthomas?

Should /profile/me redirect to the form when nothing is found? This would guard against errors. If so, we can file this as a follow up.

cc

[2017-10-04 14:18] xmatthewx commented on #626
p.s. I'm looking at https://network-pulse-staging-pr-691.herokuapp.com/. Is this the latest branch?

[2017-10-04 14:19] xmatthewx commented on #626
When I view https://network-pulse-staging-pr-691.herokuapp.com/myprofile/

I see the form but no fields.

<img width="614" alt="image" src="https://user-images.githubusercontent.com/53411/31180790-8490007a-a8ed-11e7-8503-380d432b6a7e.png">

[2017-10-04 14:22] xmatthewx commented on #626
Hold the phone. The API might be down. @alanmoo is investigating.

[2017-10-04 14:57] alanmoo commented on #626
https://network-pulse-staging-pr-691.herokuapp.com/myprofile works again

[2017-10-04 15:05] cadecairos commented on #717
@kunal12422 I'll get those for you today.

[2017-10-04 15:18] cadecairos commented on #717
@kunal12422 Here are the encrypted values:

#### `.travis.yml`

[code]

#### `appveyor.yml`

[code]

[2017-10-04 15:32] xmatthewx commented on #626
This is looking good.

One thing I noticed ... but we can probably file as a follow up .... my profiled defaulted to name from google (that's good), but when i edit my profile, name field is blank. this is not terrible, but odd.

[2017-10-04 19:13] mmmavis commented on #720
@kristinashu are all cards in the same height? If so we should consider wrapping creator list as it can get quite long.

[2017-10-04 19:28] mmmavis commented on #720
Or we can set a min-height for card but they them grow as tall as they need to... like

![screen shot 2017-10-04 at 12 27 42-fullpage](https://user-images.githubusercontent.com/2896608/31195518-7271d47e-a8ff-11e7-9b3e-9600b771cfdb.png)

(we should really have placeholder thumbnail 😂 )

[2017-10-04 19:28] xmatthewx opened #726 "MozFest poster for Pulse & Site"
Content:
 - Add your projects to Pulse!
 - See latest news on foundation.mozilla.org. Join the list.

Size: A5
Quality: Lo-fi. I think this can be flyer like.
Print: at Ravensbourne
Qty: 50? 100?

cc @jessevondoom for thoughts on content.

[2017-10-04 19:31] xmatthewx commented on #726
Include shortlink to feedback form?

[2017-10-04 19:40] mmmavis commented on #626
@xmatthewx Let's file a new ticket for that. Since edit form is working... can we close this ticket now?

[2017-10-04 19:52] kristinashu commented on #720
Here's a placeholder image but most people do add an image https://www.mozillapulse.org/latest

![placeholder](https://user-images.githubusercontent.com/1068783/31196467-bac33404-a902-11e7-9d24-56e18235c240.png)

[2017-10-04 19:52] xmatthewx commented on #626
Yes! This is a big one! You want to have the joy if hitting the button? 💥💥💥💥

[2017-10-04 19:55] xmatthewx opened #727 "Profile edit form should inlude default name"
As an existing user, on staging, my profile defaulted to my name from google. ✔️ That's good. But,  when i went to edit my profile, the name field was blank. This required me to retype my name. I didn't notice, and my submit failed. Not a huge deal, but it adds odd friction for our users.

[2017-10-04 19:57] kristinashu commented on #720
Looks like title length is very narrow. I think the text can go right up to the heart. (This will also be better once https://github.com/mozilla/network-pulse/issues/700 is done and the card text width will be wide.r)

From staging:
<img width="365" alt="screen shot 2017-10-04 at 12 49 34 pm" src="https://user-images.githubusercontent.com/1068783/31196490-d789e542-a902-11e7-850a-ab586fa026c6.png">

[2017-10-04 22:43] mmmavis commented on #626
Implemented as part of https://github.com/mozilla/network-pulse/pull/691 🎉

[2017-10-04 22:43] #626 closed

[2017-10-04 22:55] mmmavis commented on #689
Fixed in PR #719 !!! 🎉

[2017-10-04 22:55] #689 closed

[2017-10-05 02:02] kunal12422 commented on #717
@cadecairos I have opened a PR. Please review.

[2017-10-05 15:41] alanmoo opened #730 "Improve review app experience"
When a review app is created, it can't hook into the pulse staging api automatically due to approve-list requirements on the api. Is there anything we can do to automate/wildcard that approval?

Low priority.

[2017-10-05 16:21] mmmavis commented on #721
@kristinashu is it possible that we use SVG as placeholderimage  instead of [png](https://github.com/mozilla/network-pulse/issues/720#issuecomment-334270030) ?

[2017-10-05 16:31] alanmoo commented on #721
Or even a CSS generated gradient? https://www.css-gradient.com/

[2017-10-05 16:33] alanmoo commented on #721
In fact, as we use gradients across the new design language, it would be great to have them all entirely in CSS.

[2017-10-05 16:54] mmmavis commented on #703
@xmatthewx do we need to add legal copy to the intro text? If not, let's close this ticket since all other todos have been implemented: https://network-pulse-staging-pr-691.herokuapp.com

[2017-10-05 16:54] kristinashu opened #731 "Implement nav ui alignment"
From alignment work in mozilla/network#582 and to align better with new brand, mozilla.org, Network site, and IRH sites.

https://redpen.io/fv1d606e85be529df4

![pulse home 2x](https://user-images.githubusercontent.com/1068783/31301808-b3d6913a-aab1-11e7-95f9-dccaf522372b.png)

### Updates include:
- keep logo the same
- update menu items Open Sans Bold 16px
- search icon the same
- left align nav

[2017-10-05 17:03] mmmavis commented on #720
current status: pending verification on staging before we can close this ticket

[2017-10-05 18:16] kristinashu commented on #694
@xmatthewx we need copy before I can open an implementation ticket, please and thank you.

[2017-10-05 18:47] xmatthewx commented on #604
@kristinashu kindly phased our final login+profile work. Below is a summary as detailed in [the deck](https://docs.google.com/presentation/d/12o0P9wWGlUEuY-247fWuHluVQsdfm9Htqlfuo8OQUio/edit#slide=id.g236892fde9_0_11). Please make sure there tickets to represent all of your work.

### P1 flow
 - Login anywhere > page with “log in with G-auth” button
 - Redirect
    - redirect to entry form if plus

[2017-10-05 19:01] kristinashu opened #733 "Design promo for profile feature"
Design promo to appear on Pulse landing page to promote the new profile feature. This could be just a feature post or an actual banner or notification.

cc @xmatthewx for copy

[2017-10-05 19:03] xmatthewx commented on #694
Right-o. Here's what I propose:

[2017-10-05 19:06] xmatthewx commented on #694
Note for implementation: we currently have a view with login button that appears when someone taps the plus-+ button. That view does not update the URL in browser (though it probably should), so we can point to it from header. (oddly, this view doesn't appear when you tap login on favs view)

[2017-10-05 19:07] xmatthewx commented on #703
Agreed. the `User.name` will always be their google name, but it is never displayed. `Profile.name` will be pre-populated with `User.name` by default. This can be edited and used for display.

[2017-10-05 19:09] kristinashu opened #734 "Remove Signin from Fav screen"
Now that we have Signup/Signin in the nav, we can remove it from the Fav screen.

### Currently on production:

Signed out
<img width="1356" alt="screen shot 2017-10-05 at 12 05 57 pm" src="https://user-images.githubusercontent.com/1068783/31247476-96879d1e-a9c5-11e7-8d59-1234832c4e53.png">

Signed in
<img width="1355" alt="screen shot 2017-10-05 at 12 02 48 pm" src="https://user-images.githubuser

[2017-10-05 19:11] xmatthewx commented on #703
All copy on staging looks fantastic. Let's close this!

[2017-10-05 19:12] kristinashu commented on #703
Yeah looks good!
<img width="770" alt="screen shot 2017-10-05 at 12 11 39 pm" src="https://user-images.githubusercontent.com/1068783/31247744-64d121c2-a9c6-11e7-83b7-6d2b3c46fcc6.png">

[2017-10-05 19:23] kristinashu commented on #694
#### So for implementation, we will need to:
- make it so no matter where someone enters from (Signup/Signin, Add entry, click fav icon) they go to this screen before the Google signin
- make this screen have the URL? https://www.mozillapulse.org/signin ?
- redirect appropriately depending on where the user entered from

#### Here's the comp:
![sign in 2x](https://user-images.githubusercontent.com

[2017-10-05 19:30] kristinashu opened #735 "Signin screen updates"
### Currently on production:
- user taps the plus Add Entry button in nav: goes to Signin screen (screen cap below)
- this signin screen does not update the URL in browser
- user taps Signin on Fav screen: goes straight to Google Signin

<img width="451" alt="screen shot 2017-10-05 at 12 21 56 pm" src="https://user-images.githubusercontent.com/1068783/31248230-e3170712-a9c7-11e7-81d4-35b64078ae15.

[2017-10-05 19:31] kristinashu commented on #694
I've opened an implementation ticket https://github.com/mozilla/network-pulse/issues/735

[2017-10-05 19:31] #694 closed

[2017-10-05 19:33] kristinashu commented on #735
cc @xmatthewx @Pomax might be _slightly_ more complicated than originally thought ^

[2017-10-05 19:43] xmatthewx commented on #731
@mmmavis – I expect that this work will take a bit of time and focus. In terms of priorities, let's stick to Profile related things first. I discussed with Jesse, and we want to make sure we ship that stuff well first, and then add this UI polish. I don't want you to feel overwhelmed given your other MozFest duties.

Make sense? Let me know if you have any questions or want to discuss.

When ready

[2017-10-05 19:44] xmatthewx commented on #720
Looks rad to me, but I'll let @kristinashu have the joy of reviewing and closing this.

[2017-10-05 19:47] kristinashu commented on #720
Yup looks awesome!

[2017-10-05 19:47] #720 closed

[2017-10-05 20:05] mmmavis commented on #703
🎉 🎉 🎉 🎉 🎉

[2017-10-05 20:05] #703 closed

[2017-10-05 20:10] mmmavis commented on #721
@alanmoo I haven't checked how other MoFo are doing it. But yea either way would work.

[2017-10-05 20:18] xmatthewx commented on #733
If it's a notification, we could do something like this:

 - Signed in: "Pulse now has profiles! Add yours [link to /myprofile]. Discover and connect with the people behind these great projects."
 - Signed out: "Pulse now has profiles! Sign up [link to /signin] and add yours. Discover and connect with the people behind these great projects."

It is fun to think about adding an entry as a way to an

[2017-10-05 21:16] mmmavis commented on #722
@kristinashu um weird. Do you remember the steps to reproduce this issue? I just tried logging out from the Add page and the Edit profile page... both seemed to be working properly for me.

[2017-10-05 21:21] kristinashu commented on #722
We might be thinking of different things. When I'm not signed on https://network-pulse-staging-pr-691.herokuapp.com/featured I should see a Signup/Signin link in the top right nav bar.

Staging:
<img width="1197" alt="screen shot 2017-10-05 at 2 18 57 pm" src="https://user-images.githubusercontent.com/1068783/31253106-5f404d52-a9d8-11e7-8039-84986633321a.png">

Comp: (ignore styling)
<img width="5

[2017-10-05 21:32] mmmavis opened #736 "Rename "Online Privacy & Security" to just "Privacy & Security""
It seems like "Privacy & Security" is the internet health issue name being used elsewhere (correct, @kristinashu) ? If so we should consider renaming "Online Privacy & Security" to just "Privacy & Security".

This will involve both frontend and backend work

**Back End**
- migrate all "Online Privacy & Security" bits to "Privacy & Security"
  - `/api/pulse/issues`
  - `/api/pulse/entries/?issue=On

[2017-10-05 21:36] xmatthewx opened #737 "Change Issues to Interests"
Our Issues view doesn't get much traffic. If this proves true at MozFest as well, we should consider some challenges.

One option: relabelling that view to "Interests" and adding some top tags there as well (such as IoT, misinformation).

[2017-10-05 21:43] mmmavis commented on #722
This bug was from our Tuesday's call... you were screensharing and after you clicked on the sign out link (I forgot on which page) the nav bar still said "Hi, Kristina". Can you recall? If not I think I'm gonna close this ticket since I can't seem to reproduce it. Maybe I was just daydreaming after my nth morning meetings without ☕️

[2017-10-05 21:53] xmatthewx opened #738 "Prep for Research at MozFest"
Let's plan some light user research at MozFest, on both Pulse and the foundation site. I'm imagining simple, informal qualitative research to surface problems and opportunities.

We'd love to Collaborate with @pfzenke and Abdoul on this.

Possible Questions
 1. Have you looked at Pulse or the Site? Did you discovered a person, initiative, or interesting news? Start a new collaboration?
 1. Did you

[2017-10-05 22:03] kristinashu commented on #722
It happens when I logout from the Favs screen. I click Logout but my name is still in the nav bar.

[2017-10-05 22:05] kristinashu opened #739 "UI: Add Signup / Signin to nav bar"
When I user is not signed in or has just signed out, then the name should be replaced with "Signup / Signin"

Clicking it should redirect as required.

Comp:
<img width="532" alt="screen shot 2017-10-05 at 2 20 59 pm" src="https://user-images.githubusercontent.com/1068783/31253122-70f357f6-a9d8-11e7-8f14-12b2f5e63089.png">

[2017-10-05 22:09] kristinashu commented on #722
<img width="1211" alt="screen shot 2017-10-05 at 3 09 31 pm" src="https://user-images.githubusercontent.com/1068783/31254853-392e1732-a9df-11e7-978e-a4f5734ae5e2.png">

[2017-10-05 22:18] kristinashu opened #740 "UI: implement notification bar"
If a user has not been to /myprofile then we will show a notification.

This will appear on the following screens:
- add entry form
- add entry confirmation screen (both versions: staff and non-staff)

Links to profile form.

<img width="1063" alt="screen shot 2017-10-05 at 3 14 56 pm" src="https://user-images.githubusercontent.com/1068783/31255105-0b51031e-a9e0-11e7-8b7c-4e77129e9759.png">

@xmat

[2017-10-05 22:58] mmmavis opened #741 "[name] displayed for loggedin user should be that person' custom name (if it exists)"
Green circled text should all be `mmm` (my custom name)

![screen shot 2017-10-05 at 3 35 08 pm copy](https://user-images.githubusercontent.com/2896608/31256187-c9de35f4-a9e5-11e7-836e-e4982df8ce1a.jpg)

and

![screen shot 2017-10-05 at 3 35 21 pm](https://user-images.githubusercontent.com/2896608/31256169-aa3c5e24-a9e5-11e7-990b-16cc4250065f.jpg)

Related backend ticket: https://github.com/mozill

[2017-10-05 23:20] mmmavis commented on #722
kk, I'm putting this ticket on hold since eventually it will be solved by https://github.com/mozilla/network-pulse/issues/734 (remove signin from Favs page)

[2017-10-05 23:22] kristinashu commented on #722
I also opened https://github.com/mozilla/network-pulse/issues/739

[2017-10-06 14:06] alanmoo commented on #736
I temporarily changed the name of the issue on the staging back-end to remove "Online" and everything sees to work there just fine. Only issues I saw were on the front end, specifically the issue name and links on https://network-pulse-staging.herokuapp.com/issues/ went to the wrong spot. The tags within the entries were all updated appropriately and the url `/issues/privacy-and-security` worked j

[2017-10-06 14:29] xmatthewx commented on #740
Two options:
 - "Add your profile[/myprofile] to show who's behind your great projects!"
 - "Add your profile[/myprofile] to connect, collaborate, and push your projects further."

[2017-10-06 15:20] xmatthewx commented on #710
Hey ya @edrushka – I'm doing some MozFest prep, to integrate Pulse. See checklist above. I'm curious: who are the best people for me to connect with regarding Sci Fair? And is one person leading the Comms?

[2017-10-06 15:30] edrushka commented on #710
Contact Esme for Science Fair. Kevin for press. Aliza for blogs. Kristina Gorr for pre-festival social. Temi for live festival social.

[2017-10-06 17:01] kristinashu commented on #733
Is this too much? In the future we could then use this promo banner to introduce what Pulse is to people not signed in.

![pulse home notification copy 2x](https://user-images.githubusercontent.com/1068783/31289216-e55f1c8e-aa7c-11e7-9392-177fa3d1d28d.png)

[2017-10-06 18:46] xmatthewx commented on #733
I think it's brilliant. Showing all those faces will really change everyone's first impression of what pulse is and can be for them. Probably just displayed on /featured, right?

[2017-10-06 19:00] xmatthewx opened #742 "Add creator entries to Profile view"
Currently, our new profiles only include entries `Submitted` by the person. Let's add things they `Created` as well.

Note: MVP can just lump all entries together. Later, we'll want to separate by header or tabs. So let's proceed with that in mind.

@gideonthomas and @mmmavis – let's discuss:
 - how do we handle this on the frontend? is backend work required?
 - how big a body of work is this? fea

[2017-10-06 20:50] kristinashu opened #743 "Implement promo banner"
Based on design in https://github.com/mozilla/network-pulse/issues/733

To let people know about the new profile feature we will have a banner on the Landing Feature page.

#### Copy:
 - Signed in: "Pulse now has profiles! Add yours [link to /myprofile]. Discover and connect with the people behind these great projects."
 - Signed out: "Pulse now has profiles! Sign up [link to /signin] and add your

[2017-10-06 21:09] kristinashu commented on #733
Yes, this would only appear on the feature page. I've opened an implementation ticket https://github.com/mozilla/network-pulse/issues/743

[2017-10-06 21:09] #733 closed

[2017-10-06 21:13] kristinashu commented on #740
Great! Let's go with "Add your profile [/myprofile] to show who's behind your great projects!"

Light purple is #EDE2FF

![post form with notification 2x](https://user-images.githubusercontent.com/1068783/31298710-43b6edc0-aaa0-11e7-8762-c95e6ee596ac.png)

[2017-10-06 22:56] mmmavis commented on #742
Front end profile page is just consuming `/api/pulse/profiles/<id>/` (and/or `/api/pulse/profiles/me/`)

e.g., https://network-pulse-api-staging.herokuapp.com/api/pulse/profiles/8/

So yea backend work is definitely needed.

And if we want creator's name to be hyperlinked to that person profile page... creator list returned from backend will need to include profile id as well.

[2017-10-06 23:13] mmmavis commented on #731
@kristinashu are we removing "Featured" from nav bar?

[2017-10-06 23:26] kristinashu commented on #731
No, you can keep Featured.

[2017-10-06 23:30] kristinashu commented on #731
Cross linking this with the Network site nav updates https://github.com/mozilla/network/issues/820

[2017-10-06 23:59] mmmavis commented on #700
this is covered as part of https://github.com/mozilla/network-pulse/issues/720 and can be closed once we do a prod push next week.

[2017-10-09 14:55] xmatthewx commented on #735
I reviewed the copy with legal. Let's revise to:

After we land this, we can remove the general consent language from profile and entry form (but keeping things specific to those forms).

[2017-10-10 15:48] mmmavis commented on #739
PR has been merged and things can be tested and verified on https://network-pulse-staging-pr-691.herokuapp.com/

[2017-10-10 16:17] xmatthewx commented on #574
This is working great!! Very interesting info. Two things.

 1. there's a typo (this splits Category tracking):
   - correct: Bro**ws**e (about learn more)
   - typo: Bro**sw**e (view more tap)
 2. Nav Link Category and Clicked Action are legacy (not a problem. we can file and remove later)

![image](https://user-images.githubusercontent.com/53411/31395169-1dcf5bd6-adae-11e7-8501-3e5b683e41ab.png)

[2017-10-10 17:59] mmmavis commented on #477
Hey @kamos1 😃 Thanks for offering help. Feel free to pick any bits you'd like to help with ES6ing. In your PR please mention this issue number. One note is that we are currently working on a new feature on a feature branch. This feature branch will likely be merged to `master` (our primary branch on this repo) soon so do expect a ton of code changes in the next few weeks.

[2017-10-10 18:02] kristinashu commented on #726
@xmatthewx something like this? Having a logo for Pulse and then nothing for the Foundation makes it hard to separate the two so I've used Mozilla and grouped Pulse + Foundation copy together.

<img width="464" alt="screen shot 2017-10-10 at 10 58 48 am" src="https://user-images.githubusercontent.com/1068783/31402171-12ebe15c-adaa-11e7-86c7-be29acf4acdd.png">

cc @sabrinang for feedback on brand.

[2017-10-10 18:45] xmatthewx opened #746 "Prep Analytics for Profiles"
Let's wire this up so we can monitor success and hiccups during launch.

Steps:
 1. Matthew to identify events and taxonomy [in spreadsheet](https://docs.google.com/spreadsheets/d/1x-CP_HYaAs3oRv2cjbSFu8w5Z938E4cyHQ3hvh17c6c/edit#gid=1060389854)
 2. File engineering ticket.

[2017-10-10 18:51] xmatthewx commented on #738
cc @stephaniemcv

[2017-10-10 19:07] kamos1 commented on #477
Hey @mmmavis, as components are ES6'd should I be using proptypes? I've seen them used in other ES6'd components

[2017-10-10 19:09] xmatthewx opened #748 "Pulse Moderation at MozFest"
MozFest will create a high pace of entries. it'd be great to coordinate moderation, so we can facilitate a realtime experience.

 1. get items from moderation to latest
 2. get items from latest to featured
 3. get items from featured into stories on the site and medium

I think that @Sydette has 2 and 3 covered on that list. I'm glad to support however useful.

For the first item, I think we'll w

[2017-10-10 19:18] acabunoc commented on #748
I plan on moderating all the mentored stuff to 'Latest' and leaving 'Featured' for the experts to decide :)

Anything with the tag "open leadership zone" is for me

[2017-10-10 19:28] ryanwarsaw commented on #748
If you need anyone to moderate I'd be happy to help out ;p

[2017-10-10 19:29] mmmavis commented on #734
@kristinashu are we keeping `Log out` link on the screen?

[2017-10-10 19:52] kristinashu commented on #734
No, you can remove `Log out` as well.

[2017-10-10 20:48] xmatthewx commented on #726
This looks great.

I wonder if there's any simple way to make this feel like a call to action, rather than a info poster. If there's no quick ideas, don't worry about it. This is plenty good.

[2017-10-10 21:19] Pomax opened #749 "get OG:description from the entry itself"

[2017-10-10 21:20] Pomax commented on #736
@xmatthewx do we want to do this?

[2017-10-10 21:43] kristinashu commented on #726
Ok, I've shortened the copy and made it more about the URLs.

<img width="503" alt="screen shot 2017-10-10 at 2 42 59 pm" src="https://user-images.githubusercontent.com/1068783/31412287-5b8d6042-adc9-11e7-8522-4e4709babfd9.png">

[2017-10-11 00:24] Pomax commented on #573
both the API and client sides of this has landed, as per the "revised let's just do this for now" spec: do we want to keep this open, or do we want to file new issues (more granular) for the styling refinement?

[2017-10-11 03:13] xmatthewx commented on #573
rad! I'll file a follow up for refinement. that can sit in the backlog for now.

[2017-10-11 03:17] xmatthewx commented on #726
ah, perfect. i think that does the job well.

[2017-10-11 03:19] xmatthewx commented on #736
My thinking: Yes? If it's easy, then yes! If there are complexities or risks, then yes but not now.

[2017-10-11 03:22] xmatthewx commented on #742
@Pomax @gideonthomas - let's huddle up around this at the end of stand on Thursday.

[2017-10-11 14:14] alanmoo commented on #736
Let's do this after Mozfest. Shouldn't be hard, but not worth the time right now.

[2017-10-11 16:18] gideonthomas commented on #742
Filed the backend issue: mozilla/network-pulse-api#234

The creator objects sent back for entries should already have the profile id in them. You need to use the `creators_with_profiles` property instead of the `creators` property.

[2017-10-11 16:23] mmmavis commented on #722
Closing as we have decided to add [`Signup/in` link to the nav bar](https://github.com/mozilla/network-pulse/issues/739) and [remove signin/up prompt from the Favs screen](https://github.com/mozilla/network-pulse/issues/739).

[2017-10-11 16:23] #722 closed

[2017-10-11 17:33] xmatthewx commented on #726
@edrushka - this is a small A5 flyers for mozfest. it'd be good to have them at House. In a stack if there's no where to hang them. Feasible? Who could facilitate this?

[2017-10-11 18:02] #573 closed

[2017-10-11 18:09] edrushka commented on #726
Very lovely. There is nowhere to hang in the venue (very strict rules about what we can put on the walls i.e. nothing 😉 ) A stack at the House reg desk _may_ be possible. However, please confirm with @lucieclick.

[2017-10-11 19:07] #739 closed

[2017-10-11 19:07] kristinashu commented on #723
Looks good!

[2017-10-11 19:07] #723 closed

[2017-10-11 19:09] #734 closed

[2017-10-11 19:13] kristinashu commented on #726
Here is the print pdf: [PulseMozFestPoster-A5.pdf](https://github.com/mozilla/network-pulse/files/1376873/PulseMozFestPoster-A5.pdf)

[2017-10-12 00:26] taisdesouzalessa commented on #738
Scheduled a meeting with Paul, Abdoul and Matthew (Tuesday, Oct 17th) to discuss collaboration and get a plan together for MozFest.

[2017-10-12 18:19] xmatthewx opened #752 "Add background to image container for wide photos"
Wide image from users don't fill the full height on the entry card. We get an awkward white space between thumbnail.

I propose we add a light gray background on the image's container, or something similar.
`.img-container { background: #eee; }`

## List view

### Current

![image](https://user-images.githubusercontent.com/53411/31511885-1d61a2f8-af57-11e7-84b6-776758c9bc88.png)

This is not criti

[2017-10-12 18:25] kristinashu commented on #752
Yeah, if auto cropping is out of the questions then this is a good band-aid.

Related to #721

[2017-10-12 21:58] mmmavis opened #753 "Update README.md with `npm test` info"
We should mention in README.md about linting the codebase with `npm test`.

[2017-10-12 22:46] kristinashu commented on #735
Here's the updated comp:
![sign in 2x](https://user-images.githubusercontent.com/1068783/31522697-0fbead1e-af64-11e7-84e1-4e70a387d6f8.png)

@xmatthewx in your comment above, what do you mean by "(but keeping things specific to those forms)"?

Do you mean we can remove this text from upload from?
<img width="752" alt="screen shot 2017-10-12 at 3 44 21 pm" src="https://user-images.githubusercontent

[2017-10-12 23:51] xmatthewx commented on #735
Great.

All of the cleanup on other forms can wait until after MozFest.

Yes, I mean that we can remove "By submitting ... you agree." But, we should keep "your entry may be edited lightly..." and "Please contact us..." and anything above about images, personal info, etc.

[2017-10-13 04:23] #492 closed

[2017-10-13 15:41] kristinashu opened #755 "Implement signin screen updates"
Based on #735

### Currently on production:
- user taps the plus Add Entry button in nav: goes to Signin screen (screen cap below)
- this signin screen does not update the URL in browser
- user taps Signin on Fav screen: goes straight to Google Signin

<img width="451" alt="screen shot 2017-10-05 at 12 21 56 pm" src="https://user-images.githubusercontent.com/1068783/31248230-e3170712-a9c7-11e7-81d

[2017-10-13 15:48] kristinashu opened #756 "Remove legal copy on forms"
Once https://github.com/mozilla/network-pulse/issues/755 is done we can remove the legal copy above the submit buttons on both forms.

### Add entry form
Current copy:

New copy:

### Profile form
Current copy:

New copy:

[2017-10-13 15:50] kristinashu commented on #735
I've opened two new implementation tickets. Please edit them if needed.

- Implement signin screen updates #755
- Remove legal copy on forms #756

[2017-10-13 15:50] #735 closed

[2017-10-13 16:15] xmatthewx commented on #726
Fab. Closing this. Tracking printing here: https://github.com/MozillaFoundation/mozfest-design-2017/issues/78

[2017-10-13 16:15] #726 closed

[2017-10-13 16:20] xmatthewx commented on #748
Thanks @ryanwarsaw! I'll ping you if we can't keep up with the pace.

One note for the group: entries shouldn't be used to advertise sessions as happened last year. They should be for things useful after the festival is over. I'd say that documentation of a session is useful, especially if it less of a recap and more about lessons learned or remixable activities.

[2017-10-13 16:33] xmatthewx opened #759 "Fix our broken Hearts ♥ ♥ ♥"
Our hearts are sometimes broken. 💔 😢

Some fav hearts are fine, some are cut off on the left and right edge. The bottom-left entry below is fine, the rest are cropped.

![image](https://user-images.githubusercontent.com/53411/31556276-44543356-b012-11e7-8e3f-957c442119e8.png)

[2017-10-13 17:09] mmmavis commented on #759
😞 @xmatthewx which browser was this screencap taken from?

[2017-10-13 17:15] mmmavis commented on #727
This is somewhat blocked by https://github.com/mozilla/network-pulse-api/issues/229 (so that we can rely on the API response to determine what "name" to show on front end). I could get a interim solution in first but not sure if I should as it introduces some complexity to the codebase.

[2017-10-13 18:12] xmatthewx commented on #696
First message went out today. W00t. We'll follow with other cohorts on Monday.

[2017-10-13 18:23] xmatthewx commented on #759
Looks good for me on FF Nightly. Screenshot is from Chrome.

[2017-10-13 20:53] mmmavis commented on #759
up on https://network-pulse-staging.herokuapp.com for verification

[2017-10-13 21:17] ryanwarsaw commented on #759
🕺 🎉 ❤️ 🙈

[2017-10-13 22:32] mmmavis commented on #493
Reopening...
just realized there are some more steps to do before we can close this ticket

[2017-10-13 23:36] mmmavis commented on #574
@xmatthewx plz verify on staging and close this ticket if the typo no longer exists. I don't know what we can do for legacy things but I think it's probably not something we can do in this codebase.

[2017-10-14 03:20] xmatthewx commented on #759
👍

[2017-10-14 03:20] #759 closed

[2017-10-14 11:59] aayushsanghavi opened #764 "Good first bug link in README.md is invalid"
https://github.com/mozilla/network-pulse/labels/good%20first%20bug points to page with no matching issues for tag "good first bug"

[2017-10-14 13:25] aayushsanghavi commented on #755
@xmatthewx can I work on this issue?

[2017-10-16 14:26] xmatthewx commented on #755
Fine by me! @mmmavis is probably the best person to provide any guidance or support.

[2017-10-16 14:27] xmatthewx commented on #574
👍

[2017-10-16 14:27] #574 closed

[2017-10-16 14:32] xmatthewx commented on #731
When we implement this, let's make sure we remove the old event tracking: https://github.com/mozilla/network-pulse/blob/c0bb8bc04a062623a249ca87186b2fe21992e167/components/nav-link/nav-link.jsx#L13-L14

[2017-10-16 16:17] Pomax commented on #493
Which fields? Can we set up a small checkbox list that we can tick off?

[2017-10-16 16:29] mmmavis commented on #493
I assume we have to show character count on **all** fields that have character limit. I'll update this ticket title and file a new ticket for the rest of the work.

[2017-10-16 16:32] mmmavis opened #769 ""Add" form: show character count on all fields that have character limit"
- [x] title
- [ ] description
- [ ] interest ("Why might this be interesting to other people in our network?")
- [ ] get_involved ("Looking for support? Describe how people can do that.")

@kristinashu can you double check and see if the above list includes all the fields we need to show character count on?

[2017-10-16 16:33] mmmavis commented on #493
Followup tickets:

Add form: https://github.com/mozilla/network-pulse/issues/769
Profile form: (I'm filing it now)

[2017-10-16 16:37] mmmavis opened #770 ""Profile" form: show character count on all fields that have character limit"
## Update (Jan 22, 2018)

Follow https://github.com/mozilla/network-pulse/issues/770#issuecomment-359518065 for specs instead

---

## Original ticket description

- [ ] `custom_name` ("Name")
- [ ] `user_bio` ("Bio (do not include any personal information)")

@kristinashu can you double check and see if the above list includes all the fields we need to show character count on?

[2017-10-16 16:57] xmatthewx commented on #764
good catch!

[2017-10-16 17:18] xmatthewx commented on #770
Note: this is not critical pre-mozfest.

Cool. Ideally we can just see if the model has a character limit, and then show the count. Rather than manually identify and set up each field.

[2017-10-16 17:22] mmmavis commented on #493
Oops, sorry... have to reopen it again since we haven't verified it on staging. Moving this to the "pending verification on staging" pipeline. @kristinashu or @xmatthewx please close this ticket if things look good on staging.

[2017-10-16 17:25] kristinashu commented on #493
Yeah looks good!

[2017-10-16 17:25] #493 closed

[2017-10-16 17:27] kristinashu commented on #770
I don't think these fields should show the character count. It will feel pretty overwhelming for users if every fields has a counter.

[2017-10-16 17:36] kristinashu commented on #769
Curious what others think but I believe Title is the only field that really needs it.

Now that we have a dedicated page for each post, we probably don't need a counter for the Description (or Interest and Get involved). I would prefer to encourage people to write and if it becomes a problem then we can start to enforce a limit but until then, let's not deter people from posting.

But yeah, this c

[2017-10-16 17:44] xmatthewx commented on #769
Your call @kristinashu. I guess I'd keep some limit, so people don't go nutz, (or malicious people don't try and crash things) but it's fine to expand, but glad to expand things if it's better for users.

[2017-10-16 17:47] #764 closed

[2017-10-16 17:49] xmatthewx commented on #748
Another note: during review, we should add mozfest tag to items, especially if they'll be featured.

[2017-10-16 18:01] acabunoc commented on #748
I added `mozfest` to the ones I approved. I noticed there's also a `mozilla festival` tag. Just to confirm, we're doing `mozfest` instead of `mozilla festival`?

[2017-10-16 18:09] #752 closed

[2017-10-16 18:23] mmmavis commented on #769
We should keep character/word limits in the backend. Posting things that exceed their limit will probably result some server error back. We can either do validation on the front end level (character count, before user is able to submit the form) or display the server error in a user friendly way (this is after user submitted the form)

@Pomax thoughts?

[2017-10-16 18:26] mmmavis commented on #770
( similar discussion: https://github.com/mozilla/network-pulse/issues/769#issuecomment-336982805 )

If not showing character count, do we wanna keep character/word validation on the front end?

[2017-10-16 19:21] xmatthewx opened #771 "Sign-in Experience"
This epic collects the new sign-in view, copy, and issues to related to UX, flow, redirects.

[2017-10-16 20:12] alanmoo commented on #706
@gvn to start based on known response schema, even if that response doesn't come from anywhere yet

[2017-10-16 20:40] gvn commented on #706
@gideonthomas Can you give me some dummy data (and/or schema) for the autocomplete route?

[2017-10-16 20:41] mmmavis commented on #755
Hey @aayushsanghavi thanks for offering help. This ticket is still on planning mode plus bits of it are blocked by to-be-implemented backend work (determine whether current user has seen his/her own profile). I don't think this is ready for implementation yet. @xmatthewx can you adjust milestones and labels so they reflect the state of this ticket properly? Thanks!

[2017-10-16 21:13] alanmoo commented on #706
Reminder: tags already has auto-complete, let's see if we can leverage that component with this.

[2017-10-16 21:30] xmatthewx commented on #706
@gvn - this comment might be useful for some context on creators model, though it contains more than you need to know. https://github.com/mozilla/network/issues/713#issuecomment-333219639

[2017-10-16 22:03] xmatthewx commented on #748
Great. Yes, let's use `mozfest`.

[2017-10-17 17:19] gideonthomas commented on #706
@Pomax can provide data that you will fetch for autocomplete.

For submitting the entry with autocompleted creators, you will no longer use the `creators` property any more. Instead, here's the schema for another property that you would use:
[code]
Either the `id` or the `name` must be provided. Since it is an array, the order the objects are in should be the order they were entered into the input

[2017-10-17 18:21] gvn opened #772 "eslint isn't targeting some JS"
Need to add ` \"pages/**/*.js\"` to `test:js` targets and fix linting errors when `npm run test:js` is run.

[2017-10-17 20:33] gvn commented on #706
@xmatthewx Implementing the UI for creators is currently problematic due to some limitations with the `react-formbuilder` library (filed issue https://github.com/Pomax/react-formbuilder/issues/55).

Would it be acceptable to use the same UI pattern as tags for creators?

[2017-10-17 21:52] xmatthewx commented on #706
Probably?  So comma separated names? Is the change on react-form builder significant?

I guess we start with tags-like UI, then refactor later if it seems like a problem.

 What do you think @kristinashu?? Seem viable?

[2017-10-17 22:01] gvn commented on #706
Yeah, comma separated names just like tags.

I don't know how significant a change it is to react-formbuilder, but even if it's added it'll be more complex to implement. It's also possibly a little more accessibility/assistive-device-friendly as a single field.

That sounds good to me. It'll allow me to move forward faster as well.

[2017-10-18 16:24] alanmoo commented on #706
This makes a lot of sense to me. MVP.

[2017-10-18 16:54] xmatthewx commented on #746
I've added 5 new events in the [spreadsheet](https://docs.google.com/spreadsheets/d/1x-CP_HYaAs3oRv2cjbSFu8w5Z938E4cyHQ3hvh17c6c/edit#gid=1060389854), lines 22-26.

Two would be very valuable during MozFest. Others could wait.
 - [ ] profile - social link tap
 - [ ] edit profile - submit error

[2017-10-18 16:55] xmatthewx commented on #746
@alanmoo - is this a thing you could tackle? Or, is this a good contributor task. We have other events wired up to demo our pattern.

[2017-10-18 16:58] xmatthewx commented on #713
I'm going to call this done. For QA, we'll just have to ask a few staff to create their profile, note their browser/device, and report hiccups. I'll set that up.

[2017-10-18 16:58] #713 closed

[2017-10-18 17:22] xmatthewx commented on #714
I created a test feedback form: https://mzl.la/pulse-test

When ready, we should ask a handful of staff to create their profile and test (Luke, Amira, Abby, Aurelia).

[2017-10-18 18:04] xmatthewx commented on #748
I created 1-page moderation guide so we can onboard a couple of staff. I'd welcome feedback @jessevondoom @Sydette @hannahkane

https://mzl.la/pulse-moderation

[2017-10-18 21:14] mmmavis commented on #700
Done!

[2017-10-18 21:14] #700 closed

[2017-10-19 04:22] gideonthomas commented on #706
@gvn, tweaked the schema slightly - instead of `id` we're calling it `creator_id` now.

[2017-10-19 15:22] xmatthewx opened #775 "Associate and clean up existing Creators"
Pulse has existing Users with Profiles that we want to associate with existing Creators.

I dug through the DB, and prepped a spreadsheet. Notes on the tabs...

### Part 1
 - [x] **associate**: matching names. note: a few names match multiple users. i de-duped them. this list is clean and only includes preferred match.
 - [x] **associate 2**: a few names matched, but strings differed slightly.
 -

[2017-10-19 17:00] xmatthewx commented on #714
Started a [doc](https://docs.google.com/document/d/1eXHw_-coU-vwsaogJsQlTKtwF4trUmJPOINQ9scnZTE/edit#) to collect things with @alanmoo

[2017-10-19 18:15] xmatthewx commented on #746
While we do this, we might try and add more info to the `Label` for `Category: 'Add New'; Action: 'Submit Error';`. That's related to Entry Form not profiles. It's scope creep, but currently we don't know why users fail.

![image](https://user-images.githubusercontent.com/53411/31786839-dbc1f394-b4d7-11e7-941e-06f73f354149.png)

[2017-10-19 18:37] xmatthewx opened #776 "Add links to Moderation view"
Entry cards in our Moderation view don't currently include the main link or the get involved link. We should add those so moderators can check the quality.

Link text can display full URL so we can see bad things like in the mockup below.

 `Link: <a href="[content_url]" target="_blank">[content_url]</a>`
 `Help: <a href="[get_involved_url]" target="_blank">[get_involved_url]</a>`

![image](https:

[2017-10-19 21:02] alanmoo opened #778 "Set up alerts if posting fails"
Maybe we could get a slack ping if a user gets an error so we can check it out?

[2017-10-19 22:24] Pomax commented on #518
This seems to have been fixed since, certainly on OSX for Chrome (tested with v60, no reload occurs)

[2017-10-19 22:26] Pomax commented on #518
Also fixed for Firefox on Android

[2017-10-19 22:27] Pomax commented on #518
Also fixed for Chrome on Android.

[2017-10-19 22:27] Pomax commented on #518
Closing as this bug seems to have been fixed.

[2017-10-19 22:27] #518 closed

[2017-10-19 23:31] Pomax commented on #742
backend issue landed and merged

[2017-10-20 00:42] mmmavis commented on #776
`get_involved_url` should already be there if it exists. If not then it would be a bug 😉

[2017-10-20 16:11] xmatthewx commented on #776
Ah yes! You're right.... Get involved is there already. I guess I saw several posts that didn't use it.

We should add the main link and also consider displaying URLs since anyone can post anything.

[2017-10-20 16:33] gideonthomas commented on #775
For Part 2, split, the only item that has been split is "Coral/Mozilla"

[2017-10-20 18:06] xmatthewx commented on #696
done!

[2017-10-20 18:06] #696 closed

[2017-10-20 18:48] xmatthewx commented on #775
Great. Thanks. Let's call this done. We can clean up other bits manually if and when people ask for it.

[2017-10-20 18:48] #775 closed

[2017-10-20 19:33] xmatthewx commented on #706
This is looking great. @gvn @gideonthomas -  I've noticed two things testing this so far:

 1. If I check the box "I am one of the creators" and enter myself below... I am included twice on the entry. We should de-dupe creator_ids on submission.
 2. We want to add an icon for creators who have a profile_id. We can file this as a follow up, but it's important for MozFest. It'll help users pick the

[2017-10-20 20:22] alanmoo commented on #706
I poked at the module we're using for autocomplete, and it looks like it only renders strings into the suggestions. So the most basic way we can quickly succeed on (2.) above is to add text/emoji/unicode to the username that indicates they're a profile. Like `😃 Daffy Duck`.

[2017-10-20 20:30] xmatthewx commented on #748
We're ready!

[2017-10-20 20:30] #748 closed

[2017-10-20 20:37] xmatthewx commented on #706
Hmm. Okay. Interesting. That sounds a bit hacky. Question: After the suggestion is accepted, does the item carry the creator_id? Or are we just sending back strings with the form? That probably wouldn't be good, since names don't have to be unique.

[2017-10-20 21:23] xmatthewx commented on #741
verified on staging! hurrah. closing.

[2017-10-20 21:23] #741 closed

[2017-10-20 21:24] xmatthewx commented on #727
verified on staging!! closing.

[2017-10-20 21:24] #727 closed

[2017-10-20 21:30] xmatthewx commented on #742
verified on staging! i think this and everything else is ready for some thorough QA!

[2017-10-20 21:30] #742 closed

[2017-10-20 21:35] xmatthewx commented on #706
So...
 1. this is resolved by https://github.com/mozilla/network-pulse-api/pull/246. true??
 2. we'll tackle this as a follow up

[2017-10-20 21:46] #706 closed

[2017-10-20 22:34] flukeout opened #783 "Staging QA: Site not loading in Chrome"
In Chrome, when loading https://network-pulse-staging.herokuapp.com/ - the site redirects me to https://network-pulse-staging.herokuapp.com/featured and after briefly displaying some content, it goes to a blank white screen.

Works fine in Firefox.

What I see...

![image](https://user-images.githubusercontent.com/25212/31844169-15445556-b5ac-11e7-9d7b-c3c873e52cda.png)

Console says...

![image](

[2017-10-20 22:55] flukeout commented on #783
Closing as I am no longer experiencing this. Nothing has changed on my end, but now the site loads correctly.

[2017-10-20 22:55] #783 closed

[2017-10-23 15:41] alanmoo opened #784 "Social links on profile appear even if values aren't set"
<img width="509" alt="image" src="https://user-images.githubusercontent.com/1682681/31898374-0317f918-b7e7-11e7-8b9a-cee2790f8204.png">
These graphics show up even when I haven't added links in my profile. I'm guessing we should hide them

[2017-10-23 16:26] alanmoo commented on #776
What do you mean by "consider displaying URLs"?

[2017-10-23 16:39] xmatthewx opened #786 "QA: Remove comma from "Hi, Username""
this is debatable. i think it looks funny. definitely not critical.

[2017-10-23 16:46] taisdesouzalessa opened #787 "Bug: Issue tags on Profile page are mapped to wrong urls"
Once I see my profile and click on one of the interests, I am taken to a new page that filters posts related to that interest. My expectation would be to have it highlighted at the top so I feel sure the posts are filtered according to the issue I am interested on: "Decentralization", "Digital Inclusion" and so on.

![pulse](https://user-images.githubusercontent.com/22157921/31901663-f0da4fae-b7d6

[2017-10-23 16:50] flukeout opened #788 "Staging QA: Mobile - (+) button overlaps footer content."
The `(+)` button overlaps some of the content in the footer. Can we add some extra padding to the bottom or right of the footer?

![image](https://user-images.githubusercontent.com/25212/31901830-87713f36-b7d7-11e7-8937-b20149886328.png)

[2017-10-23 16:52] xmatthewx commented on #787
Interesting. Good catch. It works if you tap an Issue on a project card, but not on a profile.

Note: this is not critical. It can wait until post-MozFest.

[2017-10-23 16:52] flukeout opened #789 "Staging QA: Plus (+) button hard to see in footer."
On mobile we don't get a hover state, so the plus button will always be black. It's hard to see against the footer...

![image](https://user-images.githubusercontent.com/25212/31901906-cf0598b0-b7d7-11e7-9a6d-3cf3ac2ee66e.png)

[2017-10-23 16:54] flukeout opened #790 "Staging QA: Entries have double <hr> below the Get Involved section."
Suggestion would be to just add some padding or extra space instead. Looks like there is missing content or something.

![image](https://user-images.githubusercontent.com/25212/31901974-2123a1dc-b7d8-11e7-8690-eca678d40826.png)

[2017-10-23 16:55] flukeout opened #791 "Suggestion: Ability to pre-populate the link to the entry when using Contact Us form."
When soliciting corrections, it would be nice to pre-populate the name of the entry of the link or something into the form to streamline the process for users.

[2017-10-23 16:59] flukeout opened #792 "Add background-blend-mode to uploaded images"
Looking through a single column list of entries can sometimes be visually confusing, as the images for the entries might have white backgrounds with text. It really breaks up the visual flow, see below...

![image](https://user-images.githubusercontent.com/25212/31902108-8d751c26-b7d8-11e7-9ba9-34249872c10f.png)

One way to address this would be to add a faint grey border around the images or mayb

[2017-10-23 16:59] xmatthewx opened #793 "Clarify help text on creators"
Adding new people (without autocomplete) requires a comma.

Old: "Name any other creators. This could be staff, contributors, partners…"

New: "Name any creators, contributors, partners. Comma separated."

[2017-10-23 17:02] flukeout opened #794 "Staging QA: Favs don't clear unless I leave and come back to Favs page."
Steps to reproduce

* Add some Faves
* Visit the Faves page
* Un-fave something
* Click Faves in the nav
* The page reload, showing the un-faved item
  * Expectation: The item shouldn't be there
* Browse away from Faves then back, it's no longer there

Also, I'm sure there was a huge discussion about this, but I like saying Faves way more than Favs

[2017-10-23 17:04] flukeout opened #795 "Staging QA: Get involved link & heading seem strange."
For many entries, the Get Involved section just includes a Get Involved link below it, which looks strange or unfinished somehow. Possible to change one or the other?

* Heading: Want to help? / How to help.
* Link: Get involved.

Or maybe just list the actual URL as the link for getting involved?

![image](https://user-images.githubusercontent.com/25212/31902376-7f03bc32-b7d9-11e7-8a61-c7e4c1c0be

[2017-10-23 17:06] #784 closed

[2017-10-23 17:07] xmatthewx commented on #790
Yep. Good catch. Note: this happens even with all optional fields filled in. We can drop sidebar <hr> on narrow views.

[2017-10-23 17:09] flukeout opened #796 "Staging QA: Improve placeholder text for Google Form inputs, they all say "Your Answer""
While name and email are pretty obvious, maybe can use it to give suggestions or help frame the message field. Or maybe just inject some personality...

* Field: Your name
* Placeholder: Pleased to meet you!

Or something like that.

![image](https://user-images.githubusercontent.com/25212/31902510-fee2ae04-b7d9-11e7-9ea4-5ec3bba6d6d7.png)

[2017-10-23 17:11] flukeout opened #797 "Staging QA: "1 Results Found" <- fix pluralization for results when there is only one"
The Syria tag only has one entry, but it says `Results` instead of `Result`

https://www.mozillapulse.org/tags/syria

![image](https://user-images.githubusercontent.com/25212/31902656-712596f2-b7da-11e7-8055-5d4586dfb8df.png)

[2017-10-23 17:14] flukeout opened #798 "Staging QA: Tag list shows 0 Results Found briefly before actual count"
If you refresh https://www.mozillapulse.org/tags/syria a few times, you'll notice that it shows 0 Results Found before showing the actual count. Let's hide this heading until the action is complete and we show the correct result?

![results-found](https://user-images.githubusercontent.com/25212/31902779-e92d7c00-b7da-11e7-8b69-b26038de2090.gif)

[2017-10-23 17:16] xmatthewx commented on #793
@alanmoo to investigate stripping commas that get entered between an auto-complete and new thing ... they get added to front of new person. let's do that separate from this copy update.

[2017-10-23 17:16] taisdesouzalessa opened #799 "Long names issue on mobile"
If a user have a long name, it displays on top of the logo instead of breaking into 2 lines:

![img_6097](https://user-images.githubusercontent.com/22157921/31902863-2b6378ae-b7db-11e7-88ba-125107753a0a.PNG)

[2017-10-23 17:17] taisdesouzalessa commented on #799
@xmatthewx assigning it to you so you can add the labels and priority as you see fit.

[2017-10-23 17:18] flukeout opened #800 "Staging QA: Confusing UX around Promote tag in get involved."
Entry https://www.mozillapulse.org/entry/469 has a Promote button at the bottom in the Get Involved section...

![image](https://user-images.githubusercontent.com/25212/31902925-62ae9b54-b7db-11e7-91d6-565445a3d776.png)

Clicking it links to https://www.mozillapulse.org/help/Promote which seems a bit confusing. I would expect a "Promote" button to maybe fire up some social media sharing options. M

[2017-10-23 17:21] flukeout opened #801 "Staging QA: Narrow mode - reset Scroll position when clicking a Tag"
**Steps to reproduce**

* Open any entry in narrow mode (single column layout)
* Scroll down to its tags and click one
* This will load a tag view
* Result: The page is scrolled down somewhat, sometimes between two entries
* Expectation: The page is scrolled to the top

[2017-10-23 17:23] flukeout opened #802 "Staging QA: Link URLs in copy added by users?"
The Get Involved section for https://www.mozillapulse.org/entry/483 has a URL in the copy. It would be nice if we converted it to a clickable link.

![image](https://user-images.githubusercontent.com/25212/31903150-21fdd902-b7dc-11e7-9a26-609ffb54107c.png)

[2017-10-23 17:25] flukeout opened #803 "Staging QA: When navigating to "Add" page, scroll page to the top."
Steps to reproduce

* Browse a long list in narrow, single column layout mode and scroll way down
* Now hit the add button
* You go to the add page
* Page is scrolled to the bottom of the form
* Expectation: Page is scrolled to the top

This also happens with the tag list view as filed in #801

[2017-10-23 17:26] flukeout opened #804 "Staging QA: Add page "Terms of Service" links to "Terms of Use""
Let's change the link to be consistent with the page people are navigating to?

![image](https://user-images.githubusercontent.com/25212/31903313-9f839812-b7dc-11e7-8edc-acdc921a69c7.png)

Goes to [Terms of Use](https://www.mozilla.org/en-US/about/legal/terms/mozilla/)

[2017-10-23 17:26] xmatthewx commented on #796
@flukeout google forms doesn't seem to allow customizing this. true? or am i missing something?

[2017-10-23 17:27] xmatthewx opened #805 "QA: Increase social media icon size on mobile"
On mobile, social icons are pretty tiny. Should have minimum of 40px touch target.

[2017-10-23 17:28] flukeout opened #806 "Staging QA: "Add Page" form error messages are hard to notice."
Here's a cap of a field with an 'error state'. I think it's too subtle given that we already use red for headings. Also on "mobile/narrow" mode, we don't scroll the page up when you have errors, so the user is left having to scroll up to notice these.

Some ideas..
* Add red border to field
* Red background, white text on the indicator
* Move indicator closer to field
* Add little arrow pointing u

[2017-10-23 17:29] xmatthewx opened #807 "Show Favs help text for logged-in users"
This view only shows the empty view tip to save your favs if a user is not logged in. Logged in users just get an empty view if they have no favs.

![image](https://user-images.githubusercontent.com/53411/31903459-270d66a0-b7f6-11e7-87ee-e0defe25e564.png)

[2017-10-23 17:30] flukeout opened #808 "Staging QA: "Add" Page has wording around "Are you a creator?" field"
![image](https://user-images.githubusercontent.com/25212/31903515-2b147e00-b7dd-11e7-904f-5c5beb0f394d.png)

Seems stilted. Can we simplify to

`[ ] I am one of the creators` without a label?

or change to

`[ ] Yes` and keep the label above.

[2017-10-23 17:35] xmatthewx commented on #795
We could have placeholder copy when there's no Description copy. "Help with this project..."

[2017-10-23 17:37] flukeout commented on #796
No, you are right - I just assumed it would be possible! Lame! You _can_ add a description below the field if you want, but no placeholders.

[2017-10-23 17:37] #796 closed

[2017-10-23 17:37] xmatthewx commented on #808
We had some technical limitations.

Let's go without second option. Leave heading and change checkbox copy to...
`[ ] Yes `

[2017-10-23 17:43] mmmavis commented on #776
@alanmoo I have time today so I can take this on if you haven't started working on it already.

As for `consider displaying URLs` I think Matthew probably meant listing the actual URL than just a hyperlinked text.

[2017-10-23 17:51] alanmoo commented on #776
Go for it

[2017-10-23 18:10] mmmavis commented on #776
@xmatthewx this is what we have currently
<img width="370" alt="screen shot 2017-10-23 at 11 08 06 am" src="https://user-images.githubusercontent.com/2896608/31905274-7ca724e8-b7e2-11e7-8591-8dd484ada1cf.png">

Do you want the "Get involved" hyperlinked removed from that section and add a *new* section that displays full URLs of the `content_url` and `get_involved_url`?

[2017-10-23 18:23] xmatthewx commented on #776
I think we can keep. Doesn't matter too much on moderation view. Use your judgement.

[2017-10-23 18:51] alanmoo commented on #715
What's the lift on this? I'm not sure it's a major bug- @xmatthewx?

[2017-10-23 19:02] xmatthewx commented on #715
It's not a launch blocker, just floating with us a while
 Might be blocked by an external dependency.

[2017-10-23 19:17] mmmavis commented on #797
haha thought I had this covered but apparent I did not

[code]

😂 😂 😂 😂 😂

[2017-10-23 19:25] xmatthewx commented on #604
I think we can close this! Though I recommend taking a look at all the closed items linked to this ticket. Truly epic!

[2017-10-23 19:25] #604 closed

[2017-10-23 19:28] mmmavis commented on #776
Sure, I can add an additional section there so moderation during MozFest can be easier. My only concern is the cards will get extra long with full URLs displayed. I guess if that becomes a problem hovering over on any hyperlinked element to check the full URL in browser can always be a solution.

For example: on Firefox, hovering over a hyperlinked element (in this case, "Visit") will show the ful

[2017-10-23 19:38] mmmavis commented on #799
Should we clip it or wrap it to the next line?

[2017-10-23 19:50] #793 closed

[2017-10-23 19:52] xmatthewx commented on #799
Let's clip it.

@kristinashu - if you have a better idea, jump in. Otherwise @mmmavis, in the interest of time and simplicity, let's just run with mockup below.

I think we can remove the comma too, to save on space.

![image](https://user-images.githubusercontent.com/53411/31910027-1f858764-b80a-11e7-9865-9270599536bc.png)

[2017-10-23 19:53] xmatthewx commented on #776
We'll likely do a bunch of moderation on mobile since the interface is so nice.

[2017-10-23 20:30] mmmavis commented on #797
Fixed!

[2017-10-23 20:30] #797 closed

[2017-10-23 21:33] xmatthewx opened #813 "Signout link doesn't work in one scenario"
If I view my profile via /user/id, I see a signout link but it doesn't seem to work. I nav to this view anytime I tap my name on an entry, rather than via my name in header.

Not critical, not ideal.

[2017-10-23 21:36] xmatthewx opened #814 "Critical: profiles display all entries, regardless of moderation state"
My profile, regardless of login state, displays two declined entries. https://www.mozillapulse.org/profile/85

[2017-10-23 21:41] xmatthewx commented on #814
I'm on mobile. Hard to test. Please confirm.

[2017-10-23 21:46] mmmavis commented on #814
https://network-pulse-api-production.herokuapp.com/api/pulse/profiles/85/ does included the 2 declined entries. Let's fix this at the API level

[2017-10-23 21:47] Pomax commented on #814
agreed - we should make the API only pull `Entries.objects.filter(moderation_state=Approved)`

[2017-10-23 21:48] Pomax commented on #814
filed https://github.com/mozilla/network-pulse-api/issues/248 on the API side

[2017-10-23 23:16] Pomax opened #816 "tags/creators are lost if the user does not explicitly auto-complete them."
It's possible for user input for tags and creators to get lost, even though from a user's perspective that should clearly get recorded, in the case of the user clicking away from an autocomplete field, rather than tabbing to the next one or accepting an autosuggestion from the input element.

This makes it possible for entries with single tags to get submitted without any tags at all if the user c

[2017-10-23 23:18] Pomax commented on #715
I filed a PR that fixes a bug on tag/creator processing while the user fills out the entry form, which also unblocks this bug from being worked on.

[2017-10-24 02:33] alanmoo commented on #786
For the record, I disagree.

[2017-10-24 10:51] xmatthewx opened #818 "Update manifest to include browser UI"
Pulse entries previously had a back button. Now that they don't have one, we should update the manifest to include browser ui. This would also make native sharing possible.

`"display" : "minimal-ui"` might work. If not `"browser"`.

[2017-10-24 11:15] xmatthewx opened #819 "Expand search to include Creator names"
Search is awesome on entries. Let's expand it to enable a search by creator or published_by names.

[2017-10-24 15:08] xmatthewx commented on #714
donzo! thanks everyone!!

[2017-10-24 15:08] #714 closed

[2017-10-24 15:08] xmatthewx commented on #799
this is done. looks great. thanks!

[2017-10-24 15:08] #799 closed

[2017-10-24 15:16] xmatthewx opened #820 "Optimize header & nav for small screens"
Pulse is awesome on mobile. It could use a little TLC up top on small screens. When 320px wide (iphone 5), the search icon falls to the second line. Sign-up, sign-in gets cut off (could we just say "Login" up there?).

![image](https://user-images.githubusercontent.com/53411/31951487-4a6b6ca8-b8ac-11e7-8f97-1eb0abba2c53.png)

cc @kristinashu

[2017-10-24 15:21] kristinashu commented on #820
We could either turn the logo into the "m" only or go with just "Signin"?

[2017-10-24 17:03] #776 closed

[2017-10-24 17:26] Pomax opened #821 "cache historic profile views"
profiles seem to not be recorded in the app history. STR:

- load a profile, preferably a beefy profile with lots of published/created entries
- click on one of the entries to load it
- on the entry page, click back

expected: profile was cached and is restored instantly
actual: profile gets fetched from the API anew, leading to long load times and probably wasted bandwidth

[2017-10-24 17:27] Pomax commented on #821
do we want to fix this before mozfest @matthew @alanmoo? (feels like we might not have the FTEs for that)

[2017-10-24 17:49] alanmoo commented on #821
Is this purely front-end or is there a back-end component to this too? I wonder how long it takes to build my profile on the backend vs simply serve it across the pipe. (https://api.mozillapulse.org/api/pulse/profiles/93/?format=json)

[2017-10-24 18:20] xmatthewx commented on #821
Profiles are noticeably the slowest thing on Pulse. It's worth doing if we have the time and energy.

[2017-10-24 18:23] xmatthewx commented on #820
I think yes to both

[2017-10-24 20:39] #816 closed

[2017-10-24 21:24] #808 closed

[2017-10-24 21:48] alanmoo commented on #807
Just to be clear- the request here is that "the content of the screenshot should show up if a user is logged in but doesn't have any favs", is that correct?

[2017-10-25 08:49] xmatthewx commented on #807
Yes, everyone should see this help text if they have no favs, regardless of auth state.

[2017-10-25 09:15] xmatthewx opened #825 "Create a People list view"
Now that we have Profiles of people, accessible via entries, it would be great to have a list view of all of these profiles.

~~Design of a profile summary card could probably happen in parallel with setting up an MVP /profiles view.~~ We could build this out on production, leave it off the primary nav until ready. We could add a link at bottom of an individual profile that says "See more profiles

[2017-10-25 13:05] xmatthewx commented on #825
Actually, we can reuse the the profile component as is, just add a simple divider.

 - 3em of margin on top and bottom of the `<hr>` on desktop.
 - Name and thumbnail should link to the profile

![image](https://user-images.githubusercontent.com/53411/32000051-6019666a-b963-11e7-97e7-8af1a969a917.png)

[2017-10-25 13:09] xmatthewx commented on #825
@alanmoo @gideonthomas this could be a great task for one of humph's students. Would be amazing to have this to share at the end of MozFest.

[2017-10-25 14:06] alanmoo commented on #818
Closed by #823

[2017-10-25 14:06] #818 closed

[2017-10-25 15:33] #814 closed

[2017-10-26 20:16] alanmoo commented on #746
Are you looking for the validation-time errors here?

[2017-10-27 09:32] xmatthewx commented on #746
UX-wise, we want a view into whether our form and instructions aren't clear. To see what might be tripping people up, causing user errors. It's okay if Label is a little verbose, but the full messages are probably too much. Maybe a list of input names that failed? If this gets tricky, let's land the events first, worry about this after.

[2017-10-27 14:05] cadecairos commented on #778
Plan: Create a label in LogEntries that will apply to logs which indicate a posting failed. This will trigger a Slack post to `mofo_network_pulse` to inform us of the error.

[2017-10-27 17:05] cadecairos commented on #730
I think what we need here is something like we have in network:

https://github.com/mozilla/network/blob/6f8ec149d79bc1cb4f198edaebebf95679641e63/network-api/app/networkapi/settings.py#L378-L382

So that we can just whitelist all domains.

As it stands right now, I don't see any problem making our data available cross origin. if some random site starts using our data and DOSing pulseapi, then we c

[2017-10-28 10:39] xmatthewx opened #828 "Link submission thanks to Profile"
New users are submitting entries, but most are not filling out their profile. We have plans for notifications/CTAs, but until then, a simple interim solution, let's update the copy and links in our thank you message.

 - Msg: "After moderation, you can find your entry on your profile." [links to /profile/me]
 - Button: "Edit your profile" [links to /myprofile]

![image](https://user-images.githubu

[2017-10-28 12:01] #828 closed

[2017-10-31 19:56] #730 closed

[2017-11-01 10:51] patjouk commented on #778
The alarm and tag were created on logentries. Closing this ticket 🎉

[2017-11-01 10:51] #778 closed

[2017-11-06 20:00] xmatthewx opened #830 "Prep Pulse for partner and contributors"
Issues to file:
 - [x] recap use at MozFest and user research
 - [x] improve developer ergonomics
 - [x] improve contributor docs & readme & about entry (#889)
 - [x] set up API versioning
 - [x] plan reward and recognition of contributors (callout on pulse profile) (#890)
 - [ ] identify meaty, non-critical path features for CDOT and other contributors

[2017-11-06 20:07] xmatthewx commented on #710
done! closing.

[2017-11-06 20:07] #710 closed

[2017-11-06 20:07] xmatthewx commented on #738
done. closing!

[2017-11-06 20:07] #738 closed

[2017-11-06 22:53] mmmavis opened #831 "Fix linting errors"
This is a followup ticket for PR https://github.com/mozilla/network-pulse/pull/774. A lot of new code has been introduced since PR https://github.com/mozilla/network-pulse/pull/774 was filed. I'm gonna merge that PR first and file a followup PR to fix linting errors.

[2017-11-06 22:55] #772 closed

[2017-11-07 01:11] #831 closed

[2017-11-07 18:10] xmatthewx commented on #746
@alanmoo did you start on this? @mmmavis, want to pick this up?

[2017-11-07 18:11] xmatthewx commented on #743
I love this, but I think the ship has sailed. We can reopen this if another need pops up.

[2017-11-07 18:11] #743 closed

[2017-11-07 18:19] alanmoo commented on #746
I started poking at it, but nothing substantial was done. I ran into some difficulty trying to decide what was actually worth reporting.

Relevant but separate: I believe @patjouk built some monitoring for failed submissions on the server side.

[2017-11-07 18:23] kristinashu commented on #820
New nav should solve this https://github.com/mozilla/network-pulse/issues/731

Can we close?

[2017-11-07 18:44] kristinashu commented on #789
This won't be an issue with the new UI updates https://github.com/mozilla/network-pulse/issues/731 so closing this ticket.

[2017-11-07 18:44] #789 closed

[2017-11-07 18:45] kristinashu commented on #788
This won't be an issue with the new UI updates https://github.com/mozilla/network-pulse/issues/731 so closing this ticket.

[2017-11-07 18:45] #788 closed

[2017-11-07 22:20] mmmavis commented on #805
Do we want to 1) make those icon bigger (40px wide) or 2) add spacing in between icons?

[2017-11-07 23:51] alanmoo opened #834 "Improve developer ergonomics"
Sister ticket to https://github.com/mozilla/network-pulse-api/issues/258

We should focus on making this repo easier for people to spin up for the first time. (Some of these may already be done, I'm just making a list of things we need to check)

- [x] Make sure the staging API is configured to allow access and login from a local instance of the client-side repo
- [x] Make sure the documentation r

[2017-11-08 10:06] patjouk commented on #746
@alanmoo We set up an alarm on logentries that will warn us if posting fails.

[2017-11-08 23:12] kristinashu commented on #708
We could add a little x icon over the image to delete:
<img width="661" alt="screen shot 2017-11-08 at 3 08 07 pm" src="https://user-images.githubusercontent.com/1068783/32579648-bfb7c3ee-c496-11e7-9f1a-11ab3c03b2d2.png">

Specs:
- circle is 24px wide
- [icon-delete.svg.zip](https://github.com/mozilla/network-pulse/files/1455735/icon-delete.svg.zip)

For reference, here are a few examples of what

[2017-11-08 23:22] kristinashu commented on #806
Yeah let's do what was in the comps!

- Red border around the field
- Indicator close to field
- X next to text

<img width="685" alt="screen shot 2017-11-08 at 3 19 10 pm" src="https://user-images.githubusercontent.com/1068783/32580014-46d356b2-c498-11e7-9dab-e71cc7578f48.png">

[2017-11-08 23:25] kristinashu commented on #786
Space in the header on mobile is tight. Let's remove `Hi,` altogether and just say the name!

[2017-11-09 01:08] mmmavis commented on #801
This only happens when you click on the `tag` that you originally came from and I think this is the expected behaviour.

e.g.,

1. visit https://www.mozillapulse.org/tags/mozfest
2. click on "Sharing Resources for Making Webgames" project card ![screenshot-2017-11-8 sharing resources for making webgames - mozilla network pulse](https://user-images.githubusercontent.com/2896608/32583054-831c1182-c4

[2017-11-09 14:37] xmatthewx commented on #801
ah, i see the confusion. @mmmavis that's great implementation. and good sleuthing. thanks! this is not a bug. closing.

[2017-11-09 14:37] #801 closed

[2017-11-09 15:09] xmatthewx commented on #820
addressed in #731

[2017-11-09 15:09] #820 closed

[2017-11-09 16:24] kristinashu commented on #805
Icon size is ok, just made the hint area bigger please.

[2017-11-09 17:37] mmmavis commented on #834
- [ ] Make sure review apps are whitelisted by staging API

[2017-11-14 16:44] mmmavis commented on #731
@kristinashu this is ready for QA on staging: https://network-pulse-staging.herokuapp.com Things are not pixel perfect as I found some inconsistency in existing elements between Sketch file and production site. Please take a look at the staging site and let me know if anything needs changing. 😃

[2017-11-14 17:16] kristinashu commented on #731
Exciting! Thanks @mmmavis!

#### Few updates to make it more like the comp and Foundation site:
- reduce height of the entire header (from 220px to 180px)
- make '+' icon hover state smooth like on Foundation site, rather than sudden jump
- selected state for menu item should be underlined
- link the little 'm' to the Feature page (like the full logo)
- here's the logo in black [pulse-logo.svg.zip

[2017-11-14 17:24] kristinashu opened #838 "Update fav icon"
Please update the fav icon the 'm' bug like on [Foundation site](https://foundation.mozilla.org/).

[2017-11-14 18:53] xmatthewx commented on #803
👍 this is good to ship

[2017-11-14 18:53] #803 closed

[2017-11-14 18:55] xmatthewx commented on #813
Works as expected. Good to ship. Closing.

[2017-11-14 18:55] #813 closed

[2017-11-14 19:01] xmatthewx opened #839 "Update eLife entries"
A bunch of entries were started during MozFest, but content was completed afterward. We need to lend a hand to update them. Content in [this doc](https://docs.google.com/document/d/1gE_z_ZAxDg4lGcgPOkBJwGdmoOtJeVK4UKnry6So9nw/edit). Hopefully everything transfers easily and doesn't require back and forth with our contact.

[2017-11-14 20:25] kristinashu opened #840 "Remove Featured from nav"
@xmatthewx how do you feel about removing Featured from the nav and just relay on the Mozilla logo to link to the Featured page.

#### Pros
- fewer options feels less overwhelming for users
- fits better on mobile
- it's what the Foundation site does
- more modern trend

#### Cons
- might not be as obvious for everyone so Featured might get less traffic

Can analytics help us decide?

[2017-11-14 21:02] kristinashu opened #841 "Add a persistent search bar to signal this feed is also an archive"
Feedback from a user was that a more prominent search bar would help the app feel more like an archive of info. I will play around with some designs.

@xmatthewx is that right?

[2017-11-14 21:57] kristinashu opened #842 "Update in text links to black with underline"
Text links (that are not main titles) should be black with underline and update to blue on hover (like how they are on [profile page](https://www.mozillapulse.org/profile/me) and [IRH site](https://internethealthreport.org/2017/10/19/if-not-a-chatbot-then-what-the-next-report-is-taking-shape/)).

Needs updating:
- users with a profile
- 'Contact us.' link on project detail view
- 'Learn more.' lin

[2017-11-14 23:24] kristinashu opened #843 "Left align posts"
Currently on staging when there are 1-2 post then they are centered, but this looks a little off since everything else is left aligned. Please update the posts so they are left aligned.

#### Screen cap from: https://network-pulse-staging.herokuapp.com/profile/2
<img width="1261" alt="screen shot 2017-11-14 at 3 19 26 pm" src="https://user-images.githubusercontent.com/1068783/32810319-49d2104a-c94

[2017-11-15 17:54] xmatthewx commented on #843
Do we want this for all views? Or just Profiles? (I'm fine either way)

[2017-11-15 17:57] xmatthewx commented on #841
Yes, but I was the user who said that. I also wonder if adding Featured/Trending tags and help categories at the top of the landing page (with or without search bar), could also send that signal. Worth discussing and then maybe some quick mock ups.

[2017-11-15 18:00] kristinashu commented on #843
All views please.

[2017-11-15 22:52] xmatthewx commented on #840
I took a look at Analytics, specifically at new users who arrive via a link to something specific. For people who landed on /tags/mozfest as their first page, roughly 50% who stayed went to /featured. For people who landed on our highest traffic entry /entry/438 (Ding magazine), roughly 33% who stayed went to /featured. So there's some risk with new users who arrive via a link to a subpage.

One o

[2017-11-15 22:58] xmatthewx opened #844 "Remove legacy GA Event on Nav"
We have some legacy Analytics Events on our navigation from the Pulse prototype. These are now covered by our routes and Page views. The legacy events actually make it harder to evaluate things, because we get some duplication and ambiguity.

Let's remove anything with `Category: 'nav link'` and `Action: 'clicked'`

[2017-11-16 17:39] xmatthewx commented on #839
@stephwright is going to valiantly lend me a hand on this.

[2017-11-16 18:01] xmatthewx commented on #746
@mmmavis we have a related issue. you can keep separate or do together, whatever makes sense. #844

[2017-11-16 18:42] xmatthewx commented on #795
We currently display default copy, but only if there's no text AND no link.

 - We should display default copy it if there's no text, regardless of whether there is a link or not.
 - We might also change copy on that link to "Start here".
 - I recommend we always put the link on a new line, below the copy.
 - Lastly, I wonder if we should have a header above help tags.

cc @kristinashu for feedbac

[2017-11-16 19:05] xmatthewx commented on #807
perfecto

[2017-11-16 19:05] #807 closed

[2017-11-16 19:36] mmmavis commented on #731
@kristinashu

Tweaks will be up on http://network-pulse-staging.herokuapp.com/ in about 10 mins (currently being deployed)

### Addressed the following items on https://github.com/mozilla/network-pulse/issues/731#issuecomment-344330899

### Didn't get addressed

Not sure what this file is for. Might be for logo hover state? I checked a few Mozilla sites and none of them inverses logo colour on hov

[2017-11-16 20:19] kristinashu commented on #731
Awesome! Looks good!

[2017-11-16 20:19] #731 closed

[2017-11-16 21:12] mmmavis commented on #786
Fixed!

[2017-11-16 21:12] #786 closed

[2017-11-16 21:46] stephwright commented on #839
Updated the doc for content.  Noted those items which just need editing on existing entries and made comments on those where I'll reach out to the project leads to add new entries themselves.  There are a couple where I need to reach out to the project leads and get more info.  I've noted those as well.

[2017-11-17 00:42] xmatthewx commented on #795
Another option: if they have a link, require some text. I hate to add blockers, but it might be reasonable. That would cut out the middle option.

[2017-11-17 18:17] kristinashu opened #848 "Explore future designs"
Based on [possible feature list](https://docs.google.com/document/d/1TACXvkcMTW4gTLrdfc7JsGkbYkNupZMnqYqpQtAvo00/edit#heading=h.juix5745j88), I will play around with layouts. Just exploring, nothing concrete.

Benchmarks: https://docs.google.com/a/mozilla.com/presentation/d/1KZ0HlUaIMXdXDvmKJo9GArCVPbT8T_wetGdL2qPyOS4/edit?usp=sharing

Comps: https://redpen.io/p/of380006b3156e2c51

[2017-11-17 20:20] mmmavis commented on #838
@kristinashu can you help export files (180x180 @ 2x and 196x196 @ 2x) ? I realized PNG files on https://github.com/mozilla/foundation.mozilla.org/tree/master/source/images/favicons are not for retina.

[2017-11-17 20:23] xmatthewx commented on #805
this  screenshot shows the relative size of icons on profile versus entry. the profile ones still feel small to me. we can live with this, nobody will be injured, but seems like a good opportunity to align styles.

<img width="219" alt="image" src="https://user-images.githubusercontent.com/53411/32967259-ef2f63aa-cbaa-11e7-849f-978bcc1eb8a7.png">

[2017-11-17 20:29] kristinashu commented on #838
Here are the retina images and the svg in case you need it too:
![apple-touch-icon-180x180 2x](https://user-images.githubusercontent.com/1068783/32967550-e67aa6ec-cb92-11e7-8a1b-2c79db79d71f.png)
![favicon-196x196 2x](https://user-images.githubusercontent.com/1068783/32967551-e69949da-cb92-11e7-8757-9afc88fc9f78.png)
[moz-fav.svg.zip](https://github.com/mozilla/network-pulse/files/1483736/moz-fav.

[2017-11-17 20:36] kristinashu commented on #805
Oh I didn't realize you where talking about the links in profiles... I'll take a look.

[2017-11-17 20:36] mmmavis commented on #805
The fix to increase hint area has been merge to `master` and pushed to staging. If we want to change icons on profile so they align with icons on entry we should file a new ticket!

[2017-11-17 23:02] mmmavis commented on #787
Currently only the 5 child routes under `/issues/` will load projects of a particular internet health issue as expected. Any other route under `/issues/` will just load all projects on Pulse.

- /issues/online-privacy-and-security
- /issues/open-innovation
- /issues/decentralization
- /issues/web-literacy
- /issues/digital-inclusion

Issue tags on profile page link to `/issues/<issue name>` direct

[2017-11-17 23:39] mmmavis opened #852 "Better /issues/ child routes handling"
Currently only the following 5 child routes under `/issues/` will load projects of a particular internet health issue as expected. Any other route under `/issues/` will just load ALL projects on Pulse.

- /issues/online-privacy-and-security
- /issues/open-innovation
- /issues/decentralization
- /issues/web-literacy
- /issues/digital-inclusion

[A bug](https://github.com/mozilla/network-pulse/issue

[2017-11-17 23:40] mmmavis commented on #787
I filed a PR to fix the bug on profile page. [Followup ticket](https://github.com/mozilla/network-pulse/issues/852) has been filed so let's discussion there what long term solution we wanna go for.

[2017-11-17 23:50] mmmavis commented on #825
I might be mistaken but currently there's no API endpoint to retrieve all users or all profiles on Pulse. Gonna mark this ticket blocked :stop_sign:

[2017-11-17 23:54] mmmavis commented on #477
THIS IS DONE!!! Thanks everyone who contributed! 🍰 ☕️ 🍵 🍺 🍫 :shallow_pan_of_food:

[2017-11-17 23:54] #477 closed

[2017-11-17 23:58] mmmavis commented on #470
Now might be a good time to work on this ticket. Moving it to the current milestone first so I can revisit next week.

[2017-11-20 15:40] alanmoo commented on #852
I don't think a 404 is necessary, but if a route isn't matched we could just lop off the issue and redirect to `/issues/`

Yes/No? If this is agreed on, let's make this a "help wanted" item, as I don't think it's a significant issue.

[2017-11-20 18:31] mmmavis commented on #843
@kristinashu good on staging? https://network-pulse-staging.herokuapp.com

[2017-11-20 18:31] mmmavis commented on #838
@kristinashu I'm gonna do a prod push if this looks good on staging.

[2017-11-20 18:33] kristinashu commented on #843
Looks great!

[2017-11-20 18:34] kristinashu commented on #838
Go for it!

[2017-11-20 18:34] mmmavis commented on #843
Yay!

[2017-11-20 18:34] #843 closed

[2017-11-20 18:35] mmmavis commented on #852
Works for me. I didn't like the 404 solution either... but just wanted to put it out there.

/cc @kristinashu ^^

[2017-11-20 18:35] mmmavis commented on #838
🎉

[2017-11-20 18:35] #838 closed

[2017-11-20 20:17] mmmavis opened #854 "Verify README is up to date"
Run a fresh install and see if anything in README needs to be updated.

[2017-11-20 21:56] mmmavis opened #855 "Profile - separate published projects and created projects into their own tab"
@kristinashu

Amazing people like [An-Me](https://www.mozillapulse.org/profile/77) have tons of associated projects on the profile profile. The current implementation/design makes it hard to spot the created project section. I wonder if we can come up with an idea to help created project list less buried. Section header treatment? Tabs?

[2017-11-20 22:21] xmatthewx commented on #855
Yep. Full profile [design](https://redpen.io/qua34b5932cdb6cf9f) has tabs, though we'd need to figure out mobile. We could try and tackle this alongside adding the Favs, which will make it even more important.

[2017-11-20 22:35] xmatthewx commented on #839
Thanks @stephaniemcv. Let's follow up with each other next week to see what's left.

[2017-11-20 23:15] stephaniemcv commented on #839
Always up for a chat! My calendar is up-to-date, but I'll probably be of no use to you @xmatthewx. ;-)

[2017-11-21 02:30] mmmavis opened #856 "Form submission related analytics"
Followup for https://github.com/mozilla/network-pulse/issues/746
Spreadsheet of all GA events we are tracking: https://docs.google.com/spreadsheets/d/1x-CP_HYaAs3oRv2cjbSFu8w5Z938E4cyHQ3hvh17c6c/edit#gid=1060389854

---

We have 2 forms on Pulse - **add new entry form** and **profile edit form** and they are built using the `react-formbuilder` library.

### Fields that failed validation
When a for

[2017-11-21 14:48] alanmoo commented on #834
Great point, I think that one is the most useful of all of these @mmmavis - I keep having to log into heroku and whitelist a specific client-repo review app

[2017-11-21 16:26] xmatthewx commented on #839
Ooopsie doopsie 😊

[2017-11-21 16:31] xmatthewx commented on #856
Interesting. I like counting before success, if it's not tricky to implement. And... we'll want to capture failure events that lead to abandonment too, not just success. So I wouldn't get rid of `submit error`.

Where do we get the inline error messages from? Does form building include those inline without reporting to you in the response? Is there no way to capture those affected field names and

[2017-11-21 16:50] xmatthewx opened #857 "Fetch google avatar for profiles by default"

[2017-11-21 16:51] xmatthewx opened #858 "Enhance Avatars"
Avatars help bring Pulse to life by revealing the people behind the projects. There's some work to be done to
 - make this easier for users to manage
 - display in more places

Requires
 - [to file]: Design: design a default profile avatar
 - [to file]: Frontend: implement default profile avatar
 - [to file] Backend: allow users to delete current profile pic
 - [#708] Frontend: allow users to dele

[2017-11-21 17:56] mmmavis commented on #856
@xmatthewx

If we wanna capture field names that didn't pass validation I believe we should update `react-formbuilder`. Doing it elsewhere would probably consider hacky. Tagging @Pomax to confirm.

For `submit error`, when would you like the event to be sent? If we are sending that GA event every time user clicks the submit button that means if it took an user 4 times to successfully submit the fo

[2017-11-21 18:27] xmatthewx opened #859 "Add Featured tags to top of Featured view"
Our default/home view could do a better job of communicating the types of stuff people can find in Pulse.

This task is to create a block on that view (below the header, above the entries) that gives people a few tags they can tap. This is a first step toward a more rich homepage, with less clutter in the nav.

Ex: `Privacy & Security` `MozFest` `Help Code`
(pointing to /issues/privacy..., /tags/m

[2017-11-21 18:29] xmatthewx commented on #859
Design-wise, we need to make a few decisions:
 - Can we iterate and add the tag block, without making other nav changes? We can easily remove /issues, it's low traffic. Other nav changes have bigger dependencies.
 - Should we include  `More` as the last item?
   - this could expand list right there, or link to an iteration of the /issues that include trending tags and help tags

[2017-11-21 19:15] xmatthewx opened #860 "Add Favs to Profile"
Profiles list associated entries that a person posted or are listed as a creator. We'd like to add Favs as well.

Goals
 - **MVP**: list favs below posted/created
 - **Nice to have**: add tabs to switch between `projects` and `favs` (should be follow up at first sign it's slowing things down)
 - **Follow up**: add a profile checkbox to include favs or not on profile (out of scope for initial build

[2017-11-21 19:29] xmatthewx opened #861 "Enhance search"
Search is awesome. Let's enhance it to:
 - include people names in query (still returns a list of entries, not profiles)
   - [ ] (https://github.com/mozilla/network-pulse-api/issues/260) API ... squash bug, switch it on, or build it out
 - show a persistent search box (helps reveal pulse's power as an archive)
   - [ ] [#841] Design: Figure out nav dependencies. Create comp for mobile. (Note: thi

[2017-11-21 19:30] #819 closed

[2017-11-21 19:43] xmatthewx opened #862 "Enhance About info"
Pulse could use a bit more info about the platform, the value, and how to get involved.

Requires
 - [ ] define audience against personas (partners, project leads, contributors)
 - [ ] craft content
 - [ ] design: add visuals?
 - [ ] fontend: build route and simple template
 - [ ] after: link tagline to new view

[2017-11-21 19:50] xmatthewx opened #863 "Enhance IA & Navigation"
We have several overlapping initiatives that include revised IA and nav. These include a more rich homepage with featured tags, a persistent search box, and a box about pulse that appears on first time use.

While we will try to land some small iterations in this direction, we're likely to hit some interdependency.

This ticket is to track the overlapping work and keep it unblocked. There's still

[2017-11-21 19:56] mmmavis commented on #861
@xmatthewx if we are moving nav links away from nav bar I would like to have mockups for every type of pages on Pulse as well as their mobile version (if the page nav links will be positioned and styled differently on different views).

[2017-11-21 19:57] xmatthewx opened #864 "Track entries by origin/organization"
To explore partnerships, we want to add a feature that allows us to categorize entries (and people?) by their origin or organizational relation.

First step: Clarify a few things:
 - Is origin identified by user selecting options on the form? Or is it added via a query param? (partner could link to `pulse.org/add?origin=foo`)
 - Do want to build for a few origins, or should we abstract this as gro

[2017-11-21 20:13] xmatthewx commented on #861
Yep. Totally. We have some things to sort out design wise before this build can begin.

[2017-11-21 23:26] mmmavis commented on #344
Obsolete ticket. Closing.

[2017-11-21 23:26] #344 closed

[2017-11-22 00:30] mmmavis commented on #792
@kristinashu thoughts? 😃

[2017-11-22 00:35] mmmavis commented on #717
@cadecairos is this done?

[2017-11-22 00:40] mmmavis commented on #715
This seems to be fixed now. I just tried and the form was able to capture what I pasted in the "tag" field. Can you help verify @Pomax ?

[2017-11-22 00:51] mmmavis commented on #680
Deprecation warnings are no longer there!

[2017-11-22 00:51] #680 closed

[2017-11-22 00:53] mmmavis commented on #556
I think this is no longer an issue. Closing! 😁

[2017-11-22 00:53] #556 closed

[2017-11-22 16:59] xmatthewx opened #866 "Add Org Profiles"
Our Profile model allows for Profiles that are not associated with a user. This enables admins to create a profile for organizations that support projects.

 - [ ] [to file] fix bug or finish implementation
 - [ ] [to file] add top org profile content

[2017-11-22 17:02] xmatthewx commented on #866
@gideonthomas - There's either a bug, or some implementation work that remains. Can you take a quick look just to assess the status?

I added a profile for Mozilla, and tried to associate it with a Creator, but it didn't quite work. I think I tried to initiate the new profile from within django's Creator edit view, so association would be automatic.

creator_id = 27, 808 (trailing space?)
profile_

[2017-11-22 17:20] xmatthewx opened #867 "Update thanks message for unmoderated submissions"
When a User submits a new entry, we display a thank you message. We have one version for non-moderators (thanks w/o published entry), one version for moderators (thanks w/ published entry).

For non-moderators, we recently updated their thank you message to point them to their profile and encourage them to edit it.

For staff/moderators, we should do something similar.

Proposed implementation for

[2017-11-22 17:22] xmatthewx commented on #771
We added a link from the "thanks for your submission view" to encourage profile edits. I filed a ticket #867 to do the same for staff/moderators. It makes this other work less critical. Still valuable, but less critical.

[2017-11-22 20:27] mmmavis commented on #409
Could be something to do with GA, react-router, and [react-helmet](https://www.google.ca/search?q=react-helmet&ie=utf-8&oe=utf-8&client=firefox-b&gfe_rd=cr&dcr=0&ei=fN0VWofXBvPs8weNkJVo). I will take a look into this today.

[2017-11-23 01:21] mmmavis commented on #409
I wasn't able to reproduce the issue you were seeing @alanmoo ... but I found another issue about mismatching page and page title on GA

e.g., I went to Fav page first and clicked on the Issues link on nav bar to go to the Issues page
<img width="952" alt="screen shot 2017-11-22 at 4 56 54 pm" src="https://user-images.githubusercontent.com/2896608/33155543-30671cb0-cfa6-11e7-8dde-d3e9fda7fbb9.png"

[2017-11-23 01:43] mmmavis commented on #867
@xmatthewx It seems like the `/api/pulse/profiles/me/` endpoint doesn't include projects that haven't been approved. So either we update the backend or we change the "submission was added to your profile" line to something else.

[2017-11-23 01:45] mmmavis commented on #867
Oops I guess I read the ticket description wrong - was the proposed mockup for staff/moderator?

[2017-11-23 01:52] mmmavis commented on #790
Works good on staging and will be on production tomorrow!

[2017-11-23 01:52] #790 closed

[2017-11-23 19:07] mmmavis commented on #787
Fixed.

[2017-11-23 19:07] #787 closed

[2017-11-24 18:21] kristinashu commented on #636
Good point @mmmavis. I agree we should disable our links (like tags, usernames, share and fav icons) but am on the fence about disabling links the user added (like Visit and Get Involved) since they might want to double check these. I think as long as they open in a new tab, then it should be ok for them to be active. But I'm also open to disabling all links.

[2017-11-27 16:43] xmatthewx commented on #636
Good catch @mmmavis. I also agree that the links are useful for testing, even checking to see if you've linked to the right creator.

Could we intercept and make all preview links open in a new window?

[2017-11-27 16:56] xmatthewx commented on #867
Yes. I edited my initial comment to try and make it more clear. Slack me if this is still confusing. I can't login to staging right now to add more screenshots.

[2017-11-27 17:29] xmatthewx commented on #409
If Analytics has the correct slug and correct counting, I don't think it is critical. The page titles do look wacky in analytics, crisscrossed a bunch, but this isn't critical if the counting of reported routes are correct.

[2017-11-27 19:37] kristinashu commented on #863
This include a few chunks of work:
- move Search to main nav https://github.com/mozilla/network-pulse/issues/861
- remove Featured, Latest, Issues, and Favs from main nav
  - integrate Featured, Latest, Issues, Tags... into a some sort of sub nav https://github.com/mozilla/network-pulse/issues/859
  - integrate Favs into profile view https://github.com/mozilla/network-pulse/issues/860

Smaller thi

[2017-11-27 21:52] mmmavis commented on #806
Works on staging!

[2017-11-27 21:52] #806 closed

[2017-11-27 23:10] alanmoo commented on #860
@Pomax @gideonthomas We can create appropriate tickets in the network-pulse-api repo for implementation discussion, but at a high level, what needs to be done here?

MVP:
- [ ] Expose profile's favs via API (as part of the profile endpoint)

Nice to have:
- [ ] Make that endpoint more performant (separate route for favs and the profile - something like `/api/pulse/profiles/#{id}/favs` for example?

[2017-11-27 23:28] kristinashu commented on #792
I think this is only an issue when the images either:
a) the wrong aspect ratio or
b) on a white background

Solution for a)
We have since solved for the wrong aspect ratio by added grey sides to image that need it.

Solution for b)
For images on a white background, would it be possible to make them look like they are on a light grey background by multiplying a light grey over top of the image? Gu

[2017-11-28 00:02] kristinashu commented on #840
Closing this in lieu of https://github.com/mozilla/network-pulse/issues/863

[2017-11-28 00:02] #840 closed

[2017-11-28 21:40] alanmoo commented on #409
Ah, I've noticed that bug in the past too, and I think is partially what I was getting at when filing this one. I think it's worth fixing, but not necessarily high priority. Perhaps you could file another ticket with a clearer description of the problem/what needs to happen to resolve it, and label it "help wanted" before closing this one?

[2017-11-29 19:34] mmmavis commented on #844
@xmatthewx If things look good on staging let's close this ticket! 👍

[2017-11-29 19:35] mmmavis commented on #746
@xmatthewx this awaits your verification on staging! 😃

[2017-11-29 19:36] mmmavis commented on #842
@kristinashu fix is on staging now. Good to push to production? https://network-pulse-staging.herokuapp.com

[2017-11-29 19:41] mmmavis commented on #805
@kristinashu I saw you moved this to the "Up Next" pipeline. Give me a ping when this is ready for implementation again!

[2017-11-29 19:41] kristinashu commented on #842
Good good!

[2017-11-29 19:41] #842 closed

[2017-11-29 19:43] mmmavis commented on #842
:man_dancing: 💃 :man_dancing: 💃 :man_dancing: 💃 :man_dancing: 💃 :man_dancing: 💃 :man_dancing: 💃

[2017-11-29 21:51] mmmavis commented on #867
This is the screen a moderator would get after posting an entry.

![screenshot-2017-11-29 yay xmas - mozilla network pulse](https://user-images.githubusercontent.com/2896608/33400824-1853df1c-d50c-11e7-93f8-27a70e7a91cc.jpg)

@xmatthewx is the plan to replace everything (Thanks for Submitting + entry details) with the messages and CTA you mentioned in the ticket description?

[2017-11-29 22:06] xmatthewx commented on #867
No. We should only replace "Thanks for Submitting" with the new copy and CTA. We should keep the entry details.

Note: the /submitted page for non-moderators should also show button that says Edit Profile. Gideon and I implemented that at MozFest.

[2017-11-29 22:46] mmmavis commented on #867
Nice catch. Yea the button is still there. It's just when I took the screencap I cheated by editing some code so I could skip the entry submission part to get to that screen. 😂

[2017-11-29 23:06] mmmavis commented on #867
@xmatthewx @kristinashu

Ummm... we might wanna consider another treatment for this. It looks a bit odd with a big message block at top.

![screenshot-2017-11-29 flowers 3 - mozilla network pulse 1](https://user-images.githubusercontent.com/2896608/33403744-6c86f6e6-d516-11e7-951f-dfdc38a94fe1.jpg)

[2017-11-30 14:43] xmatthewx commented on #867
Yep, yep. Thanks.
 - [ ] Remove the heart
 - [ ] Cut the visual space between the notice and header gradient in half
 - [ ] Put a light gray line below the message, above the entry.
   - [ ] Full width like the header gradient.
   - [ ] Should be about halfway between content above and below.
   - [ ] `border-bottom:1px solid #c8c8ca;`
 - [ ] [file as new issue] The red on Thanks could be updated

[2017-11-30 17:58] kristinashu commented on #867
@xmatthewx what if we styled it like the [light purple notification bar](https://redpen.io/kz577880de19fe569c) in the new designers?

<img width="995" alt="screen shot 2017-11-30 at 9 58 16 am" src="https://user-images.githubusercontent.com/1068783/33446491-0e95570e-d5b5-11e7-8747-36c1b7ac46db.png">

[2017-11-30 18:37] mmmavis commented on #867
Seems like we are still figuring out the specs and design. Gonna unassign myself but please feel free to assign me back once things are ready for implementation.

[2017-11-30 21:32] xmatthewx commented on #867
That's cool. We'll miss the benefit of an edit button getting more existing users to add theirs, but this a better, more useful notice component.

Let's run with this design.

[2017-11-30 23:43] stephwright commented on #839
Ha!  Oops... just caught this!  Got time next week to follow up @xmatthewx ?

[2017-12-01 01:25] mmmavis opened #875 "Improve Pulse's Observatory score"
https://observatory.mozilla.org/analyze.html?host=mozillapulse.org

![screenshot-2017-11-30 observatory by mozilla](https://user-images.githubusercontent.com/2896608/33463623-7637c0de-d5f3-11e7-816f-e77c3bfd7259.png)

/cc @sabrinang

[2017-12-01 23:47] gvn opened #879 "Don't block ❤️"
Right now it appears that clicking the hearts to fave doesn't toggle the animation until the XHR callback occurs, which makes UI feel laggy.

We should do an "optimistic" UI update and do the animation immediately. If the XHR fails then we should display an error, but otherwise assume it's fine.

[2017-12-04 17:29] #746 closed

[2017-12-04 17:30] xmatthewx commented on #746
everything looks good. i'll double check the results after a few days on production.

[2017-12-04 17:30] xmatthewx commented on #746
thanks!

[2017-12-04 17:49] xmatthewx commented on #879
🚧 ❤️ 🚧

[2017-12-04 18:22] xmatthewx commented on #860
Discuss the routes for these things here and then pull into other tickets... @mmmavis etc

[2017-12-04 18:36] xmatthewx commented on #866
@alanmoo to help poke at this

[2017-12-04 18:42] xmatthewx commented on #864
@alanmoo & @xmatthewx to check in with @jessevondoom at all hands on mvp approach and requirements.

[2017-12-04 18:51] xmatthewx opened #880 "Design profile tabs for favs"
We're going to add a User's Favs to their profile.

The group decided that MVP version of this should include tabs so that Favs can be loaded separately to optimize how we engineer and serve this visitors.

For now, tabs will just include Projects and Favs. Possibly extended later.

 - [x] Review @kristinashu's  [desktop comp](https://redpen.io/ns0835f2e5d9956858) design-wise. Update as needed.
 -

[2017-12-04 18:53] xmatthewx commented on #654
I think we can call this epic done. There's only one issue remaining ... it can stand alone or find a new epic home.

[2017-12-04 18:53] #654 closed

[2017-12-04 18:57] xmatthewx commented on #866
@alanmoo - try to create a profile for an existing non-user creator. You should be able to create an associated profile and then view it via an entry's link to creator. Capture STR.

[2017-12-04 18:59] xmatthewx commented on #830
@alanmoo - following today's conversation, list at top of this epic is worth a look.

[2017-12-04 19:00] xmatthewx commented on #651
Closing this epic. 90% completed. I'll figure out what to do with the last ticket.

[2017-12-04 19:00] #651 closed

[2017-12-04 19:02] xmatthewx commented on #867
@mmmavis - do you think this is a good approach? Do you have enough to move ahead with this?

[2017-12-04 19:06] xmatthewx opened #881 "Design default profile avatar"
Avatars help bring Pulse to life by revealing the people behind the projects. A default avatar will do this across the platform, filling the gap when users haven't added a photo.

MVP: A simple icon/illustrator. Should work large on profile page and tiny for future use on project cards.

[2017-12-04 19:14] xmatthewx commented on #857
@alanmoo - can we use google account avatars? maybe cut out our avatar uploads altogether? a quick look at viability would be useful.

[2017-12-04 19:17] xmatthewx commented on #844
Looks good. I'll double after it's on production for a few days.

[2017-12-04 19:17] #844 closed

[2017-12-04 19:51] xmatthewx opened #883 "Visualize people, projects, topics"
Explore an visualization that leverages real data on people, projects, and topics.

Goals and scope and such discussed in [a doc](https://docs.google.com/document/d/1aDj2uRMBm-FFTji2nc9qMcAY4iv9VKWd7nKXTp8yakE/edit#).

[2017-12-05 01:32] mmmavis commented on #867
I think I'm good. I'm gonna refer to @kristinashu 's Sketch files for styling details.

[2017-12-05 03:57] gurjarshakti commented on #881
Can you tell me the size of avatar and type of file you need. I can help you with avatar design.

[2017-12-05 19:13] Pomax commented on #715
this is not fixed. From staging:

![hwef-3984](https://user-images.githubusercontent.com/177243/33625722-618b11a0-d9ad-11e7-813a-5776f86dee31.gif)

[2017-12-05 21:59] alanmoo opened #886 "Expose user's favorites via endpoint"
On the front end, we'll be showing entries marked as favorites on each user's profile. We should expose these as an endpoint, most likely at `/api/pulse/profiles/#{id}/favs` (though open to other approaches)

[2017-12-05 22:12] Pomax commented on #886
Given the code already in place, the suggestion is to:
- refactor the current `/entries/bookmarks` such that the part that actually fetches data is a new def `getUserBookmarks(user)`, with the entries/bookmarked route looking up the user from session, then returning whatever `getUserBookmarks` returns
- create a new route `/profiles/:id/bookmarks` which gets the user from the profile id, and then

[2017-12-06 18:49] kristinashu commented on #805
@mmmavis could you please make the profile icons (Twitter, LinkedIn, and GitHub) the same height as the post icons are (heart and Twitter share). And then make all their hit areas 40x40px.

[2017-12-06 19:03] kristinashu commented on #880
@xmatthewx do you mean that for now we will have three tabs (called Published, Created, and Favs)? These three should fit ok on mobile so we can postpone design of it until we need it.

[2017-12-06 19:04] Pomax commented on #860
I'd say that enpoint being in `profiles/:id/favs` should be part of MVP, and it needs to well behaved if it's always going to get hit when a profile gets hit. Splitting things up as `/profiles/:id/created`, `/profiles/:id/published` and `/profiles/:id/bookmarks` (or 'favs', right now we call them bookmarks in the code) allows us to load all three in an async and paged fashion (and thus having a mo

[2017-12-06 19:08] Pomax commented on #861
After analysis of the effect on system performance, it turns out we can't actually add people as a search set to the standard search without bringing the system down to its knees, so we might need to rethink our needs here:

- what are we trying to offer people here
- can we find the most important metadata that should always be included in a search
- can we split any metadata off to have its own

[2017-12-06 19:35] flukeout commented on #792
Hey @mmmavis & @kristinashu—I think this is a pretty cool solution and can be achieved by using background-blend-mode in CSS, as described [here](https://css-tricks.com/basics-css-blend-modes/). The problem is that it is not supported in IE.

Unless we get really fancy, we won't know which photos to use this on, so we'll probably have to do it to all of them, meaning they will all be _slightly_ da

[2017-12-06 20:35] sabrinang commented on #883
@gvn Whenever you need any design help on this issue let me know!

[2017-12-06 21:57] xmatthewx commented on #883
@gvn - @sabrinang collected some example visualizations for potential directions: https://github.com/mozilla/foundation.mozilla.org/issues/926

[2017-12-06 22:42] mmmavis commented on #805
@kristinashu

Making the hit areas exactly 40x40px would be a bit complicated as each icon has different dimensions plus we have consider padding and margin. I'll try to balance things out and make the hit areas as close to 40x40px as I can.

[2017-12-06 22:43] mmmavis commented on #805
@kristinashu ah forgot to ask -- Are these changes for mobile only? (as described in Matthew's ticket description)

[2017-12-06 22:55] xmatthewx commented on #861
Okay. Thanks for the investigation. We'll discuss design-wise before we proceed with anything else.

[2017-12-06 23:00] mmmavis commented on #470
This works good on staging.

[2017-12-06 23:00] #470 closed

[2017-12-06 23:06] kristinashu commented on #805
Roughly around 40x40px is great. These updates can be for both mobile and desktop.

[2017-12-06 23:17] mmmavis commented on #875
Works great on staging!

[2017-12-06 23:17] #875 closed

[2017-12-06 23:19] xmatthewx commented on #880
Huddle up with Mavis and see if she can proceed without a comp.

For now, we'll just have 2 tabs: Projects, Favs. Projects will include Published and Created as currently implemented (for now so we can focus just on shipping favs).

[2017-12-06 23:19] mmmavis commented on #867
Changes are on staging! @kristinashu @xmatthewx not sure who I should tag for verification on staging 😁

[2017-12-06 23:22] xmatthewx commented on #867
fantastic! tested and everything looks and works great.

[2017-12-06 23:22] #867 closed

[2017-12-06 23:23] mmmavis commented on #867
Yay!

[2017-12-06 23:31] kristinashu commented on #792
Cool! Thanks for looking into it. I'm good with using this effect on all images. Also ok that it won't work on IE. Oh IE!

[2017-12-07 03:56] alanmoo commented on #866
Is this on the front end or the Django admin?

[2017-12-07 03:59] alanmoo commented on #866
On second thought, I’m having trouble understanding the initial ticket. What should be happening/what is the feature request?

[2017-12-07 15:40] alanmoo commented on #861
@Pomax my understanding of this is that a lot of the complication comes from the ordered nature of the creators list causing an intermediate layer we need to navigate through. What if we were to simply do 2 searches- one for entries like we normally do, don't look at creators. Then a second one where we search the set of creators and pull in entries related to them. Would that not be a lesser magn

[2017-12-07 17:25] Pomax commented on #861
In this case "simply" actually translates to "figure out how to bypass DRF's built in search and shim it ourselves to do multiple searches and multiple set resolutions to remove duplicates, then build a paginated result set manually", which I have reservations about. in terms of maintainabilty and upgrade-proofing.

So with that said, many sites I use split the "search everything we have" function

[2017-12-07 18:28] mmmavis commented on #834
- [ ] Include some dummy data for devs to run locally (not sure if this is backend thing or devops thing)

[2017-12-07 19:03] kristinashu commented on #880
@xmatthewx @gvn if this sounds good to you then I will open a front-end dev ticket

Here's an updated comp https://redpen.io/ns0835f2e5d9956858

**Tabs styling:**
- same font, size and weight as the main nav except blue (same blue and buttons)
- selected and hover state has blue underline
- reduce subtitle under Projects tab ("Published Projects" and "Created Projects") to Zilla Slab Medium 16px i

[2017-12-07 19:06] kristinashu commented on #880
Actually, looks like pomax has commented on URLs https://github.com/mozilla/network-pulse/issues/860#issuecomment-349741301

[2017-12-07 19:49] alanmoo commented on #834
@mmmavis That's in the pulse-api repo. Through the link in the original comment here, you'll find https://github.com/mozilla/network-pulse-api/issues/196

[2017-12-07 19:52] xmatthewx commented on #861
Discussing technical options in a [gdoc](https://docs.google.com/document/d/1_eNxhsWMaWQSg_lZZuQI_04vlXGsFNIRZlFPeixjD9M/edit#).

[2017-12-07 19:57] xmatthewx commented on #866
Adding two user stories in initial comment.

[2017-12-07 22:15] kristinashu opened #887 "Style Projects and Fav tabs"
Based on https://github.com/mozilla/network-pulse/issues/880
Comp https://redpen.io/ns0835f2e5d9956858

**Tabs styling:**
- same font, size and weight as the main nav except blue (same blue and buttons)
- selected and hover state has blue underline
- reduce subtitle under Projects tab ("Published Projects" and "Created Projects") to Zilla Slab Medium 16px in black

![my complete profile copy 2x](h

[2017-12-07 22:16] kristinashu commented on #880
Opened an implementation ticket https://github.com/mozilla/network-pulse/issues/887

[2017-12-08 04:11] xmatthewx commented on #880
@kristinashu - Let's think about empty states. We can do this as a follow up or include with initial build.

 - If a user has neither Projects nor Favs, we should probably omit tab navigation.
 - If a user has Projects, but no Favs, do we omit the favs tab? Or gray it out? Or have an empty Favs placeholder?
 - If a user has Favs, but no Projects, do we default to Favs view? Do we omit the projects

[2017-12-08 14:51] alanmoo opened #889 "Improve contributor docs/readme"
We should be more clear in our readme/contribute.md about what kind of help we need in this project, who to tag with questions, what labels to look for, etc.

cc @xmatthewx

[2017-12-08 14:56] alanmoo opened #890 "Determine approach for recognizing contributors to Pulse on profiles"
The output of this ticket is simply an approach, likely an epic that gets filed. Not the actual work.

We want to promote contributors to Pulse with recognition on the project itself. How can we do that, from a technical approach? We can have some sort of label on their profile, but how do we build a way to add that automatically? Can we use the github api to check if the github profile in their U

[2017-12-08 15:07] alanmoo commented on #830
I've created issues for two of these to spin off their own conversations, but I don't understand the plans for the last bullets well enough to be able to generate a ticket.

[2017-12-08 15:07] xmatthewx commented on #890
Cool. We could design an icon or something. I'd suggest we manually flag people via the admin until the work do that is greater than the work to automate it. Less fun, but more practical.

[2017-12-08 15:09] xmatthewx commented on #830
Hmm. Well, maybe we schedule a conversation with a few of us and humph after all hands or in early January to discuss?

[2017-12-08 15:19] alanmoo commented on #890
![](https://media1.giphy.com/media/26FKT1K97Wuiddros/200w.gif)

Ok I guess that makes sense.

[2017-12-08 15:30] alanmoo commented on #830
Sure, though I mean I don't understand the features you're describing. If we can flesh those out more clearly, we can create issues to get help with them.

[2017-12-08 18:14] kristinashu commented on #880
Good point @xmatthewx!

### For users looking at someone else's profile, we should hide the tab. Like we do now for projects.

e.g. profile with no saved Favs
<img width="586" alt="image" src="https://user-images.githubusercontent.com/1068783/33778811-26a24a46-dbff-11e7-8f73-2b1a75fdba65.png">

### For users looking at their own profile, we should add a CTA. For Favs, we can show the message we ha

[2017-12-08 18:31] xmatthewx commented on #830
oh. those were just thoughts while we met, before we even did the prioritization. i'll remove 'em.

[2017-12-08 18:34] kritisingh1 commented on #887
@kristinashu can I take this up?

[2017-12-08 19:16] mmmavis commented on #854
@xmatthewx

How should we update the [testing section](https://github.com/mozilla/network-pulse/blob/master/README.md#testing)? Content on "Quality Tests" is outdated.

[2017-12-08 19:19] xmatthewx commented on #887
Thanks @kritisingh1 for offering to help! This frontend work still requires some backend development, but that should be ready fairly soon. You can follow this epic https://github.com/mozilla/network-pulse/issues/860 for broader discussion. There, you'll find a link to the work on API routes.

cc @alanmoo to help facilitate

[2017-12-08 19:28] alanmoo commented on #887
@kritisingh1 What about this ticket appeals to you? I should be able to help find something that is ready if I have a better sense of what type of work you're looking to do.

[2017-12-08 19:49] kritisingh1 commented on #887
Let alone the design part, the most appealing feature request seems to be the inclusion of the subtitles under the Projects' tab.

[2017-12-08 20:17] alanmoo commented on #857
@Pomax maybe you have thoughts, but I believe this is a nontrivial amount of work. Is it a problem the way it's currently set up?

[2017-12-08 23:25] mmmavis opened #892 "Update outdated dev dependencies"
https://david-dm.org/mozilla/network-pulse/?type=dev

![screenshot-2017-12-8 dependency status for mozilla - network-pulse v2 0 0 - david](https://user-images.githubusercontent.com/2896608/33789229-ee77bfc0-dc2b-11e7-92ba-f6b5eeb10a01.png)

### eslint
- https://eslint.org/docs/user-guide/migrating-to-4.0.0

[2017-12-08 23:28] kristinashu commented on #880
Still working on illustrations but empty states on a users own profile could look something like this:

![empty projects](https://user-images.githubusercontent.com/1068783/33789287-667c2f10-dc2c-11e7-8afd-25932229e76c.png)

![empty favs](https://user-images.githubusercontent.com/1068783/33789286-666a68c0-dc2c-11e7-824a-260f4254e56b.png)

[2017-12-18 19:07] gvn opened #894 "Consider switching from habitat to dotenv"
Last commit to `habitat` was in [2014](https://github.com/brianloveswords/habitat/commits/master).

[dotenv](https://github.com/motdotla/dotenv) has a lot more users and is being actively developed. It's also being used on the Foundation site...

[2017-12-18 19:15] gvn commented on #894
CC @mmmavis

[2017-12-18 19:21] gvn opened #895 "De-couple environmental variables from client-side bundle"
Bundling env during build via webpack is preventing us from using Heroku pipelines because env becomes permanently embedded/static. We had the same issue on the Foundation site and I solved by pulling env via XHR as part of the front end bootstrapping process.

I'm happy to take this on...

CC: @alanmoo @mmmavis @cadecairos

[2017-12-18 21:12] alanmoo commented on #895
What's your plan for emitting the env vars?

[2017-12-18 21:28] gvn commented on #895
Probably need to customize the server code a bit to add a route to expose whitelisted env as JSON like we did on the Foundation site.

[2017-12-19 17:20] xmatthewx opened #897 "Offer users Newsletter sign-up"
We should offer Pulse users a way to sign up for MoFo's primary newsletter ... since we'll drive a lot of people there to create profiles, it's a natural place to indicate that subscription.

Step 1 is to consider technical constraints
 1. maybe MVP is a checkbox on edit profile view (rather than trying to flow with g-auth) (can users unsubscribe with checkbox or do we include link to manage?)
 1.

[2017-12-19 18:12] gvn commented on #894
closed by #888

[2017-12-19 18:12] #894 closed

[2017-12-19 18:49] #854 closed

[2017-12-19 18:53] #892 closed

[2017-12-19 18:56] mmmavis commented on #879
works great on staging!

[2017-12-19 18:56] #879 closed

[2017-12-19 18:59] mmmavis commented on #852
working fine on staging!

[2017-12-19 18:59] #852 closed

[2017-12-19 19:51] xmatthewx opened #898 "Add extended bio to profiles"
Many core Pulse users have been interviewed via our story engine process. We'd like to connect these to profiles in pulse and foundation site.

To start, we need to make a few decisions:
 - where should interviews live? on pulse? or as a page on network site?
 - are interviews a single block of content with basic metadata like date and name? or, is a question/answer added as an element?
 - do they

[2017-12-19 22:43] alanmoo commented on #895
Can’t we leverage the fact that we’re using a node server to grab the env var and inject it into the script that the client gets on the first transfer? Something like

[code]
on https://github.com/mozilla/network-pulse/blob/master/server.js#L100 ?

[2017-12-19 22:48] ryanwarsaw commented on #591
Not getting to this before end of 2017 so removing myself for now.

[2017-12-19 22:57] cadecairos commented on #895
It would be better if we can avoid adding inline scripts.

[2017-12-19 23:07] gvn commented on #895
We could inline pure JSON instead of script and just scrape and `JSON.parse` it.

[2017-12-20 14:35] alanmoo commented on #895
If that works for @cadecairos I think it's worth a shot. Seems like it might be easier than creating another endpoint, too?

[2017-12-20 14:49] jessevondoom commented on #898
So here are my thoughts:

- The interviews should live in Pulse, as markdown, available by API and showing on the a person's profile — this will allow us to pull into the foundation site later should we want to, but linking to the Pulse profile is perfect for now
- A single block is fine, but there are a few bits of metadata we'll need:
   - date
   - title
   - summary (short version for previews

[2017-12-20 15:06] alanmoo commented on #898
This makes sense @jessevondoom, but maybe one of you can clarify one thing: When you say "interviewed via our story engine process", do you mean these interviews aren't actually on StoryEngine and we want somewhere for them to live? Is there any overlap with ones that are on StoryEngine?

As for the audio, this is not my field of expertise, but I'd like to stick with web standards as much as possi

[2017-12-20 15:22] cadecairos commented on #895
I think that should work.

If we have a CSP that might block a script tag that's inline, we could try this approach: https://mathiasbynens.be/notes/json-dom-csp#hidden-element

[2017-12-20 16:43] jessevondoom commented on #898
@alanmoo Yeah we're moving away from Storyengine as a destination, and pulling the interviews into Pulse as long-form bios. The idea is to own that stuff a bit and provide canonical URLs for people in our network — including the interview pieces. Ultimately Loup will start to own storyengine as a thing and put more non-Mozilla content on storyengine.io.

And I've got some experience with audio/pla

[2017-12-20 20:53] xmatthewx opened #899 "Bug with Help tags & routes"
Some Help routes work, some do not.

[Take action](https://www.mozillapulse.org/help/Take%20Action) works but is not encoded `https://www.mozillapulse.org/help/Take Action`. Others don't work at all.

STR
 - view [entry 563](https://www.mozillapulse.org/entry/563)
 - tap the help tag to localize
 - points to `https://www.mozillapulse.org/help/Localize %26 translate` and shows zero entries

[2018-01-04 18:33] alanmoo opened #900 "De-couple environmental variables from client-side bundle"
We should be able to use Heroku pipelines to properly promote our projects, so that environmental variables aren't bundled into the code. At first glance it appears the variable in question is the API server. Let's see if we can figure out how to access that dynamically.

[2018-01-04 18:36] gvn commented on #900
I believe this is a dupe of https://github.com/mozilla/network-pulse/issues/895

[2018-01-04 18:40] alanmoo commented on #900
Ah, I searched but didn't find it. I'm gonna change the title of the other one so it more clearly states the problem we're trying to solve

[2018-01-04 18:40] #900 closed

[2018-01-05 07:38] shikhar-scs commented on #756
@kristinashu May I work on this issue please?

[2018-01-05 18:20] kristinashu commented on #756
Thank you @shikhar-scs but unfortunately this issue is blocked by #755

[2018-01-06 02:37] shikhar-scs commented on #756
@kristinashu Ok. So once #755 is done away with, I'll get back to this and make the required changes. Thankyou

[2018-01-06 12:05] shikhar-scs commented on #899
@xmatthewx If you could be a bit more clear on what you mean, I might be help. Can I take this issue ?

[2018-01-06 12:08] shikhar-scs commented on #802
@flukeout I would like to take up this issue. May I ?

[2018-01-06 15:21] himanish-star commented on #804
I would like to take this issue up, may I ?

[2018-01-08 00:57] himanish-star commented on #805
@mmmavis , is this issue still available. Can I fix this ?

[2018-01-08 18:50] xmatthewx commented on #804
Sure. Thanks @himanish-star! For this, we just need to change the string from `Mozilla Terms of Service` to `Mozilla Terms of Use`.

[2018-01-08 18:53] xmatthewx commented on #802
@shikhar-scs thanks for offering! We are not ready to take on this issue because it introduces too much questions and complexity in terms of pattern matching, user intent, and how we store the data.

Take a look at issues with the label [good first issue](https://github.com/mozilla/network-pulse/labels/good%20first%20issue) or [help wanted](https://github.com/mozilla/network-pulse/labels/help%20wa

[2018-01-08 18:55] xmatthewx commented on #899
Thanks @shikhar-scs. @mmmavis probably knows the source of this bug ... and whether or not it makes sense as an issue for you to tackle.

[2018-01-08 19:06] shikhar-scs commented on #899
Ok I'll wait for her response on this.

[2018-01-08 19:24] alanmoo commented on #802
You can give it a shot if you'd like, no guarantees we'll merge it in though. What approach are you thinking of taking? There's a bunch of directions this could go.

[2018-01-08 19:52] shikhar-scs commented on #802
Yeah Sure, I'll post my approach soon

[2018-01-08 20:52] xmatthewx commented on #802
@alanmoo - as we look to use the API by more than one resource, you should probably decide if we want to process inline URLs during submission. Otherwise we risk a future need to maintain this across multiple sites.

Since we're looking at markdown for other uses, we might want to wait until we land that, and see if that's a better solution. I checked, and we see urls in 2-4% of entries. So this w

[2018-01-08 23:09] mmmavis commented on #899
Hey @shikhar-scs thanks for offering help.

I think this is something to do with the param we are passing to the API endpoint got double encoded...

In `main.jsx`, let's decode the query param before passing it as a part of the prop to `<SingleFilterCriteriaPage>`
[code]

And in `single-filter-criteria-page.jsx` let's remove `decodeURIComponent()` from line 21 since `searchParam.value` should alre

[2018-01-08 23:12] mmmavis commented on #805
@himanish-star thanks for offering help. I have not yet had time to tackle this. Would you be interested in taking on this ticket? 😃

[2018-01-09 00:57] himanish-star commented on #805
@mmmavis , Yeah sure

[2018-01-09 00:58] mmmavis commented on #805
@himanish-star Awesome! :1st_place_medal:

[2018-01-09 02:19] himanish-star commented on #805
@mmmavis , User profile doesn't get updated while running on `localhost:3000` . And thus without updating social media links how to I see the icon size changes locally as the icons don't show up. Is there any other way of testing
![image](https://user-images.githubusercontent.com/30361728/34702044-9973d7b2-f511-11e7-8697-e5e7f059d351.png)

[2018-01-09 02:58] shikhar-scs commented on #899
@mmmavis

Yep, I'll take help from your comment and file a PR soon.

[2018-01-09 05:23] shikhar-scs commented on #802
After searching the files for a while, I found that the following piece of code is responsible for generating the paragraph related to get involved.

https://github.com/mozilla/network-pulse/blob/master/components/project-card/meta/get-involved.jsx#L19-L46

But
![codeisscience](https://user-images.githubusercontent.com/25258877/34706112-422e4824-f52b-11e7-894f-002b284f847c.png)
 I dont know exactl

[2018-01-09 05:34] alanmoo commented on #802
Those strings are coming from the user submitted database, so we can’t enforce a format for the links in the free text area, and we can’t manually add anchor tags to links. If you have a suggestion for how to do it in react, I’m all ears, but keep in mind the performance impact of running every string through a parser.

[2018-01-09 07:55] shikhar-scs commented on #802
Oh, I didnt know that. Well this is a lot trickier than I thought it would have been. Also, being a newbie I dont know much about react. Apologies for wasting everyone's time. Ill look out for something else. :+1:

[2018-01-09 16:33] xmatthewx commented on #802
No problem! Thanks @shikhar-scs we appreciate your interest and we're glad to help orient you.

We have flagged issues with the label [good first issue](https://github.com/mozilla/network-pulse/labels/good%20first%20issue) or [help wanted](https://github.com/mozilla/network-pulse/labels/help%20wanted) because they are particularly good for contributors who are getting familiar with the project and

[2018-01-09 22:51] mmmavis opened #904 "Remove index.html file from repo"
Pulse serves pages server side and the HTML code is all in the `server.js` file. Let's remove `index.html` from codebase since it's not being used anywhere.

[2018-01-09 23:28] mmmavis commented on #904
**Don't tackle this yet. There might be a bug we need to fix first. I'll update this ticket once the bug has been fixed.**

[2018-01-09 23:38] mmmavis commented on #904
This is being handled in PR https://github.com/mozilla/network-pulse/pull/901. We can close this ticket after the PR gets merged and pushed.

[2018-01-09 23:39] gvn opened #905 "eslint scope is missing /*.js"
Several JS files in the root of the app aren't getting linted by the `test:js` task.

We should update the task and fix the linting errors...

[2018-01-09 23:58] mmmavis commented on #899
@shikhar-scs 's PR has been merged (thanks!) I'll close this ticket once it's been pushed to production.

[2018-01-10 05:43] shikhar-scs commented on #899
Welcome @mmmavis , also, Thanx for your help :smile:

[2018-01-11 18:18] #895 closed

[2018-01-11 19:19] mmmavis commented on #899
Yay fix is live! 👍 👍 👍 👍 👍 👍 👍 👍

[2018-01-11 19:20] mmmavis commented on #804
Yay fix is now live on production. Thanks for the help @himanish-star 👍

[2018-01-11 19:20] #804 closed

[2018-01-11 20:25] mmmavis commented on #805
Hey @himanish-star Ah there's something we need to fix on the API side... I'll file a ticket. Meanwhile I think you can just use my staging profile to fix this UI sizing issue.

You should be able to see my profile on `/profile/8` (if you are using the staging API)

[2018-01-12 00:59] himanish-star commented on #805
@mmmavis , Thanks a lot.

[2018-01-12 02:40] shikhar-scs commented on #899
Thanx a lot :smile:

[2018-01-12 17:53] gvn commented on #904
Done!

[2018-01-12 17:53] #904 closed

[2018-01-12 21:12] #905 closed

[2018-01-16 18:58] xmatthewx commented on #657
These extended existing profile model. Should we discuss in a google doc first and then bring back here? cc @alanmoo

Moderator
 - Extended (true/false)

General
 - Location (City, Country)
   - As string for now? gOptimized from the start?
 - Language(s)
   - Not MVP

Program (0 to many)
 - Program Type (ex: Tech Policy fellow)
 - Program Year

Affiliation (2? 0 to many?)
 - Org #1
   - rel: is_g

[2018-01-17 18:22] xmatthewx commented on #657
We will need to unblock orphan profiles that have no user.

[2018-01-17 18:30] Pomax commented on #657
bio thoughts: see if there's a way to set wiz'e'wig to markdown mode, if not it's probably easiest to just give people the standard edit field for filling in their bio

[2018-01-17 18:40] xmatthewx commented on #657
I added a few more notes in list above as well to capture some of the discussion.

[2018-01-17 18:43] xmatthewx commented on #898
API work has started. Links to this discussion. Closing this as more or less resolved.

[2018-01-17 18:43] #898 closed

[2018-01-18 01:15] Pomax commented on #657
@xmatthewx we currently have the 140 character bio, is the 212 short bio the same thing but with a new limit? Or is this a different short bio?

[2018-01-18 15:42] alanmoo commented on #657
@Pomax I'm like 99% sure the 212 is for a quote by the person about the open internet. So, different thing.

[2018-01-18 19:06] xmatthewx commented on #657
@Pomax I think it's that we have a 140 character limit on bios in pulse, and 212 limit on bios in foundation site model. it's like twitter old and almost new. We can up our Pulse limit so we don't have to shorten existing strings. It won't impact design. 212 is an odd number, but definitely what I see we're requesting from fellows.

[2018-01-18 21:30] xmatthewx commented on #657
it's the same short bio. one field, lengthened to 212 char, to fit content we will eventually copy-paste from foundation site to pulse.

[2018-01-18 23:51] Pomax commented on #657
roger!

Secondary question: is program type a specific list of type-of-fellowship, or just the single "Mozilla Fellow"?

[2018-01-19 14:38] xmatthewx commented on #657
Hmm... are you asking whether we should identify a person as a Fellow (any kind), and then identify their specific program separately? If so, good question. If not, please clarify.

It's probably a good idea to have a fixed fellow boolean or category in addition to staff defined program categories that will evolve. Like staff, they're a pretty unique case.  Others like this: board member, grantee,

[2018-01-19 19:31] xmatthewx opened #909 "Add Name to page Title on profile views"
When a user views an entry, the <title> tag includes the project title. When they view a profile, however, the <title> is just Profile. Let's add the person's name to improve SEO and make a visitor's browser history more useful.

 - Current: `<title>Profile - Mozilla Network Pulse</title>`
 - Expected: `<title>Geraldo Barros - Mozilla Network Pulse</title>`
 - See: https://www.mozillapulse.org/pro

[2018-01-19 19:41] xmatthewx commented on #899
@mmmavis @alanmoo - this fix doesn't seem to be live on production or staging.

Production: `https://www.mozillapulse.org/help/Plan%20%26%20organize`
Staging: `https://network-pulse-staging.herokuapp.com/help/Localize%20%26%20translate`

Prod entry: https://www.mozillapulse.org/entry/566
Staging entry: https://network-pulse-staging.herokuapp.com/entry/378

[2018-01-19 19:53] xmatthewx commented on #899
To clarify, URLs should look like this: `.../help/plan-&-organize`. Sorry if this wasn't clear before:

 - [ ] replace space with hyphen
 - [ ] lowercase

/help/
/help/
/help/attend
/help/create-content
/help/code
/help/design
/help/fundraise
/help/join-community
/help/localize-&-translate
/help/mentor
/help/plan-&-organize
/help/promote
/help/take-action
/help/test-&-feedback
/help/write-document

[2018-01-19 20:03] xmatthewx commented on #899
closing. I will file this as a new issues. thanks all, sorry for the noise.

[2018-01-19 20:03] #899 closed

[2018-01-19 20:08] xmatthewx opened #910 "Clean up Help URLs"
The /help/ URLs are odd, and don't match how we handle /issue/ URLs. Let's iterate.

 - Current: `https://www.mozillapulse.org/help/Plan%20%26%20organize`
 - Expected: `https://www.mozillapulse.org/help/test-&-feedback`

Here's a staging entry with all help categories: https://network-pulse-staging.herokuapp.com/entry/378

 - [ ] replace space with hyphen
 - [ ] lowercase
 - [ ] `&` unencoded
   -

[2018-01-20 03:37] shikhar-scs commented on #910
@xmatthewx I would like to take up this issue. May I ?

[2018-01-20 04:14] alanmoo commented on #910
Sure! Though `&` will need to be replaced by `and` because that character must be perecent encoded in URLs.

[2018-01-20 08:21] shikhar-scs commented on #910
@alanmoo can you help me on where to make these exact changes?

[2018-01-20 14:27] alanmoo commented on #910
These aren’t just string changes; I believe these help categories are stored in the database, so you’d probably need some logic around encoding URLs for the browser that act differently than XHR requests to the API. Though thinking about it again, that could result in some inconsistencies depending on the specific tags used (particularly ones with `&`). @gideonthomas do you have any thoughts?

[2018-01-20 17:34] himanish-star commented on #909
@xmatthewx , I would like to fix this issue. May I ?

[2018-01-20 17:57] himanish-star commented on #770
@mmmavis , I would like to take this issue up after completion of #907 . May I ?

[2018-01-20 18:27] alanmoo commented on #909
Of course, go ahead and file it! Tag me and I can find someone to review it.

[2018-01-21 01:56] shikhar-scs commented on #910
@gideonthomas

[2018-01-21 02:20] alanmoo commented on #910
He’ll see this Monday, Eastern Standard Time.

[2018-01-21 03:10] shikhar-scs commented on #910
oops ok :+1:

[2018-01-21 05:48] shikhar-scs commented on #881
@xmatthewx
I would like to take up this issue.
I guess we need to just add an `else` case to this.
https://github.com/mozilla/network-pulse/blob/f0dd723664841ae3b29cd85928f8d337556ce173/components/bio/bio.jsx#L14-L24

As far as the avatar is concerned, there are multitudes of them. We can also pick the one used at `mozilla/fxa-content-server` . Or the default `firefox` profile icon. whatsay ?

[2018-01-22 18:45] himanish-star commented on #770
@xmatthewx , Thanks for the details.

[2018-01-22 19:29] mmmavis commented on #770
Hey @himanish-star yea and please refer to @xmatthewx 's comment for specs!

[2018-01-22 19:34] himanish-star commented on #770
Yeah, I sure will

[2018-01-22 19:49] gideonthomas commented on #910
@alanmoo this is really a client-side routing issue! All we store in the database is the name of the help type. All the routing including transforming the help type name into a route is done client-side via react-router.
Right now the front-end just `encodes/decodes` the name of the help type to figure out the route. You can probably change that to use some js slug library instead but would need t

[2018-01-22 21:27] Pomax commented on #657
That's indeed it. Do we:
- mark users as "Mozilla Fellow" with an (optional?) way to say their specific fellowship is "Science", or
- mark users as "Mozilla Science Fellow", "Mozilla Open Internet Fellow", etc.

Right now for mvp we're just using "Mozilla Fellow" with no additional field to indicate the "kind" of fellowship.

As for the straw foxes:
- can any of staff/fellow/board/grantee overlap?

[2018-01-23 02:29] shikhar-scs commented on #881
Well, if that's the case, once we have the avatar ready, I would love to fix it in place. I hope that happens soon :smile:

[2018-01-23 04:12] shikhar-scs commented on #910
Yes that's true. I managed to find the exact code from where the `help/helpTypes` were being retrieved.
As far as changing `&` to `and` was concerned I did that in the following code and it was pretty well reflecting on the `entry/378` page mentioned in the first comment.

https://github.com/mozilla/network-pulse/blob/f0dd723664841ae3b29cd85928f8d337556ce173/components/project-card/meta/get-involv

[2018-01-23 07:49] mmmavis commented on #909
PR merged and pushed to staging. I will close this ticket once the fix is on production. Thanks @himanish-star  !

[2018-01-23 23:30] gideonthomas commented on #910
Simply changing the link won't work. You also have to change how the page that the link takes you to behaves since it relies on the last bit of the route to figure out what to show. For e.g. your last screenshot should show more than 1 result for the help type "Localize & translate" since the link for it was found on the "help category test" page.

We also need to deal with spaces and case in the

[2018-01-24 02:06] shikhar-scs commented on #910
then maybe if we really need these changes we'll have to make changes to the routes in the first place.

Once we decide on what format we want to have (eg a `dash` for a `space`, `and` for `&`, etc.) , getting it done would be a small task only I guess.

So @gideonthomas we need to decide upon what we want to change.

[2018-01-24 04:05] gideonthomas commented on #910
Yep, absolutely @shikhar-scs. We would need to figure out to what extent we want to sanitize the url first. Then, we would just create `helpTypeToHelpTypeUrl` and `helpTypeUrlToHelpType` (obviously with better names) functions and use them to generate the routes and to determine what to show on the helptype page.

Unfortunately, these decisions are outside my purview but hopefully @alanmoo can gui

[2018-01-24 09:19] shikhar-scs commented on #910
Yeah sure, lets wait for @alanmoo to help us.

[2018-01-24 14:07] alanmoo commented on #910
Sounds good

[2018-01-24 14:14] shikhar-scs commented on #910
So basically should I get started with these changes?

[2018-01-24 14:23] alanmoo commented on #910
Yup!

[2018-01-24 15:15] shikhar-scs commented on #910
@alanmoo  Read this again

From where can I alter the actual routes ? So that even after locally changing routes, I still get results on the prescribed pages.
Also as I guess the actual routes might exist on a master database, do I just need to do the changes to the route contents locally?

[2018-01-24 15:23] alanmoo commented on #910
The actual routes are based off of the results at https://api.mozillapulse.org/api/pulse/helptypes/. For example, https://api.mozillapulse.org/api/pulse/entries/?help_type=test%20%26%20feedback.

So when the client hits https://www.mozillapulse.org/help/Test-and-feedback, you need to make sure the XHR request that gets made is to https://api.mozillapulse.org/api/pulse/entries/?help_type=test%20%26

[2018-01-24 15:24] shikhar-scs commented on #910
Oh! Thanks Thanks

[2018-01-24 21:31] shikhar-scs commented on #910
@alanmoo I've made all the required changes and filed a related PR #913. Please review it

[2018-01-24 22:12] xmatthewx commented on #657
For fellow program, I think we can assume Mozilla and say "Senior Fellow". We'll want staff to update program names, so we should assume some messiness.

Something like this?
 - `GET /api/pulse/profiles/?relationship=fellow`
 - `[{ name: 'Georgia', relationship: 'fellow', program: 'Senior Fellow', program_year: '2017' },...]`

I think we can rule out more than one designation at the same time. Peo

[2018-01-26 15:37] nileshgulia1 commented on #690
Hey @mmmavis  :) Can we discuss more about this issue ? may be enhancements  in bundling configuration may help?what do you think?

[2018-01-26 17:08] xmatthewx opened #914 "Add RSS link to head"
@patjouk setup RSS for us on the backend. w00t. Let's add a link to that in the head of our frontend.
`<link rel="alternate" type="application/rss+xml" href="[URL]" />`

@patjouk - what's the URL?

[2018-01-26 17:16] anweshknayak commented on #914
I can take this up?

[2018-01-26 17:29] xmatthewx commented on #914
Thanks @anweshknayak! We have two URLs. So let's do two links unless there's a reason to only do one. In that case, let's use /latest.

 - https://api.mozillapulse.org/rss/featured
 - https://api.mozillapulse.org/rss/latest

[2018-01-27 01:01] mmmavis commented on #805
@himanish-star 's fix has been merged into `master` branch and pushed to staging. I'll do a prod push next week and close this ticket once that's done.

[2018-01-28 12:13] nileshgulia1 commented on #800
Hello @flukeout, may be the writing `Get involved` there is more focused  rather than promote ,as it is already written that it is asking for people to get involved ,or may be the button should named something else?

[2018-01-29 15:19] alanmoo commented on #657
Which means I would think they should be able to have multiple relationships attached, so when someone moves from, say, fellow to staff we can still see them in the list of fellows for a previous year. Sound right?

[2018-01-29 19:51] mmmavis commented on #909
Yay. Fix has been pushed to production. Thanks @himanish-star 🎉

[2018-01-29 19:51] #909 closed

[2018-01-29 19:51] mmmavis commented on #805
Yay. Fix has been pushed to production. Thanks @himanish-star 🎉

[2018-01-29 19:51] #805 closed

[2018-01-29 20:05] Pomax commented on #657
The choice for 2001 is mostly because it lets me start a python numbered dictionary at array possiong 1 = 2001, 2=2002, etc. @xmatthewx would 2011 be fine, too? then we can do 1 = 2011, 2 = 2012, etc =)

[2018-01-29 20:19] xmatthewx commented on #657
Yep @pomax. Whatever makes implementation easier.

[2018-01-29 20:22] xmatthewx commented on #657
That's true @alanmoo, but still probably rare. We should implement now if it's trivial work or saves wild effort later. Else, we can wait if situation arises.

[2018-01-29 20:46] alanmoo commented on #657
After a call with Pomax, we've figured out the following work needs to be done:

Profile type needs to be added (null | staff | fellow | board | grantee) (Many:1)
Profile program (Science Fellow, Tech Policy Fellow, etc) (Many:1)
Program year (Many:1 for profile:year)
Affiliation (char field for now)

In terms of accessing this:
Query set that can be filtered on profile type, program, and/or year

[2018-01-30 22:25] mmmavis commented on #910
This thread is long... sorry if this has been discussed already - do we care about redirecting current routes to the new ones? @xmatthewx @alanmoo

[2018-01-30 22:30] mmmavis commented on #910
Another question - do we wanna do the same treatment for `/tags/` routes as well? @xmatthewx @alanmoo

[2018-01-31 00:49] xmatthewx commented on #657
Are years independent of program? Ideally, if I have two programs and two years, I won't be included in a query for both programs for both years, just one year per program. (my brain has turned to work week mush. sorry if this isn't clear)

[2018-01-31 01:00] xmatthewx commented on #910
I checked analytics. There's no need to redirect `/help/` routes.

We probably should do something similar for tags. Do you mind opening a new ticket? I feel like sanitation of tags on the way in should cover this.

[2018-01-31 02:04] shikhar-scs commented on #910
I am unaware of what these routes are referring to

If yes, I would like to take that up :+1:

[2018-01-31 07:01] himanish-star commented on #153
@xmatthewx , can I take this issue up ?

[2018-01-31 15:06] alanmoo commented on #657
Years are independent of program, so we don't have to go through the program model to get a year. Everyone gets to pick one of each for now, we can add support for people having multiple programs/years afterwards, once the API is working and it's not blocking the front-end.

[2018-01-31 15:21] alanmoo opened #915 "Clean up tag urls"
Similar to #910, let's make tag urls less ugly. @shikhar-scs you wanted to take this?

[2018-01-31 16:08] shikhar-scs commented on #915
Yeah sure 👍 . Can you please confirm that #910 is correct ?

[2018-01-31 22:49] xmatthewx opened #916 "Change user's profile to use /profile/[id]"
Currently, when a user views their own profile via header nav, they see it at `...pulse.org/profile/me`. This is easy to remember! Yay.

But, this makes it impossible to copy and share your profile with others. The only way to learn your ID and URL is to post a project, view the project, tap your name. In fact, the fellowship team needs me to get everyone's id from the database.

@kristinashu - wh

[2018-01-31 23:11] xmatthewx commented on #916
cc @auremoser

[2018-02-01 15:40] alanmoo commented on #153
Is there enough detail here for you to get started?

[2018-02-01 17:10] alanmoo commented on #657
I'm not sure I understand this line, but I agree with the rest of your message. We need to have that functionality, but it's not helpful *today*.

We can add that to the structure of the models next without changing the actual API endpoints, so I think it's important to get this moving so the front-end of the directory can be built.

[2018-02-01 17:18] Pomax commented on #657
As I read this, my main question is: are profiles supposed to reflect the now (e.g. forum profiles etc.) or track a user's history (e.g. facebook etc). Because while both of those yield identical query APIs, the latter is far more complicated, and requires a redesign of the data structure and logic that we use server side to track units of related information over time.

That said, they're not mut

[2018-02-01 17:38] xmatthewx commented on #153
I think we can start this with a static component on the frontend. A couple months later, if analytics show it to be useful, we can add to backend admin. But for now, a simple static build would be great.

I propose that links _do not_ populate search. Why?
 - Platform can't currently search help categories. This is a chance for us to promote this important feature of the platform. /help/promote y

[2018-02-01 17:50] xmatthewx commented on #657
I think yes. You're right, we have a year before things could get complicated. I'm all in favor of keeping things simple now. I just didn't want to surprise you later. That wouldn't be nice.

I wonder if we should just drop the year field and include that in the value set in program (e.g. program: 'science fellow 2017'). That will give us a longer list of programs, but reduces complexity.

[2018-02-01 17:50] kristinashu commented on #916
Agree, option 1 is a much better user experience but option 2 would work as a quick band-aid.

[2018-02-01 18:01] xmatthewx commented on #916
@alanmoo - assigning this to you, to review options and figure out how we'll tackle this and who will do the tackling.

[2018-02-01 18:01] Pomax commented on #657
I think, looking at how Django does URL argument filtering, if we do that we lose the built-in way to query the current year, so the gain in simplicity on the model side would probably be offset by the increase in difficulty to intercept the API search parameters and rewrite them to work with the simplified model.

Post-mvp we should probably make a model that captures a full "program", so with a

[2018-02-01 21:42] #910 closed

[2018-02-01 23:03] xmatthewx commented on #657
You're right. My suggestion was silly at best. We definitely need a separate field for year.

[2018-02-02 02:24] shikhar-scs commented on #915
@alanmoo if you could provide me the path where I can check my changes on the tag urls please :smile: .

[2018-02-02 14:18] alanmoo commented on #915
I'm not quite sure what you're asking but this should help:

`https://network-pulse-staging.herokuapp.com/tags/women%20&%20girls` and `https://network-pulse-staging.herokuapp.com/tags/command%20line` should each have one result. So check locally using `https://pulse-api.mofostaging.net/` as your API, and change the domain in the above links to localhost.

[2018-02-02 17:52] shikhar-scs commented on #915
Thank you @alanmoo for helping me out with that :+1:

[2018-02-02 21:55] alanmoo commented on #914
@anweshknayak Are you still going to take this on?

[2018-02-02 21:57] anweshknayak commented on #914
hey @alanmoo sorry. I will send a PR asap.

[2018-02-02 23:12] anweshknayak commented on #914
also @alanmoo can you assign some doable issues :smiley: I dont see much beginner issues open here

[2018-02-03 03:54] shikhar-scs commented on #915
@alanmoo I tried searching for the tag urls extensively. I did manage to find about from where they are rendered to the frontend. Its from this -

https://github.com/mozilla/network-pulse/blob/8c9bdef07735401f24a9e752a98191888ff9f8b8/components/project-card/meta/issues-and-tags.jsx#L12-L15

However, finding the backend request is coming out to be hard, backend request means the code which actually

[2018-02-05 14:13] alanmoo commented on #916
The `userstatus` endpoint has been updated on `pulse-api` (it'll be live on staging momentarily), so now this should be doable.

[2018-02-05 14:22] alanmoo commented on #914
I try to as they come up, but it's sometimes a matter of the amount of time to explain an issue can take longer than someone familiar with the project just doing it. It's also challenging to identify work that we'd like to get done yet isn't on the active roadmap, but we're trying!

[2018-02-05 16:26] anweshknayak commented on #914
thanks for the heads up. :smiley: I understand

[2018-02-07 17:13] xmatthewx opened #918 "Enable Search for people"
I think I have a solution for search across people and projects, good for users and for query performance.

 - **User story**: As a staff member or fellow, I want to search for both entries and people
 - **Problem**: A query for projects that includes names on related creator profiles is inefficient and complex
 - **Solution**: At top of search results, below search input, we display two tabs. One

[2018-02-07 17:46] xmatthewx commented on #841
Designs from @kristinashu

![image](https://user-images.githubusercontent.com/53411/35932098-c498d316-0c04-11e8-850e-1a5611d0e23c.png)

https://redpen.io/dze10a5f7dca45e587

[2018-02-07 17:49] xmatthewx commented on #861
Closing. Tracking a new potential solution in [Project 4](https://github.com/mozilla/network-pulse/projects/4) in this repo.

[2018-02-07 17:49] #861 closed

[2018-02-07 17:59] xmatthewx commented on #881
@kristinashu - do you want to take a stab at this? Or, if you're swamped, I can pull in another designer.

[2018-02-07 18:32] xmatthewx commented on #858
closing. tracking in [Project 6](https://github.com/mozilla/network-pulse/projects/6) in this repo

[2018-02-07 18:32] #858 closed

[2018-02-08 18:33] xmatthewx commented on #918
Direction seems right to Alan, Mavis, Kristina. Next step: we need to figure out design of profile cards. Probably useful to think about an mvp list of name links alongside the actual goal.

[2018-02-08 18:36] mmmavis commented on #915
FYI, @shikhar-scs this PR might be related to the issue we are trying to solve here.

[2018-02-08 18:51] shikhar-scs commented on #915
Thankyou @mmmavis for the help, I'll look that up :+1:

[2018-02-08 21:45] #800 closed

[2018-02-13 02:56] codexdelta commented on #798
Shall I show a loader instead of 0 till the promise is resolved?

[2018-02-13 03:00] codexdelta commented on #883
I have requested to access the doc. Please let me know if I can contribute in this issue.

[2018-02-13 18:29] #657 closed

[2018-02-13 18:29] alanmoo opened #920 "Build extend profiles (frontend edit form)"
to enable fellows and staff to edit their own extended profile info

[2018-02-13 18:36] codexdelta commented on #920
Hi, I would be interested in taking up this task.

[2018-02-13 18:42] alanmoo opened #921 "Identify program strings to be used for api and frontend"
We need a clean list of all names for fellow focus areas or types. These will be public, attached to profiles and visible to visitors.

The person will be marked as a Fellow. We then will display focus area or type. I assume those labels should exclude the word fellow, both to avoid redundancy and migrate away from the notion of these as distinct fellowship.

Fellow
 - Science
 - Open Web
 - Senio

[2018-02-13 18:44] codexdelta commented on #916
hi @alanmoo, Are you working on this? if not I would be interested in.

[2018-02-13 18:45] alanmoo opened #922 "Hide "affiliation" field from front-end"
We need to flesh out these types still, so let's not show them on the front end yet

[2018-02-13 18:51] alanmoo opened #923 "Display extended profile on Pulse"
If a user's "extended profile" is enabled, visiting `/profile/{id}` should show all the details added as part of that extended profile

[2018-02-13 18:53] xmatthewx commented on #923
Comp by @kristinashu  https://redpen.io/qua34b5932cdb6cf9f

[2018-02-13 18:54] alanmoo opened #924 "Build client-side directory filtering"
Based on the original comps for fellowship directories (before we slashed them down to MVP)

@taisdesouzalessa to share UI

[2018-02-13 21:29] alanmoo commented on #920
This need a bit more coordination for it to be ready to work on. In addition, it's on our priority roadmap, so one of the staff engineers will be taking it on. Please check out issues labeled "Help wanted" though!

@xmatthewx Do designs exist for this already?

[2018-02-14 18:44] xmatthewx commented on #916
Thanks @codexdelta - have you had a chance to look at this yet?

[2018-02-14 18:54] codexdelta commented on #916
Yeah I am looking into it. I have gone through the API documentation for /userstatus.

Currently updating the app-user with additional incoming params like profileId and loggedIn. There will be no profile/me only profile/id. If loggedin then user can have the option to edit profile else it will always lead to public profile.

Correct me if I am going wrong in the flow. I will revert back by EOD wi

[2018-02-14 20:05] xmatthewx commented on #923
depends on #916

[2018-02-14 20:15] xmatthewx commented on #916
Great. Thanks. Just to make sure everything is clear, based on conversation thread above, here are the requirements (option 1b above):

 - [ ] when logged in, a user's name in header links to /profile/[profile_id]
    - [ ] tapping that displays user's profile
 - [ ] when logged in, a user's own profile includes two links
    - [ ] a link to edit (/profile/myprofile)
    - [ ] a link to logout
 -

[2018-02-14 20:25] xmatthewx commented on #883
Thanks @codexdelta. Feel free to work on this if it seem interesting to you ... and ... keep it mind that it is more of an experiment and we won't necessarily be able to support or maintain a visualization tool.

[2018-02-14 20:31] xmatthewx commented on #798
Thanks. There's already a loading indicator below. I think we can just hide the "results found" element until we get a reply from the server as you suggest.

[2018-02-14 23:18] mmmavis commented on #922
Pulse front end currently doesn't show affiliation meta nor allow users to add/edit that meta.

[2018-02-15 14:18] alanmoo commented on #922
Maybe I misunderstood the initial requirement during the call- what about the fellows pages, do they show it?

[2018-02-15 14:18] alanmoo commented on #922
@xmatthewx ^

[2018-02-15 14:45] xmatthewx commented on #922
Yes, this is for the foundation directory in should be in the other repo. @taisdesouzalessa says we don't have that content yet.

[2018-02-15 14:49] alanmoo commented on #922
Moved https://github.com/mozilla/foundation.mozilla.org/issues/1062

[2018-02-15 17:23] taisdesouzalessa commented on #922
Just to give the context for this request, it came from this conversation thread with Amy: https://docs.google.com/a/mozillafoundation.org/document/d/1iiQ5lTFpAbEvRMYcNx9DqvaTmVjCE-AHwYh4PMtvveg/edit?disco=AAAABeKUvbs - in my understanding we shouldn't add that to MVP but once we have consistent information we should add.

[2018-02-15 17:24] #922 closed

[2018-02-21 01:54] codexdelta commented on #916
on submitting data on PUT /myprofile I am getting following error
`CSRF Failed: Referer checking failed - Referer is insecure while host is secure.`

even though X-CSRFToken is being passed in request's header with token string.

My env vars
`
PORT=3000
PULSE_API=https://pulse-api.mofostaging.net/api/pulse`

[2018-02-21 13:58] alanmoo commented on #916
What url are you accessing the site from, `localhost:3000`?

[2018-02-21 16:06] alanmoo commented on #916
Also, you shouldn't need to worry about actually submitting data on that page. As long as the links work, we should be good.

[2018-02-24 16:33] codexdelta commented on #798
@xmatthewx, can we close this issue?

[2018-02-24 20:29] #798 closed

[2018-02-26 08:08] codexdelta commented on #770
Shall we close this issue?

[2018-02-26 13:44] #770 closed

[2018-02-26 13:48] codexdelta commented on #897
we don't have support for newsletter subscription in API?

If we store the subscription information in user schema, we would be able to dispatch newsletter based on subscription status and we can provide unsubscribe link support from API side in all the newsletter dispatched.

Why Salesforce?

[2018-02-26 14:45] alanmoo commented on #897
We're already currently using Salesforce to manage our newsletter subscribers. It's really just a POST request to a Mozilla endpoint, but we need to make sure we're getting appropriate permission from the users/the UI is correct. I'd lean towards a simple "sign up" button on the profile page that pulls in the user's email, but doesn't concern itself with the existing status of the user's subscript

[2018-02-26 17:05] xmatthewx commented on #866
closing. restarting this in https://github.com/mozilla/network-pulse-api/issues/305.

[2018-02-26 17:44] xmatthewx commented on #897
thanks @codexdelta - we have to do some design around this before it's ready for implementation.

[2018-02-26 20:52] cadecairos opened #927 "Duplicate GET requests for /api/pulse/entries/moderation-states"
I have ~50 items in my moderation queue locally, and when I load up `/moderation`, the client side makes a similar number of requests to `/api/pulse/entries/moderation-states/?format=json`

@mmmavis suggests this could be getting triggered by a state change in React.

sample screenshot of XHR activity:

![capture](https://user-images.githubusercontent.com/438003/36694598-d8200384-1b0c-11e8-9937-4a

[2018-02-27 14:31] alanmoo commented on #924
Wrong repo.

[2018-02-27 14:31] #924 closed

[2018-02-27 14:44] alanmoo commented on #886
See also https://github.com/mozilla/network-pulse-api/issues/304

[2018-02-27 15:01] alanmoo commented on #886
Actually, I'm going to close this in favor of that one, as it encompasses this too. It's also in the right repo.

[2018-02-27 15:01] #886 closed

[2018-02-27 15:59] alanmoo commented on #862
This seems old and ambiguous. Is it still relevant?

[2018-02-27 19:43] xmatthewx commented on #862
Still relevant. Just not a priority.

[2018-02-28 00:02] kristinashu commented on #881
Let's use what Tais made for the foundation site! https://github.com/mozilla/foundation.mozilla.org/issues/1114#issuecomment-369059732

[2018-02-28 12:03] codexdelta commented on #862
is design available for this?

[2018-02-28 17:07] xmatthewx commented on #862
No. I'm going to close this. Will re-open when we actually have time to focus on the content and design.

[2018-02-28 17:07] #862 closed

[2018-02-28 17:38] taisdesouzalessa commented on #881
Here is the asset, ready to be used:
![profile-placeholder](https://user-images.githubusercontent.com/22157921/36802673-6ea7b366-1c6a-11e8-9e4d-e00a840c9f66.jpg)

Closing the issue, feel free to reopen it if needed

[2018-02-28 18:44] xmatthewx opened #928 "Add a fallback image for users without an avatar"
For users who do not have not uploaded an avatar, let's set the image below to display on their profile.

See https://github.com/mozilla/network-pulse/issues/881 for prior discussion.

![profile-placeholder](https://user-images.githubusercontent.com/22157921/36802673-6ea7b366-1c6a-11e8-9e4d-e00a840c9f66.jpg)

[2018-02-28 18:45] xmatthewx commented on #881
I opened a ticket to implement this: https://github.com/mozilla/network-pulse/issues/928

[2018-02-28 18:45] #881 closed

[2018-02-28 20:40] xmatthewx opened #929 "Build extended profiles (frontend display)"
We have added Extended profiles to the API. Let's add the new info to the frontend display on Pulse.

Requirements:
 - [ ]  Add requirements checklist before development begins

** This is not ready for implementation **

[2018-02-28 20:45] xmatthewx commented on #929
Comps are [redpen](https://redpen.io/qua34b5932cdb6cf9f).

Note:
 - A profile can have a type, program and year as seen in comp below. In the future, if a person has multiple programs and year, we should either display the most recent or reconsider the design
 - A profile can have an extended bio. This should go in a tab below labeled story in comp.

<img width="1017" alt="image" src="https://user

[2018-03-01 19:19] mmmavis commented on #600
Hey @Sudip7 , haven't heard back from you for a while now. I'm gonna re-assign this ticket to myself as I would like to get this shipped soon 😃 Thanks for offering your help!

[2018-03-04 08:55] ayusharma opened #931 "Integrate testing"
My Reason:
- currently there is no test.
- Add enzyme with Jest to test react app.

Links:
- https://facebook.github.io/jest
- https://github.com/airbnb/enzyme

[2018-03-04 09:07] codexdelta commented on #931
@mmmavis we should have a canvan board for testing and plan a milestone.

[2018-03-05 18:40] xmatthewx commented on #921
Done. Closing.

[2018-03-05 18:40] #921 closed

[2018-03-07 23:05] mmmavis opened #932 "Add back a missing handler"
<img width="606" alt="screen shot 2018-03-07 at 2 58 18 pm" src="https://user-images.githubusercontent.com/2896608/37123344-bed60122-2218-11e8-8000-e0b0ba572385.png">

[code]

should be added back to `/components/bio/bio.jsx`

[2018-03-08 00:59] mmmavis commented on #932
I'll file a PR after [this PR](https://github.com/mozilla/network-pulse/pull/926) gets merged (they both touch the same file and code)

[2018-03-08 18:18] #928 closed

[2018-03-08 22:00] taisdesouzalessa commented on #591
Please note that the Profile pictures (for Fellows) used in Pulse are also being used in our Fellowship site's Directory:
<img width="1182" alt="image" src="https://user-images.githubusercontent.com/22157921/37178662-073e3dde-22d8-11e8-9852-2db5173f7148.png">

Here are the specifications I used for those pictures:
- [ ] Square (600px X 600px) at 72ppi (pixels per inch)
- [ ] Saved for Web, JPEG, q

[2018-03-09 21:41] xmatthewx opened #934 "Reverse a profile's list of entries"
Currently, a profile lists related creator entries from oldest to newest. Let's switch to put the newest first.

Not urgent, but good to land as we have more activity from fellows and global sprint. See [example](https://www.mozillapulse.org/profile/209).