[2018-03-09 21:50] xmatthewx opened #935 "Improve autocomplete list of creators"
Currently, if I try to name Mozilla as a creator on an entry, I can't use autocomplete, even that creator has more entries that most other users.  I have to use a comma.

 - short names should come first. users can keep typing to get longer names.
 - creators with profiles should come first. users will see the icon to prompt them to pick it.

Let's this _after_ we rework our creator profile approa

[2018-03-09 22:24] mmmavis commented on #934
@Pomax sounds like a API side of task to me. True?

@xmatthewx do we want both `published_entries` and `created_entries` to order from newest to oldest?

[2018-03-12 18:45] xmatthewx commented on #934
@mmmavis it looks like the api allows you to specify reverse ordering with `-` like `?ordering=-created`

[2018-03-12 18:53] mmmavis commented on #934
@xmatthewx we get `published_entries` and `created_entries` from the `/profiles` endpoint, not the `/entries` endpoint. (e.g., https://api.mozillapulse.org/api/pulse/profiles/70/) I just tried it with `?ordering=-created` but it didn't seem to change anything.

[2018-03-12 19:15] xmatthewx commented on #934
Ah, I see. I opened an API issue https://github.com/mozilla/network-pulse-api/issues/324

[2018-03-14 15:52] xmatthewx commented on #934
I believe this is now unblocked by https://github.com/mozilla/network-pulse-api/pull/326

[2018-03-14 17:28] xmatthewx opened #936 "Migrate story engine content to Profiles"
Pulse now has some extended profile fields that could be used for story engine content.

Currently blocked by frontend display of those fields.

[2018-03-14 22:42] mmmavis commented on #934
@alanmoo it's unclear to me what param I should pass to get `published_entries` and `created_entries` both sorted from newest to oldest projects. Is https://github.com/mozilla/network-pulse-api/pull/326 a fix for the Fellowship directory instead and not for this ticket?

[2018-03-15 15:59] xmatthewx commented on #934
I was mistaken @mmmavis. Oops. You're right, that fix was ordering by name for directory, not ordering of entries on profiles. You're still blocked. And this is lower priority than the directory.

[2018-03-20 05:26] #717 closed

[2018-03-21 20:11] #934 closed

[2018-03-26 14:56] #916 closed

[2018-03-27 16:09] xmatthewx opened #938 "Add redirect to admin"
Add redirect from mozillapulse.org/admin/ to api.mozillapulse.org/admin/ to make life easier.

[2018-03-27 16:29] xmatthewx commented on #548
tracking in #938

[2018-03-27 16:29] #548 closed

[2018-03-28 15:44] xmatthewx opened #939 "Set up a Pulse twitter bot"
See: https://github.com/MozillaFoundation/mofo-devops-private/issues/94#issuecomment-376933868

 -   https://api.mozillapulse.org/rss/featured,
 -  https://api.mozillapulse.org/rss/latest

[2018-03-29 19:03] acabunoc opened #940 "Feature request: Prepopulate tags in entry creation"
Since we have a lot of new entries with missing tags, It would be great if I could send folks a link (like https://www.mozillapulse.org/add?tags=2018+mozsprint) and it would already have the tags I want applied.

[2018-03-30 16:08] xmatthewx opened #941 "Develop Pulse roadmap & wireframes"
Pulse has an active roadmap [project board](https://github.com/mozilla/network-pulse/projects/2). We would be benefit from a visual summary of these priorities, forecasting the next 6 months.

I've started wireframes on the evolution: https://mozilla.invisionapp.com/boards/NB3L3M73Z2U

[2018-03-30 16:12] xmatthewx commented on #941
@kristinashu - I'd welcome your comments in here. While we won't likely dig into any of these during the sprint, I will discuss the roadmap with main goals for next 6 months. There's no major shifts from your earlier design explorations, but a few suggestions on how we handle search, trending tags, and help categories.

[2018-04-02 15:57] irrationalRock commented on #914
Is someone still working on it? I would like to make a PR on this issue if no one is working on this.

[2018-04-02 16:04] xmatthewx commented on #914
Thanks @irrationalRock - we'd welcome your help on this.

[2018-04-10 16:57] acabunoc opened #943 "Application error when editing `mozsprint` tag"
When I try to edit the `mozsprint` tag I often get application error. Maybe because there are too many entries tagged?

https://api.mozillapulse.org/admin/tags/tag/400/change/

<img width="997" alt="screen shot 2018-04-10 at 9 57 33 am" src="https://user-images.githubusercontent.com/617994/38571538-9f987c3e-3ca5-11e8-806d-edd826b030ef.png">

[2018-04-10 17:31] gideonthomas commented on #943
I think the request is timing out. Not sure what's taking long here though.
[code]

[2018-04-11 14:50] alanmoo commented on #943
What are you trying to change it to?

[2018-04-11 14:56] acabunoc commented on #943
@alanmoo - adding entries to the tag. It's easy to go this way than to go inside each entry and add this tag.

[2018-04-11 16:05] patjouk commented on #834
I think we're done for those issues. If we run into new ones, we should open a new ticket.

[2018-04-11 16:05] #834 closed

[2018-04-11 18:36] gideonthomas commented on #943
oh @acabunoc, did you see this after you added the entries and tried to save the tag? Or when you were loading the tag page?

[2018-04-11 22:00] acabunoc commented on #943
loading the tag page! If the page loads (very rarely), then I have no problem adding new tags

[2018-04-11 22:29] xmatthewx commented on #943
Related to https://github.com/mozilla/network-pulse-api/issues/342

[2018-04-12 01:34] gideonthomas commented on #943
ah thanks @xmatthewx! @acabunoc is it a very large list that you are trying to tag with #mozsprint? Otherwise, with a workaround of manually doing it on the entry, would we be able to close this and follow-up in the ticket linked above? If not, I can prioritize this.

[2018-04-12 15:12] gideonthomas commented on #943
Thanks! I'll ping you when I have a fix up @acabunoc!

[2018-04-12 15:12] #943 closed

[2018-04-18 19:04] mmmavis commented on #887
@kristinashu should we consider displaying some messages when no published/created/favourited entries are associated with the profile user is viewing?

[2018-04-18 19:41] xmatthewx commented on #887
here's a few thoughts:
 - If person A is viewing person Z, I think we should just omit the tabs with no data. So maybe we lazy load it.
 - If a profile only has one tab, we can probably just hide it altogether.
 - If person A is viewing the own profile, it would be awesome to show favs tab with the CTA we show when mozillapulse.org/favs is empty.

If this is all complicated, we can build and ship

[2018-04-18 23:11] mmmavis commented on #887
As an user I'd like to see the same tab options across all profiles so I know what to expect when I visit any profile page. But this is just my personal preference. I'm curious to know what @kristinashu thinks!

@xmatthewx should I pause implementation until we sort out the specs?

[2018-04-19 15:40] xmatthewx commented on #887
Let's move forward with implementation. I can meet today to figure things out. It seems like there's plenty to build to set up tabs, pull favs, pull extended profile fields.

For the tabs, maybe we can meet halfway for now. We can show projects and favs on all profiles, with a message in empty tabs. Very few profiles will have extended fields, so I'd like to hide that when there's no content. I'm

[2018-04-19 15:44] xmatthewx commented on #887
When I visit a github project, I don't even notice that some of them have a tab for a wiki, some for projects, some don't have either. Some repos are just more feature rich than others. But the core experience doesn't change.

[2018-04-19 15:56] kristinashu commented on #887
Looks like we talked about this a bit in the design ticket https://github.com/mozilla/network-pulse/issues/880#issuecomment-350167327

[2018-04-19 16:15] mmmavis commented on #887
@xmatthewx @kristinashu it would be super helpful if we could meet today and sort out the specs together and note them down either in this ticket or [the design ticket](https://github.com/mozilla/network-pulse/issues/880#issuecomment-350167327). Let's talk during stand?

[2018-04-19 17:12] xmatthewx commented on #887
- [ ] card style remains the same
 - [ ] list of projects and headers remains the same
 - [ ] add a tab nav component
 - [ ] style tabs as listed above
 - [ ] load projects by default
 - [ ] don't load favs initially (delay if possible. wait until tab tapped if not possible)
 - [ ] follow-up: hide tabs if they're empty. hide all the tabs if only one is present
 - [ ]

[2018-04-19 19:38] mmmavis opened #944 "Switch to use Pulse API v2"
Other than updating the endpoints we should also make sure data returned from v2 endpoints is what we expected to get.

Some endpoints to pay attention to:

- https://github.com/mozilla/network-pulse-api#get-apipulseprofilesidnumber-with-optional-formatjson
- (more to be added)

[2018-04-19 21:36] mmmavis commented on #887
partially blocked by: https://github.com/mozilla/network-pulse-api/issues/349

[2018-04-25 20:28] mmmavis commented on #153
@arush0311 @himanish-star seems like our team wanna get this out soon. I'll be working on this today/tomorrow. Thanks for offering help!

[2018-04-27 14:11] arush0311 commented on #153
@mmmavis please go ahead. Sorry I completely forgot about this issue.

[2018-04-27 18:24] mmmavis commented on #153
@xmatthewx what are the trending terms/links we wanna show?

[2018-04-30 17:28] xmatthewx commented on #153
Let's try this @mmmavis. If it's too much, let's first remove help code.

[code]

[2018-05-01 13:56] #914 closed

[2018-05-01 16:59] xmatthewx commented on #887
@mmmavis - i think this is unblocked now. yay.

[2018-05-01 17:04] mmmavis commented on #887
@xmatthewx there's another issue on the api side: https://github.com/mozilla/network-pulse-api/issues/358

[2018-05-01 17:49] xmatthewx opened #952 "Fix profile name edit field to show custom name"
If a user has a custom name, profile edit form still shows their google name. Some users think their custom name won't save. It does save and display on their profile. the form just continues to show their google name.

This is _not_ a critical bug. It needs to be fixed, but nothing is on fire, so no need to drop other things.

STR
1. make a profile
2. edit your name to something unique
3. view yo

[2018-05-02 00:08] mmmavis commented on #952
looks like regression to me. i'll look into it

[2018-05-02 14:12] codexdelta commented on #715
Can I take up this bug?

[2018-05-02 14:16] alanmoo commented on #715
Sure thing! Looks like all the relevant info is here in this ticket, feel free to comment when you think you have an approach you want to take, or open a PR and start the discussion there!

[2018-05-02 15:16] xmatthewx commented on #938
@alanmoo - are redirects possible via the app? or do we handle these server side?

[2018-05-02 18:28] mmmavis commented on #704
Closing. CSP issues have been fixed. I can't seem to reproduce the "XHR Request Cancelled" issues on moderation page. I'll create a new ticket if I encounter it in the future.

[2018-05-02 18:28] #704 closed

[2018-05-03 17:13] xmatthewx commented on #941
Much of this is done. Still some planning in motion but I don't think I need this ticket to track it.

Comps for roadmap here: https://redpen.io/p/ft9fedb020f8d04540

[2018-05-03 19:46] gvn opened #954 "Potential security vulnerability in subdep"
See: https://github.com/mozilla/network-pulse/network/dependencies

<img width="569" alt="screen shot 2018-05-03 at 12 47 00 pm" src="https://user-images.githubusercontent.com/206379/39599261-2193987c-4ed0-11e8-8cf3-6a6fd707aab8.png">

[2018-05-03 19:47] gvn commented on #954
CC: @xmatthewx @mmmavis

[2018-05-03 20:35] mmmavis commented on #954
Thanks. I filed a ticket last week on DevOps repo: https://github.com/MozillaFoundation/mofo-devops-private/issues/132

[2018-05-03 20:52] #954 closed

[2018-05-03 21:30] mmmavis commented on #153
Done. https://www.mozillapulse.org/search

[2018-05-03 21:30] #153 closed

[2018-05-03 21:30] mmmavis commented on #792
This is done!

[2018-05-03 21:30] #792 closed

[2018-05-07 18:18] xmatthewx opened #955 "Follow up on new Profile Favs"
I see three things worth fixing. I don't think these need to block shipping the feature, and can be follow up so we can get the feature live. @mmmavis

 - [x] 1. someone else's profile - remove project headers on profile with no projects
 - [x] 2. user's profile - remove headers and 2nd cta on projects tab for a user with no projects
 - [x] 3. user's profile - remove header on empty FAVs tab (i'm

[2018-05-08 18:06] xmatthewx commented on #955
Thanks @mmmavis. How does this sound?... I will try and make a diagram to cover if/then scenarios. Ideally, I can find a few universal rules we can apply everywhere, so we don't have to worry about tracking lots of details.

[2018-05-09 15:27] gideonthomas commented on #887
@mmmavis can this issue be closed now?

[2018-05-09 17:33] xmatthewx commented on #880
Yes, this is done or filed elsewhere. Thanks.

[2018-05-09 17:33] #880 closed

[2018-05-09 19:06] mmmavis commented on #887
@gideonthomas yup yup

🎉 🎉 🎉

[2018-05-09 19:06] #887 closed

[2018-05-10 01:12] mmmavis opened #957 "Merge public-profile.jsx and profile.jsx"
We used to have a "private profile" component but now that it's gone... we should merge `public-profile.jsx` and `profile.jsx` together and have just one component called `Profile` (`profile.jsx`).

[2018-05-10 11:29] evgeny-petukhov commented on #740
@kristinashu May I work on this issue, please?

[2018-05-10 19:18] xmatthewx commented on #740
That's a good idea, especially if we can check _after_ the page is already loaded.

Is the work worth it? I think yes. Of all the people who have logged in during the past 90 days, nearly 2/3 have both twitter _and_ bio blank.

[2018-05-10 19:46] mmmavis commented on #740
FYI we already have a `NotificationBar` component: https://github.com/mozilla/network-pulse/tree/master/components/notification-bar

@xmatthewx do we have stats about how many people actually click on their name at top right to go to their own profile? I wonder if it makes more sense to just make the "please complete your profile" prompt more obvious on user's own profile page instead of showing a

[2018-05-14 18:22] xmatthewx opened #958 "Setup URL for profile favs"
Our profiles now show a user's favs. w00t! It's a big opportunity for people to serve as curators.

Can we route the URL to the favs tab, so that [/profile/85/favs](https://www.mozillapulse.org/profile/85) loads that tab? Not critical, but super useful for people who wanna be a curator.

Curious what you think @mmmavis

[2018-05-14 18:26] xmatthewx opened #959 "Reverse order favs"
Profiles now display a user's favs. Yay! Currently, they are sorted either chronologically or by fav ID. We should reverse this so that the latest content shows up top, old stuff down below.

The API should probably serve these up in reverse. If it doesn't, let's request a patch over there. This is not a critical bug, but definitely something we should fix.

@mmmavis @gideonthomas to discuss.

[2018-05-14 19:06] mmmavis commented on #958
Yea we can. Is our plan to also get rid of the favs tab? i.e., `https://www.mozillapulse.org/favs`

[2018-05-14 19:08] mmmavis commented on #959
@gideonthomas should we tweak this on the API instead of (re)sorting things on front end?

[2018-05-14 19:08] mmmavis commented on #955
Yay. This is done!

[2018-05-14 19:08] #955 closed

[2018-05-14 19:44] xmatthewx commented on #958
Maybe? Good question. Let's discuss in a separate thread. We will need to consider non-authenticated users, and your nice import feature. Those feel different than this issue to share profile favs.

[2018-05-14 21:46] #957 closed

[2018-05-14 22:50] xmatthewx commented on #958
I started a message to share out profile favs with staff and fellows. Writing it, I realized I'd like to wait until we have routing for /profile/id/favs. Makes the feature much more useful.

[2018-05-15 05:14] mmmavis commented on #958
Sure. If that's the case we probably need to change the behaviour of how tabs and headers are showing. I'm thinking we need to make the tab labels (`Projects`, `Favs`) visible at all times regardless if that profile has fav'ed projects associated with it or not. Is there anything we should tweak?

[2018-05-15 14:06] xmatthewx commented on #958
Interesting. Are you thinking that the routes would otherwise fail and we'd need to either show a not found message or we'd need to redirect from /profile/id/favs to /profile/id? Or, are you worried about user experience?

[2018-05-15 17:44] mmmavis commented on #958
In https://github.com/mozilla/network-pulse/issues/887#issuecomment-382505371

This means when person A is viewing person Z's fav tab by going to `/profile/123456789/favs`... if person Z doesn't have any favs, person A will see a screen like

![screenshot-2018-5-15 mmm - mozilla network pulse](https://user-images.githubusercontent.com/2896608/40073477-cafb3a0a-582b-11e8-8cb6-48e483925e61.png)

Not

[2018-05-15 19:31] gideonthomas commented on #959
Ideally both. The heavy lifting will be done by the API, but the front-end would just need to change the url it uses to get the favs (probably just add a querystring var)

[2018-05-15 19:36] gideonthomas commented on #959
Filed https://github.com/mozilla/network-pulse-api/issues/370 for the backend part of this work.

[2018-05-16 14:30] xmatthewx commented on #958
I've created some documentation to track our [rules for conditional display](https://docs.google.com/presentation/d/15Vsb-3WFCl9nJIie6MstR2MoTwbBG5um8rmIGqFLPHY/edit#slide=id.g3a0640936a_0_139
). It includes info on routing for favs tab. Let's discuss, clarify, and revise if needed.

 - 1st priority: get routes for tabs set up.
 - 2nd priority: consider auto switch to favs

Considerations:
 - Many

[2018-05-24 16:15] xmatthewx opened #962 "Pulse Profile Routing MVP"
Pulse Profiles now have two tabs, one for Projects, one for Favs. To maximize the impact of Favs, enabling easy sharing, let's add routes.

Note: a tab only displays if there is relevant content.

Scope: add basic routing to enable direct links to .../profile/[id]/[tab]

Requirements
 - .../profile/[id]
    - [x] loads default tab (as implemented)
 - .../profile/[id]/favs
   - [x] if content: load

[2018-06-07 22:42] mmmavis commented on #929
@xmatthewx is this the next ticket i should be working on?

[2018-06-21 16:24] taisdesouzalessa opened #967 "No image attached in Twitter"
**Problem:** currently, when we share to Twitter via Pulse, the image is not displayed in the Twitter view:

<img width="734" alt="image" src="https://user-images.githubusercontent.com/22157921/41629878-d5ab566c-73e0-11e8-96eb-dd70e5185b9a.png">

**Suggested solution:** it would be nice to have an image attached to Twitter (and other social media shares we decide to have in the future) so the Puls

[2018-06-22 16:53] mmmavis commented on #920
@xmatthewx would this be the next Pulse ticket i should work on?

[2018-06-22 17:21] xmatthewx opened #968 "Optimize markdown rendering and styles"
We're adding markdown support, for use in extended profile bios.

Step 1: We need one fix on the API side. Multi-line text pasted into the admin form is squashed into a single line. So paragraphs and lists don't work. https://github.com/mozilla/network-pulse-api/issues/381

Step 2: test styles

 - [x] basic text
 - [x] italics
 - [ ] bold
 - [ ] links --> make them blue
 - [ ] lists (blocked)
 - [

[2018-06-22 18:01] mmmavis commented on #968
@xmatthewx I think it depends on what kind of info we want users to put there. If this is a "long bio" field to users I feel like providing support only for the the following elements would be enough.

- basic text / paragraph
- italics
- bold
- hyperlinks

[2018-06-22 18:10] xmatthewx commented on #968
That seems right. Let's add lists too. We can encourage use of bold for simple headers. We might also want to include images (remotely hosted), but we can leave that out for now.

[2018-06-25 17:23] xmatthewx commented on #920
I think yes. We should take a look at any comps @kristinashu did and draft a requirements list before you jump in. A few things that jump to mind:

 - [ ] only show extended fields to people who have their extended profile flag checked
 - [ ] don't show these fields on frontend: profile type, program type, year. those should be maintained by staff via the admin, not by users.

[2018-06-25 19:55] alanmoo opened #969 "My profile shows "About" tab even if empty"
STR:

1. Log in, visit https://www.mozillapulse.org/profile/me
2. Even if you don't have extended profile info enabled, you'll see the "About" link and be at that route.
(For example, https://www.mozillapulse.org/profile/93 doesn't have it, unless I'm logged in)

Expected behavior:
If extended profile info isn't enabled, you shouldn't see the tab/be on that route.

cc @xmatthewx

[2018-06-25 19:59] mmmavis commented on #969
Aw I thought we always wanna make all tabs visible when you are visiting your own profile. T/F? @xmatthewx

[2018-06-25 21:49] mmmavis commented on #969
@xmatthewx is this the logic what we wanna have going forward or just a temporary solution since currently users can't add their long bio via front end?

[2018-06-25 22:57] mmmavis commented on #958
This is up and running! https://www.mozillapulse.org/profile/85/favs 🎉

[2018-06-25 22:57] #958 closed

[2018-06-25 22:58] mmmavis commented on #962
I believe this is all done too. Closing!

[2018-06-25 22:58] #962 closed

[2018-06-25 22:58] mmmavis commented on #944
Done!

[2018-06-25 22:58] #944 closed

[2018-06-25 23:03] mmmavis commented on #929
Done! Front end can now display user's `long bio` if such meta is available in the JSON returned from API.

Closing!

[2018-06-25 23:03] #929 closed

[2018-06-25 23:06] mmmavis commented on #923
@xmatthewx do you think we can close this ticket as well? This to me looks like a dupe of https://github.com/mozilla/network-pulse/issues/929 ?

[2018-06-25 23:19] mmmavis commented on #920
@xmatthewx

FYI, afaik, data returned from API doesn't directly tell you if a profile has `extended profile` toggled on or not. When `extended profile` of a profile is enabled and any meta in the "extended profile" section is available, API will automatically emit that info (e.g., include a `user_bio_long` property in the JSON).

[2018-06-26 15:25] xmatthewx commented on #969
I think this is how we would want it moving forward. I don't see a strong need to show the tab and a CTA to get more long bios, so this would not be a temporary change.

[2018-06-26 15:35] xmatthewx commented on #920
Well, maybe that's okay. Unless I'm mistaken, I think long bio is the only field we would want to add to the form. We could just add that as a clearly optional field. And... that begs the question: do we need a flag to enable/disable extended profiles? If the "official" fields are only accessible via django, the flag might be unnecessary, even for use cases on foundation site.

I'm curious what @m

[2018-06-26 17:48] mmmavis commented on #920
(attaching a screencap here in case it's useful as a reference)
<img width="477" alt="screen shot 2018-06-26 at 10 39 46 am" src="https://user-images.githubusercontent.com/2896608/41929554-4bc138f2-792d-11e8-8783-be33bc309c32.png">

If the `user long bio` is the only field in that section we are allowing users themselves to change, then I agree with @xmatthewx that we could probably just get rid o

[2018-06-26 17:52] mmmavis commented on #920
As for comps, @xmatthewx I *think* this is the latest one @kristinashu did. I'm not sure how up to date it is though since this was made months ago. The "story" content there looks way more complicated than what I would imagine a `long bio` would be.

Redpen link: https://redpen.io/qua34b5932cdb6cf9f

[2018-06-26 19:49] #923 closed

[2018-06-26 20:10] xmatthewx commented on #920
The design was a bit speculative. We do plan to input storyengine interviews, but looking at those again, they're just text, headings, links, and lists ([example](https://storyengine.io/stories/mozilla/dixie-ching/)). They have a fancy image at the top, but that can be covered by our profile image.

I believe the original thinking was that there would be some data we would want only certain indivi

[2018-06-26 20:11] xmatthewx commented on #920
Another question for us @mmmavis, is how we want to indicate markdown support above the field. I guess we can ship this without that, and enhance it with that later. Mostly, it'll be used by us and fellows.

[2018-06-26 20:38] gideonthomas commented on #920
yeah I think let's go for the simpler solution and not worry about the flag. We can file a follow up issue about it and discuss if we need to add actual functionality to it or repurpose it to be useful in some other way

[2018-06-26 20:57] mmmavis commented on #968
@xmatthewx how would users know what markdown elements are supported? Are we thinking about rendering non-supported markdown element as is? e.g., `# big header` in markdown will show up as just as plain body text `# big header` on their profile?

[2018-06-26 21:07] mmmavis commented on #920
@xmatthewx does this mean by default the "extended profile" tag is on for everyone?

[2018-06-26 21:57] mmmavis commented on #969
kk cool, thanks for updating the slide deck too

[2018-06-27 15:55] xmatthewx commented on #920
No, let's leave it off be default and ignore it. If we ever need it for semi-official fields, it'll be better to turn it on for a few select fellows, than toggle it for all users.

[2018-06-27 16:44] mmmavis commented on #920
@xmatthewx just making sure - this field is available only when that user's profile has extended profile toggled on, right?

[2018-06-27 17:20] xmatthewx commented on #920
No, let's not worry about the flag for now. The API isn't sending that boolean to you. And I don't think it matters that much if all users have access to this.

[2018-06-27 20:02] mmmavis commented on #920
@gideonthomas I just did a quick test

1. When "extended profile" is off, JSON returned from `/profiles/<id>` endpoint will not `user_bio_long` info at all
2. When "extended profile" is on, JSON returned from `/profiles/<id>` endpoint will have `user_bio_long` as a property even if this meta has empty value. e.g., `{..., user_bio_long: "", ...}`

@gideonthomas are my findings above correct? If so,

[2018-06-27 20:55] #969 closed

[2018-06-28 16:14] gideonthomas commented on #920
based on https://github.com/mozilla/network-pulse-api/blob/master/pulseapi/profiles/serializers.py#L117-L126 I think you're right @mmmavis

[2018-06-28 17:17] xmatthewx commented on #968
Markdown is live and thriving on staging!!!

@mmmavis - I tested a bunch of markdown. Nothing looks terribly broken except headers. I think if we clean up headers, we'll be golden. Let's also add a nice style for blockquotes, which can be very useful.

 - headers - an easy styles fix would be to set h1,h3,h4,h5,h6 to all look like h2. I don't think people really need more than one level. if you th

[2018-06-28 17:22] xmatthewx commented on #968
@kristinashu - can you help with a quick blockquote style for pulse profile about tab? i they'll be useful to break up long profile and story engine interviews. And we need one or two levels of headers.

see demo here: https://network-pulse-staging.herokuapp.com/profile/6/about

[2018-06-28 20:19] mmmavis opened #972 "Bug: autocomplete for creators in the "add project" form is not working"
https://api.mozillapulse.org/api/pulse/v2/creators/ API endpoint has been deprecated.

[2018-06-28 21:33] kristinashu commented on #968
I'd recommend using the .feature-quote component https://foundation.mozilla.org/style-guide/

<img width="1160" alt="image" src="https://user-images.githubusercontent.com/1068783/42061796-3505aa9e-7ae0-11e8-8830-929fc4e8a9d0.png">

[2018-06-28 21:46] xmatthewx commented on #968
This has to be a little simpler since it's done with markdown. Just like in github when you do `> he said, she said` and it yields this:

We can do italics, bigger type. We should test centering vs left alignment. We could maybe include the quotation mark if Mavis thinks it's feasible. We probably can't do the attribution because it would have to be a cascading markdown style. A bit too complicate

[2018-06-29 17:04] mmmavis commented on #972
Fixed https://www.mozillapulse.org/add !

[2018-06-29 17:04] #972 closed

[2018-06-29 19:48] gideonthomas opened #975 "Creating an entry with autcompleted creators saves the image in the database"
STR:
1. Create an entry and autocomplete creators. The creators in the autocomplete dropdown show up with a person image beside them.
2. When you save the entry, it saves the creators with the image as well in the database and that's what you see everywhere creators are shown.

<img width="826" alt="screen shot 2018-06-29 at 3 42 59 pm" src="https://user-images.githubusercontent.com/5816130/421118

[2018-07-03 20:11] mmmavis opened #977 "Newlines not being rendered in Profile About tab"
On staging:

![screenshot_2018-07-03 update profile - mozilla network pulse](https://user-images.githubusercontent.com/2896608/42242379-835ea908-7ec2-11e8-91a0-5ce6295901c0.png)

![screenshot_2018-07-03 mmm - mozilla network pulse](https://user-images.githubusercontent.com/2896608/42242374-8130a528-7ec2-11e8-86b8-7f6504c60137.png)

[2018-07-04 00:12] xmatthewx commented on #977
Interesting. It seems to work for paragraphs (2 newlines) and bullets (single newline), but not a simple single line break.

It'd be good to fix this, but it's definitely not an emergency.

[2018-07-04 01:05] mmmavis commented on #977
@xmatthewx PR is in review already 👍

[2018-07-04 20:11] gideonthomas commented on #977
This can be closed?

[2018-07-04 20:13] gideonthomas commented on #975
Fixed in ee994509ba5de2b5afe006f06fb8d9183902899a

[2018-07-04 20:13] #975 closed

[2018-07-04 20:15] gideonthomas commented on #959
To get the favs in reverse order of creation, hit up this route:
`/api/pulse/v2/profiles/<id>/entries/?favorited&favorited_ordering=-created`
per [this documentation](https://github.com/mozilla/network-pulse-api#get-apipulseprofilesidnumberentries-with-filter-arguments-and-optional-formatjson)

[2018-07-04 20:17] mmmavis commented on #977
Fixed!

[2018-07-04 20:17] #977 closed

[2018-07-04 20:18] mmmavis commented on #920
Fixed!

[2018-07-04 20:18] #920 closed

[2018-07-06 19:20] mmmavis commented on #959
@xmatthewx did you mean latest created project first OR latest favourited project by that profile first?

[2018-07-06 19:22] mmmavis commented on #959
@xmatthewx did you mean latest created project first OR latest favourited project by that profile first? For reference, on the standalone /favs tab we show latest favourited project first.

[2018-07-20 19:27] gideonthomas opened #980 "Entry creators should not link to profile if the creator has a stub profile"
We create profiles for every single creator but some have empty profiles. We determine this with the `is_active` flag but that isn't passed in the data when returning entries from the API.

Once https://github.com/mozilla/network-pulse-api/issues/389 is done, we should conditionally link out to a creator profile or not based on the `is_active` flag.

cc @xmatthewx and @mmmavis

[2018-07-24 17:59] xmatthewx commented on #980
For context @mmmavis - when we had the creators model in the middle, we only linked if there was a profile. Now that everything is a profile, @gideonthomas will have the API the flag, and you can conditionally link if the profile has an account (or is_active).

[2018-08-01 15:43] patjouk opened #981 "404 page image broken"
<img width="500" alt="screen shot 2018-08-01 at 5 40 57 pm" src="https://user-images.githubusercontent.com/481052/43532387-3eb94126-95b2-11e8-8c92-37e90cb451fb.png">

Ran into this issue on prod and staging.

[2018-08-02 21:49] xmatthewx commented on #981
@alanmoo – a missing image on a 404 page? kinda funny.

it's totally 404 inception.

[2018-08-03 17:59] gideonthomas opened #983 "Design form for org profiles"
Form should allow orgs to enter data.

Fields:
1. Organization name (required) - text
2. Location (required) - text
3. Tagline (required) - text 140 chars
4. Description (required) - text
5. Profile owner - autocomplete dropdown text
6. Twitter handle - text
7. LinkedIn - text url
8. Organization Email - text email
9. Website - text url
10. Organization Logo - image
11. Internet Health Issues - mu

[2018-08-03 18:17] gideonthomas opened #984 "Develop form for org profiles"
Create react page with org profile component (not pre-filled data).
Design task - #983

Posts to API route `/api/pulse/v2/profiles/organizations/`

[2018-08-14 19:56] xmatthewx commented on #980
@mmmavis - looks like this is unblocked and ready for frontend

[2018-08-17 01:02] mmmavis commented on #980
@xmatthewx What if user hits up a profile URL on front end that is tied to a `is_active = false` profile? Do we wanna make it 404? Or?

On the API side - it seems like the `pulse/v2/profiles/<profile_id>/` endpoint doesn't return `is_active` property.  /cc @gideonthomas

[2018-08-17 15:54] xmatthewx commented on #980
Yes, we should 404 that. It's an edge case, and not super likely. Let's tackle that as a follow up issue. I don't think it blocks us turning off links to in active profiles. These links are very prominent and make the platform look very empty and inactive. Does that sound okay?

[2018-08-17 15:56] xmatthewx opened #985 "Set inactive profiles to return 404"
Profiles that are inactive should return 404. As mentioned in #980

API needs to be updated to do this.

cc @gideonthomas to file API issue.

[2018-08-17 18:31] gideonthomas commented on #985
Filed: https://github.com/mozilla/network-pulse-api/issues/404

[2018-08-20 23:38] mmmavis commented on #980
done and live!

[2018-08-20 23:38] #980 closed

[2018-08-21 14:42] xmatthewx commented on #980
excellent, thanks!

[2018-10-03 19:40] alanmoo commented on #830
@xmatthewx The remaining item seems very vague at this point. Can we close this? Unassigning myself.

[2018-10-03 19:45] Pomax commented on #715
unassigning due to inactivity

[2018-10-03 19:45] alanmoo commented on #864
@xmatthewx Is this still a thing we want to do?

[2018-10-03 19:57] #427 closed

[2018-10-03 20:27] xmatthewx commented on #830
closing

[2018-10-03 20:27] #830 closed

[2018-10-03 20:28] xmatthewx commented on #864
This is related to @gideonthomas' work on org profiles. But we can close this. Reopen if/when we're able to move partnership stuff forward.

[2018-10-03 20:28] #864 closed

[2018-10-08 14:45] alanmoo commented on #736
@mmmavis This is pretty old, but do you know why it's blocked?

[2018-10-08 14:57] alanmoo opened #988 "React-router doesn't update head tag"
From [this ticket](https://github.com/mozilla/network-pulse/issues/409#issuecomment-346513670)

[2018-10-08 14:58] xmatthewx commented on #409
Closing. Tracking in #988

[2018-10-08 14:58] #409 closed

[2018-11-06 16:13] alanmoo opened #990 "Submitting profile update without an image fails"
1.) Log in to pulse using a profile that doesn't have an image
2.) Attempt to update profile without uploading an image (for example, update the bio field)
3.) Try to save it

[2018-11-14 20:17] gideonthomas opened #992 "Design refresh for auth pages"
I implemented the front-end pages for logging in/out scrappily. It probably needs to be re-done with better designs.

### Login page

<img width="1440" alt="screen shot 2018-11-14 at 3 07 13 pm" src="https://user-images.githubusercontent.com/5816130/48509800-155fd680-e820-11e8-9b23-a10594653a5c.png">

### API Homepage (rarely used...only used if you go to the pulse API homepage directly)

<img wid

[2018-11-19 22:15] xmatthewx commented on #992
Thanks @gideonthomas. Question: when do people see the "Link a Social Account" screen?

[2018-11-20 01:06] gideonthomas commented on #992
Did your github email address match your google login email?

[2018-11-27 20:34] xmatthewx commented on #992
I think I figure this out (moz email alias + private window; email confirmation leading to reg window auth'd with other moz email).

Can you delete profiles 1744 and 1780, and their associated users? I don't seem to have permission for this under your new model.

[2018-11-27 20:44] gideonthomas commented on #992
Yeah, it will only show the "link" screen if the same email is used for both Google and Github.

You should still be able to delete the users if you're using your mozfoundation email to login because you're staff. Anyway, I'll delete those profiles.

[2018-11-27 21:49] xmatthewx commented on #992
I think these all look great. We'll just have to keep an eye on it as people roll in with the new mentorship cohort. The biggest thing at this point would be to remove the extra email verification step. This was clearly a ton of work to figure out all the scenarios and paths. Props to you for pulling it together.

[2018-12-13 00:31] Wathagi opened #994 "Cannot find my profile"
I cannot find my Mozilla Pulse profile. Kindly advise.

[2019-01-07 20:53] acabunoc opened #1002 "Cannot assign multiple profile types"
While Mozilla community can have multiple roles, Mozilla Pulse can only allow one profile type for each profile.

Example: Some fellows go on to become Open Leaders mentors or even staff. However, I can only choose one profile type.

[2019-01-17 22:55] xmatthewx opened #1055 "Iterate on Profile types and categories"
Pulse profiles currently include an admin feature to identify a person's role and relationship to the foundation. Something like `{ profile_type: fellow, program_type: policy, year: 1999  }`.

As built, a profile can have zero or 1 of each attribute. And, year is not tied to type to the program.

In reality, people shift roles and often engage with more than one program.

Thoughts below. Warning,

[2019-01-21 01:53] AdityaSrivast commented on #981
@xmatthewx I want to work on this issue. I am a first time contributor. Can you tell me what needs to be done, please?

[2019-01-21 03:00] AdityaSrivast commented on #736
@mmmavis I am a first time contributor and want to work on this issue. Can you tell me what all needs to be done, please?

[2019-01-21 20:55] mmmavis commented on #736
Hi @AdityaSrivast 😃 Welcome!

It's been more than a year since I filed this ticket so I'm not sure if this is still something our team wants to fix. Let me check with people first.

@gideonthomas @alanmoo @xmatthewx thoughts?

[2019-01-22 00:09] gideonthomas commented on #736
Yeah we should still do this.

I'll have to do the backend fix in the admin interface but I can only do that after the front-end update since it will break functionality.

@AdityaSrivast you can do the front-end fixes for this -- as @mmmavis mentions in the first comment, you need to redirect all links to `/issues/privacy-and-security` and replace all hardcoded strings.

The first thing you want t

[2019-01-22 16:23] alanmoo commented on #981
It seems like one of [these commits] likely broke the 404 page. Check them out and see if it works in any of them, and if so attempt to open a PR with the code for `icon-404.svg` as it was at that point in time.

[2019-01-23 11:54] AdityaSrivast commented on #981
![image](https://user-images.githubusercontent.com/31389740/51604654-72b88800-1f33-11e9-9308-6d1b443c09d7.png)

@alanmoo Is this the page we're discussing here? The image appears to be fine.

[2019-01-23 18:12] alanmoo commented on #981
That's...odd. It doesn't work in any of my browsers on a Mac. What browser/OS are you using? @xmatthewx Do you still see this? @Pomax what about Windows?

https://www.mozillapulse.org/4oh4

[2019-01-24 04:59] AdityaSrivast commented on #981
@alanmoo I am using Ubuntu 18.04 LTS and the image appears to be fine on Chrome, Firefox and opera as well.

[2019-01-25 22:34] #736 closed

[2019-01-28 20:27] mmmavis opened #1006 "[Bug] Moderation mode on mobile isn't working"
See original ticket in https://github.com/mozilla/foundation.mozilla.org/issues/2505

[2019-01-31 18:14] gideonthomas opened #1007 "Update button styles"
From a user via contact form:

![group](https://user-images.githubusercontent.com/5816130/52075380-1fa98b00-255a-11e9-8bb1-a78ce5ad0060.jpg)

[2019-01-31 18:24] AdityaSrivast commented on #1007
@gideonthomas I would like to work on this issue. Can you brief me about what's to be done, please?

[2019-01-31 19:32] gideonthomas commented on #1007
Hi @AdityaSrivast, there isn't any direction on what needs to be done here yet so this isn't a great issue to work on. Feel free to contribute to one of the tickets in this list instead: https://github.com/mozilla/network-pulse/labels/help%20wanted%20%3Awave%3A

[2019-02-17 18:54] moz-hwine opened #1008 "Wiki changes"
FYI: The following changes were made to this repository's wiki:

- Restricting write access to contributors is strongly encouraged.  Please [make that change](https://github.com/mozilla/network-pulse/settings)  ([documentation](https://help.github.com/articles/changing-access-permissions-for-wikis/)).

These were made as the result of a recent automated defacement of publically writeable wikis.

[2019-02-19 21:52] #1008 closed

[2019-02-20 16:18] alanmoo opened #1009 "Add code of conduct"
https://wiki.mozilla.org/GitHub/Repository_Requirements

[2019-02-21 15:02] alanmoo opened #1011 "Support query parameters for pre-filled tags"
In the interest of supporting Pulse for the organization of events, we should have the ability to direct users to an "add submission" URL in which one or more tags are automatically applied to the submission.

Suggested approach: `https://mozillapulse.org/add?tag=foo,bar,baz` results in a page where the tags `foo`,`bar`, and `baz` are pre-filled in the tags field.

"Probably a good idea to have" f

[2019-02-21 16:34] AdityaSrivast commented on #1009
@alanmoo I want to work on this issue. Can you brief me on what needs to be done, please?

[2019-02-21 16:57] Pomax commented on #1009
Hi @AdityaSrivast. https://wiki.mozilla.org/GitHub/Repository_Requirements explains what is necessary. Do note that that the text that's in HTML comments (about project-specific CoC) can be omitted.

[2019-02-21 17:53] gideonthomas commented on #1011
@alanmoo to determine if this a "nice to have" or a core requirement:

People who are not logged in, when they hit that url should be redirected to the pulse login page and once they login, they should be redirected to the `/add?tags=...` page.
Setting that as the redirect path should be easy (requires a backend env var change). The only small caveat is if they need to verify their email with Gith

[2019-02-21 18:04] gideonthomas opened #1012 "Replace "Open Innovation" with "Openness""
This internet health issue has been renamed. We should also rename it on pulse.

I think the only engineering fix that needs to be done is to replace every hardcoded occurrence of "open innovation" with "openness".

Note to self: I will need to update this via the admin interface after this lands.

@AdityaSrivast would you be willing to try to fix this? It's similar to your work in https://github.

[2019-02-21 18:08] xmatthewx opened #1013 "Build Profile Search frontend"
Profile search will allow staff and partners to find experts in our network to engage with for conferences, press, and projects.

A few steps to this work:
 - [x] api stuff (https://github.com/mozilla/network-pulse-api/issues/453)
 - [ ] search view tab (see below)
 - [ ] profile card for search results
 - [ ] thinking about search field on foundation site

At top of search results, below search i

[2019-02-21 18:08] xmatthewx commented on #918
Closing. Track renewed effort in #1013

[2019-02-21 18:15] xmatthewx opened #1014 "Update Pulse UI to align with Foundation site"
Let's focus on the least amount of work that gets us most of the way there. For example, prioritize the header and fonts rather than worrying about all the layout details.

TBD: Can we leverage fo'mo CSS directly for this? And just add specific pulse styles where needed?

[2019-02-21 18:42] alanmoo commented on #1011
Great point. This is probably more important than the other "good to have" features.

[2019-02-21 18:57] alanmoo commented on #1011
@gideonthomas It looks like this already works when logging in using Google and Github. So the only thing I haven't tested is email verification with Github- is that because it comes in as a different request?

[2019-02-21 19:46] gideonthomas commented on #1011
@alanmoo the only thing that won't work is redirecting to the page you were on. Currently it will redirect you to the pulse homepage. Re: the github verification thing - I'm not sure why, but the simple answer is django-allauth has not implemented it.

[2019-02-21 20:42] alanmoo commented on #1011
I still don't understand. This works:

![login-forwarding-pulse](https://user-images.githubusercontent.com/1682681/53200325-4570ff80-35ef-11e9-8625-117af6b59919.gif)

[2019-02-21 22:43] gideonthomas commented on #1011
oh interesting...ignore me then :P

[2019-02-22 00:35] Pomax commented on #1011
PR up on https://github.com/mozilla/network-pulse/pull/1015, I didn't see an easy to way to filter out "non-existent tags" and so it didn't seem worth trying to figure out.

[2019-02-22 05:31] AdityaSrivast commented on #1012
@gideonthomas Sure. On it

[2019-02-22 16:23] #1009 closed

[2019-02-22 18:29] xmatthewx commented on #1011
Let's think about whether we need a tag field like `program_tag`, separate from `tags`.

This feature is still very useful ... for use during mozfest for example. For the fellow proposal use case, however, I think we need more separation. Otherwise, users could submit stuff via main form using a tag that appears in autocomplete, sidestepping proper workflow.

[2019-02-22 19:01] gideonthomas commented on #1011
@xmatthewx given the timeline for the global sprint work, should we create a new project brief (might also involve minor design work) for this? I think (sorry if I'm just repeating what you're saying) we can probably scope them as two separate features:
1. A network member runs a hackathon and wants every participant to create a pulse project with a preset tag. The feature implemented above will e

[2019-02-22 20:14] xmatthewx commented on #1011
Yes that's a great description of two different use cases.

For the initiative case, I think we can still leverage a URL parameter - I don't think we need to secure it, we just don't want collision with user selected tags.

[2019-02-22 20:22] alanmoo commented on #1011
That second case starts to get awfully close to the type of thing Salesforce is meant for.

[2019-02-26 06:44] Pomax commented on #1011
echoing @alanmoo, the first case makes sense as something we should support, but the second case sounds dangerously close to "pulse is not the right tool for that job".

[2019-02-27 23:32] gideonthomas commented on #1011
Can this be closed?

Re: your concerns above - one thing missing from my user story is a way for the network to view and show interest in some way for proposals to make the proposal process open. This is where pulse can be powerful and where salesforce cannot be used based on our internal instance constraints.
Either way, we can discuss more once a new brief is filed.

[2019-02-27 23:33] gideonthomas commented on #1012
Thanks @AdityaSrivast

[2019-02-27 23:33] #1012 closed

[2019-02-28 17:08] AdityaSrivast commented on #1007
@gideonthomas I want to work on this. Can I take it up?

[2019-02-28 18:08] gideonthomas commented on #1007
Hi @AdityaSrivast I think this work is being done as part of larger brand work in pulse so I'm going to have to close this ticket. Please do look at the list I link above if you would like to contribute.

[2019-02-28 18:08] #1007 closed

[2019-02-28 21:45] Pomax commented on #1011
that is probably worth having as a separate discussion, aside from the functionality of having an `add/?tags=...` url as available option for folks who want to funnel users into pulse.

[2019-03-01 14:53] alanmoo commented on #1011
+1, Pomax. This has landed. Let's file another ticket for other discussions if they need to continue.

[2019-03-01 14:53] #1011 closed

[2019-03-05 19:55] xmatthewx opened #1019 "Add pulse form tag feature to wagtail docs"
Pulse landed a great [new feature](https://github.com/mozilla/network-pulse/issues/1011) that allows staff to help people more easily tag an entry for a specific use case. Let's add this to wagtail documentation to make it available to others.

@gideonthomas - if you can write a quick rough how-to description i can refine it and add screenshots and figure where to post it.

[2019-03-05 20:40] gideonthomas opened #1020 "Pre-tagged add entry form does not work for tags with spaces"
Currently, hitting up https://www.mozillapulse.org/add?tags=mozsprint,mozilla works fine, but https://www.mozillapulse.org/add?tags=moz&20sprint,mozilla does not (it gets rid of the space).

This works for other special characters, so ideally this should work for spaces as well.

[2019-03-05 21:22] xmatthewx commented on #1020
Good catch! And, let's make sure it really matters. Feels like programs could work around this with creative tag names.

[2019-03-05 21:27] gideonthomas commented on #1020
We should close or prioritize this ticket after looking at metrics for tagging.

[2019-03-05 21:28] gideonthomas commented on #1019
"""
You can now share a pre-tagged Pulse form to add a new entry.

To do this, simply [use this tool](https://moz-pulse-tag-encode.glitch.me/) to type out your tags separated by commas and it will generate a URL address to a pre-tagged Pulse form that you can share.
"""

One thing to note - the pre-tagging doesn't really work for tags with spaces; filed https://github.com/mozilla/network-pulse/iss

[2019-03-11 15:58] alanmoo opened #1021 "Pre-filled tags don't work without `www`"
[https://www.mozillapulse.org/add?tags=mozsprint,mozilla](https://www.mozillapulse.org/add?tags=mozsprint,mozilla) adds the autocompleted tags, but when attempting to visit the site from [https://mozillapulse.org/add?tags=mozsprint,mozilla](https://mozillapulse.org/add?tags=mozsprint,mozilla), the query params get stripped

(This may be server related, so @cadecairos I'm tagging you too)

[2019-03-11 16:31] Pomax commented on #1020
Did you mean https://www.mozillapulse.org/add?tags=moz%20sprint,mozilla ? The original url shown has `&20`, where `&` is a query argument delimiter.

[2019-03-11 16:44] Pomax commented on #1021
Yeah, that feels like like the old mod_rewrite forgetting to pass through $1, but then for whatever we're actually using because I doubt it's Apache =P

[2019-03-11 16:52] xmatthewx commented on #1020
I think we can skip this. It doesn't need to work for a all tags, just tags that help programs.

[2019-03-11 16:54] cadecairos commented on #1021
I just modified the CDN to forward querystrings, this should work now.

[2019-03-11 18:06] gideonthomas commented on #1020
@xmatthewx sounds good!

@Pomax yep sorry, typo.

[2019-03-11 18:06] #1020 closed

[2019-03-11 18:07] gideonthomas commented on #1021
Thanks @cadecairos!

[2019-03-11 18:07] #1021 closed

[2019-03-14 07:22] ithompson4 commented on #1002
Hello @acabunoc. Could you please provide more details concerning the multiple profiles types you would like to see, and the fields within each. Could you also provide a link to the Mozilla community website that allows different profile types to be selected. Thank you.

[2019-03-14 07:29] ithompson4 commented on #985
Is this still open or has this been closed by the completion of #980?

[2019-03-14 19:32] gideonthomas commented on #985
I don't think this is really needed anymore. In fact, I think it might be useful to see published/created projects in one place for named creators as well.

[2019-03-14 19:32] #985 closed

[2019-03-18 14:44] xmatthewx commented on #1002
Thanks @ithompson4 - This issue requires a bit of thinking about how this is structured before we jump into the code. Check out [help wanted](https://github.com/mozilla/network-pulse/issues?q=is%3Aissue+is%3Aopen+label%3A%22help+wanted+%3Awave%3A%22) and [good first issue](https://github.com/mozilla/network-pulse/issues?q=is%3Aissue+is%3Aopen+label%3A%22good+first+issue+%3Aoctocat%3A%22) for thing

[2019-03-18 15:08] acabunoc commented on #1002
The distinction makes sense, but you'll still run into the issue with multiple roles if a grantee goes on to be a fellow or staff. Would it be easier to treat them all as controlled tags and not try to add a distinction?

[2019-03-18 16:45] xmatthewx commented on #1002
I'd guess that you can only have 1 current official status. You're no longer a grantee, now you're staff. So we can switch it.

Maybe so! We do have a need to filter and display staff and fellows with a level of reliability that's a bit different than other program relationships. The original ideas was that staff should be able to create those program relationships freely as they see fit. But the

[2019-03-22 14:55] xmatthewx opened #1024 "Make plan to reduce spam"
Looks like Pulse is starting to receive spam. [see moderation](https://www.mozillapulse.org/moderation?moderationstate=Declined). Let's take a look at figure where it's best to intervene. Login is best if possible. Submission if not.

cc @gideonthomas @cadecairos @alanmoo to triage and file tickets.

[2019-03-22 16:40] cadecairos commented on #1024
It looks like we're receiving a smaller amount of spam than we'd need to really engineer a solution here. Moderation seems like the way to handle a few spammy submissions.

We might want to consider adding in a way to put a ban on an account (i.e no longer allowed to log in and submit), but something like rate limiting would only be necessary if we're being flooded with spam accounts and submissio

[2019-03-22 20:57] xmatthewx commented on #1024
Alrighty. That view (Declined) isn't all the spam. There's more in Pending. But, agreed, we can hold off on captcha or rate limiting for now. If we see repeat offenders, banning would be good too. I'll close this for now.

[2019-03-22 20:57] #1024 closed

[2019-03-26 18:46] xmatthewx commented on #1013
Here's a comp of the people tab, keeping all the styles used in a profile.

 - [ ] Name and photo should link to profile
 - [ ] Let's limit width of bio text on desktop. Maybe `md-8`.
 - [ ] Ideally, let's preserve search term as users switch tabs
 - [ ] No need to do anything fancy fetching or preserving queries between tabs, unless it's tooootally trival

<img width="793" alt="image" src="https:

[2019-03-26 23:03] gideonthomas commented on #1013
I'm going to suggest using the same "View More" pagination that we have for entry search because image sizes are really large at the moment. I can add pagination to the API per https://github.com/mozilla/network-pulse-api/pull/464#issuecomment-476886273

[2019-04-03 13:51] xmatthewx commented on #1013
@mmmavis let me know if you have any questions about this plan.

[2019-04-03 14:31] gideonthomas commented on #1013
complete front-end implementation blocked on https://github.com/mozilla/network-pulse-api/pull/469 landing...but shouldn't block getting this started.

[2019-04-08 17:21] gideonthomas commented on #1013
unblocked. Documentation for the route is here: https://github.com/mozilla/network-pulse-api#get-apipulseprofiles-with-filter-arguments-and-optional-formatjson

[2019-04-08 17:22] mmmavis commented on #1013
@gideonthomas are we switching everything over to Pulse API v3 or just that route?

[2019-04-08 17:32] gideonthomas commented on #1013
Currently that's the only route that's on v3. If you switch others to v3, nothing will break since it's still serving the same data.

[2019-04-08 20:27] gideonthomas opened #1026 "Building entry types and email login for MozFest"
**TODO:** Individual tickets to be filed and linked here

## Scope

### Email login

**Backend**
  1. Add username/password login to pulse using django-allauth
     - Use bcrypt as the hashing algorithm
     - Salt passwords individually
     - Only allow Google auth access to the admin interface (and superusers)
     - NICE TO HAVE: cooldowns between failed logins and resets
  2. Enforce IP rate

[2019-04-09 18:01] gideonthomas opened #1027 "Add email login"
We want to enable users to login via email/password in Pulse to lower the barrier to entry. Let's enable this in allauth.

- [ ] Modify the allauth templates to re-add the account signup/sign in flow
- [ ] Use bcrypt password hashing
- [ ] Enable cooldown between failed logins

cc @cadecairos and @patjouk

[2019-04-09 18:05] gideonthomas opened #1028 "Add IP rate limiting for login"
Enforce IP rate limiting for the login view - primarily for email/password login (depends on https://github.com/mozilla/network-pulse/issues/1027).

We could use django-ratelimit to do so.

cc @cadecairos @patjouk

[2019-04-09 18:06] gideonthomas opened #1029 "Restrict admin login to google auth and superusers"
Only allow those authenticated users who used google to login to access the admin (after which the regular permissions apply - staff access, etc.).

Superusers should be able to login via email/password credentials.

cc @cadecairos @patjouk

[2019-04-09 18:13] gideonthomas opened #1030 "Create models for pulse entry types"
We want to support different types of content on pulse in the form of extending our existing infrastructure / model system to support this as opposed to creating something entirely new.

Entry types are [mentioned here](https://docs.google.com/document/d/1LITsvpTJaafsyGuVrNeE27Sz_XY1Ase2D8IWCmu7dLk/edit?ts=5cadf65b#heading=h.p4wvs4fhqwpl).

cc @Pomax and @youriwims and @xmatthewx

[2019-04-09 18:54] gideonthomas opened #1031 "Add API routes to create an entry type form"
Blocked on https://github.com/mozilla/network-pulse/issues/1030

Once the models are created, we need to enable the front-end to be able to fetch data about the entry type so that a form can be generated based on the required information for creating an instance of the entry type.

We will need a GET and POST route to allow fetching the form data as well as submitting the form data. Schema TBD aft

[2019-04-11 18:23] gideonthomas commented on #1031
we've changed our approach to not create a form builder

[2019-04-11 18:23] #1031 closed

[2019-04-11 22:18] mmmavis opened #1032 "Replace Object.assign with object spread where we can"
Follow-up for https://github.com/mozilla/network-pulse/pull/1025#discussion_r274152419

[2019-04-11 22:20] mmmavis commented on #1013
PR has been merged and pushed to staging.

Re-opening this ticket as I'm not sure if the backend work has been pushed to production API yet.

/cc @gideonthomas

[2019-04-11 22:37] gideonthomas commented on #1013
I'll do it tomorrow morning

[2019-04-15 17:47] gideonthomas commented on #1013
Done @mmmavis

[2019-04-15 17:47] #1013 closed

[2019-04-15 18:32] mmmavis commented on #1013
Sounds good with me!

[2019-04-15 20:53] xmatthewx opened #1033 "Review Pulse for SEO and sharing improvements"
No code to write for this ticket. But let's take a look at Pulse and identify small enhancements to improve SEO and sharing. I noticed that profiles don't wrap the person's name with an H1 tag. There might be other things we can identify now, before we do a little UI refresh to align with foundation site. It might be all good besides the h1, I haven't really dug around.

[2019-04-16 00:40] Pomax commented on #1030
The easiest would obviously be a "type" field on the Entry model, with a string to indicate what kind of entry it is, but it might be worth putting in a bit more work and creating an entry type model that can indicate which of each "thing" mentioned in the table applies to that type, with a ForeignKey added to our Entry model that lets us set that entry's type. This would also allow us to get an e

[2019-04-17 17:27] gideonthomas commented on #1030
@Pomax what is the type field foreign key? i.e. what does that model look like?

[2019-04-17 22:29] xmatthewx commented on #1030
I don’t know the best approach. But some things to consider below. I don't think I'm saying anything out of line with what you're proposing, just thought some goals might be helpful. Ignore me if it's not.
 - search: can this remain efficient across types? I don't think we want to silo
 - fallback: we should consider a core type, a fallback when none is specified
 - similar: types are more similar

[2019-04-18 15:50] gideonthomas commented on #1030
@Pomax are you able to draft up some kind of simple model relationship visual based on the comments above?

[2019-04-22 20:14] Pomax commented on #1026
Do we have concrete issues that items can point at?

[2019-04-22 20:40] gideonthomas commented on #1026
Sorry, I'm gonna close this: let's work from this ticket - https://github.com/mozilla/network-pulse/issues/1030

[2019-04-22 20:40] #1026 closed

[2019-04-22 20:45] Pomax commented on #1030
We're contrained a little by Django in this case: while in plain Python one class can "overrule" what the parent doesn, in Django that is explicitly forbidden, so we can't create do a kind of "progressively more permission" model inheritance in which the "requiredness" changes between two models. Concretely, an entry with a required URL cannot be extended to a more specific entry type in which the

[2019-04-23 04:55] natalieworth commented on #1014
I've updated the Pulse UI based on brand talk/ feedback from team and Sabs.
Latest version (V3) with some questions posted in the redpen: https://redpen.io/sob6953ec4e0a6bde5
Search/ Help homepage alternatives: https://redpen.io/oj6a13a99008ba0cae

[2019-04-23 13:53] alanmoo commented on #1030
Would that approach merely be more fields on the existing entry then, coupled with a few custom serializers?

[2019-04-23 16:44] Pomax commented on #1030
correct, except even less than that: it would add a single `entry_type` (name tbd) field on the Entry model, plus however many custom serialisers to match the [type definitions table](https://docs.google.com/document/d/1LITsvpTJaafsyGuVrNeE27Sz_XY1Ase2D8IWCmu7dLk/edit?ts=5cadf65b#heading=h.p4wvs4fhqwpl), with the get and post views updated to switch serializer based on that new field.

[2019-04-25 02:06] natalieworth opened #1034 "Update Pulse Card Styles"
We need to update the card styling on the Pulse site with our updated brand system:

- [x] headings (h4)
- [x] links + body small
- [x] heart icon svg colour to $gray-40

**Note: _The feature tag on the 2nd card example will be a separate (future) issue._

Card with link:
<img width="405" alt="Screen Shot 2019-04-24 at 7 05 14 PM" src="https://user-images.githubusercontent.com/14876567/56704959-fa

[2019-04-25 02:08] natalieworth commented on #1034
cc @xmatthewx @alanmoo @mmmavis @youriwims Let me know if you need more information documented here in order to implement any changes.

[2019-04-25 02:29] natalieworth opened #1035 "Add a 'featured' flag"
Create a 'featured' tag. Text is custom/ one-off: Body-small (bold) in uppercase with .7px letter-spacing.

Featured symbol
<img width="616" alt="Screen Shot 2019-04-24 at 7 31 13 PM" src="https://user-images.githubusercontent.com/14876567/56705858-92dd1c00-66c7-11e9-9f45-0072885344cf.png">

Featured example
<img width="733" alt="Screen Shot 2019-04-24 at 7 31 26 PM" src="https://user-images.githu

[2019-04-25 02:34] natalieworth commented on #1035
Redpen for reference: https://redpen.io/p/uk95e2dc951b414a1d

[2019-04-25 02:34] natalieworth commented on #1034
Redpen for reference: https://redpen.io/p/uk95e2dc951b414a1d

[2019-04-25 02:37] natalieworth opened #1036 "Update site footer"
Update/ apply the foundation.mozilla.org footer to the Pulse site.

<img width="741" alt="Screen Shot 2019-04-24 at 7 37 02 PM" src="https://user-images.githubusercontent.com/14876567/56706058-5fe75800-66c8-11e9-8112-57ccd6f469b8.png">
<img width="275" alt="Screen Shot 2019-04-24 at 7 37 14 PM" src="https://user-images.githubusercontent.com/14876567/56706062-6249b200-66c8-11e9-871b-34095fe0b554.pn

[2019-04-25 02:43] natalieworth opened #1037 "Update ‘View more’ button"
Changing the 'View more' button to be in line with the updated brand styling: .btn-secondary

<img width="708" alt="Screen Shot 2019-04-24 at 7 42 17 PM" src="https://user-images.githubusercontent.com/14876567/56706242-177c6a00-66c9-11e9-90c8-54c1477511a9.png">
<img width="357" alt="Screen Shot 2019-04-24 at 7 42 06 PM" src="https://user-images.githubusercontent.com/14876567/56706244-19462d80-66c9

[2019-04-25 16:38] mmmavis opened #1038 "Style standardization"
From the [redpen mockups](https://redpen.io/p/vqdf0d6fb857181a19) it seems like we borrowed quite a few of styles from [Foundation site](http://foundation.mozilla.org/style-guide/). Before updating individual component's styling on Pulse (e.g., nav, footer, buttons, links etc), we should have style standardization in place first.

@natalieworth can you give a complete list of what we should includ

[2019-04-25 17:55] gideonthomas commented on #1036
for awareness during implementation: https://github.com/mozilla/foundation.mozilla.org/issues/3060

[2019-04-26 04:37] natalieworth commented on #1038
@mmmavis Are you thinking we should build out a page for a Pulse Style Guide too. Is that helpful for implementation? I was originally thinking we could use all the Foundation Styles (in terms of type, colors, links, etc.) I did do some overrides on type (since not all the styles worked) though, but otherwise it's using the styles for the Foundation site (since we wanted the design to be the same

[2019-04-26 07:33] natalieworth opened #1039 "Update Nav: Add button and other styles"
_Note: Nav update and Search component (#1041) are dependent and should ship together._

Remove the current navigation and update with the new button:

Signed out view
<img width="842" alt="Screen Shot 2019-04-26 at 12 30 07 AM" src="https://user-images.githubusercontent.com/14876567/56791019-e8debc00-67ba-11e9-940f-9cdd4eb9822b.png">

Signed in view (with account icon added if it's possible)
<img

[2019-04-26 07:34] natalieworth commented on #1039
[account-icon.svg.zip](https://github.com/mozilla/network-pulse/files/3120198/account-icon.svg.zip)

[2019-04-26 07:36] natalieworth opened #1040 "Update tagline styling"
Update the "Discover & ..." tagline area to H2 and the 'Learn More' link:

<img width="825" alt="Screen Shot 2019-04-26 at 12 35 38 AM" src="https://user-images.githubusercontent.com/14876567/56791200-52f76100-67bb-11e9-82d9-54dcbc1b9305.png">

[2019-04-26 07:38] natalieworth opened #1041 "Add search bar"
Add search bar on the Pulse homepage:

<img width="461" alt="Screen Shot 2019-04-26 at 12 37 34 AM" src="https://user-images.githubusercontent.com/14876567/56791328-a8cc0900-67bb-11e9-96ea-bbd9f2968511.png">

deselected: https://redpen.io/me2f04acc0db359ad8
selected: https://redpen.io/bva1fe4804f5d7fa33

search icon:
[search-icon.svg.zip](https://github.com/mozilla/network-pulse/files/3120212/sear

[2019-04-26 07:39] natalieworth commented on #1041
search icon:
[search-icon.svg.zip](https://github.com/mozilla/network-pulse/files/3120212/search-icon.svg.zip)

[2019-04-26 07:39] natalieworth commented on #1041
*blocked : I still want to add mobile views for how this should function.

[2019-04-26 07:41] natalieworth commented on #1041
<img width="306" alt="Screen Shot 2019-04-26 at 12 40 09 AM" src="https://user-images.githubusercontent.com/14876567/56791410-dca72e80-67bb-11e9-8853-5a855af11d04.png">
<img width="364" alt="Screen Shot 2019-04-26 at 12 41 02 AM" src="https://user-images.githubusercontent.com/14876567/56791473-fcd6ed80-67bb-11e9-877e-3f2a6c452e1c.png">

[2019-04-26 07:45] natalieworth opened #1042 "Add a help dropdown"
The 'help' drop down will include all of the topics that people are able to volunteer/ help with in Pulse (note that I've included 'help' as an additional/ the original (default) for people to view everything):
Help
Attend
Create content
Code
Design
Fundraise
Join community
Localize & translate
Mentor
Plan & organize
Promote
Take Action
Test & feedback
Write documentation

[2019-04-26 07:46] natalieworth commented on #1042
<img width="699" alt="Screen Shot 2019-04-26 at 12 44 11 AM" src="https://user-images.githubusercontent.com/14876567/56791735-a6b67a00-67bc-11e9-8145-fd963f80f7af.png">
<img width="698" alt="Screen Shot 2019-04-26 at 12 44 18 AM" src="https://user-images.githubusercontent.com/14876567/56791738-a8803d80-67bc-11e9-8b58-6d593b475d80.png">
<img width="698" alt="Screen Shot 2019-04-26 at 12 44 32 AM" s

[2019-04-26 07:46] natalieworth commented on #1042
<img width="260" alt="Screen Shot 2019-04-26 at 12 43 38 AM" src="https://user-images.githubusercontent.com/14876567/56791752-b46bff80-67bc-11e9-9c7c-f7d0e11e87b0.png">
<img width="260" alt="Screen Shot 2019-04-26 at 12 43 46 AM" src="https://user-images.githubusercontent.com/14876567/56791755-b59d2c80-67bc-11e9-8635-8745b5c7d7fb.png">
<img width="261" alt="Screen Shot 2019-04-26 at 12 43 53 AM" s

[2019-04-26 17:11] alanmoo commented on #1042
We should pull the list from `{api}/api/pulse/v2/helptypes/` to be consistent.

[2019-04-26 17:38] mmmavis commented on #1038
@natalieworth we don't need a web page to showcase Pulse's style guide. You mentioned there are some overrides on type & I noticed link behaviours are different than what we have on Foundation site. Can you list out these kinds of overrides here? It would be super helpful for devs to know. 👍

[2019-04-26 17:41] alanmoo commented on #1041
Make sure that the URL still updates when using this component, as it does on the current search pages.

[2019-04-26 17:56] alanmoo commented on #1041
Presumably, at the same time as landing this we should remove the "search" link from the nav, correct?

[2019-04-26 20:47] natalieworth commented on #1038
Awesome! thanks @mmmavis I'm just working on finishing the Mobile versions, and will post any Pulse style overrides here for desktop/ mobile.

[2019-04-27 18:18] AdityaSrivast commented on #1039
@natalieworth I would like to work on this issue. Can I take it up?

[2019-04-29 18:56] mmmavis commented on #1038
@natalieworth awesome! Thank you!

[2019-04-30 02:14] natalieworth commented on #1038
Hey @mmmavis @youriwims , the designs that are in redpen (and in Sketch) are ready for implementation.
The desktop and mobile [mockups are in Redpen here](https://redpen.io/p/uk95e2dc951b414a1d).

Additionally, these files are in the Pulse Sketch document under the "Pulse Comps" page in the left menu. The document shares/ has the same Style Guide library linked to it as the Foundation site—but I w

[2019-04-30 02:17] natalieworth commented on #1038
I made a temporary style guide with all the styles coming from the Style Guide document we used for the Foundation site. It's in the Sketch file pages under "Style Guide"

<img width="967" alt="Screen Shot 2019-04-29 at 7 15 34 PM" src="https://user-images.githubusercontent.com/14876567/56937760-5dfc0b00-6ab3-11e9-96c7-ea0c3a8f1699.png">

<img width="1067" alt="Screen Shot 2019-04-29 at 7 13 13 PM

[2019-04-30 02:25] natalieworth opened #1043 "Update styles of profile view in Pulse"
Update the various views of the Pulse profile.

 - [x] Use an h1 tag for profile name.

<img width="628" alt="Screen Shot 2019-04-29 at 7 23 49 PM" src="https://user-images.githubusercontent.com/14876567/56938008-8fc1a180-6ab4-11e9-8782-8a5439fae261.png">
<img width="629" alt="Screen Shot 2019-04-29 at 7 24 05 PM" src="https://user-images.githubusercontent.com/14876567/56938009-8fc1a180-6ab4-11e9-

[2019-04-30 02:28] natalieworth commented on #1039
Putting a hold on this issue as we still have to flush out some of the menu UX for mobile

[2019-04-30 02:41] natalieworth commented on #1039
@xmatthewx Just noting here, that I think we still may need some navigation for mobile so users can access their account? I've mocked this up and included some suggestions in the 'signed in' menu view: https://redpen.io/p/gc34eb3beb2157b54e

<img width="664" alt="Screen Shot 2019-04-29 at 7 32 33 PM 1" src="https://user-images.githubusercontent.com/14876567/56938269-c64bec00-6ab5-11e9-8a65-b5a0a82

[2019-04-30 02:44] natalieworth opened #1044 "Update fallback image on Pulse"
- Change our stand in image (when a user doesn't upload a profile photo/ photos)
- Crop to square 1:1 (instead of circle):

File is here for 1:1, 4:3, and 16:9 ratios:
[Standin Images.zip](https://github.com/mozilla/network-pulse/files/3129809/Standin.Images.zip)

![1-to-1-ratio](https://user-images.githubusercontent.com/14876567/56938887-96064c80-6ab9-11e9-995e-f4e1775b0819.png)
![4-to-3-ratio](h

[2019-04-30 13:32] alanmoo commented on #1044
Should we use this for entries too?

[2019-04-30 13:38] alanmoo commented on #1043
I’m not sure what the current workflow is but this feels like it could use some amount of annotations/specs so we make sure to use the right general styles. @mmmavis @kristinashu what’s the current best practice for that?

[2019-04-30 14:51] xmatthewx commented on #1039
Yes. Pulse does currently have nav drawer on mobile. Your revised UI looks good. For items, let's just do Profile, Edit profile, Favs, Signout. (I like how you provided some shortcuts.)

[2019-04-30 14:54] xmatthewx commented on #1043
Hi @alanmoo. See https://github.com/mozilla/network-pulse/issues/1038#issuecomment-487802829

[2019-04-30 15:07] xmatthewx opened #1045 "Add Location field to profile edit form"
Not blocked, but looks blocked by API docs: https://github.com/mozilla/network-pulse-api/issues/484

Field UI: https://redpen.io/cz1829cfbe090505f9

cc @alanmoo to assign when ready

[2019-04-30 15:10] xmatthewx commented on #1041
Yes: Nav update (https://github.com/mozilla/network-pulse/issues/1039) and Search component are dependent and should ship together.

[2019-04-30 15:24] xmatthewx commented on #1042
On this main list view, a user can search, pick a help cat, or tap a trending tag. All of these actions should clear each other, or not, depending. For example, if a user is viewing a search of foo, and then they tap a tending tag, search should clear. When a user selects a Help category, Nat and I are fine if it clears the search or further filters it, as long as UI updated appropriately. Combine

[2019-04-30 20:02] xmatthewx commented on #1036
- [ ] link to foundation.mozilla.org, not mozilla.org in the footer. Both the visible link and the logo.

[2019-04-30 20:07] alanmoo commented on #1045
Let's add this functionality with the current styling, as it should be pretty straightforward.

[2019-05-01 07:20] natalieworth commented on #1039
Mobile menu's have been updated for this/ unblocking.

Signed out view https://redpen.io/xsf5b7302d480d9b5d
Signed in view https://redpen.io/pb2fcfb9e1a16cc0c3

[2019-05-01 15:02] marcwalsh opened #1046 "Ability to search by profile ID on admin interface"
**Feature Request:**
Would it be possible to add the ability to search by ID on the User Profiles page of the admin interface?

[2019-05-01 20:08] alanmoo commented on #1044
Also, in some of the comps I've seen this as a blue image instead of gray. Is there a specific use case for that?

[2019-05-01 22:02] xmatthewx commented on #1046
If I understand your case correctly, we have a way for you to get there without search. In the pulse admin, you can just use the ID in the url to jump to a profile. For example, view any profile in the pulse admin and then replace the numbers with the ID you want to see: `.../userprofile/12345/`. Does that solve your issue?

[2019-05-01 22:03] natalieworth commented on #1044
@alanmoo yep

[2019-05-01 22:04] natalieworth commented on #1044
Blue image I was representing as a 'filled in profile' but we'll go with the gray as the fallback, so we can ignore the blue image.

[2019-05-01 22:04] xmatthewx commented on #1045
Is this shipped? I'll assign to me to test and close after it lands on production.

[2019-05-01 22:09] xmatthewx commented on #1043
For SEO purposes, it's best if we wrap profile name with an `h1` tag. I'm not sure if that will require some CSS gymnastics. I added a checklist item to the initial comment above.

[2019-05-01 22:44] marcwalsh commented on #1046
Yeah that works for me thanks for getting back so quickly!

My use case was more when I’m searching through the profiles sections that I have their ID but occasionally their display names can be different than we have on file. So the workaround with the link is perfect for that.

[2019-05-02 13:01] alanmoo commented on #1045
Yeah, it landed on master, which automatically closed this ticket. I tested it on the review app; simple yet functional.

[2019-05-02 15:14] #1046 closed

[2019-05-02 20:34] xmatthewx commented on #1045
🥇

[2019-05-02 20:34] #1045 closed

[2019-05-02 20:54] youriwims commented on #1037
@natalieworth should I increase the spacing below the 'View More' button to match your designs or are we doing a [separate ticket for all space fixes](https://github.com/mozilla/network-pulse/pull/1048#issuecomment-488803745)?

[2019-05-02 22:31] youriwims commented on #1038
@natalieworth, can we add also add the 'headings with links' style rules for pulse as well? Use case [here](https://github.com/mozilla/network-pulse/issues/1034). Then, can you push the pulse override styles u to abstract when you get a chance, please? Thx! :)

[2019-05-03 14:03] alanmoo commented on #1042
@youriwims if you get to this today, try and start just making the component which fetched the available help categories- I don’t expect you to finish it today but it would be good if it’s at a reasonable break point before you’re at the conference next week.

[2019-05-03 17:38] alanmoo opened #1052 "Make pulse use prettier like Foundation site"
https://github.com/mozilla/foundation.mozilla.org/blob/master/.stylelintrc

[2019-05-03 19:53] mmmavis commented on #1036
@xmatthewx @alanmoo can we land this in 2 stages? Pulse doesn't have a newsletter sign up component yet. To reduce implementation & PR review complexity I'm hoping we can 1) land all non-form elements in first 2) implement sign up component & add it to the footer.

[2019-05-03 19:59] alanmoo commented on #1036
Makes sense to me.

[2019-05-03 20:33] #1038 closed

[2019-05-03 20:34] youriwims commented on #1040
Closed by #1048

[2019-05-03 20:34] #1040 closed

[2019-05-03 22:48] #1044 closed

[2019-05-13 15:51] youriwims commented on #1035
Where would be a good starting point for this? @alanmoo @gideonthomas @mmmavis

[2019-05-13 16:15] alanmoo commented on #1035
Every Pulse entry seems to have a "featured" property. Seems like the ask here is to apply that banner to the card if `featured==true`, so an update to the React component that generates the card is in order.

While this will result in every card on the current homepage having the flag, I think that's ok and we can re-evaluate what we display on first page load in the future if later updates don't

[2019-05-13 16:18] youriwims commented on #1035
Sounds good—thanks for that explanation!

[2019-05-13 16:30] youriwims commented on #1035
@natalieworth should the featured flag still be on the thumbnail once the user clicks for a more detailed view of the entry? ...this view ➡️ https://redpen.io/ht84cc12654cc53ce8

[2019-05-13 17:16] youriwims opened #1057 "Variable/Mixins cleanup"
Related PR #1049
[Comment Reference](https://github.com/mozilla/network-pulse/pull/1049#discussion_r282940651)

In order to remove `$btn-border-radius`, we need to see where it is used and update those values.

[2019-05-13 17:19] youriwims commented on #1057
@natalieworth can you confirm if all of the buttons need to have a `0` `border-radius` now? If so, @mmmavis we can just remove all instances of `$btn-border-radius` right?

I'll update the ticket depending on what you both say :) 👍

[2019-05-13 17:46] #1037 closed

[2019-05-13 23:18] natalieworth opened #1059 "Update style of pulse entry forms"
Need to update the Pulse page forms for the 'profile' and 'entry' pages:

Desktop:
https://redpen.io/ede8cba6116ad234e2
https://redpen.io/xhd5029bc3a098fdcc

Mobile:
https://redpen.io/cmd2fe6c2b0d8b4b3e
https://redpen.io/uvd52362e1ecc9003a

cc @youriwims @mmmavis Let me know if you need any more guidance for these. All files are in Sketch.

@gideonthomas @xmatthewx

[2019-05-13 23:22] natalieworth opened #1060 "Add location option for bio entry form (for all users)"
Currently, only extended profiles are able to input their location in the Pulse profile forms. We want to add the location option for all users:

https://redpen.io/cz1829cfbe090505f9

<img width="803" alt="Screen Shot 2019-05-13 at 4 21 37 PM" src="https://user-images.githubusercontent.com/14876567/57660388-3d47b100-759b-11e9-8e00-0b22df1bf986.png">

cc @youriwims @mmmavis @alanmoo @gideonthomas @

[2019-05-14 00:00] natalieworth opened #1061 "Update 'About' profile section"
Update the 'about' profile section (and reduce the content width on desktop):
https://redpen.io/uz608a0947739eff3d
https://redpen.io/jh76a350b472a56c9e

<img width="967" alt="Screen Shot 2019-05-13 at 4 58 06 PM" src="https://user-images.githubusercontent.com/14876567/57661633-8e0dd880-75a0-11e9-9efb-7bcb3cea3d26.png">

cc @mmmavis @youriwims @alanmoo @xmatthewx @gideonthomas

[2019-05-14 00:48] natalieworth commented on #1035
I think we could just leave the featured on the homepage cards.

[2019-05-14 00:49] natalieworth commented on #1035
Also exported another svg of the updated star icon:
[star icon.svg.zip](https://github.com/mozilla/network-pulse/files/3175377/star.icon.svg.zip)

[2019-05-14 01:02] natalieworth opened #1063 "Add sign-up section to footer"
Continuing the work from #1054 — adding the sign-up component to the footer to match the foundation.mozilla.org site.

cc @youriwims @mmmavis

[2019-05-14 13:27] alanmoo commented on #1060
Do you have an example profile? (Don’t post the email here, but profile link is fine).

My personal email seems to work as expected (profile 31)
![IMG_0020](https://user-images.githubusercontent.com/1682681/57701585-4f246500-762a-11e9-8d15-5f33c82977b0.png)
![IMG_0021](https://user-images.githubusercontent.com/1682681/57701597-5481af80-762a-11e9-9a3c-74d8cf7f6c34.png)

[2019-05-14 17:45] youriwims commented on #1061
Where can I find the _About_ section? I'm logged into mozillapulse.org and don't see an _About_ tab there or in local dev.

[2019-05-14 17:47] natalieworth commented on #1061
@alanmoo @xmatthewx Do you know how to get the 'full profile' option for Youri?

[2019-05-14 17:57] alanmoo commented on #1061
@youriwims I enabled extended information on your profile.

[2019-05-14 20:05] youriwims commented on #1036
@xmatthewx which link should we use for the donate link in the Pulse footer? https://github.com/mozilla/network-pulse/pull/1054#discussion_r283459053

[2019-05-14 20:16] youriwims commented on #1061
@natalieworth just want to clarify that I'm just updating these items in the _About_ panel:

1. Update tab text
<img width="315" alt="Screen Shot 2019-05-14 at 4 14 56 PM" src="https://user-images.githubusercontent.com/36484608/57729142-73506800-7663-11e9-9f7a-22ef48252852.png">
 ( would require updating all the tabs fonts for uniformity)
2.  Decreasing body text content width
3. Update tab underl

[2019-05-14 20:22] alanmoo commented on #1036
Likely this: https://donate.mozilla.org/?utm_source=mozillapulse.org&utm_medium=referral&utm_content=footer

[2019-05-14 20:29] youriwims commented on #1036
Awesome, thanks!

[2019-05-15 00:21] natalieworth commented on #1061
@youriwims I think if it's possible, we could just copy the styling from the Foundation site menu. I used the same font/ weights. I think the only different is I removed the full-width rule underneath the menu:
<img width="1201" alt="Screen Shot 2019-05-14 at 5 21 03 PM" src="https://user-images.githubusercontent.com/14876567/57740418-af3bfb00-766c-11e9-89c1-ffaaf27fb516.png">

[2019-05-15 00:24] natalieworth commented on #1057
@youriwims I'll talk to designers and mavis in office tomorrow about this. I'm not 100% sure about the radius yet.

[2019-05-15 00:35] natalieworth commented on #1014
Final Pulse UI is [in this redpen](https://redpen.io/p/uk95e2dc951b414a1d)

Closing this ticket, as dev/ implementation tickets have been opened.

[2019-05-15 00:35] #1014 closed

[2019-05-15 15:32] xmatthewx commented on #1061
Related to #1043

[2019-05-15 15:43] xmatthewx commented on #1060
Nat might have been filing from list in Google doc before fix landed. Nat, take a look at production and edit your profile. Is the field there?

[2019-05-15 19:20] youriwims commented on #1042
@natalieworth should this dropdown be similar to the multi-page mobile nav dropdown on the foundation site i.e. Initiatives page at mobile?

[2019-05-15 19:42] natalieworth commented on #1042
@youriwims In terms of visuals, I want the Foundation one to eventually be updated to match the Pulse style. So, new Pulse style is okay if it's different. I included the scroll too since the menu is pretty long/ to indicate that there is more content below. Let me know if anything's still confusing though or if it's a nightmare to implement a new style. I'm hoping to create a brand ticket in futu

[2019-05-15 19:42] youriwims commented on #1042
Okay, cool. Thanks for clarifying!

[2019-05-15 20:06] natalieworth commented on #1060
@xmatthewx @youriwims @alanmoo Oh yes! I can see it there now!

[2019-05-15 20:08] natalieworth commented on #1060
Going to close as it appears for all profiles now.

[2019-05-15 20:08] #1060 closed

[2019-05-15 20:58] xmatthewx commented on #1042
Nice stuff. Let's be extra careful with testing on mobile, making sure users can scroll (inside the drop-down and outside on the page) without trouble.

[2019-05-15 21:45] mmmavis opened #1068 "Address deprecation warning in server.js"
Fix this [line](https://github.com/mozilla/network-pulse/blob/master/server.js#L69) as `setIf` is now deprecated

<img width="1234" alt="image" src="https://user-images.githubusercontent.com/2896608/57811747-f6cf8f00-771f-11e9-9698-28e4e975a8f3.png">

[2019-05-15 21:47] #1034 closed

[2019-05-15 22:34] alanmoo commented on #1042
For that reason, among others, this feels to me like it might be better suited as a `select` element. But it’s a bit more challenging to consistently style them across browsers. Are we ok with a progressive enhancement approach here, where browsers that don’t support styling simply get a standard select element?

[2019-05-15 22:42] mmmavis commented on #1052
ESLint is now using prettier. It raises "warnings" for now as we have ~1000 issues to be fixed and it's easier and less risky if we do it bits by bits.

Once all issues have been addressed we should change the severity in https://github.com/mozilla/network-pulse/blob/master/.eslintrc.json#L19-L20 to `error`.

[2019-05-15 22:44] natalieworth commented on #1042
Sure!

[2019-05-15 22:45] natalieworth commented on #1042
@alanmoo Is there a good example somewhere? How differing would they be?

[2019-05-16 21:16] xmatthewx commented on #1041
Note: below search area, results will still show tabs for People and Projects as currently built. And as shown in the comp called "selected" at the top of this ticket.

[2019-05-17 14:08] alanmoo commented on #1042
Roughly (with the arrow needing to change still), we can do this:
https://codepen.io/anon/pen/XwgmQg
Note the open state is the browser default behavior, so it is nice and functional/accessible on mobile and desktop.

[2019-05-17 17:04] xmatthewx commented on #1033
- [ ] Add OG title, thumb, description tags for home, tag list, entries and profiles
 - [ ] Add description meta tag for home, tag list, entry, profile
 - [ ] Add H1 on user's name in profile view

[2019-05-17 17:49] mmmavis opened #1071 "Make sure font files are properly loaded"
Using https://github.com/mozilla/foundation.mozilla.org/blob/master/network-api/networkapi/templates/pages/base.html#L9-L11 as a guide, update [server.js](https://github.com/mozilla/network-pulse/blob/master/server.js#L40) to make sure font files are properly loaded. (note: we might need to whitelist that domain)

[2019-05-17 18:51] mmmavis opened #1072 "Clean up anchor <a> style so by default it doesn't have underline"
Related to https://github.com/mozilla/network-pulse/pull/1054#discussion_r285205354

1. figure out where `a { text-decoration: underline; }` rule in the compiled css file is coming from
2. make sure by default anchors don't have underline
3. other other `text-decoration` related overrides in the codebase accordingly.

[2019-05-17 19:37] youriwims commented on #1057
almost forgot about this...any update?

[2019-05-17 19:47] mmmavis commented on #1033
Thanks for adding the list. I probably won't have time to take a stab at this ticket anytime soon 😬

[2019-05-17 20:01] mmmavis commented on #1072
If we remove this variable override we should be able to reset the `text-decoration` style we want for all `<a>`. Note that this change will affect other elements as well since it's used as a default value in `@mixin link-text-decoration`. We should do a thorough check to make sure we don't break styling for them.

[2019-05-21 18:32] #1036 closed

[2019-05-22 15:04] youriwims commented on #1061
Sorry @natalieworth, I didn't realize you followed up on the underline here. But, the underline on the foundation site is `6px` and this is what that would look like:
![Screenshot_2019-05-22 YouriYouriYouriYouri - Mozilla Network Pulse](https://user-images.githubusercontent.com/36484608/58185397-00f21000-7c81-11e9-8416-9036958990a7.png)

I think it looks a bit heavy, but let me know what you think

[2019-05-22 16:21] natalieworth commented on #1061
@youriwims The 3px is definitely better! thanks.

For the location/ website on one line. I've got it on separate lines in the redpen:
https://redpen.io/uz608a0947739eff3d

Should I create a ticket for those changes?

[2019-05-22 16:28] #1035 closed

[2019-05-22 16:32] youriwims commented on #1061
I thought #1043 was for the profile personal information update(above the line)? 😬 🙃 If not, yes, please create a ticket for that 🙏 ty!

[2019-05-22 22:42] natalieworth commented on #1043
Hey @youriwims here are the world and locator icons:
[Icons.zip](https://github.com/mozilla/network-pulse/files/3209588/Icons.zip)

[2019-05-22 22:43] natalieworth commented on #1043
https://redpen.io/hn85d3f9ffc9a6257a

[2019-05-24 23:45] natalieworth opened #1074 "Update icons on Pulse site with new iconography"
[extra-small-icons.zip](https://github.com/mozilla/network-pulse/files/3231020/extra-small-icons.zip)
### Final design + redpen link
Final design is here (and updated in the Sketch file):
https://redpen.io/p/wp17e9f94b044da4a0

On Pulse site:
- [x] Update 'down chevron arrow' on the 'help' drop down
- [ ] Update 'x' close/ cancel icon
- [x] Update the heart 'fav' icon
- [ ] Update search icon
- [

[2019-05-24 23:54] mmmavis commented on #1074
We should be able to clean up some SCSS overrides for the icons (especially around positioning) as the new icons are all in the same square size.

[2019-05-27 21:13] mmmavis opened #1075 "Optimizing SVGs"
Use `svgo` to optimize SVGs in `/assets`

[2019-05-27 22:03] natalieworth opened #1077 "Increase spacing on homepage header text"
***I think we can leave this ticket til last in case any other spacing issues come up when new designs are implemented***
The current spacing feels a bit tight because of the H1 design update:
<img width="1183" alt="Screen Shot 2019-05-27 at 2 50 57 PM" src="https://user-images.githubusercontent.com/14876567/58440434-e5c33e00-808e-11e9-8e88-2e001d75328d.png">

Updated spacing is here: https://redp

[2019-05-27 22:10] natalieworth opened #1078 "Update 'projects/ favs' section styling in profile view"
Need to update the 'projects/ favs' section underneath the profile overview page.

Current styling:
<img width="1138" alt="Screen Shot 2019-05-27 at 3 09 41 PM" src="https://user-images.githubusercontent.com/14876567/58440779-81ee4480-8091-11e9-9f53-d9f014d53f3a.png">

Updates:
<img width="1156" alt="Screen Shot 2019-05-27 at 3 08 56 PM" src="https://user-images.githubusercontent.com/14876567/5844

[2019-05-27 22:13] natalieworth opened #1079 "Update Pulse Entry page"
This is now unblocked.

@natalieworth @alanmoo @youriwims @mmmavis

[2019-05-28 18:35] youriwims commented on #1074
@natalieworth sorry if this is overkill, but can you outline in the initial comment where exactly these icons should be updated?...just so there's a list of where these icons need to be updated &/or  replaced.

[2019-05-28 20:15] mmmavis opened #1081 "Remove "renderTrendingTerms" method from moderation-search.jsx"
Remove `renderTrendingTerms` method from `moderation-search.jsx` as it was a leftover method that we forgot to remove .

[2019-05-29 05:34] natalieworth commented on #1074
Hey @youriwims Definitely! I'll add to the top of this ticket

[2019-05-29 14:05] xmatthewx opened #1083 "Review GA Events for new UI"
Currently in Pulse, we track a few user events. Let's see if there's any we should drop or add considering the new UI.

For example, it could be good to track whether users open the Help selector.

[Spreadsheet](https://docs.google.com/spreadsheets/d/1x-CP_HYaAs3oRv2cjbSFu8w5Z938E4cyHQ3hvh17c6c/edit#gid=1060389854) has most current events, but might not be totally up to date.

Let's discuss @natal

[2019-05-29 15:00] youriwims commented on #1074
@natalieworth are the social icons on the profile cards supposed to be x-small now? I think those icons are fine at small dimensions (16x16 on desktop & mobile) and can follow the original design.

In #1066 I decreased the size of the icons to follow your design, but had some issues with icon legibility & mobile functionality due to the original 11x11 dimensions ([see comment](https://github.com/m

[2019-05-29 16:24] natalieworth commented on #1074
@youriwims that'd be awesome I think! thanks for catching that. I'll have to document in our brand standards.

[2019-05-29 16:29] natalieworth commented on #1074
@youriwims sorry, sabrina said 16px is good for both mobile and desktop.

[2019-05-29 16:29] youriwims commented on #1078
@natalieworth  should the smaller text have the `.h4-heading` styles brought over from the foundation-site or the ones in the Pulse style guide? The only difference is the line-height atm. If we should be following the Pulse style guide that you created, I can open a separate ticket to make sure our styles match that.

Super sorry I didn't notice the differences between the Pulse & Foundation-site

[2019-05-29 16:31] youriwims commented on #1074
Okay, so I'll leave them as is. Thanks for clarifying!

[2019-05-29 18:00] natalieworth commented on #1074
@youriwims Or should I re-export them? I think I exported them at 12px so they're too small. Or are you able to make them 16px code-wise :D

[2019-05-29 18:14] youriwims commented on #1074
haha yeah no worries, I can do it via code—thanks for checking though 😊

[2019-05-29 20:19] natalieworth commented on #1078
@youriwims No worries! We are working on updating the Foundation branding so the line-height is 1.25 across everything for h4's. So, h4 line-height should be 1.25 on Pulse

[2019-05-29 20:22] youriwims commented on #1078
Thanks for letting me know, I'll update that now :)

[2019-05-29 20:27] #1061 closed

[2019-05-29 21:12] youriwims commented on #1074
@natalieworth should the heart icon on save be `$red` or `$dark-red`?

[2019-05-29 22:10] natalieworth commented on #1079
Design has been finalized and approved for this ticket.
**Desktop is here:**
https://redpen.io/zw3d9fad50ec628d2b

**Mobile is here:**
https://redpen.io/xpaad30985723f1669

Comps have also been updated and added to Sketch.

There were 2 new icons (that I based on Becca's blog designs) created for this that I have added in this file:
[Circle-blog-icons.zip](https://github.com/mozilla/network-pulse/

[2019-05-29 22:16] mmmavis commented on #1079
@natalieworth some projects don't have thumbnail (like https://www.mozillapulse.org/entry/1186). Do we have a different layout design for those projects or we are fine with just using the same [gradient image](https://pulse.mofostaging.net/assets/placeholder-thumbnail.png) as the fallback.

[2019-05-29 22:37] natalieworth commented on #1074
Do you think they still look too small at 16px? I can review with Sabrina again tomorrow if they're still too small?

[2019-05-29 22:42] natalieworth commented on #1074
I also moved the 'x', search, and profile icons to the nav ticket #1039 (so feel free to close this ticket later if you don't need it anymore). @youriwims

[2019-05-29 22:54] natalieworth commented on #1079
@mmmavis I'll update a default image with new colors

[2019-05-29 23:01] natalieworth commented on #1079
![placeholder-thumbnail-2019](https://user-images.githubusercontent.com/14876567/58597008-fd372e00-822a-11e9-8c37-df7cbf41ff16.png)

[2019-05-29 23:05] natalieworth commented on #1079
oh @mmmavis Do you need it in 4:3 size? I was using previous size that the old image was using?

[2019-05-30 01:36] mmmavis commented on #1079
@natalieworth we could also draw gradient in CSS but that might complicate the work for this ticket further. @youriwims you can decide how you wanna implement this and work with Nat to get the asset/specs you need.

[2019-05-30 02:51] alanmoo commented on #1071
It looks like Nunito Sans never gets loaded into the site, which causes issues if you don't have it installed locally.

[2019-05-30 16:55] #1071 closed

[2019-05-30 17:45] youriwims commented on #1074
Perfect, thanks so much!

[2019-05-30 17:52] youriwims opened #1087 "Update h4 line-height"
Update `h4` & `.h4-heading` line-height to 1.25 at desktop & 1.28 at mobile.
References:
https://github.com/MozillaFoundation/Design/issues/357
https://github.com/mozilla/foundation.mozilla.org/issues/3270

[2019-05-30 17:58] youriwims commented on #1079
@mmmavis do you think it'd be better to do this in CSS?...or it doesn't really matter? I don't mind doing CSS, but if it doesn't provide any specific advantage and is just more complicated _just because_ , then I'll just swap out the images. Let me know what you think.

[2019-05-30 19:48] mmmavis opened #1088 "Add trending terms below search input on search page"
This might help: https://github.com/mozilla/network-pulse/pull/1082/files#diff-bb08841264ceb7df9943840db8dfcfcd

Add trending terms below search input on search page/the new homepage.

@xmatthewx can you add other specs here with a list of hard coded trending terms we wanna show? Thanks!

Redpen to new homepage design: https://redpen.io/to2f6e295db54e0ed5 (please ping Nat if we need to come up wit

[2019-05-30 20:45] mmmavis commented on #1079
@natalieworth can you clarify mobile and desktop specs for the project image section?

- Is there a particular aspect ratio we want to force image to be in?
- Dimension? Fixed? Or scale responsively?
- What to do for oversized image? Do we make it appear cropped so it shows up the right size we want? Or?
- What to do for undersized image? Do we scale it up? Or?

[2019-05-30 21:09] natalieworth opened #1089 "Update sign-in/ sign-up page"
Just adding/ creating the design to dev hand-off since this is a bit more robust (and we are adding the error states for the sign-up/ sign-ins).

Update the sign-in/ sign-up page on the Pulse site.

**🗒  Design -> Dev Handoff Checklist**
(Feel free to remove items that are not applicable.)

- [x] Design has been finalized
- [x] Link to original design ticket
- [x] Link to related ticket
- [x] Link

[2019-06-01 22:25] AdityaSrivast commented on #1087
@youriwims I would like to work on this issue. Can I take it up?
The link in the reference seems broken.

[2019-06-03 15:49] youriwims commented on #1087
Sure @AdityaSrivast! If you have some time today or tomorrow to complete this, that'd be awesome. The links should be working now. For this you're going to need to go into `./scss/overrides/_type.scss` and remove the related `h4` & `.h4-heading` styles. Then go into `./scss/foundation-styles/type.scss` to updatesitewide `h4` & `.h4-heading` styles. Feel free to let me know if you need any more gui

[2019-06-03 22:04] mmmavis commented on #1089
@natalieworth since this is a big ticket and not a tiny UI update, can you use the `Design to Dev Handoff` issue template to re-create this ticket so the ticket is more descriptive and has context? As far as I know we don't have a sign in / sign up page that lives on Pulse front end so I'm not sure which page you are referring to here. 👀

[2019-06-03 22:12] mmmavis commented on #1089
Did you mean the page that shows up after you click on "Signup / Signin" link to top right corner of the site? Like this page below?
https://api.mozillapulse.org/accounts/login/?next=https%3A%2F%2Fwww.mozillapulse.org%2Ffeatured
![Screenshot_2019-06-03 Sign in to Pulse](https://user-images.githubusercontent.com/2896608/58837960-f9801e80-8611-11e9-92d2-89e0355eee68.png)

[2019-06-03 23:24] youriwims commented on #1063
Blocked by https://github.com/mozilla/network-pulse-api/issues/496.

[2019-06-03 23:31] natalieworth opened #1092 "Join Us Page modal"
We will be creating a 'Join Us' page to onboard future (potential) fellows and mozilla community members with our email list and the Pulse site. Users will access the page through the ['join us' page](https://redpen.io/yg8a9572ea97403818) (on the [foundation/ cms site](https://foundation.mozilla.org/cms/pages/396/edit/)) where they will be taken to the ['sign-up' page ](https://redpen.io/whd4aa987

[2019-06-03 23:31] youriwims commented on #1059
@natalieworth can you update the links in the initial comment to the specific design? 3/4 links go to the general RedPen Pulse UI Updates with all designs.

[2019-06-03 23:33] youriwims commented on #1092
Nice descriptive ticket @natalieworth ! 🙌 💖

[2019-06-03 23:35] natalieworth commented on #1089
@mmmavis yea! that's the one I meant. did you want me to still do the design to dev handoff/ checklist for it though? I'm not sure how much work it is dev-wise, so I only made little ticket for it, but I can definitely update.

[2019-06-03 23:37] youriwims commented on #1043
Closing since it looks like #1066 took care of this.

[2019-06-03 23:40] youriwims commented on #1043
Actually, @natalieworth can you confirm if we need this ticket open still? #1066 took care of majority of the profile about updates and then #1084 is taking care of the Hint message (https://github.com/mozilla/network-pulse/pull/1084#issuecomment-497417550) styles. Is there something else in this ticket that needs to be done that isn't/haven't being taken care of elsewhere?

[2019-06-04 03:42] natalieworth commented on #1043
I think it's good to close @youriwims! Thanks for checking

[2019-06-04 03:42] #1043 closed

[2019-06-04 03:47] natalieworth commented on #1059
updated these @youriwims

[2019-06-04 16:06] youriwims commented on #1089
@natalieworth the buttons on your design look different. Can you clarify if we should update or keep them the same? Also, I think the checklist will help :)

[2019-06-04 17:20] mmmavis commented on #1089
Hey @natalieworth , ideally we want to always utilize the handoff issue template unless it's a super simple task like copy changes or a small UI bug (include link to the page you are talking about in the ticket would be awesome ✨ ). That way we can avoid back and forth design-dev chat just to figure out the specs. I know filling out that template feels tedious (I really get it!) but a detailed tic

[2019-06-05 13:27] #1078 closed

[2019-06-05 18:25] youriwims commented on #1074
Closing this since these updates will be made on the component they belong to. See initial comment for more details.

[2019-06-05 18:25] #1074 closed

[2019-06-06 21:21] #1087 closed

[2019-06-10 20:56] youriwims commented on #1041
@natalieworth just an fyi, moderation is sharing styles with this search component...not sure how this ties into overall design, just thought I'd let you know :) For now I'll just update the home search bar in this ticket.
![Screen Shot 2019-06-10 at 4 51 40 PM](https://user-images.githubusercontent.com/36484608/59226116-4cbd1880-8ba0-11e9-930f-d509b50ab1a6.png)

[2019-06-10 20:59] xmatthewx commented on #1041
as long as it doesn't totally break, it's okay if moderation gets funky, since it's just internal.

[2019-06-10 21:46] natalieworth commented on #1089
Thanks @mmmavis I totally don't mind tedious! We have a brand one too that we based it off of and it helps ALOT!

[2019-06-11 16:52] natalieworth commented on #1079
@youriwims ah sorry for delay,
1) aspect ratio of 4:3
2) I think ideally, scale responsively. But what do you think would be best. Mobile gets a bit different but do you think this would be best for Tablet too (I can mockup the tablet version if you need): https://redpen.io/zw3d9fad50ec628d2b
3) For oversized images, let's crop so it remains in our aspect ratio
4) Undersized, let's scale it up so

[2019-06-11 16:53] natalieworth commented on #1079
@youriwims Hmm I can't access abstract, I think the ratio I was using was the 4:3, but if you are able to access it—can you double check. Thanks

[2019-06-11 21:33] #1042 closed

[2019-06-12 14:11] #1072 closed

[2019-06-12 15:02] youriwims opened #1100 "Clean up anchor styles"
#1072 was filed to find the source of underline for anchor tags. #1099 found the source and removed it. Now, `<a>` styles can be cleaned up further site-wide.
Ref: #1094, #1098

[2019-06-13 19:37] natalieworth commented on #1079
Okay, updated my Abstract at ration is 4:3 :)

[2019-06-13 21:05] natalieworth commented on #1041
Hey @youriwims So we are going to keep the existing search functionality that is live on the search section of the sight (where it filters are the user types). On the homepage, the 'people'projects' tabs will display as soon as the user begins typing (but once search is cleared or a help topic is selected, the tags will disappear again.

[2019-06-13 21:08] youriwims commented on #1041
Okay, thanks for the update @natalieworth!

[2019-06-13 21:37] youriwims commented on #1079
@natalieworth I don't have any questions just yet. Let me review this comment and the designs I'll get back to you :)

[2019-06-14 18:49] youriwims commented on #1039
@natalieworth are there any active states for the mobile nav like the live pulse mobile nav? Or should I just be doing regular dark-theme anchor styles?

[2019-06-14 19:31] natalieworth commented on #1039
@youriwims let's stick to the dark-theme anchor styles

[2019-06-17 14:53] youriwims commented on #1089
Closed via #503

[2019-06-17 14:53] #1089 closed

[2019-06-25 23:39] mmmavis commented on #1092
@xmatthewx @gideonthomas this is the screen that we need to update content for: https://redpen.io/zc4501db50f552fcbe

[2019-06-27 20:20] gideonthomas commented on #1055
Issues tracked in the api repo.

- [ ] [Build models](https://github.com/mozilla/network-pulse-api/issues/491)
- [ ] [Create API](https://github.com/mozilla/network-pulse-api/issues/493)

[2019-07-02 17:25] xmatthewx opened #1105 "Note: Pulse join follow up"
After launching new join flow, we will likely want to follow up and hook it up for all new pulse users, not just people coming via the foundation site.

@natalieworth - do think a user on pulse who hits join at the top should immediately get the modals? or should they see the value prop page?

cc @gideonthomas b/c he has a great memory for work that might otherwise be forgotten

[2019-07-02 18:36] youriwims commented on #1079
See this [comment](https://github.com/mozilla/network-pulse/pull/1103#discussion_r299605036) for external link button styling.

[2019-07-09 17:35] mmmavis commented on #1079
@natalieworth just so it's clear for everyone, can you make sure you have comps for desktop, tablet, and mobile 😉 ? I just checked the Sketch file and it seems like we only have desktop mockup available.

[2019-07-09 19:39] gideonthomas commented on #1092
TODO: push to prod and wire up with fo'mo

[2019-07-09 19:41] youriwims commented on #1059
<img width="86" alt="Screen Shot 2019-07-09 at 3 35 48 PM" src="https://user-images.githubusercontent.com/36484608/60917585-4f726280-a25f-11e9-956a-f26f41268163.png">

@natalieworth  should both of the last two sections be titled 'Optional Details' or Optional Details' & 'Get Help' respectively?

[2019-07-10 18:40] Pomax opened #1108 "app.json is missing env vars that are necessary for our bundle build step"
https://github.com/mozilla/network-pulse/blob/master/app.json currently only has one environment variable set, and seems to be missing the `APP_HOST`, `PULSE_API_HOST`, `PULSE_LOGIN_URL`, and `PULSE_LOGOUT_URL` values, with review apps ending up building a bundle that has `undefined` in its JS where an env var value would have been expected.

Can we safely add these env vars, set to various pulse.

[2019-07-10 21:43] gideonthomas commented on #1092
Done: https://foundation.mozilla.org/en/join

[2019-07-10 21:44] #1092 closed

[2019-07-11 15:07] patjouk commented on #1108
If you want the review apps to inherit some of the staging apps env var, you can use this in the app.json:
[code]
It will only affect the review apps.

[2019-07-12 19:06] #1039 closed

[2019-07-12 19:06] #1041 closed

[2019-07-12 19:06] #1077 closed

[2019-07-15 00:46] youriwims commented on #1079
@natalieworth  should the hover states for the social icons be `$dark-blue`? Also, where should the _Get Involved_ button link to?

[2019-07-15 18:01] mmmavis commented on #1063
@xmatthewx do we wanna attach any GA event tracking to action(s) happening in this newsletter signup form? Looks like on Foundation site we track two things

[code]

and

[code]

[2019-07-16 19:33] mmmavis commented on #1063
Got okay from @xmatthewx on Slack. Will use the code snippet above.

[2019-07-16 23:46] youriwims opened #1116 "Moderation needs to be updated"
**Describe the bug**
Moderation was left behind in all the UI refresh fun 🤡

**To Reproduce**
Visit https://www.mozillapulse.org/moderation

**Expected behavior**
Components should follow updated styling as documented in the [UI Refresh](https://github.com/mozilla/network-pulse/projects/10)

**Screenshots**
![Screenshot_2019-07-16 Mozilla Network Pulse](https://user-images.githubusercontent.com/36

[2019-07-17 06:57] natalieworth commented on #1079
@mmmavis Not sure if you're working on this/ have time, but added a tablet version for this in the redpen here: https://redpen.io/aj26c37c5b1a34d276 and have updated in Abstract.

[2019-07-17 07:09] natalieworth commented on #1079
No worries about questions @youriwims ! They are all good. Hover states can be the $dark-blue for icons.

1. I added hover states here: https://redpen.io/gy264cd0af466a87f4
Icons are here:
[Large Icons Entry Page.zip](https://github.com/mozilla/network-pulse/files/3400560/Large.Icons.Entry.Page.zip)

2. Yes, let's remove the get involved button and just have the visit if no link is present.

3. Le

[2019-07-17 15:50] xmatthewx commented on #1116
Good catch. Moderation can be ugly, as long as it's functional.

[2019-07-17 20:49] natalieworth opened #1117 "Add the 'X' back to the search to clear results"
Just making a note to add the 'x' clear functionality back to mobile as a P2 when Youri returns.

cc @youriwims @mmmavis @alanmoo

[2019-07-23 16:46] alanmoo commented on #1105
@xmatthewx How do we close this ticket? By coming to a design decision and generating an implementation ticket?

[2019-07-23 17:45] gideonthomas commented on #1105
@alanmoo yes! @natalieworth to weigh in

[2019-07-23 20:30] #1063 closed

[2019-07-23 20:31] mmmavis commented on #1063
Note that newsletter sign up form on footer will only show for logged in users.

[2019-07-23 20:39] mmmavis opened #1118 "Newsletter sign up to call Basket directly (both for anonymous + authenticated users)"
Front end ticket: this one
Back end ticket: https://github.com/mozilla/network-pulse-api/issues/530 (blocked on front end work)

---

(Follow-up for PR https://github.com/mozilla/network-pulse/pull/1111)

Currently, `/signup` route on Pulse API requires CSRF token. However, CSRF token can only be returned via the `/api/pulse/nonce` route (```{nonce: "...", csrfmiddlewaretoken: "..." }```) which on

[2019-07-23 23:43] mmmavis commented on #1117
@natalieworth can you provide comp and the 'x' icon file? I can't recall how Pulse used to look like 😂

[2019-07-23 23:52] mmmavis commented on #1117
For simplicity and consistency, wondering if we should do this for all screen sizes / devices other than just mobile?

/cc @alanmoo (context: the Search component doesn't know what screen size / device it's on. If we wanna target this just for mobile we'll have to write extra JS and logic to detect container size / device type to conditionally display the `x` control)

[2019-07-24 22:04] xmatthewx commented on #1117
is it a bad practice to display or not with css based on screensize?

[2019-07-24 22:26] mmmavis commented on #1117
I wouldn't say it's bad practice since it's usually case by case + how the component was set up initially. I will know more once I see the comps. Also by "mobile" do we mean when the page is displayed on viewport under 768px wide? Or on a mobile device?

[2019-07-24 23:34] mmmavis commented on #959
@xmatthewx is this still an issue? The /favs page is kinda buried now since we remove it from the nav. Is the plan to eventually kill the Favs page?

[2019-07-25 10:26] alanmoo commented on #1117
It can be kind of arbitrary. You could have a narrow desktop window when trying to view a site side-by-side, or a big tablet.

[2019-07-25 15:52] xmatthewx commented on #959
It seems like new profile/fav ordering is correct, with recent stuff first. So, we can close this.

As for the top level /favs page ... I'm not sure. Without it, non-logged users can't use favs, which was always a nice thing to offer. And, users to fav things logout can't add them to their profile. But, neither of those things are critical. I don't think we need to worry about this now. Something

[2019-07-25 15:52] #959 closed

[2019-07-26 18:30] alanmoo commented on #1118
As discussed in our meeting the other morning, we should make requests directly to basket from the client, negating the need to deal with CSRF.

[2019-07-26 23:08] natalieworth commented on #1117
@mmmavis Sorry for delay. The previous version of pulse had the 'x' icon across all screen sizes:
<img width="1219" alt="Screen Shot 2019-07-25 at 2 45 55 PM" src="https://user-images.githubusercontent.com/14876567/61985510-64205b80-afbe-11e9-9e83-b2e92c772c32.png">

I'm okay with maintaining that functionality.

----

### Assets
I have added the 'x' icon asset for this here:
[clear-x-icon.zip](ht

[2019-07-29 14:59] youriwims commented on #1117
@natalieworth should the 'x' icon be black when when search isn't active?

[2019-07-30 17:12] natalieworth commented on #1117
@youriwims ya, thanks

[2019-07-30 17:20] natalieworth commented on #1059
@youriwims Lol, yes all your answers are good

[2019-07-30 17:22] youriwims commented on #1059
Lol what? @natalieworth I think you're supposed to be viewing this comment ➡️  https://github.com/mozilla/network-pulse/pull/1115#issuecomment-516457041

[2019-07-30 22:26] mmmavis opened #1121 "Make Percy work on Pulse"
Let's get some Percy tests written.

Routes:
* Homepage
* Entry page (`/entries/#`)
* Add entry page, if possible (since it's behind auth this might be more problematic)
* Moderation page, if possible (same as above)

[2019-07-30 22:56] #1059 closed

[2019-07-30 23:09] youriwims opened #1122 "Main content needs more space"
**Describe the bug**
The footer is overlapping main content [when a user is signed in and out] at mobile. Then, at desktop there's a lack of space between main content and footer.

**To Reproduce**
Steps to reproduce the behavior:
1. Visit any page on [staging](https://pulse.mofostaging.net/)
2. Scroll down to the footer
4. See either overlapping content _OR_ lack of space between main content + f

[2019-07-30 23:18] youriwims commented on #1122
@mmmavis we're currently getting space between footer & main container from a padding-bottom on `div#main`. Do we want to keep using that approach or do we have other options? Because every time the footer is updated, `div#main` will need to be updated as well 😕

[2019-07-31 13:39] youriwims commented on #1122
@alanmoo any ideas?

[2019-07-31 14:58] alanmoo commented on #1122
I'm wondering why the footer is `position: absolute`. My only guess is it's because we want to avoid having white background appear below it if the page isn't rendered yet, but we could probably solve that by slapping a `min-height` on `#main` and then removing extraneous padding on the footer/main.

[2019-07-31 15:56] youriwims commented on #1122
Okay, cool. I'll try that.

[2019-07-31 17:09] mmmavis commented on #1122
Yea I can't recall why it was implemented that way 2-3 years ago 😂  But Alan's guess is probably right.

[2019-07-31 18:46] gideonthomas commented on #1118
Do this ^ for authenticated users as well

[2019-07-31 21:55] mmmavis commented on #1117
@natalieworth reminder to update Sketch file 😉

[2019-08-01 16:02] #1122 closed

[2019-08-01 22:07] mmmavis opened #1128 "Search box: long text overlaps with search icon"
Currently on prod:

<img src="https://user-images.githubusercontent.com/2896608/62330587-f8cb0380-b46d-11e9-960d-490101a10cda.png" width="320">

[2019-08-01 22:21] mmmavis commented on #1128
Let's wait till PR https://github.com/mozilla/network-pulse/pull/1126 gets merged first.

[2019-08-02 18:11] xmatthewx commented on #1128
Good catch. Not an emergency, but worth a fix later.

[2019-08-02 21:36] mmmavis opened #1129 "Unify dropdown style"
Unify style and clean up code for dropdowns on Pulse.

### Homepage

<img width="200" alt="image" src="https://user-images.githubusercontent.com/2896608/62399990-97209d00-b532-11e9-8ecd-1478ba925b28.png">

### Moderation Page

<img width="200" alt="image" src="https://user-images.githubusercontent.com/2896608/62400035-b7e8f280-b532-11e9-92f4-5f8c0dc0ce66.png">

[2019-08-02 22:40] #1116 closed

[2019-08-06 17:12] Pomax commented on #1108
closing for now, we've not run into it in a while.

[2019-08-06 17:12] #1108 closed

[2019-08-06 17:50] Pomax commented on #1118
+ remove the signup route from the network pulse API repo

[2019-08-06 17:51] Pomax commented on #1118
Handy docs: https://readthedocs.org/projects/basket/

[2019-08-07 21:05] alanmoo commented on #675
🕸

[2019-08-07 21:05] #675 closed

[2019-08-07 21:08] Pomax commented on #715
closing due to inactivity

[2019-08-07 21:08] #715 closed

[2019-08-07 21:09] Pomax commented on #755
closing due to inactivity and the site(s) having been updated several times since 2017.

[2019-08-07 21:09] #755 closed

[2019-08-07 21:09] Pomax commented on #708
closing due to inactivity and codebases having changed quite a bit - we can refile this once it becomes desirable again.

[2019-08-07 21:09] #708 closed

[2019-08-07 21:10] Pomax commented on #771
closing due to having just completely redesigned this for the 2019 incarnation =)

[2019-08-07 21:10] #771 closed

[2019-08-08 16:05] xmatthewx commented on #708
people can update their pic. so that's good. they can't delete, but zero people have contacted us about that.

[2019-08-08 20:11] mmmavis commented on #1117
PR got merged. Closing.

[2019-08-08 20:11] #1117 closed

[2019-08-14 21:02] youriwims opened #1135 "Entry images not displayed on Chrome-Android"
**Describe the bug**
Entry images aren't being displayed on Chrome-Android mobile.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to mozillapulse.org in the chrome browser on an android mobile device.
2. Entry images aren't visible.

**Screenshots**
![Screenshot_20190814-165018_2](https://user-images.githubusercontent.com/36484608/63055859-caf5ae00-beb4-11e9-80e8-bab255e46f62.png)

**Sma

[2019-08-14 21:26] mmmavis commented on #1118
API work is tracked separately on https://github.com/mozilla/network-pulse-api/issues/530

[2019-08-16 18:15] youriwims opened #1136 "Entry content structure"
Mavis mentioned that having the 'why interesting' section directly after the entry description with no visual difference could create an odd content flow (see https://github.com/mozilla/network-pulse/pull/1130#discussion_r314527595).

What do you think? @natalieworth @xmatthewx

cc: @mmmavis

Related Issues/PR: #1079 #1030

[2019-08-19 18:13] xmatthewx commented on #1135
@alanmoo – Can we take a look at this during this sprint? It's about 17% of traffic on Pulse. Maybe it's a thing @patjouk could help assess?

[2019-08-19 18:18] xmatthewx commented on #1136
Good catch. And, this is actually intentional and how it's always been. The two fields for `description` and `why interesting` exist just to help guide people to write better descriptions with their audience in mind. It was easier than explaining to people how to write a quality description with help text. Does that make sense? If not, feel free to reopen.

[2019-08-19 18:18] #1136 closed

[2019-08-19 19:39] mmmavis commented on #1135
I can't reproduce the bug on Chrome on iPhone. I'm seeing project image on both the list view and detailed view.

[2019-08-19 20:16] youriwims commented on #1135
It's only Android _as far as we can tell_ 😬

[2019-08-20 17:28] #897 closed

[2019-08-20 21:15] mmmavis commented on #1118
Front end work is live now production. Closing.

[2019-08-20 21:15] #1118 closed

[2019-08-20 23:43] mmmavis commented on #1135
Ummm this is gonna be tricky to debug. Some discoveries so far... (will update list as I go)

| Working | OS | Chrome Version | Device  | Type         |   |   |
|---------|----|----------------|---------|--------------|---|---|
| y       | 9  | 69.0.3497.100  | Pixel 2 | emulator     |   |   |
| n       | 9  | 76.0.3809.111  | Pixel 2 | emulator     |   |   |
| y       | 9  | 76.0.3809.111  | Pixe

[2019-08-21 06:21] mmmavis opened #1137 "Remove icon-* prefix from files under /glyphs folder"
Remove `icon-` prefix from files under `/glyphs` folder to make our glyph naming convention consistent.

[2019-08-21 17:31] mmmavis commented on #1135
Spent some time looking up online but couldn't find any relevant that explained why.

I would say the most straightforward and quickest fix would be removing the ` background-blend-mode: multiply` CSS rule from the project image. This will remove the light grey tint from the images but will fix the issue we are seeing on newer Android Chrome.

@xmatthewx thoughts? Here's a gif to demo what the ima

[2019-08-21 19:20] #1079 closed

[2019-08-21 19:53] xmatthewx commented on #1135
Excellent investigation @mmmavis. Wow, what a bug.  I propose that we:

a) file the chrome bug somewhere. or ask a friend in moco to do that.
b) temporarily disable the blend, but leave it in there and bring it back when bug is fixed.
c) ask @natalieworth if we should add a temporary super light border.

The blend was added because a lot of thumbs are on white backgrounds and they make the layout

[2019-08-21 21:58] mmmavis commented on #1135
@xmatthewx I filed a bug/report already but I'm not sure how to track it though as it didn't send me a confirmation email of some sort.

I'll work with Nat on this.

[2019-08-21 22:25] mmmavis commented on #1135
Googled a bit further and found this [Chromium bug report](https://bugs.chromium.org/p/chromium/issues/detail?id=988948&q=background-blend-mode&colspec=ID%20Pri%20M%20Stars%20ReleaseBlock%20Component%20Status%20Owner%20Summary%20OS%20Modified) that describes the issue. I'll keep an 👁 on it.

[2019-08-22 19:58] gideonthomas opened #1139 "Entry images are cropped"
Images on the entry page, especially ones with text/wordmarks in them seem to be cropped. e.g. https://www.mozillapulse.org/entry/1327

Not sure if it's important to fix.

cc @xmatthewx and @kristinashu

[2019-08-22 21:17] mmmavis opened #1140 "Error message on "Add" page needs side margin"
<img width="765" alt="image" src="https://user-images.githubusercontent.com/2896608/63550402-6f947300-c4e7-11e9-9feb-d9ed00cd3b0e.png">

[2019-08-22 21:44] mmmavis commented on #1135
Talked to @natalieworth - we are gonna add `border: 1px solid #ccc` to project images on list view. I'll file a follow-up PR so we remember to add the grey tint back once Chrome fixes rendering bug.

[2019-08-22 21:51] mmmavis opened #1141 "Add gray tint back to project images once Chrome fixes its rendering issue"
**Currently blocked on an Andriod Chrome bug**

Due to a known Chrome bug (newer version of Android Chrome doesn't render `background-blend-mode`), we have to temporarily remove the gray tint on project images so they don't appear as a solid gray box. Once the bug is fixed on Chrome we should

1. revert the interim solution (gray border around project image)
2. add the gray tint back to project im

[2019-08-22 22:06] #1135 closed

[2019-08-23 17:56] xmatthewx opened #1143 "Enhance Homepage by promoting featured items"
Pulse entries can be "featured" by a moderator. Currently, this gives those items a flag over their thumbnail. To promote featured items further, and offer visitors the best first impression possible, we should put a few featured items at the top of any list view.

@natalieworth - feel free to add your thoughts. and then hand over to @alanmoo to triage.

I'm thinking:
 - for any list view, display

[2019-08-23 19:29] xmatthewx commented on #1139
@natalieworth - take a look and decide how important this is to address. thanks!

[2019-08-23 22:56] natalieworth commented on #1139
@gideonthomas cropping is okay, but it seems to be sketching them. Is it possible to crop them without stretching them?

cc @xmatthewx @youriwims

[2019-08-28 00:20] mmmavis opened #1146 "Fix ESLint warnings and make it raise errors instead"
Now that major updates are done. Let's fix existing linting warnings + make ESLint raise errors instead of warnings (just like what we have for the Foundation site).

[2019-08-28 16:13] #1146 closed, assigned to mmmavis

[2019-09-03 20:15] jgmac1106 opened #1150 "Missing Icon for Personal Site on profile"
**Describe the bug**
If you add your url in the profile edit page it does not add it to your profile,

**To Reproduce**
Steps to reproduce the behavior:
Add an a url, look at your profile. I see a glphy for github, twitter, and linkedin but none for a personal site.

**Expected behavior**
Add a glyph either rss icon or a globe for a personal website....I prefer an rss icon but you know how semanti

[2019-09-03 21:03] jgmac1106 commented on #1150
I do see it on my actual profile page so maybe it is a matter of the Open Leaders(x) building profiles without the url. Not sure if that is a different repo and this one is just for Pulse core.

If so close and delete.

[2019-09-03 21:58] #1052 closed

[2019-09-04 18:51] gideonthomas commented on #1150
Hi @jgmac1106 if you are referring to your image on https://foundation.mozilla.org/en/opportunity/mozilla-open-leaders/open-leaders-x/participants/#open-educational-resources-oer, the data shown their is meant to be optimal for viewing in a list. If you click on it (or your name), you are taken to your profile on pulse where you can see your personal website link. This profile page on pulse is whe

[2019-09-04 18:51] #1150 closed

[2019-09-04 19:28] jgmac1106 commented on #1150
Sounds good. Just a personal preference to share my own url before
twitter's if I had to choose one. Keep issue closed.

On Wed, Sep 4, 2019 at 2:51 PM Gideon Thomas <notifications@github.com>
wrote:

--
J. Gregory McVerry, PhD
Assistant Professor
Southern Connecticut State University
twitter: jgmac1106

[2019-09-04 22:49] mmmavis opened #1151 "Bug on IE: site is broken due to JS errors"
**Describe the bug**

Pulse is broken on IE due to JS errors.

![image](https://user-images.githubusercontent.com/2896608/64298697-52ba5f80-cf2b-11e9-88ba-6135fc594f7f.png)

**To Reproduce**

1. Visit Pulse on IE

**Screenshots**
![bs_win10_IE_11 0](https://user-images.githubusercontent.com/2896608/64298732-69f94d00-cf2b-11e9-944d-7750d3276204.jpg)
![bs_win7_IE_11 0](https://user-images.githubuser

[2019-09-10 19:35] mmmavis commented on #1139
Maybe this is something to do with the original image file that was uploaded? It looks a bit stretched to me even without any CSS treatments: https://assets.mofoprod.net/network-pulse/images/entries/2019-08-17_002155.3380840000.png

[2019-09-11 18:30] xmatthewx commented on #1143
Assigning to @alanmoo to triage.

[2019-09-11 18:38] xmatthewx commented on #1105
@mmmavis - do all new pulse users now get the new join flow? or is just for people who come from the /join link on foundation site?

[2019-09-11 19:17] mmmavis commented on #1105
Not everyone. The modal shows only when users visit Pulse with query param `edit_new_profile=true` (e.g., https://www.mozillapulse.org/?edit_new_profile=true).

[2019-09-11 23:44] alanmoo commented on #1143
This sounds like an enhancement to the component that renders a set of entries; Presumably something along the lines of running a filter for featured entries and relocating those to the front of the array of results.

[2019-09-19 17:27] xmatthewx commented on #1019
@sabrinang - staff can give people a custom pulse URL so that submission get an auto tag. @gideonthomas kindly wrote a description above (with a note on a limitation). But I never got around to adding it to the wagtail docs. Can I bother you to do that? It's a good feature for to understand and be able to leverage with program staff.

[2019-09-24 23:11] kristinashu opened #1152 "Image layout on detail page"
There have been a few comments in slack about how images are sometimes covered up in non-ideal ways:

<img width="1296" alt="image" src="https://user-images.githubusercontent.com/1068783/65556678-4fd8dc00-dee5-11e9-9d61-72c685d1476a.png">

@natalieworth while working on this, did you explore any other layouts? Maybe one where this won't be such an issue?

I also recommend we stick to one aspect ra

[2019-09-25 03:06] xmatthewx opened #1153 "Add post date to entries in moderation view"
A request from @acabunoc, our moderator extraordinaire. This helps knowing whether an item is stale and overdue for action in the `pending` or `in progress` bucket.

[2019-09-25 20:01] acabunoc commented on #1153
thanks for filing this, @xmatthewx!

[2019-10-07 10:28] natalieworth commented on #1139
@mmmavis Yep! You're right. Thanks. Going to close this as I don't think it's an issue with the code/ the images look like they are cropping and not being stretched. I think it was just this one particular image :D

[2019-10-07 10:28] #1139 closed

[2019-10-13 16:12] sanchitgupta001 commented on #1153
Hi @xmatthewx , if anyone else does not work on this issue, can I try?

[2019-10-16 19:22] gideonthomas commented on #1153
Hi @sanchitgupta001. Unfortunately, this probably needs design first and we aren't ready to take on new contributions of this scale at this time. Sorry for the confusion.

[2019-10-18 13:51] xmatthewx commented on #1153
Sorry @sanchitgupta001 - I didn't realize that we couldn't support contributions at this time.

[2019-10-18 13:52] xmatthewx commented on #1153
Since this is just an internal moderation view, it doesn't need design. We can just use an existing paragraph style and stick the date above the description.

<img width="553" alt="image" src="https://user-images.githubusercontent.com/53411/67099991-e9b24280-f18c-11e9-9e3c-7f7780b519fe.png">

[2019-10-18 15:10] gideonthomas commented on #1153
@sanchitgupta001 feel free to open a PR, however, as we are a small team, our support will be limited and don't have the capacity to walk through the process of spinning up the project, opening a PR or describing what the solution to the issue could be.

I have also updated our Contributing Guidelines accordingly -- https://github.com/mozilla/network-pulse#contribute

[2019-10-31 19:04] AdityaSrivast commented on #1100
@youriwims is this issue still open?

[2019-10-31 19:20] AdityaSrivast commented on #1057
@youriwims can I take up this issue?

[2019-11-14 16:09] mmmavis opened #1157 "Make server error on "Add page" sit own its own line (mobile)"
Follow-up for issue https://github.com/mozilla/network-pulse/issues/1140 and PR #1155

For mobile size screens, make the following change

## FROM

<img src="https://user-images.githubusercontent.com/2896608/68873941-4124cf00-06b5-11ea-86c1-f91c3d20c6ff.png" width=320>

## TO

<img src="https://user-images.githubusercontent.com/2896608/68874106-7f21f300-06b5-11ea-8fe8-2d97b09ce11e.png" width=320>

[2019-11-18 05:26] AdityaSrivast commented on #1157
@mmmavis I'm willing to work on this. Also there's a similar issue on "/myprofile" route.

![image](https://user-images.githubusercontent.com/31389740/69026714-fdea9900-09f1-11ea-920a-781e5cc13df2.png)

[2019-11-19 18:15] mmmavis opened #1159 "[Epic] Update outdated npm packages"
The packages we use for Pulse are pretty outdated. Let's update them!

<img src="https://user-images.githubusercontent.com/2896608/69173903-95fd8680-0ab5-11ea-9987-0a889325ecf0.png" width=420>

- [x] autoprefixer (dependabot PR #1180)
- [x] babel-loader (PR #1183)
- [x] browserslist (PR #1173)
- [x] chokidar (PR #1165)
- [x] chokidar-cli (PR #1165)
- [x] dotenv (issue #1193)
- [x] eslint (PR #1164

[2019-11-21 17:01] mmmavis commented on #1153
Hi @sanchitgupta001, is this still something you have interest working on?

[2019-11-21 17:07] mmmavis commented on #1121
blocked on having fake data in place

[2019-11-21 20:14] #1075 closed

[2019-11-21 20:19] #883 closed

[2019-11-21 20:19] #342 closed

[2019-11-21 20:20] #307 closed

[2019-11-21 20:21] #254 closed

[2019-11-21 20:21] #320 closed

[2019-11-21 20:22] #532 closed

[2019-11-21 20:22] gideonthomas commented on #499
DOne

[2019-11-21 20:22] #499 closed

[2019-11-21 20:23] #595 closed

[2019-11-21 20:23] #596 closed

[2019-11-21 20:24] gideonthomas commented on #385
will reopen if it becomes an issue

[2019-11-21 20:24] #385 closed

[2019-11-21 20:24] #138 closed

[2019-11-21 20:25] gideonthomas commented on #661
done

[2019-11-21 20:25] #661 closed

[2019-11-21 20:25] #666 closed

[2019-11-21 20:25] #668 closed

[2019-11-21 20:26] gideonthomas commented on #686
closing due to full UI refresh

[2019-11-21 20:26] #686 closed

[2019-11-21 20:26] #655 closed

[2019-11-21 20:27] #578 closed

[2019-11-21 20:27] #597 closed

[2019-11-21 20:28] #707 closed

[2019-11-21 20:28] gideonthomas commented on #769
done

[2019-11-21 20:28] #769 closed

[2019-11-21 20:28] #791 closed

[2019-11-21 20:29] #794 closed

[2019-11-21 20:29] #737 closed

[2019-11-21 20:29] gideonthomas commented on #855
done

[2019-11-21 20:29] #855 closed

[2019-11-21 20:30] #563 closed

[2019-11-21 20:30] gideonthomas commented on #721
superseded by UI refresh

[2019-11-21 20:30] #721 closed

[2019-11-21 20:33] #821 closed

[2019-11-21 20:34] #650 closed

[2019-11-21 20:34] #839 closed

[2019-11-21 20:34] #795 closed

[2019-11-21 20:34] #890 closed

[2019-11-21 20:35] #802 closed

[2019-11-21 20:38] #690 closed

[2019-11-21 20:38] gideonthomas commented on #825
done

[2019-11-21 20:38] #825 closed

[2019-11-21 20:38] #756 closed

[2019-11-21 20:39] #841 closed

[2019-11-21 20:39] #915 closed

[2019-11-21 20:45] gideonthomas commented on #857
blocked on legal review

[2019-11-21 20:46] #931 closed

[2019-11-21 20:46] gideonthomas commented on #863
superseded by refresh

[2019-11-21 20:46] #863 closed

[2019-11-21 20:47] #859 closed

[2019-11-21 20:48] #591 closed

[2019-11-21 20:48] #936 closed

[2019-11-21 20:48] #939 closed

[2019-11-21 20:49] gideonthomas commented on #940
done

[2019-11-21 20:49] #940 closed

[2019-11-21 20:49] #941 closed

[2019-11-21 20:51] gideonthomas commented on #983
closing due to lack of strategy

[2019-11-21 20:51] #983 closed

[2019-11-21 20:51] #984 closed

[2019-11-21 20:52] #656 closed

[2019-11-21 20:52] #636 closed

[2019-11-21 20:53] #968 closed

[2019-11-21 20:53] #889 closed

[2019-11-21 20:54] gideonthomas commented on #992
done

[2019-11-21 20:54] #992 closed

[2019-11-21 20:54] #994 closed

[2019-11-21 20:55] #981 closed

[2019-11-21 20:55] #1006 closed

[2019-11-21 20:55] #918 closed

[2019-11-21 20:56] #1030 closed

[2019-11-21 20:56] #1033 closed

[2019-11-21 20:57] #569 closed

[2019-11-21 20:58] gideonthomas commented on #1002
we have a separate ticket for this, closing

[2019-11-21 20:58] #1002 closed

[2019-11-23 01:20] mmmavis opened #1162 "Upgrade webpack to v4"
Related to #1159.

Currently, we are at v2.7.

Let's
- [x] upgrade it first to v3 (changelog [here](https://github.com/webpack/webpack/releases/tag/v3.0.0))
  (According to webpack's official [blog post](https://medium.com/webpack/webpack-3-official-release-15fd2dd8f07b). There shouldn't be any breaking changes.)
- [x] then eventually to v4 (guide [here](https://webpack.js.org/migrate/4/))

[2019-11-26 18:21] alanmoo commented on #1159
@mmmavis to convert this to an Epic

[2019-11-28 18:24] mmmavis commented on #1162
Done!

[2019-11-28 18:24] #1162 closed

[2019-11-28 18:39] mmmavis commented on #1068
https://github.com/helmetjs/hsts/blob/master/CHANGELOG.md#deprecated

[2019-11-28 18:40] mmmavis commented on #1068
Seems like a quick 5-min fix so I'm gonna do it this sprint.

[2019-11-28 19:14] mmmavis commented on #1068
Done!

[2019-11-28 19:14] #1068 closed

[2019-11-28 20:13] mmmavis commented on #967
Related to this OG tag issue: https://github.com/mozilla/network-pulse/issues/600

[2019-11-28 20:15] mmmavis commented on #753
Already done! https://github.com/mozilla/network-pulse#npm-test

[2019-11-28 20:15] #753 closed

[2019-11-28 20:19] mmmavis commented on #1137
Done!

[2019-11-28 20:19] #1137 closed

[2019-11-28 20:39] mmmavis commented on #1153
I'm taking this over! 😉

[2019-12-03 01:23] mmmavis commented on #1153
PR got merged!

[2019-12-03 01:23] #1153 closed

[2019-12-04 01:14] mmmavis opened #1181 "Swap `optipng-bin` for `imagemin-optipng`"
As suggested by @pomax in https://github.com/mozilla/network-pulse/pull/1173#issuecomment-561422672, let's swap `optipng-bin` for `imagemin-optipng`

<img width="789" alt="Screen Shot 2019-12-03 at 4 42 08 PM" src="https://user-images.githubusercontent.com/177243/70102057-df88be00-15eb-11ea-8c94-3492f7b61164.png">

[2019-12-10 18:16] alanmoo commented on #1159
@mmmavis to break into smaller tickets with points (instead of this epic having points) and add them to the milestone/epic

[2019-12-11 01:53] mmmavis opened #1191 "Replace `postinstall` with `heroku-postbuild`"
Follow-up for PR #1165. See [thread](https://github.com/mozilla/network-pulse/pull/1165/files#r351076602) for context.

@patjouk I set up `postinstall: npm run build` years ago when I started this project. I had it mainly for Heroku apps to run the build task so the site can be loaded properly (I guess I couldn't find a better way at the time?). In the PR above I split webpack configs into "produc

[2019-12-11 02:05] mmmavis opened #1192 "Update "event-stream" to latest version"
Related to #1159

https://www.npmjs.com/package/event-stream

Also - do we need this package still?

[2019-12-11 02:06] mmmavis opened #1193 "Update "dotenv" to latest version"
Related to #1159

https://www.npmjs.com/package/dotenv

[2019-12-11 02:07] mmmavis opened #1194 "Update "express" to latest version"
Related to #1159

https://www.npmjs.com/package/express

[2019-12-11 16:34] mmmavis opened #1195 "Update "mofo-bootstrap", "node-sass", "react-ga", and "react-tag-autocomplete" to latest version"
Related to #1159

- [ ] mofo-bootstrap https://github.com/mozilla/mofo-bootstrap/commits/master
- [x] node-sass
- [x] react-ga
- [ ] react-tag-autocomplete https://github.com/i-like-robots/react-tags/blob/master/CHANGELOG.md

[2019-12-11 16:36] mmmavis opened #1196 "Update "react-select" to latest version"
Related to #1159

https://github.com/JedWatson/react-select/releases

[2019-12-11 16:38] mmmavis opened #1197 "Update "qs" to latest version"
Related to #1159

[2019-12-17 17:51] gideonthomas opened #1204 "Profile clicks not working"
**Describe the bug**
When you search for a profile on the homepage and try to click on one, it doesn't work. Clicks on entries searched works though.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://mozillapulse.org
2. Search for "Bobby"
3. CLick on the People tab.
4. Click on any of the profiles that shows up -- you shouldn't be able to.

**Expected behavior**
A clear and conci

[2019-12-17 20:25] #1204 closed

[2019-12-17 23:55] #1193 closed

[2019-12-17 23:55] #1197 closed

[2019-12-18 20:31] mmmavis commented on #1192
Removed 'event-stream' as dependency. (PR #1200 )

[2019-12-18 20:31] #1192 closed

[2019-12-19 01:29] #1194 closed

[2019-12-19 01:29] #1195 closed

[2020-01-16 17:06] mmmavis opened #1222 "Update node requirement"
Our engine requirement in `package.json` is currently
[code]

As some of the node packages Pulse uses have started to terminate support for node v8 (e.g., [`postcss-cli`](https://github.com/postcss/postcss-cli/blob/master/CHANGELOG.md#700--2020-01-07)), we should probably update our [node](https://nodejs.org/ca/blog/release/) requirement.

[2020-02-12 10:06] #1222 closed

[2020-02-19 23:31] Pomax opened #1245 "remove `request` dependency"
We rely on `request`, at least according to our dependency list, but https://www.npmjs.com/package/request is deprecated and will never be updated ever again. We should find out where we're using it, and replace it with modern code =)

/cc @mmmavis

[2020-02-20 21:53] cadecairos commented on #638
This seems a bit out of date (i.e. the five issues), lets close it out and it can be re-filed based on actual work that can be prioritized in the future.

[2020-02-20 21:53] #638 closed

[2020-02-21 02:00] mmmavis commented on #1245
This file seems to be the only place we use the `request` package: https://github.com/mozilla/network-pulse/blob/master/js/review-app-slack-webhook.js

[2020-02-25 18:34] cadecairos commented on #139
Closing due to inactivity

[2020-02-25 18:34] #139 closed

[2020-02-25 18:39] cadecairos commented on #1055
@xmatthewx iceboxing this, we can revive it later when it's a priority. Gideon says the project is recorded on airtable.

[2020-02-27 18:16] mmmavis commented on #1245
Re-opening as GitHub seemed to have issues at the time I merged my PR. Will close this ticket once I confirm the fix actually got landed.

[2020-02-27 21:32] mmmavis commented on #1159
I'm gonna close this epic since most of the work is done & we have the remaining task filed as its own ticket (update `react-select` #1196)

[2020-02-27 21:32] #1159 closed

[2020-02-28 20:37] mmmavis commented on #1245
Done!

[2020-02-28 20:37] #1245 closed

[2020-03-02 18:30] #1151 closed

[2020-03-05 20:58] cadecairos commented on #1191
@mmmavis I think it's okay to make this change. In terms of the dev process, we'll need to update the README to include instructions to run `npm run build:dev`, since we want to drop the postinstall script.

[2020-03-12 00:28] mmmavis commented on #600
@xmatthewx can you help provide copy for the site `title` and `description` (or point me to the person I should talk to for this)? For og image I think we can probably just use https://assets.mofoprod.net/network/images/mozilla-og-image-min.original.jpg (this is what Foundation site uses)

[2020-03-16 19:28] #1191 closed

[2020-03-17 21:40] mmmavis commented on #1081
This has been removed already!

[2020-03-17 21:40] #1081 closed

[2020-03-20 20:37] xmatthewx commented on #600
Great. I will draft some copy soon.

[2020-03-24 19:04] xmatthewx commented on #600
Thanks Mavis. Will we use the same thing for every page? Or, can we have projects and profiles be unique?

For the site, I think we could use:
 - title: 'Mozilla Pulse'
 - description: 'Discover & collaborate on projects for a healthy internet.'
 - image: logo

If we can vary for other views, ideas below. Any feedback you've got is welcome.

Projects
 - title: title
 - description: 'Discover and c

[2020-03-24 21:54] Pomax commented on #1181
After trying to switch to `imagemin`, it turns out that it cannot preserve dir structure, so I've filed https://github.com/imagemin/imagemin/issues/348 and this work is effectively blocked until they fix that.

[2020-03-24 21:58] Pomax opened #1271 "Make svgo task cross-platform"
SVGO got update a while back to support blind recursive dir traverse, so it doesn't need `find` and xarg passing anymore.

[2020-03-25 21:42] #1271 closed

[2020-03-26 01:41] mmmavis commented on #600
Adding universal og tags to all pages on Pulse should be easy. I will look into having customized meta for different route types.

(Bumping the estimate up to 3)

[2020-03-26 02:01] mmmavis commented on #600
@xmatthewx

Wondering for `title` if it should also include `– Mozilla Pulse` for consistency?

[2020-03-26 18:58] xmatthewx commented on #600
Probably yes. My concern was that some titles are loooong. But maybe browser UI can handle that okay. Try it. You can decide what's best.

[2020-04-02 17:43] Pomax commented on #1181
shelving until there's some sign that imagemin is actually maintained. We may have to move off of this entirely and go for a cross-platform png optimizer utility instead.

[2020-04-06 01:18] mmmavis commented on #600
I have a PR that updates OG tags dynamically client side based on what page/route user is on. However, Facebook OG tag crawler doesn't seem to grab those updated values. Without a drastic codebase rewrite I think the best we can do is to add site wide OG tag 😢 I'll open a new PR for that.

[2020-04-06 13:49] xmatthewx commented on #600
😭 Does Twitter or other services accept the client side update? If so, maybe put in a site wide default for FB and then update?

[2020-04-06 18:56] mmmavis commented on #600
Unfortunately, I think it's the same case with Twitter card. You can try the [review app](https://github.com/mozilla/network-pulse/pull/1274#event-3201025779) with [Twitter card validator](https://cards-dev.twitter.com/validator) (requires Twitter login).

[2020-04-06 19:51] xmatthewx commented on #600
Ok thanks for putting in the effort!

[2020-04-16 20:37] #600 closed

[2020-04-21 22:57] mmmavis opened #1293 "Remove `mofo-bootstrap` as a dependency"
Move `mofo-bootstrap`'s [overrides for Bootstrap](https://github.com/mozilla/mofo-bootstrap/tree/master/src/scss) to Pulse repo & remove `mofo-bootstrap` dependency from Network Pulse

[2020-04-21 22:58] mmmavis opened #1294 "Clean up Bootstrap overrides"
~~Blocked by #1293~~ no longer blocked

Clean up overrides from `mofo-bootstrap`, existing overrides for the new brand, and "Pulse brand"  so there's only one set of overrides in Pulse repo.

- [x] Make sure we include `/mofo-bootstrap/**/*.scss` in `npm test`. (e.g., remove `\"!scss/mofo-bootstrap/**/*.scss\"` from `"test:scss:styleguide:color"`)

[2020-04-22 21:12] mmmavis opened #1295 "Update `bootstrap` to v4.1"
~~Blocked until all other steps in epic https://github.com/mozilla/foundation.mozilla.org/issues/4549 are completed.~~ No longer blocked.

Update `bootstrap` dependency to `v4.1` from `v4.0.0-alpha.6` (which is what `mofo-bootstrap` is currently built on).

[2020-05-06 23:19] mmmavis commented on #1294
Lifting the estimate to 5 (potentially this can become a 8) as

1. we don't have any tests set up for Pulse so it's harder for me to catch UI changes
2. SCSS code in Pulse is messier than what we had in Foundation site codebase (e.g., Pulse is using `mofo-bootstrap`, some SCSS copied from Foundation site codebase, plus overrides to achieve the style we want for Pulse)

[2020-05-08 18:55] #1293 closed

[2020-05-27 22:55] #1294 closed

[2020-05-29 23:31] mmmavis opened #1323 "Check & merge Dependabot PRs"
There are roughly 20 Dependabot PRs waiting to be merged.

(I've already merged a few)

[2020-06-01 16:28] mmmavis commented on #1323
Done! Merged all dependabot PRs that didn't require code fixes.

[2020-06-01 16:28] #1323 closed

[2020-06-01 23:35] #1295 closed

[2020-06-03 14:29] cadecairos opened #1328 "Update to Node 14"

[2020-06-04 17:20] Pomax opened #1329 "Add `--fix` automation for when Prettier updates"
As per https://github.com/mozilla/foundation.mozilla.org/issues/4729, let's add a `--fix` mechanism for prettier

[2020-06-08 16:41] #1329 closed

[2020-06-09 22:10] mmmavis opened #1336 "Review & merge dependabot PRs"
Review & merge new dependabot PRs:
#1332 #1333 #1334 #1335 (all are minor version updates).

[2020-06-09 23:05] mmmavis commented on #1336
Done!

[2020-06-09 23:05] #1336 closed

[2020-06-23 16:38] phildexter opened #1347 "Dependabot open PRs"
Deal with the dependabot open PRs. Spend up to half a day on it. Anything larger we should file spin off issues for. This work should simple be verifying the changes don't break anything and merging them.

[2020-06-30 17:06] #1328 closed

[2020-06-30 17:22] phildexter opened #1354 "Pulse to wagtail - high level approach"

[2020-06-30 17:22] phildexter opened #1355 "Move Pulse to Wagtail"
Moving Pulse to Wagtail.

[2020-07-01 01:39] mmmavis commented on #1347
Done.

[2020-07-01 01:39] #1347 closed

[2020-07-02 18:53] mmmavis opened #1359 ""Add" page has visual and functionality regressions"
**Describe the bug**
"Add" page has visual and functionality regressions. I suspect it's something to do with Bootstrap uplift and the recent`react-tag-autocomplete` uplift.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://www.mozillapulse.org/add
2. Scroll down and notice that sizing of some fields look odd (see screenshot below)
3. Adding/removing a tag in the "Tags" field res

[2020-07-02 19:07] kaili09 opened #1360 "styling issue creating a pulse entry"
**Describe the bug**
Drop-down options not working as expected. For Tags, I cannot select the appropriate choice, and for author, I cannot delete the wrong choice. Something strange also happened when I uploaded the image. Can't save (not an option), but refreshed (lost work) and now still seeing the same issue only without text.

<img width="798" alt="Screen Shot 2020-07-02 at 11 52 27 AM" src="h

[2020-07-02 19:46] kaili09 opened #1361 "Submitting a new pulse entry"
**Describe the bug**
When trying to submit a new pulse entry I get an error

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://www.mozillapulse.org/add
2. Enter info:

_Title: Tell Amazon Ring: sever police ties,
URL: https://foundation.mozilla.org/campaigns/tell-amazon-ring-stop-sharing-information-police-services/
Description: Amazon's Ring doorbell cameras have become very pop

[2020-07-02 21:06] mmmavis commented on #1361
Related to #1360

[2020-07-02 21:15] mmmavis commented on #1360
Related to #1359

[2020-07-02 21:32] mmmavis commented on #1359
Dupe.

I'm closing this ticket in favour of #1360.

[2020-07-02 21:32] #1359 closed

[2020-07-02 21:33] mmmavis commented on #1360
I suspect this has something to do with Bootstrap uplift and the recent`react-tag-autocomplete` uplift.

Adding/removing a tag in the "Tags" field results in JS errors (see screenshot below)
<img width="457" alt="image" src="https://user-images.githubusercontent.com/2896608/86398531-9c163100-bc5a-11ea-8773-641fc92ccc6e.png">

[2020-07-06 15:10] KalobTaulien commented on #1354
Here's the doc https://docs.google.com/document/d/1Kk6Kt8DDG3UPDWI1ByKet5Rgaa_WXu597GmrJk-zxFg/edit

[2020-07-08 20:50] #1360 closed

[2020-07-20 21:30] taisdesouzalessa opened #1379 "Footer: add copy for CC license"
Implementation ticket for footer changes.

**Impacted sites:**
[Mozilla Pulse](https://www.mozillapulse.org/)

**Changes:**
1. Removed "License" copy
2. Organized items by alphabetical order (except for "Donate", which should remain the first link)
3. Added "Most content available under a Creative Commons license." Link for [Creative Commons license is here](https://foundation.mozilla.org/about/we

[2020-08-18 20:01] cadecairos commented on #615
Closing due to inactivity

[2020-08-18 20:01] #615 closed

[2020-09-16 21:14] jamilasnell opened #1416 "Update font style for into blurb"
Update font style for into blurb

---

**🗒  Design -> Dev Handoff Checklist**
(Feel free to remove items that are not applicable.)

- [ ] Design has been finalized
- [ ] Link to original design ticket
- [X] Link to related ticket [#5234]
- [ ] Link to Redpen https://redpen.io/p/yqece0a9215e9c33f1
- [ ] Design changes been merged into the master Sketch file
- [ ] Desktop and mobile mockups are incl

[2020-09-16 21:18] jamilasnell opened #1417 "Add “wifi” and "bluetooth" icons where applicable"
Add “wifi” and "bluetooth" icons where applicable

---

**🗒  Design -> Dev Handoff Checklist**
(Feel free to remove items that are not applicable.)

- [ ] Design has been finalized
- [ ] Link to original design ticket
- [X] Link to related ticket #5234
- [ ] Link to Redpen https://redpen.io/p/yqece0a9215e9c33f1
- [ ] Design changes been merged into the master Sketch file
- [ ] Desktop and mobile m

[2020-09-16 21:25] jamilasnell opened #1418 "Style and move “What could happen if something goes wrong” up, estimate"
Style and move “What could happen if something goes wrong” up, estimate

---

**🗒  Design -> Dev Handoff Checklist**
(Feel free to remove items that are not applicable.)

- [ ] Design has been finalized
- [ ] Link to original design ticket
- [X] Link to related ticket [#5234](https://github.com/mozilla/foundation.mozilla.org/issues/5234)
- [ ] Link to Redpen https://redpen.io/p/yqece0a9215e9c33f1

[2020-09-16 21:31] jamilasnell opened #1419 "Move “creep-o-meter” up"
Move “creep-o-meter” up - related to styling #5236

---

**🗒  Design -> Dev Handoff Checklist**
(Feel free to remove items that are not applicable.)

- [ ] Design has been finalized
- [ ] Link to original design ticket [#5236](https://github.com/mozilla/foundation.mozilla.org/issues/5236)
- [x] Link to related ticket [#5234](https://github.com/mozilla/foundation.mozilla.org/issues/5234)
- [ ] Link

[2020-09-16 21:36] jamilasnell opened #1420 "Update section titles"
Update section titles

---

**🗒  Design -> Dev Handoff Checklist**
(Feel free to remove items that are not applicable.)

- [ ] Design has been finalized
- [ ] Link to original design ticket
- [x] Link to related ticket [#5234](https://github.com/mozilla/foundation.mozilla.org/issues/5234)
- [x] Link to Redpen https://redpen.io/p/yqece0a9215e9c33f1
- [ ] Design changes been merged into the master S

[2020-09-16 21:47] jamilasnell opened #1421 "Reorder criteria"
Reorder criteria

---

**🗒  Design -> Dev Handoff Checklist**
(Feel free to remove items that are not applicable.)

- [ ] Design has been finalized
- [ ] Link to original design ticket
- [x] Link to related ticket [#5234](https://github.com/mozilla/foundation.mozilla.org/issues/5234)
- [x] Link to Redpen https://redpen.io/p/yqece0a9215e9c33f1
- [ ] Design changes been merged into the master Sketch

[2020-09-16 21:52] jamilasnell commented on #1416
Issue moved to [mozilla/foundation.mozilla.org #5248](https://github.com/mozilla/foundation.mozilla.org/issues/5248) via [**ZenHub**](https://www.zenhub.com/)

[2020-09-16 21:54] jamilasnell commented on #1417
Issue moved to [mozilla/foundation.mozilla.org #5249](https://github.com/mozilla/foundation.mozilla.org/issues/5249) via [**ZenHub**](https://www.zenhub.com/)

[2020-09-16 21:56] jamilasnell commented on #1418
Issue moved to [mozilla/foundation.mozilla.org #5250](https://github.com/mozilla/foundation.mozilla.org/issues/5250) via [**ZenHub**](https://www.zenhub.com/)

[2020-09-16 21:59] #1419 closed

[2020-09-16 21:59] jamilasnell commented on #1419
Issue moved to [mozilla/foundation.mozilla.org #5251](https://github.com/mozilla/foundation.mozilla.org/issues/5251) via [**ZenHub**](https://www.zenhub.com/)

[2020-09-16 22:00] jamilasnell commented on #1420
Issue moved to [mozilla/foundation.mozilla.org #5252](https://github.com/mozilla/foundation.mozilla.org/issues/5252) via [**ZenHub**](https://www.zenhub.com/)

[2020-09-16 22:01] jamilasnell commented on #1421
Issue moved to [mozilla/foundation.mozilla.org #5253](https://github.com/mozilla/foundation.mozilla.org/issues/5253) via [**ZenHub**](https://www.zenhub.com/)

[2020-09-16 23:44] #1420 closed

[2020-09-16 23:49] mmmavis commented on #1418
Ticket has been moved to `foundation.mozilla.org` repo. Closing this one now 😉

[2020-09-16 23:49] #1418 closed

[2020-09-16 23:53] mmmavis commented on #1416
Ticket has been moved to `foundation.mozilla.org` repo. Closing this one now 😉

[2020-09-16 23:53] #1416 closed

[2020-09-16 23:56] mmmavis commented on #1421
Ticket has been moved to `foundation.mozilla.org` repo. Closing this one now 😉

[2020-09-16 23:56] #1421 closed

[2020-09-16 23:57] mmmavis commented on #1417
Ticket has been moved to `foundation.mozilla.org` repo. Closing this one now 😉

[2020-09-16 23:57] #1417 closed

[2020-10-07 10:49] Yashs911 commented on #1379
Hi, @taisdesouzalessa I would like to work on this issue.

[2020-10-07 16:20] taisdesouzalessa commented on #1379
hey @Yashs911 thank you so much for your contribution 💯.
Here is the logo from that Google Drive folder:
[Mozilla-logo-BW-RGB(4).zip](https://github.com/mozilla/network-pulse/files/5342160/Mozilla-logo-BW-RGB.4.zip)

cc: @mmmavis @Pomax

[2020-10-07 17:27] Yashs911 commented on #1379
@taisdesouzalessa there is some problem with .svg version so can I use .png image with proper styling instead

[2020-10-07 17:30] taisdesouzalessa commented on #1379
@Yashs911 try to use this one here then: https://assets.mofoprod.net/static/_images/mozilla-block-white.8a5ea59a8186.svg

It is the same we're currently using in our Foundation site (footer): https://foundation.mozilla.org/en/

[2020-10-07 17:42] Yashs911 commented on #1379
Still not loading and which image do I have to use the one with black background or white. Because  Foundation site (footer): https://foundation.mozilla.org/en/ and mozillapulse.org footer have same logo I guess.

![1](https://user-images.githubusercontent.com/64412143/95367530-7f8d3300-08f2-11eb-8364-25b9f7ed9702.JPG)

[2020-10-07 17:57] taisdesouzalessa commented on #1379
The svg from here (https://assets.mofoprod.net/static/_images/mozilla-block-white.8a5ea59a8186.svg) works for me. This is what I see (it seems we have nothing because it is all white but when I change the fill color the logo is there):

![mozilla-logo](https://user-images.githubusercontent.com/22157921/95368892-8fbdf780-088b-11eb-83bb-f215a125a732.gif)

Hopefully it works for you too :)

The logo

[2020-10-07 18:18] Yashs911 commented on #1379
@taisdesouzalessa I don't know why but the image is not loading
![Capture](https://user-images.githubusercontent.com/64412143/95371208-7fdbfd00-08f7-11eb-8e5c-f17acc9079d4.JPG)

Sorry If I caused any inconvenience

[2020-10-07 18:34] Yashs911 commented on #1379
@taisdesouzalessa Issue solved

[2020-10-07 18:51] taisdesouzalessa commented on #1379
No need to apologize at all @Yashs911 - glad the issue got solved. Let me know if I can help with anything else. Sorry this svg was trouble!

[2020-10-16 04:14] Yashs911 commented on #1157
@mmmavis I would like to work on this issue.

[2020-10-16 09:17] Yashs911 opened #1438 "Footer: checkbox and text not aligned"
### Describe the bug
For width greater than 1200px checkbox in footer is not aligned.
### To Reproduce
Steps to reproduce the behavior:
1. Go to https://www.mozillapulse.org/
2. Scroll down to footer
4. See error

### Expected behavior
It should be aligned

### Screenshots
width >1200px
![issue](https://user-images.githubusercontent.com/64412143/96240356-6ead8300-0fbe-11eb-9804-4d6e11cc37da.JPG)

[2020-10-16 20:57] mmmavis commented on #1379
PR merged! Thanks, @Yashs911 !

[2020-10-16 20:57] #1379 closed

[2020-10-16 21:52] #1157 closed

[2020-10-18 08:20] Yashs911 commented on #1032
@mmmavis I would like to work on this issue. Do I need to just change the Object.assign to this format options = {...optionsDefault, ...options};

[2020-11-02 19:56] Yrkan commented on #1140
should be closed by #1155

[2020-11-30 21:21] mmmavis commented on #1140
🎉

[2020-11-30 21:21] #1140 closed

[2020-12-17 01:40] hwine opened #1487 "Travis CI free usage ends Dec 3; mozilla repos should switch to other CI platforms"
We're opening this issue because your project has used Travis CI within the last 6 months. If you have already migrated off it, you can close and ignore this issue.

Travis CI is ending free builds on public repositories. travis-ci.com [stopped providing](https://blog.travis-ci.com/2020-11-02-travis-ci-new-billing)them in early November, and travis-ci.org [will stop](https://mailchi.mp/3d439eeb109

[2021-01-12 00:40] Pomax commented on #1487
CI moved to github actions instead

https://github.com/mozilla/network-pulse/blob/master/.github/workflows/ci.yml

[2021-01-12 00:40] #1487 closed

[2021-01-15 02:11] mmmavis opened #1506 "Switch from "node-sass" to "sass""
For the same reason stated in https://github.com/mozilla/foundation.mozilla.org/issues/6006

[2021-02-02 17:35] benhohner opened #1521 "Triage Dependency Upgrades"
- Create project with dependabot PRs
- Triage current dependabot major/breaking version upgrade PRs
- Create tickets totaling ~2 days worth of major version upgrades

[2021-02-02 17:37] #1521 closed

[2021-02-17 20:15] benhohner opened #1529 "Staging Sites don't have no-index"
Pulse staging doesn't have a no-index meta tag or robots.txt so it is showing up in google. This can be harmful as google may detect Pulse or Pulse staging as duplicate content and it may negatively impact our SEO.

See: https://moz.com/learn/seo/duplicate-content for more info

* [ ] update build process to automatically include a no-index, whether it be through a meta tag, robots.txt or other.
*

[2021-02-17 21:30] jamilasnell commented on #1529
"Can we check if Heroku has this built in?!" - Pomax, 2021

[2021-02-25 22:56] Pomax commented on #1529
looks like this is not something that heroku does for us, but there is an X-Robots-Tag package for Django that lets us set noarchive/noindex on everything staging related. That said, it looks fairly new [1], and we might just want to slip in our own middleware instead if all we're doing is injecting a header on every possible view.

1. https://pypi.org/project/django-x-robots-tag-middleware/

[2021-03-04 18:51] Pomax commented on #1529
I forgot that our Pulse server is not Django (only the Pulse API is), but uses Express.js, so the above-mentioned library is not applicable, but the solution there turns out to be a lot easier. PR filed.

[2021-03-16 20:43] Pomax opened #1551 "Update Node engine requirements"
We should probably take the Node engine requirements out of our package.json and form builder: we needed them back when there was no real Node roadmap, but Node has a clear LTS system in place now.

[2021-03-17 17:57] benhohner commented on #1506
Verify still needs to be done

[2021-03-17 20:46] #1529 closed

[2021-03-22 19:14] mmmavis commented on #1506
This needs to be done.

[2021-03-22 19:25] #1551 closed

[2021-03-23 16:44] #1506 closed

[2021-03-30 15:54] benhohner opened #1565 "Migrate then Cancel Stripe"
- [ ] Research whether we Braintree can import stripe data
- [ ] Contact Braintree
- [ ] Contact Stripe
- [ ] Migrate accounts
- [ ] If not, Personally email high donors requesting them to move.
- [ ] Cancel stripe subscriptions.
- [ ] Send bulk email requesting people to sign up on braintree.
- [ ] Close stripe and create task to remove stripe from donate codebase

[2021-04-13 16:41] #1565 closed

[2021-04-26 21:15] Pomax commented on #1438
this got fixed, but the issue never got closed.

[2021-04-26 21:15] #1438 closed

[2021-05-06 18:27] danielfmiranda opened #1586 "Pulse site is showing the word "False" in the top left corner"
### Describe the bug
https://www.mozillapulse.org/ is showing the word "False" in the top left corner of the page

### To Reproduce
Steps to reproduce the behavior:
1. Go to https://www.mozillapulse.org/
2. View the top left of the page
3. Note there is the word "False" being rendered

### Screenshots
![image](https://user-images.githubusercontent.com/18314510/117347421-f4f7bc80-ae5d-11eb-8aad-e02

[2021-05-10 20:59] #1141 closed

[2021-05-11 15:30] benhohner opened #1593 "The text `false` is inserted in every page of mozillapulse.org"
### Describe the bug
The text `false` is inserted in every page of mozillapulse.org

### To Reproduce
1. Visit any page
2. See `false` at the top of every page

### Expected behavior
No false

### Screenshots
![image.png](https://images.zenhubusercontent.com/5fc93ac187345c0cf1d7ae58/1f8a1865-ba7a-4f99-8313-de357d1e686e)

### Desktop (please complete the following information):
FF Nightly 90.0a1 (2

[2021-05-11 16:46] benhohner commented on #1593
duplicate of #1586

[2021-05-11 16:46] benhohner commented on #1593
duplicate of #1586

[2021-05-11 16:46] #1593 closed

[2021-09-30 15:33] stevedya opened #1632 "FE - Mozfest Hero"
**Design team contact**
@sabrinang for internal feedback

**Final Designs**
https://www.figma.com/file/2knnwWmmqCXuMyF6WPiOuG/MozFest-Additional-Features?node-id=2%3A5746

**Implementation Checklist**
- [ ] Auto cycles with progress bar to match the timing of background image
- [ ] Gradient overlay applied with css
- [ ] Youtube video (if aspect ratio is too large then crop to same aspect as desig

[2021-09-30 15:36] #1632 closed

[2021-11-11 04:52] acabunoc opened #1633 "Verification emails & Receiving contact form notifications"
Hi all 👋

I’m still getting email notifications when people fill out the contact form while I’m on parental leave. Does anyone else get these?

Several people haven’t gotten verification  emails in the last day. And Teon wants to consolidate his pulse accounts.

https://docs.google.com/spreadsheets/d/1G4SOJXG_v9OFiL6NV2nOfrGhQ159ZSFfeIQV3nW9zrg/edit?ouid=113263149988286049053

cc @Pomax

[2021-11-17 23:25] Pomax commented on #1633
@benhohner @jzinner is it possible that this was a zapier integration that we removed?

[2021-11-29 16:21] richbrennan opened #1634 "Update Python version"
The Python-related Dependabot PR's are failing in CI due to incompatible requirements of importlib-metadata. It seems as though flake8 has it pinned to the older <4.3 for Python < 3.8, whereas other packages are using a newer version.

    https://github.com/mozilla/foundation.mozilla.org/pull/7930
    https://github.com/mozilla/foundation.mozilla.org/pull/7911
    https://github.com/mozilla/found

[2021-11-29 16:31] #1634 closed

[2021-12-03 10:15] richbrennan opened #1635 "Update Foundation site to Wagtail 2.15.1"
Spun off from #7288

PR for Foundation site to Wagtail 2.15.1: https://github.com/mozilla/foundation.mozilla.org/pull/7970

[2021-12-03 10:16] #1635 closed

[2021-12-21 19:42] jamilasnell commented on #1057
Closing this until we decide to work on pulse again

[2021-12-21 19:42] #1057 closed

[2021-12-21 19:42] jamilasnell commented on #1088
Closing this until we decide to work on pulse again

[2021-12-21 19:42] #1088 closed

[2021-12-21 19:42] jamilasnell commented on #1100
Closing this until we decide to work on pulse again

[2021-12-21 19:42] #1100 closed

[2021-12-21 19:43] jamilasnell commented on #1105
Closing this until we decide to work on pulse again

[2021-12-21 19:43] #1105 closed

[2021-12-21 19:43] jamilasnell commented on #1121
Closing this until we decide to work on pulse again

[2021-12-21 19:43] #1121 closed

[2021-12-21 19:43] jamilasnell commented on #1129
Closing this until we decide to work on pulse again

[2021-12-21 19:43] #1129 closed

[2021-12-21 19:44] jamilasnell commented on #1143
Closing this until we decide to work on pulse again

[2021-12-21 19:44] #1143 closed

[2021-12-21 19:44] jamilasnell commented on #633
Closing this until we decide to work on pulse again

[2021-12-21 19:44] #633 closed

[2021-12-21 19:44] jamilasnell commented on #740
Closing this until we decide to work on pulse again

[2021-12-21 19:44] #740 closed

[2021-12-21 19:44] jamilasnell commented on #856
Closing this until we decide to work on pulse again

[2021-12-21 19:44] #856 closed

[2021-12-21 19:45] jamilasnell commented on #857
Closing this until we decide to work on pulse again

[2021-12-21 19:45] #857 closed

[2021-12-21 19:45] jamilasnell commented on #927
Closing this until we decide to work on pulse again

[2021-12-21 19:45] #927 closed

[2021-12-21 19:45] jamilasnell commented on #935
Closing this until we decide to work on pulse again

[2021-12-21 19:45] #935 closed

[2021-12-21 19:46] jamilasnell commented on #1181
Closing this until we decide to work on pulse again

[2021-12-21 19:46] #1181 closed

[2021-12-21 19:46] jamilasnell commented on #1354
We already have pulse entries on wagtail so this is done!

[2021-12-21 19:46] #1354 closed

[2021-12-21 19:47] jamilasnell commented on #555
It is a personal pet peeve of Pomax's and YET we are closing this until we decide to work on pulse again

[2021-12-21 19:47] #555 closed

[2021-12-21 19:47] jamilasnell commented on #465
Closing this until we decide to work on pulse again

[2021-12-21 19:47] #465 closed

[2021-12-21 19:47] jamilasnell commented on #1055
Maybe once someone needs it, we can recreate this ticket. Until then, closing this issue until we decide to work on pulse again

[2021-12-21 19:47] #1055 closed

[2021-12-21 19:48] jamilasnell commented on #988
Closing this until we decide to work on pulse again

[2021-12-21 19:48] #988 closed

[2022-02-03 20:18] tbrlpld opened #1639 "Datawrapper: Wagtail block"

[2022-02-03 20:32] tbrlpld opened #1640 "Datawrapper: Read docs and training materials"

[2022-02-15 17:37] bheasman opened #1644 "Research hub | backlog creation"

[2022-03-14 16:56] bheasman opened #1645 "SEO | uncrawlable pages"
Off the back of the Grassriots site audit, it has been identified that there are a number of issues with pages that can't be crawled

Detail from Grassriots:
Pages in this set are exclusibley /privacynotincluded pages - and may indicate slow server response times causing the crawler to fail.

Link to the [audit](https://docs.google.com/spreadsheets/d/15HwgpxSYc4Zl809kcebAhLfLYXFuIk8ZP-Qvk3yVV8Q/ed

[2022-03-14 17:00] bheasman opened #1646 "SEO | Duplicate title tags"

[2022-03-25 17:14] bheasman commented on #1633
Closing this - will raise again once we have clarity on Pulse (if needed)

[2022-03-25 17:14] #1633 closed

[2022-03-29 16:10] bheasman opened #1649 "Make 'Image Grid Block' available on the Blog page"

[2022-04-04 19:03] #338 closed

[2022-04-04 19:03] Pomax commented on #508
Closing this issue due to having gone stale - if this is still something we want to do, let's file a new issue with all the information necessary for triaging.

[2022-04-04 19:03] #508 closed

[2022-04-04 19:03] Pomax commented on #749
Closing this issue due to having gone stale - if this is still something we want to do, let's file a new issue with all the information necessary for triaging.

[2022-04-04 19:03] #749 closed

[2022-04-04 19:03] #848 closed

[2022-04-04 19:04] Pomax commented on #1019
Closing this issue due to having gone stale - if this is still something we want to do, let's file a new issue with all the information necessary for triaging.

[2022-04-04 19:04] #1019 closed

[2022-04-04 19:04] #1027 closed

[2022-04-04 19:04] Pomax commented on #1028
Closing this issue due to having gone stale - if this is still something we want to do, let's file a new issue with all the information necessary for triaging.

[2022-04-04 19:04] #1028 closed

[2022-04-04 19:04] Pomax commented on #1029
Closing this issue due to having gone stale - if this is still something we want to do, let's file a new issue with all the information necessary for triaging.

[2022-04-04 19:04] #1029 closed

[2022-04-04 19:04] Pomax commented on #1083
closing as stale

[2022-04-04 19:04] #1083 closed

[2022-04-04 19:04] #1152 closed

[2022-04-04 19:04] #1196 closed

[2022-04-07 16:33] cdanfon opened #1650 "test"

[2022-04-21 11:31] #1650 closed

[2022-07-20 09:26] cdanfon opened #1654 "PULSE | CSP Updates for Google Tag Manager"
**Overview**
Content Security Policies are a common security device to prevent unintended content from being loaded into a website. Coincidentally, the whole purpose of Google Tag Manager is to load assets into a website.
So, in order to use Google Tag Manager in sites with a CSP in place, we need to make some slight changes to the GTM code added to sites, as well as add a few lines to the site se

[2022-07-21 14:36] cdanfon commented on #1654
As per tickets [1673](https://app.zenhub.com/workspaces/mofo-engagement-585335eab729771d0736378d/issues/mozilla/donate-wagtail/1673), [9042](https://app.zenhub.com/workspaces/mofo-engagement-585335eab729771d0736378d/issues/mozilla/foundation.mozilla.org/9042) and [9041](https://app.zenhub.com/workspaces/mofo-engagement-585335eab729771d0736378d/issues/mozilla/foundation.mozilla.org/9041)

[2022-07-26 15:22] #1654 closed

[2022-07-26 15:22] cdanfon commented on #1654
Completed as part of the other CSP changes 9042 and 9041

[2022-07-27 13:02] cdanfon opened #1656 "Implement GA4 - ecommerce dataLayer in Pulse"
### Description:
Implement GA4 - event tracking dataLayer using the below code.

### Context
This event and code is necessary to dynamically track newsletter signups. The code pushes the form submission details data into the dataLayer, which is then read by Google Tag Manager and sent to Google Analytics 4.

Must run when a user signs up for the newsletter.

[code]

### Acceptance criteria

- [ ]

[2022-08-11 21:40] danielfmiranda commented on #1656
Closed with #1657

[2022-08-11 21:40] #1656 closed

[2022-08-12 10:49] cdanfon commented on #1656
Hey @danielfmiranda Daniel, can I check with you that this has been pushed to prod?

[2022-11-28 20:03] mmmavis opened #1659 "Update default branch name from "master" to "main""
Default branch of this repo should be renamed from `master` to `main`.

[2022-11-29 10:40] cdanfon commented on #1659
Hey @mtdenton this one could be looked at in a Maintain Friday (but because is in the pulse repo I can't add it to the Q4 Maintenance Milestone.

Could you prioritise in the ZenHub backlog please? Ta

[2022-11-30 17:46] mmmavis opened #1660 "Investigate if GA has been set up properly for Pulse"
(disclaimer: I don't know GA much)

If I'm looking at the GA dashboard correctly, it seems like GA tracking for Pulse has been broken since 2017 June???
<img width="384" alt="image" src="https://user-images.githubusercontent.com/2896608/204867473-0d479a87-8d35-49f8-ae31-668a91df3409.png">

This is odd as I recall seeing non-zero real-time stats when I visited the dashboard in the past years. Not s